[2016-01-05 08:01] mkordas commented on #589
@dmzaytsev I will fix that in #411, just waiting for Checkstyle 6.15 release

[2016-01-05 10:07] davvd commented on #273
@carlosmiranda of course, let's wait for #498

[2016-01-05 10:08] davvd commented on #376
@krzyk done. @mkordas you are assigned to this task. please proceed...

[2016-01-05 10:08] davvd commented on #485
@mkordas will do when the puzzle is gone and the new deployment cycle is completed

[2016-01-05 10:08] davvd commented on #485
@mkordas sure, will do right after the next deployment cycle

[2016-01-05 10:08] davvd commented on #542
@hdouss thanks

[2016-01-05 10:08] davvd opened #590 "pom.xml:379-380: Fix all FindBugs problems reported..."
Puzzle `370-69914ea1` in `qulice-maven-plugin/pom.xml:379-380` has to be resolved: Fix all FindBugs problems reported in qulice-maven-plugin and remove the FindBugs exclude below.... The puzzle was created by krzyk on 1-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead

[2016-01-05 10:09] davvd commented on #370
@krzyk the code made here contains a puzzle `370-69914ea1`/#590, which will be resolved soon

[2016-01-05 10:12] davvd commented on #542
@hdouss done, I added **30 mins** in payment `73861283`, 95 hours and 56 mins spent to complete this. +30 to your rating, your total score is [+624](http://www.netbout.com/b/36032?open=rating)

[2016-01-05 10:13] davvd commented on #581
@krzyk many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `73861370`

[2016-01-05 12:41] davvd commented on #579
@krzyk thanks for the report, I topped your acc for 30 mins, payment ID `73865577`

[2016-01-05 13:36] prahladyeri commented on #544
@mkordas Is there a due process to disagree with what the second reviewer wants changed? PR #561 fixes what issue you have raised and since you are the owner of this case, only you can determine whether to accept my solution or not. What would you like to say about @krzyk 's comment on PR #561?

[2016-01-05 14:06] yegor256 commented on #569
@krzyk yes, let's remove it, I agree

[2016-01-05 14:26] krzyk commented on #569
@mkordas please update the description with removal of DoNotUseThreads

[2016-01-05 14:28] yegor256 commented on #374
@krzyk I can't reproduce it. I think this issue is just expired. I'm closing.

[2016-01-05 14:28] #374 closed

[2016-01-05 16:33] krzyk commented on #589
@dmzaytsev looks like duplicate of #411

[2016-01-05 16:45] dmzaytsev commented on #589
@krzyk yep, I'm closing it
@mkordas thanks

[2016-01-05 16:45] #589 closed

[2016-01-05 21:33] mkordas commented on #376
@davvd please see PR #376

[2016-01-06 07:59] davvd commented on #376
@mkordas thanks, I'll take a look

[2016-01-06 07:59] davvd commented on #421
@mkordas thanks

[2016-01-06 08:02] davvd commented on #578
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `568cca1a133ed7461c00015c`

[2016-01-06 09:55] krzyk commented on #544
@prahladyeri The process is that there are two gateways (not votes) first the code is checked by code reviewer and after that architect will check it, only if both of them say that the code can be merged it will be merged. If the code is not merged then issue creator can't close it, because it didn't solve his/her problem (unless he/she decides this is not an issue anymore).

[2016-01-06 09:59] mkordas commented on #544
@prahladyeri as @krzyk said I can only close the issue when PR will be merged

[2016-01-06 10:17] davvd commented on #370
@krzyk I'm closing the issue...

[2016-01-06 10:17] #370 closed

[2016-01-06 10:17] davvd commented on #421
@krzyk Done, the task is closed

[2016-01-06 10:17] #421 closed

[2016-01-06 10:20] davvd commented on #173
@mkordas done, I added **30 mins** in payment `568ce9e525bd4b3dc600026c`, 98 hours and 23 mins spent to complete this; +30 added to your rating, at the moment it is: [+1300](http://www.netbout.com/b/36080?open=rating)

[2016-01-06 10:20] davvd commented on #370
@krzyk Much obliged! I have added **45 mins** to your account in payment "73942342", 25 hours and 50 mins spent... the bonus for fast delivery (m=1550)... added +45 to your rating, now it is equal to [+3010](http://www.netbout.com/b/35035?open=rating)

[2016-01-06 10:20] davvd commented on #421
@mkordas Thank you, I have added **45 mins** to your account in payment/transaction "`568cea1da9f715301900002b`", time consumed: 25 hours and 49 mins... the bonus for fast delivery (m=1549)... +45 added to your rating, current score is: [+1345](http://www.netbout.com/b/36080?open=rating)

[2016-01-06 10:20] davvd commented on #495
@mkordas done, I added **30 mins** in payment `568cea2e2310ad21f7000311`, 98 hours and 23 mins spent to complete this

added +30 to your rating, now it is equal to [+1375](http://www.netbout.com/b/36080?open=rating)

[2016-01-06 10:20] davvd commented on #535
@krzyk There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #376 (356 days), #498 (43 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.html#29)), or

[2016-01-06 10:24] davvd commented on #577
@krzyk thanks for the ticket, your account was topped for 30 mins, payment 73942602

[2016-01-06 10:35] mkordas commented on #569
@krzyk DoNotUseThreads added to description

[2016-01-06 10:35] krzyk commented on #569
@davvd valid bug

[2016-01-06 10:38] mkordas commented on #376
@yegor256 please close the issue, it was done in #591

[2016-01-06 11:06] yegor256 commented on #376
@mkordas thanks!

[2016-01-06 11:06] #376 closed

[2016-01-06 11:33] yegor256 commented on #555
@mkordas yes, not a bad idea

[2016-01-06 11:38] mkordas commented on #581
@krzyk merged in #588, can you close issue?

[2016-01-06 13:24] davvd commented on #569
@krzyk added "bug" tag to this issue

[2016-01-06 13:29] davvd commented on #576
@mkordas thanks for this report, I added 15 mins to your account, in transaction `568d16ae293a7942d800037d`

[2016-01-06 14:42] krzyk commented on #581
@mkordas thanks

[2016-01-06 14:42] #581 closed

[2016-01-06 15:22] krzyk commented on #555
@mkordas so maybe close this issue and create a new issue?

[2016-01-06 16:52] krzyk opened #592 "Line length check doesn't work for javadoc tags"
When I create a class with following javadoc:
[code]

LineLength check doesn't fail, but it should, we ignore line length on every line where there is a javadoc tag.

Please fix it to check also javadoc tag lines.

[2016-01-06 16:52] krzyk commented on #592
@davvd valid bug

[2016-01-06 20:09] mkordas commented on #485
@yegor256 can you help here? @davvd says about puzzle being gone, but there are no puzzle in this task. I'm already waiting 4 days to close the issue.

[2016-01-06 21:37] krzyk commented on #544
@prahladyeri please do not name pull requests (or commits) using github syntax "fixes #...", as issue creator should be the one that closes the issue.

[2016-01-06 22:00] mkordas opened #593 "Allow 'id' as a variable name"
Currently Qulice prohibits variable named just 'id', e.g.
[code]
I don't see anything bad in using `id` as variable name, it is very common and widely accepted.

To overcome it, people use a lot of creativity. I've seen variables named like:
* `ide`
* `ident`
* `identifier`
* `attrid`
* `attribute`
* `name`
* `xid`

and so on, instead of simple `id`.

I'd expect `id` to be allowed as final/non-fin

[2016-01-07 01:59] prahladyeri commented on #544
@krzyk Sorry, I'll keep that in mind for future.
@mkordas This got auto-closed as I used the github syntax while committing (`fixes #544`). Feel free to reopen and assess.

[2016-01-07 07:29] mkordas commented on #544
@prahladyeri I don't have reopen button unfortunately, but I'm fine with proposed solution, thanks!

[2016-01-07 07:32] mkordas commented on #485
@davvd this task didn't contain puzzle, please close the issue

[2016-01-07 08:36] davvd commented on #544
@rultor @mkordas please take a look, rultor closed it automatically

[2016-01-07 08:52] mkordas commented on #544
@prahladyeri thanks!

[2016-01-07 08:52] #544 closed

[2016-01-07 12:51] krzyk commented on #593
@yegor256 please take a look at this, are you good with the change?

[2016-01-07 13:56] yegor256 commented on #593
@krzyk make sense, I second this

[2016-01-07 14:39] krzyk commented on #593
@davvd valid bug

[2016-01-07 14:50] krzyk commented on #498
@longtimeago changes have been merged in #570, please close if this resolves the issue
@Happy-Neko sorry for cutting in, but I would like to release 0.15, and this one is blocking it

[2016-01-07 15:39] longtimeago commented on #498
@krzyk thanks!

[2016-01-07 15:39] #498 closed

[2016-01-07 17:21] krzyk commented on #535
@yegor256 all issues except the #503 (depends on checkstyle) have been resolved, can I release `0.15`?

[2016-01-07 17:47] mkordas commented on #485
@krzyk what options do I have it here? How often does it make sense to nag @davvd if he's not closing the issue?

[2016-01-07 21:30] yegor256 commented on #535
@krzyk yes, let's do it

[2016-01-07 21:44] krzyk commented on #485
@mkordas deployment was 2 days ago, usually after that the issues are closed (in case of @davvd it can take up to 3 days I think)
@yegor256 do we need to do anything more in case of estimation tasks? Maybe lack of `est` (during merge) in the build process broke something?

[2016-01-07 21:52] krzyk commented on #535
@rultor release tag is `0.15`

[2016-01-07 21:52] rultor commented on #535
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6048-169817467)

[2016-01-07 21:53] krzyk commented on #582
@davvd valid bug

[2016-01-07 21:54] krzyk commented on #578
@davvd assign @HDouss please

[2016-01-07 23:03] rultor commented on #535
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6048-169817467) (took me 1hr)

[2016-01-08 01:49] krzyk commented on #535
@yegor256 could you mark release `0.15` as final?

[2016-01-08 07:28] davvd commented on #578
@krzyk OK @hdouss please proceed, this task is yours

[2016-01-08 07:28] davvd commented on #593
@krzyk I added `bug` tag to this ticket

[2016-01-08 07:28] davvd commented on #582
@krzyk tag "bug" added

[2016-01-08 07:28] davvd commented on #592
@krzyk I added `bug` tag to this ticket

[2016-01-08 07:35] davvd commented on #273
@longtimeago #498 is closed, it was an impediment

[2016-01-08 07:35] davvd commented on #376
@mkordas paid, thanks, added **45 mins** to your account, payment `568f65d1f0da043bf00001e4`, 27 hours and 15 mins was spent... there is a bonus for fast delivery (m=1635)... +45 added to your rating, current score is: [+1534](http://www.netbout.com/b/36080?open=rating)

[2016-01-08 07:37] davvd commented on #575
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `568f671a7e55c12b1b00009f`

[2016-01-08 07:55] mkordas opened #594 "Implement check to prohibit Javadoc in methods with '@Override'"
As agreed in #555 Javadocs in methods annotated with '@Override' should be prohibited. It's because users may have a different understanding of your method based on whether they examine the method in the supertype or the subtype and it may cause confusion.

There's implicit automatic Javadoc inheritance so also putting just `{@inheritDoc}` would be obsolete.

The check could be named e.g. `NoJavad

[2016-01-08 07:56] mkordas commented on #555
@krzyk created new issue #594, thanks

[2016-01-08 07:56] #555 closed

[2016-01-08 08:06] krzyk opened #595 "NonStaticMethodCheck complains about overriden methods"
NonStaticMethodCheck complains that an overridden method doesn't reference `this`, which is perfectly fine in most cases.
Please fix this check to ignore overridden methods.

[2016-01-08 08:06] krzyk commented on #595
@davvd valid bug

[2016-01-08 08:06] krzyk commented on #595
@mkordas would you like to take this?

[2016-01-08 08:07] krzyk commented on #594
@davvd valid bug

[2016-01-08 08:15] mkordas commented on #595
@krzyk sure, please assign me

[2016-01-08 08:15] krzyk commented on #595
@davvd assign @mkordas please

[2016-01-08 08:16] mkordas commented on #592
@krzyk please assign me here

[2016-01-08 08:36] krzyk commented on #592
@davvd assign @mkordas

[2016-01-08 08:37] krzyk commented on #592
@mkordas thanks

[2016-01-08 10:51] davvd commented on #592
@krzyk done. @mkordas you are assigned to this task. please proceed...

[2016-01-08 10:51] davvd commented on #594
@krzyk added "bug" tag to this issue

[2016-01-08 10:51] davvd commented on #595
@krzyk I tagged this as "bug"

[2016-01-08 10:51] davvd opened #596 "PMDEmptyTest.java:48-50: Tests below pass only when..."
Puzzle `544-c37b2cc3` in `qulice-pmd/src/test/java/com/qulice/pmd/PMDEmptyTest.java:48-50` has to be resolved: Tests below pass only when run sequentially, when they are run in parallel some of them start to fail. Please fix the tests below and remove override of maven-surefire-plugin configuration in qulice-pmd pom.xml... The puzzle was created by Prahlad Yeri on 6-Jan-2016.

If you have any tech

[2016-01-08 10:51] davvd commented on #544
@mkordas there is a puzzle in this code `544-c37b2cc3`/#596, we'll resolve it later

[2016-01-08 10:54] davvd commented on #544
@prahladyeri **30 mins** was added to your account, many thanks for your contribution (payment 74033647)! The task took 240 hours and 17 mins.... +30 added to your rating, at the moment it is: [+120](http://www.netbout.com/b/36189?open=rating)

[2016-01-08 10:54] davvd commented on #581
@mkordas paid, thanks, added **38 mins** to your account, payment `568f9525d456112c5500016d`, 67 hours and 26 mins was spent. m=4046, that's why a bonus here for fast delivery. added +38 to your rating, now it is equal to [+1587](http://www.netbout.com/b/36080?open=rating)

[2016-01-08 10:56] davvd commented on #572
@mkordas thanks for this report, I added 15 mins to your account, in transaction `568f95cb9cdd9a797900029e`

[2016-01-08 12:00] mkordas commented on #592
@davvd please see  #592

[2016-01-08 13:05] davvd commented on #592
@mkordas will take a look, thanks

[2016-01-08 13:05] davvd commented on #595
@krzyk OK @mkordas please go ahead, this task is yours

[2016-01-08 13:09] davvd commented on #569
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `568fb5039cdd9a33a20002ff`

[2016-01-08 17:45] mkordas commented on #595
@davvd @krzyk please see PR #598

[2016-01-08 18:44] yegor256 commented on #485
@krzyk yeah, indeed, it's a bug in `.rultor.yml`, I'll fix it now

[2016-01-08 19:28] yegor256 commented on #485
@krzyk fixed in bf2279a

[2016-01-08 19:28] yegor256 commented on #485
@rultor deploy

[2016-01-08 19:30] rultor commented on #485
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6248-170100046)

[2016-01-08 19:52] rultor commented on #485
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6248-170100046) (took me 22min)

[2016-01-09 00:06] HDouss commented on #550
@davvd PR #587 ready and waiting for reviewer assignment since 4 days. This ticket could take more time than expected.

[2016-01-09 00:24] HDouss commented on #578
@mkordas Are the site sources related to the project ?

[2016-01-09 00:37] mkordas commented on #578
@HDouss sure, look at `vm` files and `gh-pages` branch

[2016-01-09 01:25] HDouss commented on #578
@mkordas Thanks !

[2016-01-09 01:29] HDouss commented on #578
@yegor256 Seems your last commit cadf2a75bfc0e9bda2909dfe6685596b7fe831ce has many problems. I will revoke the changes in the PR.

[2016-01-09 01:30] HDouss commented on #578
@yegor256 Please correct me if I am wrong.

[2016-01-09 08:11] krzyk commented on #550
@HDouss you can ask davvd to give you more time (e.g. "need more time"), since the CR was marked with postponed tag, I'm not sure why

[2016-01-09 08:38] mkordas commented on #592
@krzyk solved in #597, can you close the issue?

[2016-01-09 08:52] krzyk commented on #592
@mkordas thanks

[2016-01-09 08:52] #592 closed

[2016-01-09 10:52] HDouss commented on #550
@davvd I need more time since you marked the CR with postponed tag.

[2016-01-09 22:13] mkordas commented on #569
@krzyk as agreed in other ticket, I've added also disabling `AvoidUsingVolatile` here

[2016-01-09 22:35] krzyk commented on #590
@davvd assign @krzyk pls

[2016-01-09 22:36] krzyk commented on #590
@davvd please see PR #600

[2016-01-10 22:24] krzyk commented on #569
@davvd assign @krzyk please

[2016-01-10 22:26] krzyk commented on #569
@davvd please see PR #602

[2016-01-10 23:15] mkordas commented on #485
@yegor256 thanks for the fix, but issue is still not closed and @davvd is totally silent here while being active in Takes project. Can you explain this?

[2016-01-11 06:14] krzyk commented on #535
@yegor256 ping

[2016-01-11 08:42] davvd commented on #550
@hdouss OK, no problem, take your time

[2016-01-11 08:42] davvd commented on #550
@hdouss take your time, I am aware that we're waiting here

[2016-01-11 08:42] davvd commented on #590
@krzyk OK @krzyk please start, the task is yours

[2016-01-11 08:42] davvd commented on #590
@krzyk I will take a look, thanks

[2016-01-11 08:42] davvd commented on #569
@krzyk done. @krzyk the task is yours, please go ahead

[2016-01-11 08:42] davvd commented on #569
@krzyk thanks, will take a look

[2016-01-11 08:42] davvd commented on #595
@mkordas will check it soon, thanks

[2016-01-11 08:52] davvd commented on #498
@happy-neko paid, thanks, added **30 mins** to your account, payment `74128224`, 263 hours and 9 mins was spent... +30 to your rating, your total score is [+8](http://www.netbout.com/b/36136?open=rating)

[2016-01-11 08:52] davvd commented on #593
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 56936d48d7717a6a38000067

[2016-01-11 09:17] super132 opened #603 "NonStaticMethodCheck complains about abstract method and native method"
After upgrading to `0.15`, NonStaticMethodCheck complains an abstract method from abstract class and JNI methods should be static, which they should not be in this use case. Let's ignore abstract and native methods from NonStaticMethodCheck.

[2016-01-11 09:21] mkordas commented on #603
@krzyk please assign me to this one

[2016-01-11 10:00] HDouss commented on #578
@davvd Need more time here. The bug is probably not in qulice project itself.

[2016-01-11 10:18] yegor256 commented on #535
@davvd release 0.15 is final, please set it right

[2016-01-11 10:20] yegor256 commented on #485
@mkordas give us some time. if nothing happens in the next two days, please message me again

[2016-01-11 11:38] davvd commented on #535
@yegor256 right, release 0.15 is set to "final"

[2016-01-11 11:38] davvd commented on #578
@hdouss OK, no problem, take your time

[2016-01-11 11:42] davvd commented on #535
@krzyk ARC bonus 2 hours paid, payment ID is 74128287, many thanks for keeping the project clean

[2016-01-11 11:42] davvd commented on #582
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 56939510e9f0bb6f17000061

[2016-01-11 12:18] krzyk commented on #595
@mkordas thanks

[2016-01-11 12:18] #595 closed

[2016-01-11 12:18] krzyk commented on #603
@davvd valid bug

[2016-01-11 12:18] krzyk commented on #603
@davvd assign @mkordas please

[2016-01-11 13:44] krzyk commented on #535
@rultor release tag is `0.15.1`

[2016-01-11 13:45] rultor commented on #535
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6048-170552473)

[2016-01-11 14:07] davvd commented on #603
@krzyk I added `bug` tag to this ticket

[2016-01-11 14:07] davvd opened #604 "0.16"
Please, publish a new release **0.16** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2016-01-11 14:14] davvd commented on #604
@krzyk please proceed, it's yours

[2016-01-11 14:15] davvd commented on #594
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `5693b8e5e9f0bb7909000058`

[2016-01-11 14:56] rultor commented on #535
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6048-170552473) (took me 1hr)

[2016-01-11 14:56] krzyk commented on #604
@yegor256 what are your preferences for this release?

[2016-01-11 15:03] krzyk commented on #582
@davvd assign @krzyk please

[2016-01-11 19:12] mkordas commented on #485
@davvd I need more time here, as this issue is still not closed by you

[2016-01-11 20:01] krzyk commented on #582
@davvd please see PR #606

[2016-01-11 20:02] krzyk commented on #569
@mkordas changes have been merged to master, please close this issue

[2016-01-12 01:44] carlosmiranda commented on #273
@longtimeago See PR #607 - finally, after a few years... :)

[2016-01-12 06:48] longtimeago commented on #273
@carlosmiranda nice :)

[2016-01-12 07:35] prahladyeri opened #608 "Build mysteriously fails citing a `NullPointerException` on line 0 of the class"
All I changed in the header section of TkStart.java was adding a few imports (PR [921](https://github.com/yegor256/netbout/pull/921) - `netbout` project). The build, however, fails as qulice raises a `NullPointerException` on line 0 of the class :

    [ERROR] /src/main/java/com/netbout/rest/TkStart.java[0]: Got an exception - java.lang.NullPointerException (TreeWalker)

[2016-01-12 07:48] krzyk commented on #608
@prahladyeri could you run maven build with `-X` and add the checkstyle log here?
Also, do you know which change causes this NPE? You have quite a few lines changes in that file, it would be best to have minimal class file that I could use to reproduce it.

[2016-01-12 08:20] prahladyeri commented on #608
@krzyk Surprisingly, when I remove this following import statement, qulice starts working normally:

`import java.util.concurrent.ConcurrentHashMap;`

It does catch other exceptions after that, but the `NullPointerException` vanishes. Even if there is some problem with this import statement, `qulice` should highlight that instead of throwing a `NullPointerException`. So, this is not expected behav

[2016-01-12 09:07] davvd commented on #485
@mkordas sure, thanks for telling me, take your time

[2016-01-12 09:07] davvd commented on #582
@krzyk OK @krzyk please start, the task is yours

[2016-01-12 09:07] davvd commented on #582
@krzyk thank you, I will check it

[2016-01-12 09:07] davvd commented on #603
@krzyk OK @mkordas please go ahead, this task is yours

[2016-01-12 09:14] davvd commented on #485
@mkordas thanks, paid, **30 mins** to your account, payment ID is `5694c362b93eb5267c00003a`, task took 264 hours and 20 mins to complete; +30 added to your rating, at the moment it is: [+2261](http://www.netbout.com/b/36080?open=rating)

[2016-01-12 09:14] davvd commented on #592
@mkordas Much appreciated! **38 mins** was added to your account, payment ID `5694c3783715622d5a00019b`, time spent is 69 hours and 49 mins

m=4189, that's why a bonus here for fast delivery

added +38 to your rating, now it is equal to [+2299](http://www.netbout.com/b/36080?open=rating)

[2016-01-12 09:14] krzyk commented on #608
@prahladyeri please try if it fails with latest `0.15.1` also

[2016-01-12 09:14] davvd commented on #603
@super132 many thanks for the bug report, I added 15 mins to your acc, transaction `AP-2KV09524YE725893J`

[2016-01-12 10:12] krzyk commented on #582
@mkordas changes have been merged, please close this issue

[2016-01-12 10:15] prahladyeri commented on #608
@krzyk The point is that the build fails on both build servers (`travis` and `appveyor`) where my PR is being built (see the PR link). Don't they use the latest qulice versions?

What will I achieve even if the latest version doesn't fail on my own personal computer? I won't be able to submit the PR until this fix is deployed on both the servers.

[2016-01-12 10:22] krzyk commented on #608
@prahladyeri qulice is configured in project not on travis or appveyor. Netbout is using right now older qulice, newer releases might have this problem solved. We can't fix problem in older release, releases numbers always increment.

Your option is to try to configure e.g. 0.13 in netbout, maybe it will work.

[2016-01-12 10:58] davvd opened #609 "PMDDisabledRulesTest.java:44-47: When new version of Qulice..."
Puzzle `569-cd6c2a10` in `qulice-pmd/src/test/java/com/qulice/pmd/PMDDisabledRulesTest.java:44-47` has to be resolved: When new version of Qulice is released (with disabled rules: UseConcurrentHashMap, DoNotUseThreads and AvoidUsingVolatile) remove suppression of given rules and remove unneeded usages of ConcurrentMap and ConcurrentHashMap.... The puzzle was created by krzyk on 10-Jan-2016.

If yo

[2016-01-12 10:59] davvd commented on #569
@mkordas the code made here contains a puzzle `569-cd6c2a10`/#609, which will be resolved soon

[2016-01-12 11:00] #485 closed

[2016-01-12 11:00] davvd commented on #485
@krzyk The task is closed, thanks everybody

[2016-01-12 11:36] mkordas commented on #569
@krzyk thanks

[2016-01-12 11:36] #569 closed

[2016-01-12 12:53] mkordas commented on #582
@krzyk thank you

[2016-01-12 12:53] #582 closed

[2016-01-12 15:04] krzyk commented on #595
@yegor256 @davvd didn't add a bug reporting bonus here

[2016-01-12 15:43] krzyk commented on #593
@jrdalpra can you work on this?

[2016-01-12 16:01] jrdalpra commented on #593
@krzyk there's any test case to prove the issue?

[2016-01-12 16:06] jrdalpra commented on #593
@mkordas which tool is complaining about the attribute's name?

[2016-01-12 16:25] krzyk commented on #593
@mkordas you have to create a testcase to prove that it is no longer occurring after the changes

[2016-01-12 16:25] krzyk commented on #593
@davvd assign @jrdalpra please

[2016-01-12 16:27] mkordas commented on #593
@jrdalpra it's Checkstyle complaining

[2016-01-12 16:43] mkordas commented on #595
@davvd please see PR #610

[2016-01-12 16:50] mkordas commented on #603
@davvd please see PR #610

[2016-01-12 17:11] piddubnyi opened #611 "Static constants are not checked to have class specified."
It's a good practice to always specify a class when using static constants.
But with current version the following code is still valid.
[code]
Is there a way to enable check for static constants? I think one should be added so the valid code will be:
[code]

[2016-01-12 19:23] jrdalpra commented on #593
@krzyk @mkordas the problem resides there https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/main/resources/com/qulice/checkstyle/checks.xml#L312-L315

Can I just pull the changes without a test case and create a puzzle for that test case?

Thanks.

[2016-01-12 19:24] krzyk commented on #611
@davvd valid bug

[2016-01-12 19:26] krzyk commented on #593
@jrdalpra without a test case we won't know if it reallyw works

[2016-01-12 21:58] mkordas commented on #609
@krzyk please assign me here

[2016-01-12 22:03] mkordas commented on #396
@krzyk please assign me here

[2016-01-12 22:10] krzyk commented on #609
@davvd assign @mkordas please

[2016-01-12 22:11] krzyk commented on #396
@davvd not postponed

[2016-01-12 22:11] krzyk commented on #396
@davvd assign @mkordas please

[2016-01-12 22:33] mkordas commented on #609
@krzyk can you trigger release 0.15.2 so that I can continue with this one?

[2016-01-13 05:54] prahladyeri commented on #608
@krzyk Neither the `0.13`, nor `0.15.1` fixes this. In fact, they cry for additional exceptions in various other classes. Here are links both failed builds:

[0.13](https://ci.appveyor.com/project/yegor256/netbout/build/81)

[0.15.1](https://ci.appveyor.com/project/yegor256/netbout/build/80)

[2016-01-13 07:57] carlosmiranda commented on #273
@longtimeago fixed in #607, may we close it now?

[2016-01-13 07:58] davvd commented on #396
@krzyk OK, I un-labeled it as "postponed" tag

[2016-01-13 07:58] davvd commented on #396
@krzyk yep, done. @mkordas it is your task now

[2016-01-13 07:58] davvd commented on #593
@krzyk done. @jrdalpra the task is yours, please go ahead

[2016-01-13 07:58] davvd commented on #603
@mkordas thanks, I'll take a look

[2016-01-13 07:58] davvd commented on #609
@krzyk done. @mkordas you are assigned to this task. please proceed...

[2016-01-13 07:58] davvd commented on #611
@krzyk I tagged this as "bug"

[2016-01-13 07:58] davvd opened #612 "QulicePlugin.java:47-48: Design validator classes for Gradle...."
Puzzle `339-f214ff2b` in `qulice-gradle-plugin/src/main/java/com/qulice/gradle/QulicePlugin.java:47-48` has to be resolved: Design validator classes for Gradle. And remove the NonStaticMethod exclude below.... The puzzle was created by krzyk on 11-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text

[2016-01-13 08:00] krzyk commented on #604
@rultor release tag is `0.15.2`

[2016-01-13 08:00] longtimeago commented on #273
@carlosmiranda yep, finally! Thanks!

[2016-01-13 08:00] #273 closed

[2016-01-13 08:01] rultor commented on #604
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6325-171210006)

[2016-01-13 08:02] krzyk commented on #608
@prahladyeri checkstyle which causes this was upgraded in 0.14 and 0.14.2, you could try those.  Unfortunately you would need to fix the style issues after that or exclude them and create todo to remove those exclusions.

[2016-01-13 08:03] krzyk commented on #273
@longtimeago it will be released in 0.15.2, probably in an hour

[2016-01-13 08:08] davvd commented on #535
@krzyk The task is done, thanks all, I am closing it

[2016-01-13 08:08] #535 closed

[2016-01-13 08:22] mkordas commented on #609
@krzyk is it possible to do release today?

[2016-01-13 08:25] rultor commented on #604
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6325-171210006) (took me 23min)

[2016-01-13 09:44] davvd commented on #535
@krzyk I added **36 mins** to your account, many thanks for working with the project (74510779)! The completion time here was 504 hours and 41 mins.

bonus calculated here using these numbers: t=724, c=126, h=3045, diff=0.14..master

added +36 to your rating, now it is equal to [+3435](http://www.netbout.com/b/35035?open=rating)

[2016-01-13 09:44] davvd commented on #595
@mkordas thank you, added **30 mins** to your acc, payment num is `56960636a4221961ad00004d`, 73 hours and 1 min spent in total to complete. +30 added to your rating, current score is: [+2389](http://www.netbout.com/b/36080?open=rating)

[2016-01-13 09:47] davvd commented on #611
@piddubnyi many thanks for the report, I topped your account for 15 mins, transaction 74514421

[2016-01-13 09:51] krzyk commented on #611
@HDouss do you want to work on it?

[2016-01-13 09:53] krzyk commented on #609
@mkordas 0.15.2 is ready

[2016-01-13 10:49] mkordas commented on #396
@davvd please see PR #613

[2016-01-13 11:06] mkordas commented on #609
@krzyk thanks a lot!

[2016-01-13 11:24] mkordas commented on #609
@davvd please see PR #614

[2016-01-13 12:03] jrdalpra commented on #593
@krzyk @davvd there's a PR #615 ready to review. thanks.

[2016-01-13 12:57] krzyk commented on #612
@davvd this is postponed

[2016-01-13 12:58] krzyk commented on #577
@davvd this is postponed

[2016-01-13 12:59] krzyk commented on #567
@davvd this is postponed

[2016-01-13 12:59] krzyk commented on #547
@davvd this is postponed

[2016-01-13 13:00] krzyk commented on #550
@dmarkov assign @HDouss please

[2016-01-13 13:00] krzyk commented on #563
@davvd this is postponed

[2016-01-13 13:01] krzyk commented on #579
@davvd this is postponed

[2016-01-13 13:01] krzyk commented on #540
@davvd this is postponed

[2016-01-13 13:01] krzyk commented on #540
@Happy-Neko do you want to work on this?

[2016-01-13 13:23] HDouss commented on #550
@krzyk

I am already assigned here.

[2016-01-13 13:52] davvd commented on #396
@mkordas I will take a look, thanks

[2016-01-13 13:52] davvd commented on #609
@mkordas thank you, I will check it

[2016-01-13 13:58] davvd commented on #569
@krzyk Thank you, I have added **45 mins** to your account in payment/transaction "`74523426`", time consumed: 27 hours and 56 mins. the bonus for fast delivery (m=1676). +45 to your rating, your total score is [+3502](http://www.netbout.com/b/35035?open=rating)

[2016-01-13 14:30] krzyk commented on #550
@HDouss but I don't see you in the *Assignee*

[2016-01-13 14:36] HDouss commented on #550
@krzyk Pretty weird. I sure I saw myself in the 'Assignee' field before posting my comment. Sorry. Is @dmarkov the one who should assign ?

[2016-01-13 14:40] krzyk commented on #550
@HDouss no, here it is @davvd

[2016-01-13 14:44] HDouss commented on #611
@krzyk Yes please.

[2016-01-13 14:45] HDouss commented on #550
@krzyk So, you made a mistake.

[2016-01-13 14:51] HDouss commented on #611
@piddubnyi I suggest to generalize it to any static field, even if it is not a constant (final). What do you think ?

[2016-01-13 15:03] krzyk commented on #611
@davvd assign @HDouss please

[2016-01-13 15:03] krzyk commented on #550
@HDouss yep, you are right :)

[2016-01-13 15:04] krzyk commented on #550
@davvd assign @HDouss please

[2016-01-13 15:26] piddubnyi commented on #611
@HDouss makes sense.

[2016-01-13 16:15] Happy-Neko commented on #540
@krzyk ok.

[2016-01-13 16:48] krzyk commented on #540
@davvd assign @Happy-Neko please

[2016-01-13 16:48] krzyk commented on #540
@davvd this is not postponed

[2016-01-13 17:59] mkordas commented on #603
@super132 this was done in #610, can you close the issue?

[2016-01-13 18:19] mkordas commented on #396
@darkled it's finally done in #613, can you close the issue?

[2016-01-13 19:29] darkled commented on #396
@mkordas sure, thanks!

[2016-01-13 19:29] #396 closed

[2016-01-13 22:18] mkordas commented on #603
@super132 ping

[2016-01-14 01:04] super132 commented on #603
@mkordas thanks.

[2016-01-14 01:04] #603 closed

[2016-01-14 06:40] mkordas commented on #371
@krzyk please assign me

[2016-01-14 06:46] mkordas commented on #371
@davvd please see PR #616

[2016-01-14 07:34] davvd commented on #547
@krzyk sure, thanks, I added "postponed" label to it

[2016-01-14 07:34] davvd commented on #547
@krzyk got it, someone else will be assigned soon

[2016-01-14 07:34] davvd commented on #540
@krzyk sure, thanks, I added "postponed" label to it

[2016-01-14 07:34] davvd commented on #540
@krzyk right, I'll try to find someone else for this task

[2016-01-14 07:34] davvd commented on #540
@krzyk OK @happy-neko please start, the task is yours

[2016-01-14 07:34] davvd commented on #540
@krzyk OK, I un-labeled it as "postponed" tag

[2016-01-14 07:34] davvd commented on #563
@krzyk right, I added "postponed" label

[2016-01-14 07:34] davvd commented on #563
@krzyk someone else will help in this task, no problem at all

[2016-01-14 07:34] davvd commented on #550
@krzyk yes, @hdouss is already assigned to this task, please go ahead!

[2016-01-14 07:34] davvd commented on #567
@krzyk got it, "postponed" label here

[2016-01-14 07:34] davvd commented on #567
@krzyk right, I will find someone else, no problem

[2016-01-14 07:34] davvd commented on #579
@krzyk right, I added "postponed" label

[2016-01-14 07:34] davvd commented on #579
@krzyk I will try to find someone else

[2016-01-14 07:34] davvd commented on #577
@krzyk got it, "postponed" label here

[2016-01-14 07:34] davvd commented on #577
@krzyk I will ask somebody else to pick this up

[2016-01-14 07:34] davvd commented on #612
@krzyk thanks, I added "postponed" label

[2016-01-14 07:34] davvd commented on #612
@krzyk someone else will help in this task, no problem at all

[2016-01-14 07:34] davvd commented on #611
@krzyk done. @hdouss you are assigned to this task. please proceed...

[2016-01-14 08:28] krzyk commented on #371
@davvd assign @mkordas please

[2016-01-14 09:23] davvd commented on #422
@krzyk The issue is closed

[2016-01-14 09:23] #422 closed

[2016-01-14 09:23] davvd commented on #590
@krzyk The issue should be closed..

[2016-01-14 09:23] #590 closed

[2016-01-14 09:25] davvd commented on #582
@krzyk done, I added **1 hour** in payment `74566872`, 22 hours and 50 mins spent to complete this; the bonus for fast delivery (m=1370); +60 to your rating, your total score is [+3464](http://www.netbout.com/b/35035?open=rating)

[2016-01-14 09:25] davvd commented on #590
@krzyk Many thanks! **45 mins** were added to your account in Transaction ID `74566859` (task took 47 hours and 15 mins). there is a bonus for fast delivery (m=2835). +45 added to your rating, current score is: [+3404](http://www.netbout.com/b/35035?open=rating)

[2016-01-14 11:11] caarlos0 commented on #590
@davvd done

[2016-01-14 11:36] davvd commented on #371
@mkordas thank you, I will check it

[2016-01-14 11:36] davvd commented on #371
@krzyk OK @mkordas please start, the task is yours

[2016-01-14 11:40] davvd commented on #273
@carlosmiranda thanks, I just added **30 mins** to your account, payment `74570258`, 122 hours and 2 mins spent... added +30 to your rating, now it is equal to [+2586](http://www.netbout.com/b/35023?open=rating)

[2016-01-14 12:48] krzyk commented on #611
@yegor256 I think there is a bug in the assignment for people that have uppercase letters in their nicks, here I assigned @HDouss, he was assigned, but it is not reflected in the Assignee field in github

[2016-01-14 12:49] HDouss commented on #611
@krzyk

seems there are quite few bugs in github these days. Remember superfluous file changes in some PRs ?

[2016-01-14 13:19] davvd commented on #590
@caarlos0 thank you

[2016-01-14 13:44] krzyk commented on #371
@davvd this is not postponed

[2016-01-14 17:10] HDouss commented on #550
@mkordas PR #587 reviewed and merged. Please close the issue.

[2016-01-14 17:36] mkordas commented on #550
@HDouss well done!

[2016-01-14 17:36] #550 closed

[2016-01-14 21:04] exper0 opened #618 "findbugs filters are broken"
I tried to enable findbugs for Netbout - and found that exclude filters don't work. The only valid filter is regular expression that match empty string, for example `^$`. Here is actual example from netbout pom.xml:

                        <groupId>com.qulice</groupId>
                        <artifactId>qulice-maven-plugin</artifactId>
                        <configuration>

[2016-01-14 21:32] mkordas commented on #618
@exper0 are you sure that documentation at http://www.qulice.com/qulice-maven-plugin/example-exclude.html is wrong for FindBugs excludes? If yes, can you provide more specific examples what doesn't work?

[2016-01-14 21:33] krzyk commented on #618
@exper0 have you tried 0.15.2 qulice?

[2016-01-14 21:48] exper0 commented on #618
@mkordas example in the original ticket. The issue is that regex ^$ shouldn't exclude anything but it excludes everything.

[2016-01-14 21:50] exper0 commented on #618
@krzyk no, it seems that I used old version - 0.12. Let me check if it's fixed in newer qulice

[2016-01-14 22:19] yegor256 commented on #411
@longtimeago are you sure this bug is still present? I use it like this, without issues:

[code]

[2016-01-14 22:19] yegor256 commented on #604
@krzyk I would say #583, #577, #593, #611, #594, #578, #502, #451

[2016-01-14 22:20] exper0 commented on #618
@krzyk check 0.15.2 - same issue there

[2016-01-14 22:39] exper0 commented on #618
@mkordas added details and examples in the ticket description

[2016-01-14 22:44] mkordas commented on #411
@yegor256 your version works fine, but the code below fails (and it will pass with Checkstyle 6.15)
[code]

[2016-01-14 22:46] mkordas commented on #618
@exper0 have you noticed `~` in doc for FindBugs regex excludes? It is required.

[2016-01-14 22:57] exper0 commented on #618
@mkordas yes. The problem was that actual error in inner classes - so strict exclude (without ~) didn't work. Now it's fine, thanks.

[2016-01-14 22:58] #618 closed

[2016-01-14 23:02] exper0 commented on #618
@mkordas @krzyk There problem actual did exists in 0.12 (which is active in Netbout by default) - filters that work in 0.15.2 didn't work in 0.12

[2016-01-14 23:11] Happy-Neko commented on #540
@davvd Please proceed with code review (PR #619).

[2016-01-15 00:40] yegor256 commented on #611
@krzyk but @HDouss is not in the team "qulice", probably that's what the problem is

[2016-01-15 00:40] yegor256 commented on #611
@HDouss did you join this team: https://github.com/orgs/teamed/teams/qulice

[2016-01-15 06:49] prahladyeri commented on #547
@davvd @krzyk  Let me know whether I can try and fix this as per the approach I mentioned in my comment:

[2016-01-15 07:59] krzyk commented on #547
@prahladyeri I don't think this is a good approach. I would prefer to somehow get rid of the appender and introduce some other way of testing validator results.

[2016-01-15 08:51] HDouss commented on #611
@yegor256 I am sure I was member of this team. Now, I am not member of it.

[2016-01-15 09:54] prahladyeri commented on #608
@krzyk Thanks. For the time being, I've excluded `TkStart.java` and added the following todo puzzle to it:

     * @todo #750:30min Solve the puzzle for build mysteriously failing for
     *  this task citing a NullPointerException (See qulice issue #608 raised for
     *  the same) and then remove TkStart.java from qulice exceptions.

[2016-01-15 10:57] krzyk commented on #608
@prahladyeri In 0.15.1 it doesn't fail, so this ticket is invalid, there is no need to fix anything in qulice because NPE is not thrown (at least for this case), you just need to write that project has to be upgraded to newest qulice version (or at least 0.15.1, maybe some lower will also work, like 0.14 or 0.14.2).

[2016-01-15 12:28] krzyk commented on #572
@aschworer can you work on this?

[2016-01-15 12:33] krzyk commented on #411
@mkordas Am I correct that new checkstyle will be released no sooner than about 15 days?

[2016-01-15 12:44] mkordas commented on #411
@krzyk yes - I helped to develop the fix for this issue in Checkstyle, but releases are at the end of each month so we need to wait

[2016-01-15 12:51] krzyk commented on #411
@mkordas so I would put this one back to postponed and assign to you when the checkstyle is released (I would probably need a ping :) ), unless you prefer to leave it as it is right now

[2016-01-15 13:18] mkordas commented on #411
@krzyk yes, that would be perfect

[2016-01-15 13:33] prahladyeri commented on #608
@krzyk But 0.15.1 is not readily implementable. Either you have to exclude the class, or fix a plethora of other classes for the additional violations thrown by 0.15.1 which becomes separate jobs on their own. I don't know the reason for adding these additional violations, but the fact that 0.15.1 is not presently not used in production means that this ticket stays valid, isn't it?

[2016-01-15 13:44] krzyk commented on #608
@prahladyeri no, if it doesn't occur in later releases tickets are not valid, we don't support previous releases at all, only the current one

[2016-01-15 13:49] prahladyeri commented on #608
@krzyk But there is a problem here moving to the current release. For what you are calling `current` (0.15.1), a `beta` or `cutting-edge` is more appropriate term, whereas the version actually used in netbout project can be termed `current` because it is currently being used.

How do you suggest moving netbout project to qulice 0.15.1 right now?

[2016-01-15 13:57] krzyk commented on #608
@prahladyeri this way you could say that e.g. guava 1.0 is current, because it is used by a some project, but reality is that guava 19.0 is current, all others are old releases.
Same here, netbout uses probably 0.12, which was released over a year ago, it is not current.

[2016-01-15 13:58] krzyk commented on #411
@davvd this is postponed

[2016-01-15 14:21] prahladyeri commented on #608
@krzyk That's true. But there ain't a straightforward way to upgrade us from 0.12 to 0.15.1 without solving a bunch of puzzles first.

Moreover, there is also that case that how much you are that 0.15.1 actually solves this? In that build, is a lot of noise in the form of other classes failing newer validations introduced by 0.15.1. Isn't it possible that after resolution of all those issues, 0.15

[2016-01-15 14:46] krzyk commented on #608
@prahladyeri yes, exactly, so it is best to do a gradual upgrade, first to 0.13, then 0.14, or maybe even 0.13.1, 0.13.2 etc.
You just create a puzzle: "We need to upgrade to the latest qulice (which has this bug fixed) and remove this suppresion". You do only what you can in the budget you get and the rest you "puzzleout", see http://www.yegor256.com/2009/03/04/pdd.html and http://www.yegor256.co

[2016-01-15 14:47] krzyk commented on #608
@prahladyeri if you can prove that NPE is still thrown in 0.15.2, then please show the way to reproduce it using a single class.

[2016-01-15 19:06] HDouss commented on #611
@krzyk I am again a member of qulice team.

[2016-01-15 20:24] krzyk commented on #611
@davvd assign @HDouss

[2016-01-15 20:39] HDouss commented on #611
@krzyk I was removed again from qulice team :(

[2016-01-15 21:10] krzyk commented on #611
@HDouss strange

[2016-01-16 08:56] krzyk opened #620 "Qulice should complain if a super constructor is called in interface implementation"
Qulice doesn't complain in following case:
[code]
But it should, because interfaces don't have constructors.

[2016-01-16 08:56] krzyk commented on #620
@davvd valid bug

[2016-01-16 09:51] prahladyeri commented on #608
@krzyk Please give me some time to reproduce and prove. I'm currently busy with netbout-web [PR 921](https://github.com/yegor256/netbout/pull/921)

[2016-01-16 10:04] krzyk commented on #608
@prahladyeri rmember that you can use e.g. `grep` or editors find to check if there is a NPE in `TreeWalker`.
I have to decide if the report is a bug or not in 5 days, so in about 8 hours I'll have to mark it as invalid or not.
Right now I've checked your log outputs and the one for 0.15.1 doesn't have this error, so I assume it doesn't exist.

[2016-01-17 05:44] prahladyeri commented on #608
@krzyk In that case, go ahead and close this. I'll make a note of this and maybe look more closely and try to reproduce it later when I get time.

[2016-01-17 06:06] krzyk commented on #608
@prahladyeri you have to close it

[2016-01-17 06:11] #608 closed

[2016-01-17 07:38] srgg opened #622 "Is it possible to disable one or more checkstyle checks?"
I like the idea of this plugin very much, but being realist I can't afford to myself to spend a long time on fixing all the failed checks. Especially, considering the fact that it is pretty raw code.

The most annoying checks for me are the bunch of javadoc rules such as: JavadocTagsCheck, JavadocPackageCheck.

BTW @author check doesn't allow to use more or less spam aware postbox address formats

[2016-01-17 14:05] krzyk commented on #622
@srgg please see https://github.com/teamed/qulice/issues/326#issuecomment-58991903
So you won't be able to remove the checks globally, but you might be able to do it on the package level by using package-info.java files and appropriate exclude (checkstyle, PMD or FindBugs one).
As for the author tags,  good idea, but if we will use the same format for non spam messages, it is too easy to gather su

[2016-01-17 14:31] HDouss opened #623 "NonStaticMethodCheck complains about methods that just throw an exception"
NonStaticMethodCheck complains about methods that only throws an exception. This could be fine in cases where a class implementation have a "not yet" supported feature or a serializable object that does not support readObject/writeObject where the method have just to throw an appropriate exception. Example:
[code]

[2016-01-17 14:42] mkordas commented on #623
@HDouss but then method has '@Override' and is excluded from check, right? Please provide an example.

[2016-01-17 14:45] HDouss commented on #623
@mkordas You are right, I update description to give another example.

[2016-01-17 15:43] krzyk commented on #451
@davvd this is not postponed

[2016-01-17 15:43] krzyk commented on #451
@HDouss want to take this?

[2016-01-17 15:55] HDouss commented on #451
@krzyk Yes please.

[2016-01-17 16:00] krzyk commented on #451
@davvd assign @HDouss please

[2016-01-17 16:23] krzyk commented on #583
@davvd assign @krzyk please

[2016-01-17 20:33] mkordas opened #625 "Ignore LineLength check on lines containing links"
Right now Checkstyle's `LineLength` check complains on lines with > 80 chars containing lengthy links. The only thing that implementer can do is to use suppression, as links cannot be divided across the lines, e.g.:
[code]
I'd expect all lines containing `http://` or `https://` to be skipped from this check.

[2016-01-17 20:35] krzyk commented on #625
@mkordas good idea

[2016-01-17 20:35] krzyk commented on #625
@davvd valid bug

[2016-01-17 20:35] krzyk commented on #625
@davvd this is postponed

[2016-01-17 20:47] krzyk commented on #583
@davvd please see PR #624

[2016-01-18 06:09] srgg commented on #622
@krzyk Thank you for the quick turnaround. The issue you are pointed me out was completely answered on my question. Unfortunately, as I mentioned above, I can't afford to myself spent a lot of time to join the club, therefore I've configured all the stuff separately.

IMO having the package level configuration is a bit weird for the club, since you have a good chance to never know about the existi

[2016-01-18 06:09] #622 closed

[2016-01-18 08:55] davvd commented on #371
@krzyk thanks, I removed the "postponed" tag

[2016-01-18 08:55] davvd commented on #411
@krzyk got it, "postponed" label here

[2016-01-18 08:55] davvd commented on #411
@krzyk I will ask somebody else to pick this up

[2016-01-18 08:55] davvd commented on #451
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-01-18 08:55] davvd commented on #451
@krzyk done. @hdouss the task is yours, please go ahead

[2016-01-18 08:55] davvd commented on #540
@happy-neko will take a look, thanks

[2016-01-18 08:55] davvd commented on #583
@krzyk OK @krzyk please go ahead, this task is yours

[2016-01-18 08:55] davvd commented on #583
@krzyk will check it soon, thanks

[2016-01-18 08:55] davvd commented on #611
@krzyk yes, @hdouss is already assigned to this task, please go ahead!

[2016-01-18 08:56] davvd commented on #625
@krzyk tag bug added to this issue

[2016-01-18 08:56] davvd commented on #620
@krzyk I tagged this as "bug"

[2016-01-18 08:59] davvd commented on #609
@krzyk Done, thanks all, closing..

[2016-01-18 08:59] #609 closed

[2016-01-18 09:01] davvd commented on #396
@mkordas Much obliged! I have added **1 hour** to your account in payment "569ca96ca01b690114000078", 23 hours and 35 mins spent... the bonus for fast delivery (m=1415)... +60 to your rating, your total score is [+2694](http://www.netbout.com/b/36080?open=rating)

[2016-01-18 09:01] davvd commented on #603
@mkordas thanks, I just added **45 mins** to your account, payment `569ca97c32cc4f00c6000011`, 46 hours and 26 mins spent

the bonus for fast delivery (m=2786)

+45 added to your rating, current score is: [+2739](http://www.netbout.com/b/36080?open=rating)

[2016-01-18 09:01] davvd commented on #609
@mkordas Much obliged! I have added **30 mins** to your account in payment "569ca98909d92000ac0000b5", 23 hours and 34 mins spent; m=1414, that's why a bonus here for fast delivery; +30 added to your rating, current score is: [+2769](http://www.netbout.com/b/36080?open=rating)

[2016-01-18 11:34] davvd commented on #625
@krzyk right, I added "postponed" label

[2016-01-18 11:34] davvd commented on #625
@krzyk someone else will help in this task, no problem at all

[2016-01-18 11:39] davvd commented on #604
@krzyk there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

some tasks in the project are "stuck": #540 (20 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their p

[2016-01-18 11:39] davvd commented on #625
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 569ccef5810de7335700009c

[2016-01-18 12:04] krzyk commented on #583
@mkordas changes have been merged to master, please close this issue

[2016-01-18 13:53] mkordas commented on #583
@krzyk thank you

[2016-01-18 13:53] #583 closed

[2016-01-18 13:59] mkordas commented on #371
@maxim-kornienko it is done #616, can you close the issue?

[2016-01-18 14:11] #371 closed

[2016-01-18 14:14] HDouss commented on #451
@mkordas The minimal reproducer here would fail because of `NewlineAtEndOfFileCheck`. That means I cannot add a unit test to make it pass. It won't pass anyway.

[2016-01-18 16:20] mkordas commented on #451
@HDouss can't you just add newline at the end of file but still keep just imports?

[2016-01-18 16:27] HDouss commented on #451
@mkordas Do you reproduce ArrayIndexOutOfBoundsException in ImportCohesionCheck  for such a file ?

[2016-01-18 16:29] HDouss commented on #611
@piddubnyi PR #617 reviewed and merged. Please close the issue.

[2016-01-18 16:34] #611 closed

[2016-01-18 17:42] HDouss commented on #550
@davvd Issue closed since 4 days.

[2016-01-18 22:00] krzyk commented on #604
@rultor release tag is `0.15.3`

[2016-01-18 22:01] rultor commented on #604
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6325-172665976)

[2016-01-18 22:55] rultor commented on #604
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6325-172665976) (spent 54min)

[code]

[2016-01-19 06:43] krzyk commented on #604
@rultor release tag is `0.15.3`

[2016-01-19 06:43] rultor commented on #604
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6325-172756347)

[2016-01-19 07:22] HDouss commented on #578
@mkordas PR #605 merged. Please close the issue.

[2016-01-19 07:30] mkordas opened #627 "Qulice allows catch parameters not following naming convention"
Currently Qulice does not complain on the following catch parameter names:
[code]

I'd expect violation on both of these names. Only `ex` or 3-12 lowercase latin characters should be allowed.

Pattern should be `^(ex|[a-z]{3,12})$`. Moreover, rest of patterns should be unified to follow the convention: replace `^id$|^[a-z]{3,12}$` with `^(id|[a-z]{3,12})$` in LocalFinalVariableName, LocalVariableN

[2016-01-19 07:35] krzyk commented on #578
@HDouss we will need to wait for release, which is still in progress (see http://www.rultor.com/t/6325-172756347)

[2016-01-19 07:50] rultor commented on #604
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6325-172756347) (took me 1hr)

[2016-01-19 08:39] mkordas commented on #451
@HDouss In August it was reproducible for me, I don't remember exactly how :) We just need any test case for the issue.

[2016-01-19 08:40] davvd commented on #620
@krzyk thanks for reporting! I topped your account for 30 mins, transaction 75037075

[2016-01-19 08:40] mkordas commented on #578
@HDouss @krzyk release is done and page looks good, thanks!

[2016-01-19 08:47] krzyk commented on #578
@mkordas well, actually the page should say `0.15.3`, but it shows `0.15.2`

[2016-01-19 08:57] mkordas commented on #578
@krzyk reopening
@HDouss please take a look at http://www.qulice.com/

[2016-01-19 09:06] krzyk commented on #578
@HDouss new version was created in `/qulice` directory, but the links in `/qulice/index.html` lead wrong directory for qulice-maven-plugin

[2016-01-19 09:13] krzyk commented on #627
@mkordas doesn't it work already?
[code]
Is this configuration wrong?

[2016-01-19 13:10] davvd commented on #550
@hdouss thanks, I just added **30 mins** to your account, payment `75045399`, 97 hours and 19 mins spent. +30 added to your rating, current score is: [+1142](http://www.netbout.com/b/36032?open=rating)

[2016-01-19 15:24] krzyk opened #628 "If. Then. Throw. Else. should be prohibited"
Following java code:
[code]
and following sh/bash code:
[code]
Basically if the first branch throws an exception (or gives exits in case of bash) then there should not be any other branch.

See explanation http://www.yegor256.com/2015/01/21/if-then-throw-else.html

[2016-01-19 15:49] HDouss commented on #578
@mkordas PR #629 should resolve this issue.

[2016-01-19 16:01] HDouss opened #630 "Add more flexibility to isolated unit tests"
We have very interesting unit tests for checkstyle `ChecksTest`. These tests are isolated because every rule is tested in an isolated manner. The only problem with these tests is they lack some flexibility, because they expect in the associated resource:
* 1 Invalid.java file
* 1 Valid.java file
* 1 violations.txt file

Let's make these tests more flexible by making them work with:
* 0 or many Inv

[2016-01-19 16:27] HDouss opened #631 "PMD and Checkstyle unit tests should be isolated"
We have isolated unit tests for Checkstyle: `ChecksTest.java`. These are real unit test because they test every rule separately.
Let's refactor all of our Checkstyle tests, and the PMD tests to have this same approach in unit tests.

[2016-01-19 21:45] Happy-Neko commented on #540
@mkordas PR merged. Please review and close ticket if everything is ok.

[2016-01-19 22:20] mkordas commented on #540
@Happy-Neko good job!

[2016-01-19 22:20] #540 closed

[2016-01-20 07:45] krzyk commented on #628
@davvd valid bug

[2016-01-20 08:04] krzyk commented on #630
@davvd valid bug

[2016-01-20 08:04] krzyk commented on #630
@davvd this is postponed

[2016-01-20 08:45] HDouss commented on #611
@davvd Issue closed.

[2016-01-20 09:05] krzyk commented on #631
@HDouss those tests are only for our custom developed checkstyle checks, not for the ones that already exists in checkstyle

[2016-01-20 09:10] HDouss commented on #631
@krzyk I think this approach is more interesting and should generalized for all the tests. Let's get rid of `CheckstyleValidatorTest` ! And implement the same approach for our PMD rule unit tests !

[2016-01-20 09:18] davvd commented on #550
@hdouss thanks for patience

[2016-01-20 09:18] davvd commented on #628
@krzyk tag bug added to this issue

[2016-01-20 09:18] davvd commented on #630
@krzyk I just added bug tag here

[2016-01-20 09:23] davvd commented on #583
@krzyk I just added **1 hour** to your account, many thanks for your contribution (75129265).. 23 hours and 39 mins spent here... the bonus for fast delivery (m=1419)... +60 to your rating, your total score is [+3838](http://www.netbout.com/b/35035?open=rating)

[2016-01-20 09:23] davvd commented on #611
@hdouss Thank you, I have added **1 hour** to your account in payment/transaction "`75129285`", time consumed: 23 hours and 38 mins; m=1418, that's why a bonus here for fast delivery; +60 to your rating, your total score is [+1232](http://www.netbout.com/b/36032?open=rating)

[2016-01-20 09:58] dmzaytsev opened #632 "Qulice doesn't check puzzles"
Right now Qulice doesn't [check puzzles](https://github.com/yegor256/takes/pull/526#issuecomment-173131915).
It would be great to add this feature
I'm aware about [Pdd](https://github.com/teamed/pdd)  but

[2016-01-20 10:05] krzyk commented on #632
@dmzaytsev at some point it was decided to use `pdd`, and puzzle checks in qulice were abandoned
@yegor256 should we try again with validating todos in qulice (doubling the work of `pdd`)?

[2016-01-20 10:08] jrdalpra commented on #593
@mkordas can you close this issue? Thanks.

[2016-01-20 10:19] HDouss commented on #451
@mkordas PR #626 reviewed and merged. Please close the issue.

[2016-01-20 10:47] davvd commented on #630
@krzyk thanks, I added "postponed" label

[2016-01-20 10:47] davvd commented on #630
@krzyk right, I will find someone else, no problem

[2016-01-20 10:55] davvd commented on #630
@hdouss many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `75133085`

[2016-01-20 11:03] krzyk commented on #604
@rultor release tag is `0.15.4`

[2016-01-20 11:04] rultor commented on #604
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6325-173171992)

[2016-01-20 11:05] krzyk commented on #578
@HDouss @mkordas we'll see result here http://www.rultor.com/t/6325-173171992 (it usually takes about 1hr)

[2016-01-20 11:07] mkordas commented on #451
@HDouss thanks!

[2016-01-20 11:07] #451 closed

[2016-01-20 11:08] mkordas commented on #593
@jrdalpra you need to refer to pull request in at least one message

[2016-01-20 12:12] rultor commented on #604
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6325-173171992) (took me 1hr)

[2016-01-20 12:54] HDouss commented on #578
@krzyk @mkordas All seems [OK](http://www.qulice.com/)

[2016-01-20 12:54] HDouss commented on #578
@mkordas PR #629 reviewed and merged. Please close the issue.

[2016-01-20 15:14] mkordas commented on #578
@HDouss page looks ideal right now :)

[2016-01-20 15:14] #578 closed

[2016-01-20 18:02] jrdalpra commented on #593
Fixed at PR #621

[2016-01-20 19:25] mkordas commented on #593
@jrdalpra thanks!

[2016-01-20 19:25] #593 closed

[2016-01-20 22:00] mkordas opened #633 "Member names are limited to 12 characters"
In #621 we've missed unintended change of format for member names: https://github.com/teamed/qulice/pull/621/files#diff-0ac1133cfe7780870854ffd4c3f1d582L323

Till Qulice `0.15.3` it was allowed to have member name with 13 characters, but from `0.15.4` it is prohibited.

As it was change made by mistake, we should revert it (change pattern to `^id$|^[a-z]{3,}$`) and write some tests to avoid regres

[2016-01-20 22:03] mkordas commented on #627
@krzyk both names are matching our regex: http://regexr.com/3cki7

[2016-01-20 22:08] krzyk commented on #633
@yegor256 what do you think about limiting field names to just 12 characters, just like the variables in methods?

[2016-01-21 07:12] krzyk commented on #620
@davvd this is postponed

[2016-01-21 07:13] krzyk commented on #623
@HDouss If you gave an example please show it,  if not please close this issue

[2016-01-21 07:14] krzyk commented on #596
@davvd this is postponed

[2016-01-21 07:15] krzyk commented on #594
@HDouss want to try this one?

[2016-01-21 08:30] HDouss commented on #623
@krzyk The examples are in the description:

[2016-01-21 08:32] krzyk commented on #623
@HDouss but such methods are not correct ones, so the appropriate way of dealing with this is adding an exclude. readObject/writeObject shouldn't be implemented if there is no state.

[2016-01-21 08:39] krzyk commented on #631
@HDouss OK, let's try it out, we will have less boilerplate code for sure.

[2016-01-21 08:39] krzyk commented on #631
@davvd valid bug

[2016-01-21 08:40] krzyk commented on #631
@davvd this is postponed

[2016-01-21 08:54] HDouss commented on #623
@krzyk But NonStaticMethodCheck should alert the developer about methods that are not declared as static but are in fact static. For example:
[code]
Why such a method should be static ?

[2016-01-21 09:05] krzyk commented on #623
@HDouss OK, so you are saying that we should exclude the `readObject()` and `writeObject()` methods or some other general rule?

[2016-01-21 09:15] HDouss commented on #623
@krzyk I would say that in general, if a method just throws an exception shouldn't be considered as static.

[2016-01-21 09:17] davvd commented on #596
@krzyk right, I added "postponed" label

[2016-01-21 09:17] davvd commented on #596
@krzyk I will assign somebody else to this issue

[2016-01-21 09:17] davvd commented on #620
@krzyk sure, thanks, I added "postponed" label to it

[2016-01-21 09:17] davvd commented on #620
@krzyk OK, I will try to assign someone else

[2016-01-21 09:17] davvd commented on #631
@krzyk added "bug" tag to this issue

[2016-01-21 09:23] davvd commented on #628
@krzyk many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `75182887`

[2016-01-21 10:07] davvd commented on #540
@happy-neko thanks, I just added **30 mins** to your account, payment `AP-3MP13451EX5361914`, 145 hours and 42 mins spent... +30 to your rating, your total score is [+98](http://www.netbout.com/b/36136?open=rating)

[2016-01-21 10:08] davvd commented on #631
@hdouss many thanks for the report, I topped your account for 15 mins, transaction 75184218

[2016-01-21 10:26] krzyk commented on #623
@HDouss please update the description with that clarification

[2016-01-21 10:26] krzyk commented on #623
@HDouss method that only throws exception

[2016-01-21 10:38] HDouss commented on #623
@krzyk Done.

[2016-01-21 10:44] krzyk commented on #623
@HDouss sorry, I still don't see it in the issue description

[2016-01-21 10:46] krzyk commented on #623
@HDouss also add an example code, it will be easier to understand and implement

[2016-01-21 10:55] HDouss commented on #623
@krzyk First sentence:

[2016-01-21 11:05] dmzaytsev opened #634 "Qulice doesn't check order of Javadoc tags"
Right now Qulice doesn't check order of Javadoc tags
it would be good t\o check that

I think [Oracle guidelines](http://www.oracle.com/technetwork/java/javase/documentation/index-137868.html#orderoftags) can be used
[code]

furthermore, place of `@checkstyle` and `@todo` should be checked as well

[2016-01-21 11:29] HDouss commented on #594
@krzyk Yes please.

[2016-01-21 11:34] krzyk commented on #594
@davvd please assign @HDouss

[2016-01-21 11:36] krzyk commented on #623
@HDouss yes, I noticed that later :), but example would make it even better.
Could you add an example method that shouldn't cause `NonStaticMethodCheck` to complain?

[2016-01-21 11:47] dmzaytsev opened #635 "Qulice allows 5 spaces for the indentation step"
Qulice allows 5 spaces for the indentation step

![image](https://cloud.githubusercontent.com/assets/9972909/12477833/a2823906-c053-11e5-83c1-d5508c19b624.png)

see https://github.com/yegor256/takes/pull/526/files#diff-ea3e400b0f8b3cf80072e16a86fd31e9R248

I can't find the rule, but I thought four spaces is the standard indentation step

[2016-01-21 11:51] krzyk commented on #627
@mkordas so the `()` are missing, strange, those shouldn't be required, but they are.
Could you also add to the description that we should follow the convention of `^(ex|[a-z]{3,12})$` and replace all`^id$|^[a-z]{3,12}$` with `^(id|[a-z]{3,12})$`   (so the list includes LocalFinalVariableName, LocalVariableName, MemberName, ParameterName)?

[2016-01-21 11:53] krzyk commented on #635
@dmzaytsev already fixed in 0.15 release (see https://github.com/teamed/qulice/issues/527)

[2016-01-21 12:08] dmzaytsev commented on #635
@krzyk thanks!

[2016-01-21 12:08] #635 closed

[2016-01-21 12:13] krzyk commented on #623
@davvd valid bug

[2016-01-21 12:13] krzyk commented on #623
@davvd this is postponed

[2016-01-21 13:06] davvd commented on #594
@krzyk OK @hdouss please proceed, this task is yours

[2016-01-21 13:06] davvd commented on #631
@krzyk thanks, I added "postponed" label

[2016-01-21 13:06] davvd commented on #631
@krzyk someone else will help in this task, no problem at all

[2016-01-21 13:06] davvd commented on #623
@krzyk tagged this issue with "bug"

[2016-01-21 13:38] krzyk commented on #577
@mkordas I've updated the description, would you like to work on this?

[2016-01-21 14:06] HDouss commented on #594
@mkordas If I understood well, the check should also prohibit `{@inheritDoc}`, right ?

[2016-01-21 14:36] mkordas commented on #594
@HDouss rigt

[2016-01-21 14:42] HDouss commented on #594
@mkordas Thanks. Done in PR #636.

[2016-01-21 16:20] mkordas commented on #577
@krzyk first we need to update Qulice to 0.15.4 for our code, there are many violations. Should I raise issue for that?

[2016-01-21 16:44] krzyk commented on #577
@mkordas I don't think we need to upgrade for this issue specifically, this will be just a build informing us of the violations.
But yes, there are quite a lot of changes needed for the new qulice, so an issue will be needed.

[2016-01-21 16:47] mkordas commented on #577
@krzyk OK, I'll submit an issue with some proposals how to fix missing since tag. So you propose to allow failing Travis build for some time and red mark on each commit?

[2016-01-21 16:48] krzyk commented on #634
@davvd valid bug

[2016-01-21 16:48] krzyk commented on #634
@davvd this is postponed

[2016-01-21 16:49] mkordas commented on #634
@krzyk please assign me here

[2016-01-21 16:59] krzyk commented on #577
@mkordas we won't be able to always have a green build, e.g. when we add a code that reverses the previous check
A red flag is OK, if I can go and see that the only failing one is the "dogfooded" qulice.

In the future if the newly added rule is not conflicting with previous qulice, we will fix the code during the implementation of the check (or add a todo if it is more work).

[2016-01-21 17:02] krzyk commented on #634
@davvd assign @mkordas

[2016-01-21 17:02] krzyk commented on #634
@davvd this is not postponed

[2016-01-22 07:09] davvd commented on #623
@krzyk OK, I put "postponed" label here

[2016-01-22 07:09] davvd commented on #623
@krzyk right, I'll try to find someone else for this task

[2016-01-22 07:09] davvd commented on #634
@krzyk I just added bug tag here

[2016-01-22 07:14] davvd commented on #623
@hdouss thanks for reporting! I topped your account for 15 mins, transaction 75228386

[2016-01-22 07:30] krzyk commented on #627
@mkordas ping

[2016-01-22 07:46] mkordas commented on #627
@krzyk done, thanks for pinging

[2016-01-22 08:09] krzyk commented on #627
@davvd valild bug

[2016-01-22 08:09] krzyk commented on #627
@davvd valid bug

[2016-01-22 08:09] krzyk commented on #627
@davvd this is postponed

[2016-01-22 09:22] davvd commented on #634
@krzyk thanks, I added "postponed" label

[2016-01-22 09:22] davvd commented on #634
@krzyk right, I'll try to find someone else for this task

[2016-01-22 09:22] davvd commented on #634
@krzyk done. @mkordas the task is yours, please go ahead

[2016-01-22 09:22] davvd commented on #634
@krzyk OK, I un-labeled it as "postponed" tag

[2016-01-22 09:23] davvd commented on #627
@krzyk tagged this issue with "bug"

[2016-01-22 09:23] davvd commented on #627
@krzyk added "bug" tag to this issue

[2016-01-22 09:27] davvd commented on #451
@hdouss Much obliged! I have added **30 mins** to your account in payment "75231569", 72 hours and 20 mins spent

+30 to your rating, your total score is [+1352](http://www.netbout.com/b/36032?open=rating)

[2016-01-22 09:27] davvd commented on #578
@hdouss thanks, paid, **30 mins** to your account, payment ID is `75231576`, task took 313 hours and 47 mins to complete. +30 to your rating, your total score is [+1382](http://www.netbout.com/b/36032?open=rating)

[2016-01-22 09:27] davvd commented on #593
@jrdalpra Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-91W621665H2212107`, total time was 193 hours and 17 mins; +30 added to your rating, at the moment it is: [+278](http://www.netbout.com/b/36044?open=rating)

[2016-01-22 09:29] davvd commented on #634
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 75231649

[2016-01-22 11:39] davvd commented on #627
@krzyk right, I added "postponed" label

[2016-01-22 11:39] davvd commented on #627
@krzyk got it, someone else will be assigned soon

[2016-01-22 12:17] mkordas commented on #634
@davvd please see #637

[2016-01-22 19:13] mkordas opened #638 "Allow precondition checks in constructors"
Right now `ConstructorOnlyInitializesOrCallOtherConstructors` rejects any other expression that field assignment in constructor. E.g. the following code is not valid:
[code]
I'd like the code from above to be accepted. It should not be possible to create classes with invalid state, and Guava's `Preconditions` should be allowed.

[2016-01-22 19:54] krzyk commented on #632
@yegor256 ping

[2016-01-22 19:54] krzyk commented on #633
@yegor256 ping

[2016-01-23 00:01] mkordas opened #639 "Qulice fails with unintuitive message on Log4j2 configuration"
When Qulice tries to validate XML without schema attached, e.g. Log4j2 configuration:
[code]
it fails with the following message:
[code]

Qulice should not fail during analysis of XML files without schema.

[2016-01-23 03:43] yegor256 commented on #633
@krzyk totally in favor of it. the shorter the name, the better. `3-12` looks like a reasonable interval.

[2016-01-23 03:43] yegor256 commented on #632
@krzyk I think that it's out of scope of qulice. We have a tool for that, let's keep this functionality there.

[2016-01-23 06:27] dmzaytsev commented on #632
@krzyk okay, I'm closing the ticket

[2016-01-23 06:27] #632 closed

[2016-01-23 06:58] krzyk commented on #633
@mkordas please close this issue

[2016-01-23 07:02] krzyk commented on #638
@mkordas wouoldn't http://aspects.jcabi.com/jsr-303.html cover that? (specifically `@Valid` annotation?)

[2016-01-23 07:08] krzyk commented on #639
@mkordas well, it is there to validate the document against a schema (and style), so if there is none it fails, although it needs a better message

[2016-01-23 07:15] krzyk commented on #628
@davvd this is postponed

[2016-01-23 10:57] mkordas commented on #633
@krzyk closing then

[2016-01-23 10:57] #633 closed

[2016-01-23 11:20] mkordas commented on #639
@krzyk My point is that Qulice should not start XML schema validation if it doesn't have schema for that file, because there might be valid XML files like non-strict Log4j2 configuration for which schema doesn't even exist.

[2016-01-23 13:15] krzyk commented on #639
@davvd valid bug

[2016-01-23 13:15] krzyk commented on #639
@davvd this is postponed

[2016-01-23 16:02] longtimeago commented on #398
@krzyk could we unpostpone the issue?

[2016-01-23 21:42] mkordas commented on #638
@krzyk Precoditions are usually just one line. I see that this complex example with `@Valid` has many lines and for me is a way too verbose.

[2016-01-23 22:03] krzyk commented on #638
@yegor256 What do you think, should guava Preconditions be allowed in constructors?

[2016-01-24 10:05] aistomin opened #640 "How to use Qulice with Grails application?"
I have an idea to use Qulice in a Grails project that I'm currently working on. I spent about one hour trying to figure out how to do that, but unfortunately didn't get any result. I'm just wondering, should I put more energy on it or maybe somebody already had some positive/negative experience with that.

I know that it's possible to change Grails application in a way to use native Maven configs.

[2016-01-24 10:38] krzyk commented on #628
@HDouss want to try this one?
I think the first case could be possible with PMD (if not then checkstyle), the second one is only for checkstyle.

[2016-01-24 10:55] krzyk commented on #640
@aistomin unfortunatelly I haven't used grails at all so I don't know how to help you with this. Currently maven is the mostly used plugin in qulice, the second one being ant and gradle is in the works.
If grails build system is different from those three it would take some time to integrate it into qulice, as gradle would have probably higher priority.

[2016-01-24 11:40] aistomin commented on #640
@krzyk thanks for quick response. Looks like Grails have his own build system, but it is possible to use Maven and Gradle instead of default. I'll try them. Anyway, thanks for detailed response and sharing future plans. I'm perfectly satisfied with the answer. I'm going to close the issue.

[2016-01-24 11:40] #640 closed

[2016-01-24 17:13] krzyk commented on #373
@yegor256 I think this was done as part of #556

[2016-01-24 17:22] krzyk commented on #388
@davvd this is not posponed

[2016-01-24 17:22] krzyk commented on #388
@davvd assign @krzyk

[2016-01-24 17:25] HDouss commented on #628
@krzyk Sorry, certainly not for now.

[2016-01-24 17:26] krzyk commented on #351
@davvd this is not postponed

[2016-01-24 17:26] krzyk commented on #351
@davvd assign @krzyk

[2016-01-24 17:29] krzyk commented on #577
@mkordas are you interested?

[2016-01-24 17:56] HDouss commented on #628
@krzyk If the issue remains unresolved I will let you know when I will have time.

[2016-01-24 18:11] krzyk commented on #628
@HDouss OK, thanks.

[2016-01-24 18:18] krzyk commented on #351
@davvd see PR #642

[2016-01-24 18:19] krzyk commented on #388
@davvd please see PR #641

[2016-01-24 18:35] HDouss commented on #594
@mkordas PR #636 reviewed and merged. Please close the issue.

[2016-01-24 18:42] mkordas commented on #594
@HDouss thx

[2016-01-24 18:42] #594 closed

[2016-01-24 19:22] krzyk commented on #365
@davvd this is not postponed

[2016-01-24 19:22] krzyk commented on #365
@davvd assign @krzyk

[2016-01-24 19:31] krzyk commented on #365
@davvd please see PR #643

[2016-01-25 03:53] yegor256 commented on #373
@krzyk right, thanks

[2016-01-25 03:53] #373 closed

[2016-01-25 07:19] davvd commented on #388
@krzyk done. @krzyk you are assigned to this task. please proceed...

[2016-01-25 07:19] davvd commented on #388
@krzyk will check it soon, thanks

[2016-01-25 07:19] davvd commented on #365
@krzyk got it, "postponed" tag removed from here

[2016-01-25 07:19] davvd commented on #365
@krzyk OK @krzyk please proceed, this task is yours

[2016-01-25 07:19] davvd commented on #365
@krzyk will check it soon, thanks

[2016-01-25 07:19] davvd commented on #351
@krzyk right, I removed "postponed" tag

[2016-01-25 07:19] davvd commented on #351
@krzyk OK @krzyk please start, the task is yours

[2016-01-25 07:19] davvd commented on #351
@krzyk I will take a look, thanks

[2016-01-25 07:20] davvd commented on #628
@krzyk right, I added "postponed" label

[2016-01-25 07:20] davvd commented on #628
@krzyk I will try to find someone else

[2016-01-25 07:20] davvd commented on #634
@mkordas I will take a look, thanks

[2016-01-25 07:20] davvd commented on #639
@krzyk tag "bug" added

[2016-01-25 07:20] davvd opened #644 "Re-estimate project size"
The latest estimate is rather old (created on 31-Dec-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2016-01-25 07:51] krzyk commented on #644
@davvd this is postponed

[2016-01-25 07:54] krzyk commented on #628
@mkordas maybe you would like to take it?

[2016-01-25 09:37] krzyk commented on #351
@alevohin Changes have been merged to master, please close this issue

[2016-01-25 10:34] davvd commented on #644
@krzyk right, I added "postponed" label

[2016-01-25 10:34] davvd commented on #644
@krzyk I will assign somebody else to this issue

[2016-01-25 10:34] davvd commented on #639
@krzyk OK, I put "postponed" label here

[2016-01-25 10:34] davvd commented on #639
@krzyk someone else will help in this task, no problem at all

[2016-01-25 10:39] davvd commented on #627
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `56a5fb478cc94d3272000322`

[2016-01-25 11:28] #351 closed

[2016-01-25 17:22] longtimeago commented on #406
@krzyk @yegor256 this is really useful thing

[2016-01-25 20:49] krzyk commented on #638
@mkordas citing @yegor256 from http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html#comment-2014240415

[2016-01-25 21:23] mkordas opened #646 "Prohibit usage of plain JUnit assertions"
For consistency reasons Qulice should not allow JUnit assertions from the following families:
* `org.junit.Assert.assert*`
* `junit.framework.Assert.assert*`

I'd expect Checkstyle or PMD violation on every such assertion. However, `Assert.fail()` should remain allowed.

Rationale is in http://www.yegor256.com/2014/04/28/xml-xpath-hamcrest-matchers.html:

Moreover, I've seen mixed assertions in so

[2016-01-25 21:26] krzyk commented on #638
@mkordas and later http://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html#comment-2015661139 :

[2016-01-25 21:28] krzyk commented on #646
@mkordas good idea

[2016-01-25 21:28] mkordas commented on #638
@krzyk I see, thanks for extracting those. On the other hand we have JSR-303 validations that are working during object construction... So maybe they should be prohibited if we go that way :)

[2016-01-25 21:28] krzyk commented on #646
@davvd valid bug

[2016-01-25 21:28] krzyk commented on #646
@davvd this is postponed

[2016-01-25 22:07] mkordas opened #647 "Verify if method declaration fits one line if possible"
From time to time I see code similar to the following:
[code]
This clearly violates [indentation principle](http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#indentation):

Code should look as follows:
[code]

I'd like to have check that would verify if method signature does not take more lines than necessary.

[2016-01-25 22:29] mkordas commented on #634
@dmzaytsev merged in #637 and #645, can you please close the issue?

[2016-01-25 22:37] krzyk commented on #647
@davvd valid bug

[2016-01-25 22:37] krzyk commented on #647
@davvd this is postponed

[2016-01-25 22:44] krzyk commented on #638
@mkordas well, JSR-303 can be treated as documentation if there is no instrumentation of the code

[2016-01-25 22:46] mkordas commented on #638
@krzyk OK, closing this one

[2016-01-25 22:46] #638 closed

[2016-01-26 02:19] yegor256 commented on #406
@krzyk even though this sounds like a good idea, I think we should start moving in the opposite direction. instead of adding more and more tools to qulice, we should start removing those that are not Java related. jslint, for example. qulice should be purely Java focused. I think so.

[2016-01-26 02:22] caarlos0 commented on #406
@yegor256 maybe make qulice easily extensible, so we can have `qulice`, `qulice-jslint`, `quelice-shellcheck` and others...

What do you think?

[2016-01-26 02:26] yegor256 commented on #406
@caarlos0 I'm afraid, we can easily turn this product into mess, since we're not experts in that tools. We are good with Java, let's stay with Java.. those who need JS/Ruby/Shell/Python/etc will find other tools

[2016-01-26 04:19] dmzaytsev commented on #634
@mkordas thanks!

[2016-01-26 04:19] #634 closed

[2016-01-26 07:36] krzyk commented on #398
@longtimeago yes, as soon as I find a volunteer :), or find time to do it myself

[2016-01-26 07:38] krzyk commented on #627
@davvd this is not postponed

[2016-01-26 07:38] krzyk commented on #625
@davvd this is not postponed

[2016-01-26 07:38] krzyk commented on #623
@davvd this is not postponed

[2016-01-26 07:39] krzyk commented on #630
@davvd this is not postponed

[2016-01-26 07:39] krzyk commented on #646
@davvd this is not postponed

[2016-01-26 07:44] krzyk commented on #577
@mkordas ping

[2016-01-26 07:45] krzyk commented on #502
@Happy-Neko I've look at this and it doesn't look like the same problem as in #503, can I assign you on this?

[2016-01-26 07:47] krzyk commented on #625
@davvd assign @alexey-krylov

[2016-01-26 07:47] krzyk commented on #627
@davvd assign @kitsook

[2016-01-26 07:48] longtimeago commented on #398
@krzyk wow, I didn't know that it's a problem to find a developer

[2016-01-26 07:49] krzyk commented on #639
@davvd assing @jrdalpra

[2016-01-26 08:15] mkordas commented on #577
@krzyk because of @davvd being so slow I'll ask for an assignment only when my PR will be ready

[2016-01-26 08:16] krzyk commented on #577
@mkordas yes, he is a pain, I'm just asking if I should look for someone else :)

[2016-01-26 08:18] mkordas commented on #577
@krzyk I'll give a try :)

[2016-01-26 08:20] krzyk commented on #604
@yegor256 can ask @davvd to speed up a bit? It is quite frustrating for devs to wait for a review (bonuses).
Also I basically have to do manual assignment of tasks because waiting for @davvd to assign is just wasting to much time that could be directed in doing the task. (and during weekends he has time off)

[2016-01-26 08:29] krzyk commented on #398
@Happy-Neko want to try this one?

[2016-01-26 09:10] mkordas opened #648 "Enforce Qulice 0.15.4 over entire code"
Currently Qulice's code is validated using Qulice `0.15.2`. Let's update it to the latest version (currently `0.15.4`).

This task would require some smart way of assigning `@since` tag. I'd recommend making list of [release dates](http://stackoverflow.com/questions/13208734/get-the-time-and-date-of-git-tags) and then retrieving from repository [creation date](http://stackoverflow.com/questions/23

[2016-01-26 09:21] krzyk commented on #648
@davvd valid bug

[2016-01-26 09:42] mkordas opened #649 "Qulice inherits exclusion from jcabi-parent and XML files are not checked"
By default in `qulice` profile all validations for XMLs are disabled: https://github.com/jcabi/jcabi-parent/blob/0.41/pom.xml#L234. Qulice inherits that configuration and as an outcome XML files in the project are not validated. E.g. file `src/site/site.xml` does not have encoding specified.

To reproduce use command `mvn com.qulice:qulice-maven-plugin:check -Pqulice` - it that case parent configu

[2016-01-26 11:17] davvd commented on #625
@krzyk OK, I un-labeled it as "postponed" tag

[2016-01-26 11:17] davvd commented on #625
@krzyk OK @alexey-krylov please start, the task is yours

[2016-01-26 11:17] davvd commented on #630
@krzyk got it, "postponed" tag removed from here

[2016-01-26 11:17] davvd commented on #623
@krzyk got it, "postponed" tag removed from here

[2016-01-26 11:17] davvd commented on #627
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-01-26 11:17] davvd commented on #627
@krzyk done. @kitsook you are assigned to this task. please proceed...

[2016-01-26 11:17] davvd commented on #648
@krzyk added "bug" tag to this issue

[2016-01-26 11:17] davvd commented on #647
@krzyk tag bug added to this issue

[2016-01-26 11:17] davvd commented on #646
@krzyk I tagged this as "bug"

[2016-01-26 11:23] krzyk commented on #406
@yegor256 OK, but this will leave some of project files in maven projects not validated by qulice only by reviewers.

Unless we add those validations manually to travis/rultor configs, that would be probably the easiest option, and less mess in qulice.

And how to deal with XML in such case, leave it in qulice?

[2016-01-26 11:30] davvd commented on #365
@krzyk Thanks all, closed

[2016-01-26 11:30] #365 closed

[2016-01-26 11:30] davvd commented on #388
@krzyk I'm closing the issue...

[2016-01-26 11:30] #388 closed

[2016-01-26 11:33] davvd commented on #365
@krzyk I just added **1 hour** to your account, many thanks for your contribution (75677134).. 3 hours and 13 mins spent here; there is a bonus for fast delivery (m=193); +60 to your rating, your total score is [+4359](http://www.netbout.com/b/35035?open=rating)

[2016-01-26 11:33] davvd commented on #388
@krzyk paid, thanks, added **1 hour** to your account, payment `75677091`, 3 hours and 13 mins was spent... there is a bonus for fast delivery (m=193)... +60 added to your rating, at the moment it is: [+4299](http://www.netbout.com/b/35035?open=rating)

[2016-01-26 11:33] davvd commented on #594
@hdouss Thanks for your contribution, **30 mins** was added to your account, payment ID is `75677168`, 90 hours and 12 mins spent total. +30 added to your rating, at the moment it is: [+1510](http://www.netbout.com/b/36032?open=rating)

[2016-01-26 11:33] davvd commented on #604
@krzyk there are a few issues by [par.33](http://at.teamed.io/policy.html#33):

some tasks are stuck: #351 (389 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their performers to resolve them.

-25 t

[2016-01-26 11:34] davvd commented on #639
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `56a759c9171e7b555200025a`

[2016-01-26 11:42] caarlos0 commented on #406
@yegor256 what I meant was: we make qulice extensible, but not necessarily  extend it. Other people may write those extensions if they want to...

[2016-01-26 12:24] davvd commented on #647
@krzyk got it, "postponed" label here

[2016-01-26 12:24] davvd commented on #646
@krzyk right, I added "postponed" label

[2016-01-26 12:24] davvd commented on #647
@krzyk no problem, I will try to find somebody else

[2016-01-26 12:24] davvd commented on #646
@krzyk I will ask somebody else to pick this up

[2016-01-26 12:24] davvd commented on #646
@krzyk right, I removed "postponed" tag

[2016-01-26 12:27] davvd commented on #648
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `56a7662533fcbd09bf000243`

[2016-01-26 20:45] kitsook commented on #627
@krzyk the regular expressions of LocalFinalVariableName, LocalVariableName, MemberName, and ParameterName are working fine and do not require changes

`^id$|^[a-z]{3,12}$` works because it means there are two alternatives:
- between line start and end, contain "id"
- between line start and end, contain 3 to 12 lowercase alphabets

`^ex|[a-z]{3,12}$` of `CatchParameterName` doesn't work as expecte

[2016-01-26 21:06] krzyk commented on #627
@kitsook let's make all the regexes you mentioned to the `^(...)$` convention, it is more readable, also we need a test for the CatchParameterName so we will be sure there won't be any regression

[2016-01-26 22:19] mkordas commented on #577
@krzyk please assign me here

[2016-01-26 23:18] yegor256 commented on #406
@krzyk hm... good question about XML. maybe we can turn qulice into a standalone command line tool that will contain multiple plugins inside, one per each tool/language. we'll make it in, say, Ruby. and plugins will be like .jar files or shell scripts or JavaScripts. whatever...

[2016-01-26 23:26] kitsook commented on #627
@dvvd PR #651 created

[2016-01-26 23:26] caarlos0 commented on #406
@yegor256 in that case, I recommend Golang, which is easier to distribute (it will be a single binary)

[2016-01-27 06:43] krzyk commented on #577
@davvd assign @mkordas please

[2016-01-27 07:47] davvd commented on #577
@krzyk OK @mkordas please proceed, this task is yours

[2016-01-27 07:49] krzyk commented on #577
@davvd this is not postponed

[2016-01-27 07:57] mkordas commented on #577
@davvd please see PR #650

[2016-01-27 12:09] davvd commented on #577
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-01-27 12:09] davvd commented on #577
@mkordas will check it soon, thanks

[2016-01-27 12:13] davvd commented on #351
@krzyk paid, thanks, added **45 mins** to your account, payment `75788475`, 27 hours and 56 mins was spent. the bonus for fast delivery (m=1676). +45 to your rating, your total score is [+4477](http://www.netbout.com/b/35035?open=rating)

[2016-01-27 14:57] krzyk commented on #577
@davvd assign @mkordas please

[2016-01-27 14:59] krzyk commented on #646
@davvd assign @vkuchyn

[2016-01-27 16:16] krzyk commented on #577
@mkordas does the task appear in your agenda? I don't see you assigned in github, but David confirmed it.

[2016-01-27 16:20] mkordas commented on #577
@krzyk yes, I see it. Can you close the issue?

[2016-01-27 16:32] Happy-Neko commented on #502
@krzyk ok.

[2016-01-27 16:33] Happy-Neko commented on #398
@krzyk yes.

[2016-01-27 16:44] krzyk commented on #577
@mkordas thanks

[2016-01-27 16:44] #577 closed

[2016-01-27 18:07] krzyk commented on #502
@davvd assign @Happy-Neko

[2016-01-27 18:07] krzyk commented on #502
@davvd this is not postponed

[2016-01-27 19:35] krzyk commented on #398
@Happy-Neko sorry I already started to work on this one

[2016-01-27 19:35] krzyk commented on #398
@davvd this is not postponed

[2016-01-27 19:35] krzyk commented on #398
@davvd assign @krzyk

[2016-01-27 20:38] krzyk commented on #398
@longtimeago please see PR #652

[2016-01-27 21:02] longtimeago commented on #603
@krzyk could you, please, release a new version with this fix?

[2016-01-27 21:34] krzyk commented on #603
@longtimeago it is in 0.15.3 and 0.15.4

[2016-01-27 21:36] longtimeago commented on #603
@krzyk cool, thanks!

[2016-01-27 23:13] HDouss opened #653 "Empty line between methods of an Anonymous class makes qulice complain"
qulice complains when it finds an empty line between methods of an anonymous inner class.
Example :
[code]
qulice considers the line between `run()` method and `do()` method as an empty line inside the outer `method()` method.
I think qulice should allow such empty lines.

[2016-01-28 06:51] krzyk commented on #604
@yegor256 another issue is that if I assign an issue that was created over 20 days ago, to anyone, David will come in few days and say that the task is stuck, but it is not stuck, it was just assigned. He should not look at issue creation time but when it was unpostponed or assigned.
Right now I'm afraid to assign tasks to devs until the next project checkup, which doesn't make sense.

[2016-01-28 08:44] davvd commented on #398
@krzyk got it, "postponed" tag removed from here

[2016-01-28 08:44] davvd commented on #398
@krzyk done. @krzyk the task is yours, please go ahead

[2016-01-28 08:44] davvd commented on #502
@krzyk yep, done. @happy-neko it is your task now

[2016-01-28 08:44] davvd commented on #502
@krzyk got it, "postponed" tag removed from here

[2016-01-28 08:45] davvd commented on #646
@krzyk OK @vkuchyn please proceed, this task is yours

[2016-01-28 10:08] davvd commented on #577
@krzyk yes, @mkordas is already assigned to this task, please go ahead!

[2016-01-28 10:50] krzyk commented on #577
@davvd this is not postponed

[2016-01-28 12:14] davvd commented on #577
@krzyk got it, "postponed" tag removed from here

[2016-01-28 13:53] krzyk commented on #604
@rultor release tag is `0.15.5`

[2016-01-28 13:56] rultor commented on #604
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6325-176194550)

[2016-01-28 14:12] krzyk commented on #398
@longtimeago changes have been merged to master, and it will be released in 0.15.5 (https://github.com/teamed/qulice/issues/604#issuecomment-176195222) in about an hour. Please close this issue.

[2016-01-28 15:02] rultor commented on #604
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6325-176194550) (took me 1hr)

[2016-01-28 16:24] krzyk commented on #653
@davvd valid bug

[2016-01-28 16:41] krzyk commented on #649
@davvd valid bug

[2016-01-28 16:42] krzyk commented on #623
@davvd assign @kitsook

[2016-01-28 16:43] krzyk commented on #625
@davvd assign @jimdeanspivey

[2016-01-28 16:44] krzyk commented on #649
@davvd assign @jrdalpra

[2016-01-28 16:47] krzyk commented on #631
@HDouss How do you propose should we test checks that are configured in `checks.xml` file? e.g. all regexp ones? How do we make sure that isolated test will use exactly the same configuration as the one in the production `checks.xml`?

[2016-01-28 17:13] HDouss commented on #631
@krzyk humm...I will think about it. It is true that we have no guarantee that those `config.xml` are similar to the configuration inside production `checks.xml`.

[2016-01-28 17:50] HDouss commented on #631
@krzyk First thing that came to my mind is to implement a `before` method that asserts that `config.xml` (in isolated test) is part of `checks.xml` (in production). May be we could use Xembly to assert that inclusion.

[2016-01-28 21:35] kitsook commented on #627
@mkordas PR #651 merged. Please close the issue

[2016-01-28 21:39] mkordas commented on #627
@kitsook thanks!

[2016-01-28 21:39] #627 closed

[2016-01-28 22:01] kitsook commented on #623
@krzyk @davvd i am not taking new tasks at the moment. please assign to someone else

[2016-01-29 08:00] krzyk commented on #398
@longtimeago there is a slight change from what you requested, right now the syntax is:
[code]

and to exclude everything you do:
[code]

[2016-01-29 08:13] longtimeago commented on #398
@krzyk no problem, thanks!

[2016-01-29 08:13] longtimeago commented on #398
@krzyk it would be nice to update this doc as well http://www.qulice.com/qulice-maven-plugin/example-exclude.html

[2016-01-29 08:15] krzyk commented on #398
@longtimeago it is updated :)

[2016-01-29 08:16] krzyk commented on #398
@longtimeago if that's OK, please close this issue

[2016-01-29 08:17] krzyk commented on #653
@HDouss could you post the error message which qulice uses to complain about those empty lines?

[2016-01-29 08:18] krzyk commented on #623
@kitsook OK, I'll reassign

[2016-01-29 08:19] krzyk commented on #623
@davvd please assign @gumbelmj

[2016-01-29 08:19] longtimeago commented on #398
@krzyk Perfect, thanks!

[2016-01-29 08:19] #398 closed

[2016-01-29 08:32] krzyk opened #655 "All usages of apache commons CharEncoding.UTF_8 should be prohibited"
`CharEncoding.UTF_8` (and the rest, like `CharEncoding.US_ASCII`) were used before JDK 1.7, but qulice requires this JDK so there is no point in allowing `CharEncoding`, users should use `StandardCharsets` from the JDK for the charsets.

`CharEncoding` exists in three libraries from apache: commons-lang, commons-lang3 and commons-codec. All of those should be prohibited and the user should get the

[2016-01-29 08:32] krzyk commented on #655
@davvd valid bug

[2016-01-29 08:35] krzyk opened #656 "Prohibit empty line at the start and at the end of javadoc."
Following cases two cases should make qulice complain:
* empty javadoc line at the beginning:
[code]

* empty javadoc line at the end:
[code]

[2016-01-29 08:36] krzyk commented on #656
@davvd valid bug

[2016-01-29 08:56] HDouss commented on #653
@krzyk It's our `com.qulice.checkstyle.EmptyLinesCheck`. The message is: `Empty line inside method (EmptyLinesCheck)`.

[2016-01-29 09:09] vkuchyn opened #657 "UnnecessaryLocalRule has no test coverage"
Module `qulice-pmd`:
`UnnecessaryLocalRule` has only one mention in the project - in file `src/main/resources/com/qulice/pmd/ruleset.xml`
Remove all declaration about `UnnecessaryLocalRule` from `ruleset.xml` and run test. Build success - that means no test coverage.
I suppose it should be covered with test to avoid problems in future and for better documentation

[2016-01-29 09:09] krzyk commented on #653
@davvd assign @jimdeanspivey

[2016-01-29 09:11] krzyk commented on #657
@vkuchyn good catch

[2016-01-29 09:11] krzyk commented on #657
@davvd valid bug

[2016-01-29 09:40] davvd commented on #625
@krzyk done. @jimdeanspivey you are assigned to this task. please proceed...

[2016-01-29 09:40] davvd commented on #623
@krzyk done. @kitsook the task is yours, please go ahead

[2016-01-29 09:40] davvd commented on #623
@krzyk sure! @gumbelmj the task is yours, please go ahead

[2016-01-29 09:40] davvd commented on #657
@krzyk added "bug" tag to this issue

[2016-01-29 09:40] davvd commented on #653
@krzyk tag "bug" added

[2016-01-29 09:40] davvd commented on #655
@krzyk added "bug" tag to this issue

[2016-01-29 09:40] davvd commented on #656
@krzyk tagged this issue with "bug"

[2016-01-29 09:40] davvd commented on #649
@krzyk I just added bug tag here

[2016-01-29 09:46] davvd commented on #577
@mkordas **1 hour** sent to your balance (ID `56ab34d415431a575200001a`), many thanks! It took zero.. there is a bonus for fast delivery (m=0). +60 added to your rating, current score is: [+4108](http://www.netbout.com/b/36080?open=rating)

[2016-01-29 09:47] davvd commented on #647
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56ab350e88fc1522730000cd`

[2016-01-29 13:13] davvd commented on #653
@krzyk OK @jimdeanspivey please go ahead, this task is yours

[2016-01-29 13:13] davvd commented on #649
@krzyk done. @jrdalpra you are assigned to this task. please proceed...

[2016-01-29 13:18] davvd commented on #646
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56ab668ea85909434800019e`

[2016-01-29 13:45] jrdalpra commented on #649
@krzyk ok
@dmarkov @davvd @krzyk @yegor256 I'm getting to many tasks. There's no limit of tasks per developer?

Thanks.

[2016-01-29 14:32] krzyk commented on #649
@jrdalpra I manually assigned this to you, in such case there is no limit, but it is OK to tell that you can't do it right now, I'll reassign

[2016-01-29 14:32] krzyk commented on #649
@davvd assign @prahladyeri

[2016-01-29 15:15] jrdalpra commented on #649
@krzyk ok. I just don't want to get just the amount that I can handle. Thanks.

[2016-01-29 15:45] JimDeanSpivey commented on #625
@mkordas The PR #654 has been merged.

[2016-01-29 16:00] mkordas commented on #625
@JimDeanSpivey thx

[2016-01-29 16:00] #625 closed

[2016-01-29 16:11] gumbelmj commented on #623
@davvdthe pull request has been submitted.

[2016-01-29 18:57] mkordas opened #659 "Prohibit 'public static' methods"
Methods that are `public static` are usually a sign of a [bad design](http://www.yegor256.com/2014/05/05/oop-alternative-to-utility-classes.html). Qulice should prohibit them with couple of exceptions:
* `public static void main(final String... args)`
*  methods annotated with `@Parameterized.Parameters`, `@BeforeClass`, `@AfterClass` and other JUnit annotations that must be used only with `public

[2016-01-29 20:08] mkordas opened #660 "Check to make sure that abbreviations are written in camel case"
There's always debate whether acronyms in class names should be written in uppercase or in camelcase. However, both [Google](http://checkstyle.sourceforge.net/reports/google-java-style.html#s5.3-camel-case) and [Microsoft](https://msdn.microsoft.com/en-us/library/141e06ef(v=vs.71).aspx) recommend making them camelcase meaning that we should prefer `XmlHttpRequest` over `XMLHTTPRequest`, which make

[2016-01-29 20:16] krzyk commented on #659
@davvd valid bug

[2016-01-29 20:24] krzyk commented on #660
@mkordas I like the idea.
@yegor256 What do you think about such rule? I just checked in takes, and there are classes like `RsPrettyJSON`, `TkCORS`, `RsPrettyXML` but on the other hand there is also `HttpException`, `TkSlf4j`. The first group is much bigger than the latter.

[2016-01-29 20:26] yegor256 commented on #660
@krzyk let's do it, I agree

[2016-01-29 20:28] krzyk commented on #660
@davvd valid bug

[2016-01-29 20:30] mkordas opened #662 "Check that second word in Javadoc for test is 'can'"
According to [this article](http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#test-method-names) second word in Javadoc in every method annotated with `@Test` should be `can`.

Let's enforce that convention by creating check dedicated for that.

[2016-01-29 20:38] mkordas opened #663 "Check that test method name does not begin with 'test' or 'should'"
According to [this article](http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#test-method-names) test method names should begin with a verb.

It's hard to enforce such convention, but at least we should create a check to prohibit names starting with the most popular `test` and `should` in methods annotated with `@Test`.

One exception would be method names starting with `tests`

[2016-01-29 20:42] krzyk opened #664 "Javadoc of a test method should start with the class name"
Javadoc of each test method should start with the name of the class that is being tested (name of the test class with `Test` word removed).

e.g. for `Foo` class, following Javadoc is correct:

[code]

this one also is correct (uses inner class `Foo.Bar` inside a `FooTest`):

[code]

but this one is incorrect:

[code]

[2016-01-29 20:44] krzyk commented on #664
@davvd valid bug

[2016-01-29 20:45] krzyk commented on #663
@davvd valid bug

[2016-01-29 20:51] krzyk commented on #662
@mkordas I don't think it is possible in all the cases, first one that comes to my mind is e.g. *Class can't accept null values.*.
I'll try to look for other cases that would need to be added as an exception to this rule.

[2016-01-29 21:10] vkuchyn commented on #646
@krzyk Hi, I stuck on the final stage. After all fixes, try to build whole project in my feature branch `qulice-maven-plugin` fails. Reason is
`[INFO] org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.qulice:qulice-maven-plugin:1.0-SNAPSHOT:check (default) on project pom-xpath-validator-violations: Failure
....
[INFO] Caused by: com.qulice.spi.ValidationException:

[2016-01-29 21:54] vkuchyn commented on #646
@krzyk  I tried to push to check builds on CI - having the same problems https://ci.appveyor.com/project/yegor256/qulice/build/456
So this is not local issue. Still have no idea how to fix it.

[2016-01-29 23:59] vkuchyn commented on #646
@krzyk Well,  I figured out what went wrong.
An old test in /src/test/java/com/qulice/plugin/alpha/MainTest.java uses old style assertions, so that's why test failed.
I have a question for future - what is the best way to manage such situation? I cannot close ticket - pull request fails. From other side cannot report new bug, because problems only in my local branch

[2016-01-30 00:22] vkuchyn commented on #646
@davvd please see #665

[2016-01-30 07:22] krzyk commented on #646
@vkuchyn you just fix it, or if it is a big change you create a todo puzzle (see http://www.yegor256.com/2009/03/04/pdd.html)

[2016-01-30 07:28] vkuchyn commented on #646
@krzyk Thank you for answer. So I can ignore old test that fails (for me it means my changes crashed the system but de facto, this seems to be fragility of test), make todo, report a ticket like "fix test" with description. Is it okey behaviour?

[2016-01-30 07:32] krzyk opened #666 "NonStaticMethodCheck should ignore IT tests and small fixes"
1. Currently `NonStaticMethodCheck` ignores only classes that end in `Test`, but it should also ignore classes that end in `IT` and `ITCase`.

2. Also remove exclude of `NonStaticMethodCheck` in `qulice-spi/src/main/java/com/qulice/spi/Environment.java` file

3. Remove `else exit 0;` clause in years.sh file

[2016-01-30 07:32] krzyk commented on #666
@davvd valid bug

[2016-01-30 07:42] krzyk commented on #646
@vkuchyn you could ignore an old test, but it should be only a last resort. Specifically in qulice we introduce very often rules that make some parts of the old code fail, we should fix that, if the change is small and we know how to do it.
If the change is bigger, you ignore that part of the code and create a todo (you don't report a bug).
Bug reports are for things that are not related to your c

[2016-01-30 07:44] mkordas opened #667 "Qulice does not complain when project POM contains tab characters"
Currently Qulice prohibits any tab characters in the code and that works fine. However, it does not complain at all if `pom.xml` contains them.

For example in [takes](https://github.com/yegor256/takes/blob/master/pom.xml#L238) project POM is full of tabs and no one has noticed it.

[2016-01-30 07:58] mkordas opened #668 "'@Test(expected = ...)' should not be allowed"
In Teamed projects I see [many usages](https://github.com/search?l=&q=%22%40Test%28expected+%3D+%22+user%3Ayegor256+user%3Ateamed&ref=advsearch&type=Code&utf8=%E2%9C%93) of `@Test(expected = ...)'` assertions.

`@Test(expected = ...)` is OK only for a tests containing only one method call, when exception is very specific and when there's absolutely no point in checking exception message. In all ot

[2016-01-30 08:02] vkuchyn commented on #646
@krzyk thanks

[2016-01-30 08:03] mkordas commented on #666
@krzyk can I take that one?

[2016-01-30 08:05] mkordas commented on #664
@krzyk I'm not sure about that one - what about tests for entire components or modules?

[2016-01-30 08:08] mkordas commented on #655
@krzyk can I take this one?

[2016-01-30 08:22] krzyk commented on #655
@mkordas sure

[2016-01-30 08:22] krzyk commented on #655
@davvd assign @mkordas

[2016-01-30 08:28] krzyk commented on #664
@mkordas That would be more of integration tests so they should and with IT (for failsafe), or maven invoker ones.

[2016-01-30 08:28] mkordas opened #669 "BracketsStructure check does not work for annotations"
Currently Qulice allows the following annotation above methods:
[code]
According to [this article](http://www.yegor256.com/2014/10/23/paired-brackets-notation.html) the above code should be prohibited in favour of:
[code]

I'd expect extending `BracketsStructureCheck` with this functionality.

[2016-01-30 08:29] krzyk commented on #666
@mkordas here you go

[2016-01-30 08:29] krzyk commented on #666
@mkordas but I need to wait for @davvd to notice it first

[2016-01-30 08:31] krzyk commented on #655
@mkordas wait a second, I still need to get @davvd to notice it also (and get a bonus), if the task is closed earlier I won't get it :(

[2016-01-30 08:31] krzyk commented on #655
@davvd this is postponed

[2016-01-30 08:35] krzyk commented on #667
@mkordas good catch

[2016-01-30 08:35] krzyk commented on #667
@davvd valid bug

[2016-01-30 08:37] mkordas opened #670 "Detect improper formatting of fluent calls"
According to [this article](http://www.yegor256.com/2014/10/23/paired-brackets-notation.html#fluent), fluent calls should be formatted like
[code]
instead of
new Bar()
    .with(
        veryLongListOfArguments
    ).with(argument)
[code]

[2016-01-30 08:44] mkordas commented on #664
@krzyk do you mean that we have convention to mark as IT tests that test 2 or more classes? For me classical distinction between IT and UT is not a number of classes being tested, but rather way of testing: UT checks code in the same process, while IT runs SUT in separate process thus usually requiring `pre-integration-test` and `post-integration-test` phases.

[2016-01-30 08:45] mkordas commented on #666
@krzyk sure, I can start preparing PR in the meantime, I'll need to wait a few days for reviewer anyway

[2016-01-30 09:37] krzyk commented on #664
@mkordas No we don't have that convention, but usually there is a driving class that is checked, so in most cases there is a `Class can do something`, even if this class needs several others to do the job. I greped javadocs and it is hard to find a case where the test doesn't mention the class being tested. Notable exceptions are test classes that are getting to big and are split into several clas

[2016-01-30 09:55] krzyk commented on #670
@mkordas the only problem I see is (aside from probable checkstyle indentation problem with the first call) is in Xembly:
[code]
that would end up with:
[code]

I'm not sure which one is cleaner.
But if we can disable it should be OK (peding next checkstyle release, at least it will have for RegexpSingleLine).

[2016-01-30 09:55] krzyk commented on #670
@davvd valid bug

[2016-01-30 09:58] krzyk commented on #669
@davvd valid bug

[2016-01-30 10:00] mkordas commented on #670
@krzyk my pattern does trigger on your example

[2016-01-30 10:04] krzyk commented on #668
@davvd valid bug

[2016-01-30 10:04] krzyk commented on #668
@davvd this is postponed

[2016-01-30 10:07] krzyk commented on #662
@mkordas OK, the only new rule I could find is the *can't*, if you agree, please add it to the description.

[2016-01-31 12:23] HDouss commented on #653
@davvd The bug is being resolved. I wasn't paid for reporting it.

[2016-01-31 17:49] longtimeago opened #673 "LineLength check should ignore content of @see javadoc annotation"
LineLength check should ignore content of @see javadoc annotation
Otherwise, it's impossible to have long links in it. For example
[code]
checkstyle complains about AtclauseOrderCheck (@checkstyle before @see)
But this code
[code]

[2016-01-31 18:57] krzyk commented on #673
@longtimeago it is covered by #654

[2016-01-31 18:59] longtimeago commented on #673
@krzyk cool, thanks!

[2016-01-31 18:59] #673 closed

[2016-01-31 20:53] mkordas commented on #489
@yegor256 can I get payment for issue submission and implementation here?

[2016-02-01 08:21] davvd commented on #646
@vkuchyn thanks, will take a look

[2016-02-01 08:21] davvd commented on #655
@krzyk OK @mkordas please proceed, this task is yours

[2016-02-01 08:21] davvd commented on #655
@krzyk OK, I put "postponed" label here

[2016-02-01 08:21] davvd commented on #655
@krzyk I will assign somebody else to this issue

[2016-02-01 08:22] davvd commented on #649
@krzyk of course! @prahladyeri it's your ticket now, please go ahead

[2016-02-01 08:22] davvd commented on #670
@krzyk I added `bug` tag to this ticket

[2016-02-01 08:22] davvd commented on #668
@krzyk I tagged this as "bug"

[2016-02-01 08:22] davvd commented on #669
@krzyk I just added bug tag here

[2016-02-01 08:22] davvd commented on #666
@krzyk tag bug added to this issue

[2016-02-01 08:22] davvd commented on #667
@krzyk added "bug" tag to this issue

[2016-02-01 08:22] davvd commented on #664
@krzyk I just added bug tag here

[2016-02-01 08:22] davvd commented on #663
@krzyk tag "bug" added

[2016-02-01 08:22] davvd commented on #659
@krzyk tag bug added to this issue

[2016-02-01 08:22] davvd commented on #660
@krzyk tag bug added to this issue

[2016-02-01 08:28] davvd commented on #398
@krzyk Thanks for your contribution, **45 mins** was added to your account, payment ID is `75988226`, 24 hours and 54 mins spent total

there is a bonus for fast delivery (m=1494)

+45 added to your rating, current score is: [+4886](http://www.netbout.com/b/35035?open=rating)

[2016-02-01 08:28] davvd commented on #627
@kitsook **38 mins** was added to your account, many thanks for your contribution (payment AP-5BA49698PH173703C)! The task took 70 hours and 22 mins.

m=4222, that's why a bonus here for fast delivery

+38 added to your rating, current score is: [+98](http://www.netbout.com/b/36293?open=rating)

[2016-02-01 08:29] davvd commented on #657
@vkuchyn thanks for tis bug, I topped your account for 15 mins, transaction `75988391`

[2016-02-01 09:45] prahladyeri commented on #649
@davvd I'm looking into this.

[2016-02-01 11:19] davvd commented on #668
@krzyk got it, "postponed" label here

[2016-02-01 11:19] davvd commented on #668
@krzyk got it, someone else will be assigned soon

[2016-02-01 11:48] davvd commented on #604
@krzyk pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

some tasks in the project are "stuck": #502 (69 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their p

[2016-02-01 11:49] davvd commented on #656
@krzyk thanks for the report, I topped your acc for 30 mins, payment ID `75998417`

[2016-02-01 12:51] krzyk commented on #502
@Happy-Neko thanks

[2016-02-01 12:51] #502 closed

[2016-02-01 12:52] krzyk commented on #604
@yegor256 all issues mentioned have been fixed, can I release 0.16?

[2016-02-01 13:36] davvd commented on #655
@krzyk thanks for reporting! I topped your account for 30 mins, transaction 76003922

[2016-02-01 14:07] krzyk commented on #655
@davvd this is not postponed

[2016-02-02 00:23] jrdalpra commented on #639
@krzyk Still not assigned to me.

[2016-02-02 06:35] JimDeanSpivey commented on #625
@davvd This issue has been accepted.

[2016-02-02 07:43] krzyk commented on #639
@davvd assign @jrdalpra please

[2016-02-02 07:43] krzyk commented on #639
@davvd this is not postponed

[2016-02-02 15:30] gumbelmj commented on #623
@HDouss can you close this issue as it has been fixed?  Thanks.

[2016-02-02 15:57] HDouss commented on #623
@gumbelmj it seems that the implementation also excludes such cases:
[code]

The example above is a true positive (i.e it should raise a complaint by `NonStaticMethodCheck`), but your implementation is discarding it.

[2016-02-02 16:42] krzyk commented on #623
@HDouss I don't think this is a good case, if there is such method it should be definitely static (unless it is an `@Override` method).

[2016-02-02 16:50] HDouss commented on #623
@krzyk This is what I said

But the solution provided by the PR will exclude such case.

[2016-02-02 16:50] HDouss commented on #623
@krzyk It will exclude it from the check, but it shouldn't. Such case should make qulice raise an issue.

[2016-02-02 18:09] krzyk opened #675 "Fields should be marked transient only if class is Serializable"
Currently we have a PMD rule `BeanMembersShouldSerialize` with rationale:

Most of the time we don't follow the rules for *Java Beans* (see getters/setters) so I think that the rule requiring fields to be `transient` should be loose up to only `Serializable` classes - and there is already such rule enabled in Findbugs (SE_BAD_FIELD):

We should remove rule `BeanMembersShouldSerialize` and create a

[2016-02-02 18:10] krzyk commented on #675
@yegor256 What do you think about the above?

[2016-02-02 18:14] krzyk commented on #623
@HDouss Sorry, you are right ( I must learn not to read on the phone :) ).

[2016-02-02 21:49] JimDeanSpivey commented on #653
@HDouss @davvd the PR #672 was merged.

[2016-02-02 22:41] HDouss commented on #653
@JimDeanSpivey Thanks

[2016-02-02 22:41] #653 closed

[2016-02-03 03:44] yegor256 commented on #675
@krzyk well... what's wrong with `transient`? it is an extra protection against accidental serialization, as far as I understand.

[2016-02-03 05:58] yegor256 commented on #604
@krzyk yeah, let's do it

[2016-02-03 06:18] yegor256 commented on #489
@mkordas you were not with us that time :) so, no payment, sorry

[2016-02-03 07:15] krzyk commented on #604
@rultor release tag is `0.16`

[2016-02-03 07:16] rultor commented on #604
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6325-179058672)

[2016-02-03 07:30] krzyk commented on #675
@yegor256 I haven't thought of it as a protection, more like wasted keystrokes :)
If class is not `Serializable` then how could it be serialized by accident? One would have to do it on purpose (writeObject) in class that uses it.
And lomboks `@EqualsAndHashCode` requires naming each transient field for the generated methods (and this annotation is easily forgotten when refactoring the class).

[2016-02-03 08:23] rultor commented on #604
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6325-179058672) (took me 1hr)

[2016-02-03 08:25] krzyk commented on #144
@davvd this is not postponed

[2016-02-03 08:25] krzyk commented on #144
@davvd assign @krzyk

[2016-02-03 08:54] kujtimiihoxha opened #676 "Qulice fails with NullPointerException."
I am trying to exclude a folder from checkstyle,pmd,findbugs but if I add
[code]
build fails with this message
[code]
   <build>
        <plugins>
            <plugin>
                <groupId>com.qulice</groupId>
                <artifactId>qulice-maven-plugin</artifactId>
                <version>0.15.5</version>
                <configuration>
                    <license>file:${basedir}/LICENC

[2016-02-03 09:51] krzyk commented on #144
@davvd please see PR #677

[2016-02-03 09:57] krzyk commented on #604
@yegor256 please set `0.16` as final

[2016-02-03 10:03] krzyk commented on #676
@kujtimiihoxha I can't reproduce it, could you provide logs with `mvn -X`?

[2016-02-03 10:21] mkordas commented on #676
@kujtimiihoxha do you use Maven > 3.1.0?

[2016-02-03 10:41] kujtimiihoxha commented on #676
@mkordas  I am using ```maven-3.3.9```

@krzyk  here is the output of  ```mvn clean install -Pqulice -X ```
[out.txt](https://github.com/teamed/qulice/files/115471/out.txt)

[2016-02-03 11:07] krzyk commented on #676
@kujtimiihoxha OK, so the problem is in `DependenciesValidator`:
[code]

[2016-02-03 11:09] krzyk commented on #676
@davvd valid bug

[2016-02-03 11:09] krzyk commented on #676
@kujtimiihoxha thanks

[2016-02-03 11:29] krzyk commented on #411
@mkordas new checkstyle has been released, can you take this?

[2016-02-03 12:28] gumbelmj commented on #623
@krzyk I saw you deployed the changes.  Should I continue to address @HDouss concerns?

[2016-02-03 13:02] krzyk commented on #623
@gumbelmj yes you should, deploy is just to finish the PR, you will need to create a new one.

[2016-02-03 13:06] kujtimiihoxha opened #678 "Qulice does not know that a method is commented"
I was testing some commenting script I am developing (it will search for todo-s and create a github issues automatically) and I noticed that if I do a comment like
[code]
qulice gives me this error message
[code]
It treats the commented method as an actual method. I think this should not happen.
The syntax used in the the comment (+(java).. etc) has to do with the script I am working on but I don'

[2016-02-03 13:08] krzyk commented on #678
@kujtimiihoxha Could you show the whole file? It will be easier to debug.

[2016-02-03 13:20] kujtimiihoxha commented on #678
@krzyk It looks like it was not the issue with the comment somehow it was related with a previous version of the file, I have reloaded the IDE and the problem is gone. Sorry for the mistake.

[2016-02-03 13:20] #678 closed

[2016-02-03 14:15] krzyk commented on #648
@davvd assign @krzyk

[2016-02-03 16:31] krzyk commented on #648
@davvd please see PR #679

[2016-02-03 20:09] yegor256 opened #683 "LineLengthCheck must ignore @link and @see"
`LineLengthCheck` must ignore lines that start with `@link` and `@see`, for example:

[code]

This is how it worked before... why did we change that?

[2016-02-03 20:19] mkordas commented on #683
@yegor256 we noticed in #592 that some at-clauses were unnecessarily exceeding limit of 80 chars, so we strengthened the check, but on the other hand #625 was raised to cover the links. Just update to latest Qulice and you'll be good to go.

[2016-02-03 21:04] mkordas opened #684 "Exclude all unnecessary files from dogfood check and reduce number of builds"
Right now our [dogfood check](https://github.com/teamed/qulice/blob/0.16/.travis.yml#L14) reports [hundreds of violations](https://travis-ci.org/teamed/qulice/jobs/106678509#L5078) due to test inputs not being excluded from it. Please make all appropriate excludes.

Moreover we can run just one dogfood build instead of two to better use Travis resources, as I've noticed lags recently. Let's leave

[2016-02-03 21:10] yegor256 commented on #683
@mkordas right, it's a dupe of #625 thanks

[2016-02-03 21:10] #683 closed

[2016-02-03 21:59] yegor256 commented on #604
@davvd release 0.16 is final

[2016-02-03 22:12] yegor256 commented on #675
@krzyk OK, I'm convinced, let's remove this check

[2016-02-04 03:35] krzyk commented on #675
@davvd valid bug

[2016-02-04 03:38] krzyk commented on #604
@yegor256 can you check on @davvd, he seams to be out

[2016-02-04 07:10] davvd commented on #144
@krzyk got it, "postponed" tag removed from here

[2016-02-04 07:10] davvd commented on #144
@krzyk OK @krzyk please go ahead, this task is yours

[2016-02-04 07:11] davvd commented on #144
@krzyk will take a look at it, thanks

[2016-02-04 07:11] davvd commented on #604
@yegor256 0.16 is final now ("draft" flag removed)

[2016-02-04 07:12] davvd commented on #623
@gumbelmj OK

[2016-02-04 07:12] davvd commented on #639
@krzyk yep, done. @jrdalpra it is your task now

[2016-02-04 07:12] davvd commented on #639
@krzyk thanks, I removed the "postponed" tag

[2016-02-04 07:12] davvd commented on #648
@krzyk done. @krzyk you are assigned to this task. please proceed...

[2016-02-04 07:12] davvd commented on #648
@krzyk I will take a look, thanks

[2016-02-04 07:12] davvd commented on #655
@krzyk thanks, I removed the "postponed" tag

[2016-02-04 07:12] davvd commented on #649
@prahladyeri OK

[2016-02-04 07:12] davvd commented on #676
@krzyk tagged this issue with "bug"

[2016-02-04 07:12] davvd commented on #675
@krzyk I just added bug tag here

[2016-02-04 07:18] davvd commented on #502
@happy-neko Many thanks! **30 mins** were added to your account in Transaction ID `AP-9NP06237JN410054F` (task took 100 hours and 45 mins)... +30 added to your rating, current score is: [+188](http://www.netbout.com/b/36136?open=rating)

[2016-02-04 07:18] davvd commented on #625
@jimdeanspivey thanks, paid, **38 mins** to your account, payment ID is `56b2fb04a97bd03c4000006d`, task took 70 hours and 39 mins to complete

the bonus for fast delivery (m=4239)

+38 added to your rating, at the moment it is: [+38](http://www.netbout.com/b/36321?open=rating)

[2016-02-04 07:21] davvd commented on #649
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `56b2fbe5cdf9604b7c000027`

[2016-02-04 07:28] HDouss commented on #653
@davvd Ping

[2016-02-04 08:46] krzyk commented on #648
@mkordas changes have been merged to master, please close this issue

[2016-02-04 09:21] mkordas commented on #648
@krzyk perfect!

[2016-02-04 09:21] #648 closed

[2016-02-04 09:37] davvd opened #686 "0.17"
Please, publish a new release **0.17** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2016-02-04 09:44] davvd commented on #686
@krzyk the task is yours please proceed

[2016-02-04 09:44] davvd commented on #670
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56b31d730f8b322871000243`

[2016-02-04 10:14] mkordas commented on #411
@krzyk sure, I'll take that just after @davvd assigns reviewer to #681

[2016-02-04 10:32] krzyk commented on #686
@yegor256 please give me a list of issues for this release

[2016-02-04 10:51] krzyk commented on #666
@davvd assign @mkordas

[2016-02-04 12:42] piddubnyi opened #687 "IndentationCheck is incorrect with builder style method calls in parameters."
It's common in teamed projects to use builder style method calls in parameters, however qulice forces incorrect format them. For example following code will cause IndentationCheck error, but for my opinion it is correctly formatted.
[code]

[2016-02-04 20:17] krzyk commented on #662
@mkordas what do you think about the above? Will *can* be enough, are there cases where *can't* could help?

[2016-02-04 20:18] krzyk commented on #656
@davvd assign @guiandmag

[2016-02-04 20:19] krzyk commented on #657
@davvd assign @jimdeanspivey

[2016-02-04 20:20] krzyk commented on #687
@piddubnyi isn't it a duplicate of #449

[2016-02-04 20:23] krzyk commented on #659
@kitsook are ready to take this?

[2016-02-04 20:30] piddubnyi commented on #687
@krzyk yes right.

[2016-02-04 20:31] #687 closed

[2016-02-04 20:54] krzyk commented on #144
@yegor256 finally this has been resolved (at least for majority of our cases - all private methods, and all public ones that are final). Please close this issue if it is OK.

[2016-02-04 22:13] mkordas opened #688 "Prohibit two empty lines in Javadoc"
Currently Qulice prohibits two consecutive empty lines. The same should apply to Javadoc with two lines with just `*`.
[code]
The above Javadoc should trigger violation on 4th line.

[2016-02-04 22:20] mkordas commented on #662
@krzyk thanks for pinging. Yes, I think we should be a bit more flexible here. Classes have functionalities but sometimes they also have limitations, and then what you propose makes sense. I'd just like to use bit more formal `cannot`.

[2016-02-04 22:22] mkordas opened #689 "Test methods should declare 'throws Exception'"
According to http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#test-method-names:

Let's automate that check. Every test method should have `throws Exception` declared.

[2016-02-04 22:26] mkordas opened #690 "Prohibit unnecessary 'java.lang'"
I've just noticed in Takes framework very [strange Javadocs](https://github.com/yegor256/takes/search?utf8=%E2%9C%93&q=%22java.lang.Exception%22&type=Code):
[code]

Let's not allow unnecessary `java.lang.` declarations in code and Javadoc.

[2016-02-04 22:58] mkordas commented on #655
@krzyk please assign me here

[2016-02-04 22:59] mkordas commented on #628
@krzyk I need more time to think how to solve that in the easiest, but reliable way

[2016-02-05 01:09] krzyk commented on #655
@davvd assign @mkordas

[2016-02-05 04:38] krzyk commented on #662
@davvd valid bug

[2016-02-05 05:55] kitsook commented on #659
@krzyk pls assign to someone else. I have set my status as away with alice in netbout

[2016-02-05 08:30] krzyk commented on #690
@davvd valid bug

[2016-02-05 08:32] krzyk commented on #689
@mkordas More like, if a test method throws exception then it should declare `Exception` in all other cases it is pointless (and will break FindBugs exception checks).

[2016-02-05 08:32] krzyk commented on #688
@davvd valid bug

[2016-02-05 08:34] krzyk commented on #676
@kujtimiihoxha could you share dependency list? Or maybe you know which dependency cause this problem? It might be some tricky one, e.g. with packaging `pom` or, scope `runtime` or anything not common.

[2016-02-05 08:38] kujtimiihoxha commented on #676
@krzyk  Here are my dependencies
[code]

[2016-02-05 08:42] mkordas commented on #689
@krzyk description and title updated

[2016-02-05 08:43] krzyk commented on #575
@mkordas this is now covered by `NoJavadocForOverriddenMethodsCheck`, so I think it can be closed

[2016-02-05 08:45] krzyk commented on #572
@davvd this is not postponed

[2016-02-05 08:45] krzyk commented on #572
@davvd assign @krzyk

[2016-02-05 08:47] krzyk commented on #689
@mkordas thanks

[2016-02-05 08:47] krzyk commented on #689
@davvd valid bug

[2016-02-05 08:47] simonjenga opened #691 "CheckstyleValidatorTest fails intermittently"
[code]

[2016-02-05 08:51] krzyk commented on #691
@simonjenga strange, do you have space in java.io.tmp directory? Could you show what you have in `System.getProperty("java.io.tmpdir")`?
Also please give us details about maven/os (`mvn --version`)

[2016-02-05 08:55] krzyk commented on #659
@Happy-Neko can you take it?

[2016-02-05 09:18] krzyk commented on #664
@davvd assign @vkuchyn

[2016-02-05 09:52] simonjenga commented on #691
@krzyk There are intermittent results (```FAILURE/SUCCESS```) within Unit tests that have something to do with creating files in the ```temp``` Dir in my computer.

[code]

Try to reproduce this issue in the following environment:

[code]

The same error messages may appear on:
```Apache Maven 3.2.1```, ```Apache Maven 3.2.5``` and ```Apache Maven 3.3.3```

I also experience a similar problem at:

[2016-02-05 09:53] simonjenga commented on #691
@krzyk
[code]

[code]

[2016-02-05 09:58] mkordas commented on #575
@krzyk you are right, thanks

[2016-02-05 09:58] #575 closed

[2016-02-05 10:30] davvd commented on #572
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-02-05 10:30] davvd commented on #572
@krzyk there are already 11 active tasks in the project, we can't have more

[2016-02-05 10:30] davvd commented on #657
@krzyk too many tasks (11) are active in the project already, can't assign new ones

[2016-02-05 10:30] davvd commented on #656
@krzyk too many tasks already active in the project (11), can't have more

[2016-02-05 10:30] davvd commented on #655
@krzyk too many tasks (11) are active in the project already, can't assign new ones

[2016-02-05 10:30] davvd commented on #666
@krzyk there too many active tasks (11) already in the project, can't assign more

[2016-02-05 10:30] davvd commented on #664
@krzyk too many tasks already active in the project (11), can't have more

[2016-02-05 10:31] davvd commented on #690
@krzyk I tagged this as "bug"

[2016-02-05 10:31] davvd commented on #689
@krzyk tagged this issue with "bug"

[2016-02-05 10:31] davvd commented on #688
@krzyk I added `bug` tag to this ticket

[2016-02-05 10:31] davvd commented on #662
@krzyk tag "bug" added

[2016-02-05 10:39] davvd commented on #604
@krzyk Thanks all, I am closing

[2016-02-05 10:39] #604 closed

[2016-02-05 10:44] davvd commented on #604
@krzyk Thanks a lot, I just topped your account for **50 mins**, transaction ID `76556830`, total time was 571 hours and 21 mins; here is how the bonus is calculated: t=590, c=148, h=4126, diff=0.15..master; +50 added to your rating, current score is: [+5107](http://www.netbout.com/b/35035?open=rating)

[2016-02-05 10:44] davvd commented on #648
@krzyk Much appreciated! **1 hour** was added to your account, payment ID `76556844`, time spent is 2 hours and 22 mins

the bonus for fast delivery (m=142)

added +60 to your rating, now it is equal to [+5167](http://www.netbout.com/b/35035?open=rating)

[2016-02-05 10:44] davvd commented on #653
@jimdeanspivey thank you, added **30 mins** to your acc, payment num is `56b47c89accb8b18c900015b`, 137 hours and 55 mins spent in total to complete; +30 added to your rating, at the moment it is: [+68](http://www.netbout.com/b/36321?open=rating)

[2016-02-05 10:49] davvd commented on #669
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 56b47e11124da00e3900006a

[2016-02-05 10:52] HDouss commented on #653
@davvd Could you please give a reason for:

[2016-02-05 11:12] krzyk commented on #572
@davvd this is postponed

[2016-02-05 12:26] vkuchyn commented on #646
@mkordas Fixed at #665

[2016-02-05 12:29] krzyk commented on #144
@yegor256 ping

[2016-02-05 13:19] davvd commented on #572
@krzyk thanks, I added "postponed" label

[2016-02-05 13:19] davvd commented on #572
@krzyk I will ask somebody else to pick this up

[2016-02-05 13:25] davvd commented on #668
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 56b4a2a5c1b21914ae00000c

[2016-02-05 16:19] mkordas commented on #646
@vkuchyn thx

[2016-02-05 16:19] #646 closed

[2016-02-05 18:06] Happy-Neko commented on #659
@krzyk yes.

[2016-02-05 18:46] krzyk commented on #411
@davvd this is not postponed

[2016-02-05 18:47] krzyk commented on #666
@davvd assign @mkordas

[2016-02-05 18:54] krzyk commented on #659
@Happy-Neko We have to wait a bit for other tasks to complete, as we now have a limit of simultaneously assigned tasks.

[2016-02-05 19:41] krzyk commented on #691
@simonjenga please update the issue description with your OS/Maven data, and it is enough to have only one log entry.

[2016-02-05 20:09] krzyk commented on #684
@mkordas Actually we should take excludes from the poms itself (`<exclude>` sections), I'm not sure if that is possible, will need some reading. Could you add that to the description?

[2016-02-05 21:31] xupyprmv opened #692 "Unexpected `MissingBreakInSwitch` for case: one switch inside another switch"
Here is an example:

[code]

PMD validator result:

`A switch statement does not contain a break (MissingBreakInSwitch)`

This is wrong result.

[2016-02-05 22:35] yegor256 commented on #666
+1

[2016-02-05 22:52] mkordas commented on #684
@krzyk description adjusted

[2016-02-06 04:02] krzyk commented on #144
@yegor256 does #677 solve the problem?

[2016-02-06 04:02] krzyk commented on #686
@yegor256 ping

[2016-02-06 06:04] simonjenga commented on #691
@krzyk I have already provided you with that.

[2016-02-06 06:33] krzyk commented on #691
@simonjenga Yes, but in the comments, issue description is not very readable right now. Please leave there only the stack trace, os/maven version, tmp directly name, maven command. The rest move to an attachment.

[2016-02-06 06:34] krzyk commented on #684
@davvd valid bug

[2016-02-06 06:53] simonjenga commented on #691
@krzyk https://gist.github.com/simonjenga/3a3b7e51c4e5e53c74ae

[2016-02-06 09:07] krzyk commented on #691
@simonjenga nice, but I want the description of the issue to be clear, right now it contains only some logs. Description, not comments below.

[2016-02-06 12:05] simonjenga commented on #691
@krzyk See updated comment.
The reason it happens is because this project generates and fills my ```temp``` Dir with a lot of folders ```>500``` and it does not delete them. I have to manually delete them to make the Build to pass.

[2016-02-06 15:42] krzyk commented on #691
@davvd valid bug

[2016-02-06 15:50] krzyk commented on #692
@xupyprmv Yes, it is a problem, but I think that bigger one is that it allows nested switch statements, it shouldn't, just like nested ifs/fors/trys, **nested switch should be forbidden**.
This way you problem won't appear because it won't be allowed.
Could you modify the description to match that?

[2016-02-06 21:29] longtimeago commented on #676
@krzyk experienced the same issue http://www.rultor.com/t/6562-180864098

[2016-02-06 21:49] longtimeago commented on #676
@krzyk `env.excludes("dependencies")` https://github.com/teamed/qulice/blob/6ef5d1056b0ea93144f7d99cfbd4fc829a0c5e9b/qulice-maven-plugin/src/main/java/com/qulice/maven/DependenciesValidator.java#L66
returns a collection with nulls.
For example, we have qulice config
[code]
In this case `excludes` content is ```[null, null, null]```

[2016-02-07 08:09] xupyprmv commented on #692
@krzyk ticket caption and description was updated.

[2016-02-07 10:48] krzyk commented on #692
@xupyprmv thanks

[2016-02-07 10:49] krzyk commented on #692
@davvd valid bug

[2016-02-07 10:50] krzyk commented on #630
@davvd this is postponed

[2016-02-07 10:54] krzyk commented on #623
@gumbelmj please add reference to the pull requests here

[2016-02-07 10:56] krzyk commented on #639
@jrdalpra how is the work going, need any help?

[2016-02-07 14:34] jrdalpra commented on #639
I was working on another issue. I'll work on this one tomorrow. Thanks.

[2016-02-07 15:02] caarlos0 opened #693 "Findbugs exclusions doesn't work in the same pattern as others"
In `pom.xml`, excluding singular files from findbugs like we do for checkstyle, for example, doesn't seem to work:

[code]

While excluding the entire project does work:

[code]

And excluding singular files in this notation also work:

[code]

This is rather confusing.

We could warn/error user if the user uses slashes in the exclude and print an example exclude to show how they should look like.

[2016-02-07 15:27] caarlos0 opened #694 "FindBugs needs the project to be re-compiled to update the results"
If I run `mvn qulice:check`, for example, I will get the list of issues.

Supposing I have one FindBugs issue to fix.

I fix it, and run `mvn qulice:check` again. But the issue still there. It only goes away if I run `mvn clean install qulice:check`.

This workflow works well for PMD and Checkstyle

For findbugs, if latest modification time of `*.java` files is newer then the oldest modification t

[2016-02-07 15:29] krzyk commented on #694
@caarlos0 Yes, FindBugs works on compiled classes that's why it need the project to be compiled.
Do you have an idea on which page it should be mentioned?

[2016-02-07 15:31] caarlos0 opened #695 "XML validator works different depending on maven command"
In some projects, if I run `mvn clean install qulice:check`, no errors are found, as expected.

But, if I run `mvn qulice:check` only, XML Validator goes nuts and complain about some XMLs, suggesting patches like this:

[code]

Should both command lines give the same results?

[2016-02-07 15:35] caarlos0 commented on #694
@krzyk yeah, I figured that out...

Maybe in the project README? Or in FAQ? I'm not really sure..

[2016-02-07 15:47] krzyk commented on #694
@caarlos0 see http://www.qulice.com/qulice-maven-plugin/example-exclude.html, the findbugs part

[2016-02-07 15:48] krzyk commented on #693
@caarlos0 see http://www.qulice.com/qulice-maven-plugin/example-exclude.html, the findbugs part

[2016-02-07 15:50] caarlos0 commented on #693
@krzyk yeah... but I still think we should do something more about it.

For example, we could detect the `/` on the findbugs exclusions and print the link to the user, or maybe convert it automatically to the findbugs notation...

What you do you think?

[2016-02-07 15:50] krzyk commented on #639
@jrdalpra there is a more important issue (#676) could I switch you to that one?

[2016-02-07 15:53] krzyk commented on #693
@caarlos0 it is not much a notation, but a fully qualified name of the class, this class can be in different directories, e.g. in main, or in test. I'm not sure if there is a clean way to convert it.
We could warn/error user if he uses slashes in the exclude and print how example exclude should look like.

[2016-02-07 15:54] krzyk commented on #676
@longtimeago oops, I'll try to find a volunteer as soon as davvd will allow another issue assigned.

[2016-02-07 15:56] longtimeago commented on #676
@krzyk thanks, hope to see it resolved soon :)

[2016-02-07 16:19] krzyk commented on #639
@davvd this is postponed

[2016-02-07 16:19] krzyk commented on #676
@davvd this is urgent

[2016-02-07 16:22] krzyk commented on #695
@caarlos0 this will be handled by #684.
What you see is result of the fact that pom.xml excludes are not read if `mvn qulice:check` is run, and latest jcabi-parent has xml checks excluded.

[2016-02-07 16:50] caarlos0 commented on #695
@krzyk OK then, tnx

[2016-02-07 16:50] #695 closed

[2016-02-07 17:02] caarlos0 commented on #693
@krzyk works for me

[2016-02-07 17:19] krzyk commented on #694
@caarlos0 other option that I think of is to compare modification dates of java files and matching class files. If latest modification time of *.java files is newer then the oldest modification time of *.class file it should "[WARN] Sources need to be recompiled for FindBugs check to work correctly"?

[2016-02-07 17:21] krzyk commented on #693
@caarlos0 OK, please update the description with this desired solution.

[2016-02-07 18:42] caarlos0 commented on #694
@krzyk Wonderful idea!

[2016-02-07 18:43] caarlos0 commented on #693
@krzyk done

[2016-02-07 18:52] krzyk commented on #694
@caarlos0 could you update issue description with that?

[2016-02-07 18:52] krzyk commented on #693
@davvd valid bug

[2016-02-07 20:15] caarlos0 commented on #694
@krzyk done

[2016-02-07 20:24] jrdalpra commented on #639
@krzyk sure. Give to me.

[2016-02-07 21:00] krzyk commented on #694
@davvd valid bug

[2016-02-08 00:00] guiandmag commented on #656
@davvd I have no tasks assigned for me right now.

[2016-02-08 09:44] davvd commented on #411
@krzyk got it, "postponed" tag removed from here

[2016-02-08 09:44] davvd commented on #630
@krzyk sure, thanks, I added "postponed" label to it

[2016-02-08 09:44] davvd commented on #630
@krzyk right, I will find someone else, no problem

[2016-02-08 09:44] davvd commented on #639
@krzyk got it, "postponed" label here

[2016-02-08 09:44] davvd commented on #639
@krzyk right, I will find someone else, no problem

[2016-02-08 09:44] davvd commented on #666
@krzyk OK @mkordas please go ahead, this task is yours

[2016-02-08 09:44] davvd commented on #676
@krzyk got it, "urgent" label here

[2016-02-08 09:45] davvd commented on #694
@krzyk I just added bug tag here

[2016-02-08 09:45] davvd commented on #693
@krzyk I tagged this as "bug"

[2016-02-08 09:45] davvd commented on #691
@krzyk I tagged this as "bug"

[2016-02-08 09:45] davvd commented on #692
@krzyk tag bug added to this issue

[2016-02-08 09:45] davvd commented on #684
@krzyk tag "bug" added

[2016-02-08 09:49] davvd commented on #667
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56b864b6d4cb554bb1000034`

[2016-02-08 10:25] mkordas commented on #666
@davvd please see PR #680

[2016-02-08 11:25] davvd commented on #666
@mkordas will take a look, thanks

[2016-02-08 11:37] davvd commented on #676
@vkuchyn it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-08 11:37] davvd commented on #686
@krzyk there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

some tasks are stuck: #144 (710 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their performers to

[2016-02-08 11:37] davvd commented on #666
@krzyk thanks a lot for reporting, **30 mins** added to your acc, pmt ID `76668899`

[2016-02-08 12:34] vkuchyn commented on #646
@davvd Pls, mark ticket as closed and proceed with payment. Thank you

[2016-02-08 12:41] vkuchyn commented on #676
@davvd Links you provided are not valid - 404 status code. Use [out principles](http://www.yegor256.com/2014/04/17/how-xdsd-is-different.html) and [DoD](http://www.yegor256.com//2014/04/15/definition-of-done.html) instead

[2016-02-08 13:22] krzyk commented on #686
@yegor256 Can the "stuck algorithm" be updated to take into account when the task was assigned, not when it was reported? In projects with large backlog (here there are issues that have even 3 years) it is discouraging to receive negative points for fixing old bugs/enhancements.
Right now I'm encouraged to mark all issues older than 20 days as postponed indefinitely.

[2016-02-08 14:22] gumbelmj commented on #623
@krzyk I updated pull request #685 to count the number of semi-colons instead of the number of lines.  I also added another test case.

[2016-02-08 14:28] jrdalpra commented on #639
@davvd <https://github.com/davvd> @krzyk <https://github.com/krzyk> Is the
task mine or not? Thanks.

--
José Volmei Dal Prá Junior - (49) 9112 9359
Bacharel em Ciência da Computação - UnoChapecó
Pós-Graduado em Desenvolvimento de Software Com Java - Unoesc Xxe
Consultor Java e TotalCross
https://github.com/jrdalpra
http://www.kombo.com.br/meucurriculo/jrdalpra
http://www.linkedin.com/in/jrdalpra

[2016-02-08 14:38] krzyk commented on #639
@jrdalpra this one no, it's a minor one. Let's wait for new assignment

[2016-02-08 14:48] krzyk commented on #411
@davvd assign @mkordas

[2016-02-08 15:21] krzyk commented on #675
@davvd this is urgent

[2016-02-08 15:50] krzyk commented on #656
@davvd this is urgent

[2016-02-08 16:10] gumbelmj commented on #623
@HDouss this has been merged again. Are you satisfied with the code now?

[2016-02-08 16:29] mkordas commented on #666
@krzyk done in PR #680, please close

[2016-02-08 16:41] HDouss commented on #623
@gumbelmj Thanks

[2016-02-08 16:41] #623 closed

[2016-02-08 19:59] krzyk commented on #666
@mkordas thanks

[2016-02-08 19:59] #666 closed

[2016-02-08 20:53] krzyk commented on #655
@davvd assign @mkordas

[2016-02-09 05:01] yegor256 commented on #144
@krzyk thanks!

[2016-02-09 05:01] #144 closed

[2016-02-09 07:12] davvd commented on #411
@krzyk there are already 11 active tasks in the project, we can't have more

[2016-02-09 07:12] davvd commented on #656
@guiandmag you will have them soon

[2016-02-09 07:12] davvd commented on #656
@krzyk OK, I put "urgent" label here

[2016-02-09 07:12] davvd commented on #655
@krzyk there are already 11 active tasks in the project, we can't have more

[2016-02-09 07:12] davvd commented on #675
@krzyk OK, I put "urgent" label here

[2016-02-09 07:24] davvd commented on #664
@krzyk thanks for reporting! I topped your account for 30 mins, transaction 77006983

[2016-02-09 08:07] HDouss commented on #653
@davvd Could you please explain why I haven't been paid for reporting this bug ? Thanks.

[2016-02-09 08:32] krzyk commented on #411
@davvd could you list the "active tasks", I see only 7 active (3 pull requests and 4 issues).

[2016-02-09 09:43] mkordas opened #697 "Reduce amount of download progress logs"
When looking at the sample execution logs on Travis ([sample](https://s3.amazonaws.com/archive.travis-ci.org/jobs/107977544/log.txt)) there's a lot of entries regarding downloading dependencies.

Let's reduce size of logs by running Maven in `batch-mode` both for Travis and Rultor. Moreover, we should get rid of `Downloading`/`Downloaded` logs (also in Maven Invoker tests). Hint: http://stackoverf

[2016-02-09 09:49] davvd commented on #646
@vkuchyn Thanks for your contribution, **30 mins** was added to your account, payment ID is `77011445`, 264 hours and 58 mins spent total; +30 to your rating, your total score is [+45](http://www.netbout.com/b/36353?open=rating)

[2016-02-09 09:49] davvd commented on #656
@dskalenko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2016-02-09 09:49] davvd commented on #675
@vkuchyn please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-09 09:49] davvd commented on #663
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 56b9b63594e5fa6e54000331

[2016-02-09 12:17] krzyk commented on #697
@davvd valid bug

[2016-02-09 12:18] davvd commented on #660
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56b9d90fe357d530ee000206`

[2016-02-09 20:53] vkuchyn commented on #676
@kujtimiihoxha Fixed at #696

[2016-02-09 20:58] krzyk commented on #686
@rultor release tag is `0.16.1`

[2016-02-09 20:58] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-182064819)

[2016-02-09 21:02] kujtimiihoxha commented on #676
@vkuchyn Thanks

[2016-02-09 21:14] vkuchyn commented on #676
@kujtimiihoxha Please, close the ticket if you don't mind. These changes will be in next release (0.17 I guess) or you can try to build plugin from the sources and try it on your project

[2016-02-09 21:23] mkordas commented on #639
@jrdalpra

Please update your comment with a name tag.

[2016-02-09 21:33] #676 closed

[2016-02-09 21:34] krzyk commented on #676
@vkuchyn @kujtimiihoxha it will be in 0.16.1, which will be released in about an hour

[2016-02-09 22:04] rultor commented on #686
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6905-182064819) (took me 1hr)

[2016-02-10 06:25] longtimeago commented on #676
@krzyk thank you for the fast turnaround! :)

[2016-02-10 08:22] davvd commented on #653
@hdouss @yegor256 please help us here

[2016-02-10 08:22] davvd commented on #676
@vkuchyn they both work for me... try to check again

[2016-02-10 08:22] davvd commented on #697
@krzyk tag "bug" added

[2016-02-10 08:22] davvd opened #699 "DefaultMavenEnvironmentTest.java:136-143: Ideally integration test is required..."
Puzzle `676-be080182` in `qulice-maven-plugin/src/test/java/com/qulice/maven/DefaultMavenEnvironmentTest.java:136-143` has to be resolved: Ideally integration test is required to reproduce NPE in issue #676. To reproduce problem firstly revert changes marked with #676, then add to pom.xml of IT project at least one exclude rule in configuration.excludes block and dependency (in my case worked org.

[2016-02-10 08:23] davvd commented on #411
@longtimeago once `411-71c8871e` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-02-10 08:23] davvd commented on #676
@kujtimiihoxha there is a puzzle in this code `676-be080182`/#699, we'll resolve it later

[2016-02-10 08:27] davvd commented on #144
@krzyk Thank you, I have added **30 mins** to your account in payment/transaction "`77096891`", time consumed: 119 hours and 59 mins. +30 to your rating, your total score is [+5551](http://www.netbout.com/b/35035?open=rating)

[2016-02-10 08:27] davvd commented on #623
@gumbelmj Thank you, I have added **30 mins** to your account in payment/transaction "`AP-61V51661VF813222P`", time consumed: 261 hours and 29 mins... +30 added to your rating, at the moment it is: [-30](http://www.netbout.com/b/36306?open=rating)

[2016-02-10 08:27] davvd commented on #666
@mkordas Thanks so much! Your account was topped up for **1 hour** (transaction ID is `56baf3f4c26808321c0001fd`, the task took 21 hours and 25 mins)

the bonus for fast delivery (m=1285)

+60 added to your rating, at the moment it is: [+5620](http://www.netbout.com/b/36080?open=rating)

[2016-02-10 08:27] davvd commented on #699
@dskalenko please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](http

[2016-02-10 08:29] davvd commented on #659
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 56baf4f700d77d5e2f00038e

[2016-02-10 09:08] krzyk commented on #655
@davvd assign @mkordas

[2016-02-10 13:48] davvd commented on #655
@krzyk yep, done. @mkordas it is your task now

[2016-02-10 13:48] davvd opened #700 "CheckstyleValidatorTest.java:383-387: Sample code provided in #411..."
Puzzle `411-71c8871e` in `qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java:383-387` has to be resolved: Sample code provided in #411 should be considered as invalid. Find a way how to do that by either custom check, or updating Checkstyle whenever IndentationCheck there will be more reliable. As for Checkstyle 6.15 there's no ready solution for that. Right now Qul

[2016-02-10 13:57] davvd commented on #675
@krzyk many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `77111221`

[2016-02-10 20:11] krzyk commented on #655
@mkordas please add reference to the PR

[2016-02-10 20:29] mkordas commented on #655
@davvd please see PR #682

[2016-02-10 20:30] mkordas commented on #655
@krzyk done in #682, please close the issue

[2016-02-10 20:31] krzyk commented on #655
@mkordas thanks

[2016-02-10 20:31] #655 closed

[2016-02-10 20:41] krzyk commented on #572
@davvd this is not postponed

[2016-02-10 20:41] krzyk commented on #572
@davvd assign @krzyk

[2016-02-10 22:01] krzyk commented on #675
@vkuchyn it is a good practice to add reference to the PR, even before it was merged

[2016-02-10 22:19] #675 closed

[2016-02-11 07:09] krzyk commented on #649
@prahladyeri 10 days have passed already, can you solve this one in 1 day? If not I will have to reassign.

[2016-02-11 07:11] krzyk commented on #660
@davvd this is urgent

[2016-02-11 07:33] prahladyeri commented on #649
@krzyk Please reassign. I'm busy with some other stuff, presently.

[2016-02-11 07:35] krzyk commented on #649
@davvd this is postponed

[2016-02-11 07:44] davvd commented on #572
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-02-11 07:44] davvd commented on #572
@krzyk there are already 10 active tasks in the project, we can't have more

[2016-02-11 07:44] davvd commented on #655
@mkordas thanks, will take a look

[2016-02-11 07:48] davvd commented on #690
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `56bc3cd8af2b945b29000458`

[2016-02-11 09:36] krzyk commented on #656
@dskalenko How is the work going, do you need any help?

[2016-02-11 09:55] dskalenko commented on #656
@krzyk Thanks for asking,  all clear and I don't need help, thanks, will push my changes today

[2016-02-11 10:48] mkordas opened #701 "Duplicated PMD and Checkstyle checks for multiple string literals"
When Java file contains on purpose multiple string literals (e.g. while building XML or in tests), they can be suppressed as follows:
[code]
However, if methods contains at least 4 occurrences of some particular string, there is both Checkstyle and PMD violation:
[code]
I suggest removing Checkstyle rule and leaving just PMD one, as it has more convenient AST suppressions. We need to reconfigure P

[2016-02-11 10:58] davvd commented on #649
@krzyk sure, thanks, I added "postponed" label to it

[2016-02-11 10:58] davvd commented on #649
@krzyk all right, we'll find someone else for this task

[2016-02-11 10:58] davvd commented on #660
@krzyk right, I added "urgent" label

[2016-02-11 11:07] davvd commented on #676
@vkuchyn done, I added **45 mins** in payment `77163415`, 44 hours and 45 mins spent to complete this; the bonus for fast delivery (m=2685); +45 added to your rating, at the moment it is: [+90](http://www.netbout.com/b/36353?open=rating)

[2016-02-11 11:08] davvd commented on #689
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `56bc6bab074f1370ad00010f`

[2016-02-11 12:40] krzyk commented on #701
@mkordas let's go with PMD rule

[2016-02-11 12:40] krzyk commented on #701
@davvd valid bug

[2016-02-11 17:07] dskalenko commented on #656
@davvd here is the PR https://github.com/teamed/qulice/pull/702

[2016-02-12 02:02] original-brownbear commented on #660
Suggest solution her  #703 :)

[2016-02-12 07:11] krzyk commented on #660
@davvd this is not urgent

[2016-02-12 07:16] simonjenga opened #704 "static analysis on individual java files"
Is it possible for this project to execute static analysis on individual java files in a project?
A Software Developer may be working on a very huge java project and has added ONLY four files:

[code]

Is it possible to carry out static analysis (one file at a time) on ONLY these four individual java files that have been created?

Is there such a command: ```mvn clean -Pqulice=SimpleInterfaceMocke

[2016-02-12 07:19] davvd commented on #701
@krzyk I just added bug tag here

[2016-02-12 07:22] davvd commented on #660
@vkuchyn please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-02-12 07:23] davvd commented on #688
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 56bd885307e57a0f16000119

[2016-02-12 07:38] krzyk commented on #660
@vkuchyn please don't start work on this, we already have an outside PR for this one, let's see if we can make it better

[2016-02-12 07:38] krzyk commented on #660
@davvd this is postponed

[2016-02-12 09:38] davvd commented on #660
@krzyk got it, "urgent" tag removed from here

[2016-02-12 09:38] davvd commented on #660
@krzyk got it, "postponed" label here

[2016-02-12 09:38] davvd commented on #660
@krzyk right, I'll try to find someone else for this task

[2016-02-12 09:51] davvd commented on #675
@vkuchyn I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2016-02-12 09:54] davvd commented on #655
@mkordas **1 hour** sent to your balance (ID `56bdab4a07e57a25440001f3`), many thanks! It took 17 hours and 55 mins.; there is a bonus for fast delivery (m=1075); +60 added to your rating, current score is: [+6094](http://www.netbout.com/b/36080?open=rating)

[2016-02-12 09:55] davvd commented on #662
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56bdac20dd526255ca0001b1`

[2016-02-12 10:31] krzyk commented on #675
@vkuchyn you have to always inform David about PR in the issue you are solving, and after it was merged ask issue creator to close IT (unless creator notices it earlier, like in this case).  After you add the reference, please ask davdd for payment.

[2016-02-12 12:25] krzyk opened #705 "Type parameter descriptions should start with uppercase letter"
Following description is wrong:
[code]

The `@param` part should start with uppercase letter:
[code]

Add such check for both class and method type parameters.

[2016-02-12 12:25] krzyk commented on #705
@davvd valid bug

[2016-02-12 13:42] davvd commented on #705
@krzyk I just added bug tag here

[2016-02-12 13:47] davvd commented on #694
@caarlos0 thanks for reporting! I topped your account for 15 mins, transaction 56bde272e626e91318000053

[2016-02-12 16:09] krzyk commented on #686
@yegor256 I still need a list of issue you want to solve in 0.17

[2016-02-12 16:18] mkordas commented on #705
@krzyk I'd like to work on it after it will be marked by @davvd as bug

[2016-02-12 16:25] krzyk commented on #705
@mkordas we could try if the number of tasks is low enough in the project. Also I will need to wait for the bug report to be paid, if I close to early I don't.

[2016-02-12 17:20] vkuchyn commented on #675
@davvd Issue was fixed, see #698. Please, proceed payments

[2016-02-12 18:04] mkordas commented on #705
@krzyk sure, let's wait

[2016-02-12 19:48] yegor256 commented on #686
@krzyk the algorithm is fixed. try it and report back if you still see problems with it.

[2016-02-12 19:53] yegor256 commented on #670
@mkordas to be honest, I like this more:

[code]

Isn't it better than:

[code]

What do you think?

[2016-02-12 20:01] mkordas commented on #670
@yegor256 agreed, I also prefer the first version more. Can you please update your blog?

[2016-02-12 20:04] yegor256 commented on #670
@mkordas well, my formatting is NOT against the rule suggested in the blog. we still open the bracket on the same line where we close it. right?

[2016-02-12 20:05] yegor256 commented on #670
@mkordas I think the rule here should be: "put as much code as possible on one line, provided you don't violate the paired brackets rule"

[2016-02-12 20:08] mkordas commented on #670
@yegor256 yes, it's not breaking paired brackets rule, but it's against example:
![image](https://cloud.githubusercontent.com/assets/5467276/13018916/b598dc22-d1cc-11e5-9b68-58429b525ad9.png)
I like NEW rule.

[2016-02-12 20:10] yegor256 commented on #670
@mkordas yes, in that example it's done this way, but it also can be done differently. it's not against the "paired brackets" rule. so, we need a new rule... maybe the one I suggested will work. we need to think about it a bit more and play with examples

[2016-02-12 21:08] krzyk commented on #704
@simonjenga interesting idea, but I think it is doable after #61 is done, and you will need full paths to be specified, this makes it a bit more painful.

It could look like this:
[code]

It looks quite verbose, not sure if anyone would like to enter whole paths.

[2016-02-12 21:10] krzyk commented on #704
@simonjenga Isn't `mvn qulice:check -Pqulice` enough for this? Qulice analysis in comparison with the whole build is quite fast.

[2016-02-12 21:10] krzyk commented on #686
@yegor256 thanks, I'll try it out

[2016-02-12 22:09] krzyk commented on #684
@davvd this is urgent

[2016-02-13 00:37] yegor256 commented on #668
@mkordas rather controvertial idea... but I think I agree

[2016-02-13 00:38] yegor256 commented on #659
@mkordas that's rather harsh, but I like it, let's do it

[2016-02-13 09:05] simonjenga commented on #704
@krzyk The command: ```mvn qulice:check -Pqulice``` is not applicable to all projects:
https://github.com/yegor256/takes/issues/455
https://github.com/jcabi/jcabi-email/issues/27

Providing full paths may look quite verbose but it is better off than the time wasted waiting for a full Maven qulice check to complete.

And BTW, we have something similar in ```Git``` that allows you to provide full pa

[2016-02-13 09:23] krzyk commented on #660
@davvd this is not postponed

[2016-02-13 09:34] mkordas opened #706 "False positive in BED_BOGUS_EXCEPTION_DECLARATION with jcabi-aspects"
The following code:
[code]
Causes `[INFO] >> M C BED: Non derivable method `connect()` declares throwing an exception that isn't thrown`.
However, both interface and `this.socket.connect()` declare `throws IOException', so I consider this as false positive.

Root cause here is annotation from jcabi-aspects on a method that throws correct exception. In that case fb-contrib can't findout that the ex

[2016-02-13 09:36] krzyk commented on #706
@mkordas could you post complete reproducer?

[2016-02-13 09:43] krzyk commented on #704
@simonjenga really? I just tried on a project and it takes 30s to perform analysis, but the whole build takes 10 minutes.

So your problem is that you:
1. have to make the full build for the qulice to work properly
2. qulice:check doesn't work correctly (pom.xml configuration is not taken into account)

Because what you propose (check only few files) will right now still require a full build (whic

[2016-02-13 09:44] krzyk commented on #660
@mkordas changes have been merged to master, please close this issue

[2016-02-13 09:51] simonjenga commented on #704
@krzyk Yes, those are my two main concerns/problems.

What is the best way to go about it? Is it possible for my suggestion to be implemented in this project?
Is it worthwhile doing it?

Why does it have to check everything? Other files were not touched or edited.

[2016-02-13 09:51] mkordas commented on #660
@krzyk @original-brownbear thx

[2016-02-13 09:51] #660 closed

[2016-02-13 10:38] krzyk commented on #704
@simonjenga Yes, it doesn't have to check other files, but this check is relatively quick in comparison to the whole build. That's why I'm reluctant to add complication to the project just to speed things from 30s to 20s. (you have to take into account that starting the whole thing takes some time, so it won't be 1s ever).

Point 2 will be solved in #684

[2016-02-13 10:50] simonjenga commented on #704
@krzyk OK, Thanks.

[2016-02-13 11:06] MojRoid commented on #404
Any news on how to get this to work in Android Studio?

[2016-02-13 12:17] krzyk commented on #704
@simonjenga If #684 will solve your issue, please close this one, thanks.

[2016-02-13 14:39] Happy-Neko commented on #659
@mkordas @yegor256 Sounds unnecessary extreme to me.
Static methods are not synonymous with utility classes. For example static factories are well known and extensively used OOP pattern.

[2016-02-13 14:48] dskalenko opened #707 "Prohibit add comment to the first line of the Javadoc"
Following case should be prohibited by qulice:

[code]
This rule should be applied not only for method, but for everything which may have Javadoc

[2016-02-13 20:38] krzyk commented on #707
@davvd valid bug

[2016-02-13 20:38] krzyk commented on #706
@mkordas ping

[2016-02-13 21:13] krzyk commented on #656
@dskalenko thanks

[2016-02-13 21:13] #656 closed

[2016-02-13 21:21] krzyk commented on #659
@Happy-Neko I don't recall any usages of static factory methods in the teamed code, more over I don't see even public static methods, that are not for use by JUnits `@Before`/`@After`, so prohibiting it is not so extreme.

[2016-02-14 00:41] mkordas commented on #706
@krzyk I'll try to work on isolated reproducer tomorrow

[2016-02-14 00:49] mkordas commented on #659
@Happy-Neko if it will become too extreme, we may consider tuning it down for method matching e.g. the following regexps:
* `valueOf`
* `getInstance`
* `newInstance`
* `create.*`
* `make.*`

What do you think?

[2016-02-14 10:21] krzyk commented on #659
@davvd this is urgent

[2016-02-14 10:27] krzyk commented on #686
@rultor release tag is `0.16.2`

[2016-02-14 10:28] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-183868214)

[2016-02-14 11:44] rultor commented on #686
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6905-183868214) (took me 1hr)

[2016-02-14 13:04] mkordas opened #708 "Require newline between Javadoc contents and at-clauses"
Both [Google Style Guide](https://google.github.io/styleguide/javaguide.html#s7.1.2-javadoc-paragraphs) and [Stephen Colebourne](http://blog.joda.org/2012/11/javadoc-coding-standards.html) recommend to put newline before the group of "at-clauses" if they are present.

In our code we have various approaches, I see some people adding them why others are removing.

According to https://github.com/tea

[2016-02-14 13:06] krzyk commented on #708
@mkordas I'm in the "remove that empty line" crowd :) Unless it is a class comment. So let's see what @yegor256 thinks. Should we enforce an empty line between method description and at-clauses always?

[2016-02-14 13:10] krzyk opened #709 "Upgrade qulice to 0.16.2"
Let's upgrade our own qulice from 0.15.4 to 0.16.2 and:
- remove all unnecessary `transient` keywords.
- remove all LineLength excludes before lines with URLs (e.g. in qulice-checkstyle/src/main/java/com/qulice/checkstyle/JavadocTagsCheck.java)

[2016-02-14 13:10] krzyk commented on #709
@davvd valid bug

[2016-02-14 13:19] mkordas opened #710 "Prohibit empty lines before closing braces"
This check would prevent any amount of empty lines before `}`:
[code]
It is enough to prohibit just `\n\s*\n\s*\}` regexp in codebase.

Rationale: empty lines before closing braces make unnecessarily long while they almost never improve readability.

[2016-02-14 13:27] krzyk commented on #710
@davvd valid bug

[2016-02-14 13:33] mkordas commented on #708
@krzyk yes, let's make one decision and be consistent. Either enforcing or prohibiting this newline works for me

[2016-02-14 13:42] krzyk opened #711 "XML validator should be fixed"
Right now XML validator is quite buggy and enforces strange indentation rules.
Let's fix it so following rules are checked in xml files:
- indentation should be 4 spaces, always (even when attributes are moved to the next line)

correct:

[code]

incorrect:

[code]
- force preambule with encoding tag (`<?xml version="1.0" encoding="UTF-8"?>`)
- prohibit two tags in the same line
  correct:

[code]

[2016-02-14 13:42] krzyk commented on #711
@davvd valid bug

[2016-02-14 13:52] mkordas commented on #706
@krzyk cannot find isolated reproducer, closing for now

[2016-02-14 19:58] Happy-Neko commented on #659
@mkordas I think this is good idea.
Maybe even exclude all static methods that return class (or subclasses) type because these methods are most likely to be factories.

[2016-02-15 09:31] davvd commented on #656
@dskalenko I will take a look, thanks

[2016-02-15 09:31] davvd commented on #660
@krzyk got it, "postponed" tag removed from here

[2016-02-15 09:31] davvd commented on #659
@krzyk got it, "urgent" label here

[2016-02-15 09:31] davvd commented on #675
@vkuchyn thank you!

[2016-02-15 09:31] davvd commented on #684
@krzyk got it, "urgent" label here

[2016-02-15 09:32] davvd commented on #711
@krzyk tag bug added to this issue

[2016-02-15 09:32] davvd commented on #710
@krzyk tagged this issue with "bug"

[2016-02-15 09:32] davvd commented on #709
@krzyk tag bug added to this issue

[2016-02-15 09:32] davvd commented on #707
@krzyk tag "bug" added

[2016-02-15 09:41] davvd commented on #686
@krzyk There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

some tasks are stuck: #572 (39 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

-25 to your rating, your total score is [+5666](http://www.netbout.com/b/35035?open=rating)

[2016-02-15 10:11] krzyk commented on #572
@davvd this is postponed

[2016-02-15 11:04] krzyk opened #712 "Instance fields should be prohibited in Tests"
If a class name ends with `Test` it should not be allowed to have an instance field, unless it is annotated with JUnit annotation (e.g. a `@Rule`).

Incorrect:
[code]

Correct:
[code]

First try to do it using PMD XPath rules (just like `StaticAccessToStaticFields` or `ConstructorOnlyInitializesOrCallOtherConstructors`).

[2016-02-15 11:11] davvd commented on #712
@krzyk I tagged this as "bug"

[2016-02-15 11:15] davvd commented on #659
@vkuchyn please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-02-15 11:15] davvd commented on #684
@guiandmag please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually s

[2016-02-15 12:25] vkuchyn commented on #659
@mkordas shall I include

getInstance
newInstance
create.*
make.*

as task definition, or it was suggestion? If so - please update issue description

[2016-02-15 12:42] mkordas commented on #659
@krzyk can you make a final decision here? Either we can detect factories by names or by return type.

[2016-02-15 13:10] krzyk commented on #659
@mkordas I don't like static factories (and they are not used in teamed.io) and I really hate singletons. So  no excludes (for now).
But there has to be a way to disable this check.

@vkuchyn And I think it might be possible to do it using PMD XPath rules (like `StaticAccessToStaticFields`).

[2016-02-15 13:43] krzyk commented on #712
@davvd valid bug

[2016-02-16 03:03] guiandmag commented on #684
@davvd Ok, one question, this issue involves the Travis configuration to only compile with openjdk7?

[2016-02-16 04:53] yegor256 commented on #708
@mkordas @krzyk I use this rule in all code I write: if there is only one paragraph/line before tags, I don't put empty line. In all other situations I add an empty line. Examples:

[code]

I believe it's logical.

[2016-02-16 06:34] mkordas commented on #708
@yegor256 makes sense, thanks
@krzyk do you agree? should I update description accordingly?

[2016-02-16 07:07] davvd commented on #572
@krzyk thanks, I added "postponed" label

[2016-02-16 07:07] davvd commented on #572
@krzyk right, I'll try to find someone else for this task

[2016-02-16 07:49] simonjenga commented on #704
@krzyk I am closing it for now but this issue may be re-visited and opened again some time later.

[2016-02-16 07:49] #704 closed

[2016-02-16 07:49] krzyk commented on #684
@guiandmag Leave only oracle java.

And more important is this part:

[2016-02-16 08:32] krzyk commented on #657
@davvd this is postponed

[2016-02-16 08:33] krzyk commented on #662
@davvd this is postponed

[2016-02-16 08:33] krzyk commented on #663
@davvd this is postponed

[2016-02-16 08:33] krzyk commented on #664
@davvd this is postponed

[2016-02-16 08:34] krzyk commented on #701
@davvd this is urgent

[2016-02-16 09:42] krzyk commented on #706
@mkordas I think I found when the problem exists. If we have any annotation from jcabi-aspects on a method that throws correct exception, fb-contrib can't findout that the exception is thrown.
AspectJ must be doing some bytecode magic that makes it hard to detect.
I'm wondering how to prevent it (and how to report bug to fb-contrib).
Maybe do another compilation with aspectj disabled.

[2016-02-16 09:56] mkordas commented on #706
@krzyk right, I was trying to reproduce in isolation without these annotations and I couldn't, so now it makes sense. Should I reopen the issue? I think that we should find workaround ASAP or check should be disabled, as it will cause too much noise for some projects (e.g retryable methods usually throw exceptions...)

[2016-02-16 09:57] mkordas commented on #712
@krzyk isn't it dup of #551?

[2016-02-16 10:15] krzyk commented on #712
@mkordas oops, you are right, forgot about that one

[2016-02-16 10:15] krzyk commented on #712
@davvd this is invalid

[2016-02-16 10:15] #712 closed

[2016-02-16 10:15] krzyk commented on #551
@davvd this is not postponed

[2016-02-16 10:15] krzyk commented on #551
@davvd this is urgent

[2016-02-16 10:21] krzyk commented on #706
@mkordas yes, let's reopen it, we need to find a way to workaround it somehow.
By tuning the jcabi-maven-plugin to store the original classes in some directory and run findbugs on them.
I was thinking that we should:
1. check that output directory has a class named `unwoven`, if it does then run FindBugs on it, if it doesn't exist then run it on the output directory.
2. document that behavior and

[2016-02-16 11:14] davvd commented on #657
@krzyk thanks, I added "postponed" label

[2016-02-16 11:14] davvd commented on #657
@krzyk I will assign somebody else to this issue

[2016-02-16 11:14] davvd commented on #664
@krzyk right, I added "postponed" label

[2016-02-16 11:14] davvd commented on #664
@krzyk all right, we'll find someone else for this task

[2016-02-16 11:14] davvd commented on #663
@krzyk right, I added "postponed" label

[2016-02-16 11:14] davvd commented on #663
@krzyk I will try to find someone else

[2016-02-16 11:14] davvd commented on #662
@krzyk got it, "postponed" label here

[2016-02-16 11:14] davvd commented on #662
@krzyk OK, I will try to assign someone else

[2016-02-16 11:14] davvd commented on #701
@krzyk got it, "urgent" label here

[2016-02-16 11:20] davvd commented on #656
@dskalenko thanks, I just added **30 mins** to your account, payment `77677193`, 143 hours and 42 mins spent... +30 added to your rating, current score is: [+30](http://www.netbout.com/b/36376?open=rating)

[2016-02-16 12:57] davvd commented on #551
@krzyk got it, "postponed" tag removed from here

[2016-02-16 12:57] davvd commented on #551
@krzyk right, I added "urgent" label

[2016-02-16 12:57] davvd commented on #712
@krzyk sure, thanks, I added "invalid" label to it

[2016-02-16 13:02] davvd commented on #701
@dskalenko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-02-16 13:03] davvd commented on #693
@caarlos0 thanks for this report, I added 15 mins to your account, in transaction `56c31dfe53fc490ed5000011`

[2016-02-16 16:45] dmzaytsev opened #713 "Allow to use hardcoded IP in unit tests"
There are some projects which heavy use random IP addresses in unit tests.
These projects use the suppression `PMD.AvoidUsingHardCodedIP`.
Let's allow to use hardcoded IP in unit tests

[2016-02-16 18:28] mkordas commented on #706
@krzyk issue reopened, description updated

[2016-02-16 19:02] mkordas opened #714 "Detect multiple unnecessary spaces"
Right now multiple obsolete spaces can only be spotted manually during code review: https://github.com/search?utf8=%E2%9C%93&q=mentions%3Amkordas+%22double+space%22&type=Issues&ref=searchresults

Let's automate that check. Approach from Sevntu Checkstyle's `SingleSpaceSeparator` can be reused: https://github.com/sevntu-checkstyle/sevntu.checkstyle/blob/master/sevntu-checks/src/main/java/com/github

[2016-02-16 19:07] mkordas opened #715 "Enforce usage of diamond operator"
Qulice runs on Java 7 only, so let's add a check to enforce diamond operator usage wherever possible.

[2016-02-16 19:11] mkordas opened #716 "Constants should be on the right side of comparison"
When comparing variables with constants there are two possible approaches:
 <code>if (null == variable)</code>
or
<code>if (variable == null)</code>

Let's enforce the second one, so that constant value (string literal, `null` or number) is on the right side of comparison.

[2016-02-16 19:13] mkordas opened #717 "Enforce enum values naming convention"
Right now Qulice allows any name for enum constant:
[code]
As these are constants, we should allow the same pattern as for `static final` fields.

[2016-02-16 19:48] krzyk commented on #716
@davvd valid bug

[2016-02-16 20:58] krzyk commented on #715
@davvd valid bug

[2016-02-16 20:59] krzyk commented on #714
@davvd valid bug

[2016-02-16 21:00] krzyk commented on #717
@davvd valid bug

[2016-02-16 21:00] mkordas commented on #634
@krzyk do you know what I did wrong here? @davvd forgot about this one

[2016-02-16 21:00] krzyk commented on #706
@davvd valid bug

[2016-02-16 21:00] krzyk commented on #706
@davvd this is urgent

[2016-02-16 21:04] krzyk commented on #708
@mkordas yes

[2016-02-16 21:11] krzyk commented on #634
@davvd you forgot to add payment to @mkordas

[2016-02-16 21:13] krzyk commented on #713
@davvd valid bug

[2016-02-16 21:38] mkordas opened #718 "Detect unnecessary semicolons at the end of class, method or constructor definitons"
We tend to have in our code some obsolete semicolons, e.g.:
- `com/netbout/client/cached/CdInbox.java:112`
- `org/takes/facets/fallback/FbStatusTest.java:81`
- `com/jcabi/http/mock/MkQueryHeaderMatcher.java:82`
- `com/jcabi/github/RtContents.java:191`

Let's detect them automatically.

Sample code with violations:

[code]

[2016-02-16 21:43] krzyk commented on #718
@davvd valid bug

[2016-02-17 08:33] mkordas opened #719 "StaticAccessToStaticFields should be disabled for static initializers"
Qulice complains on the code below with `Static fields should be accessed in a static way [CLASS_NAME.FIELD_NAME]. (StaticAccessToStaticFields)`:
[code]

However, the following code doesn't compile (`Reproducer.java error: cannot assign a value to final variable A`):
[code]

Let's disable this check for static initializers.

[2016-02-17 08:39] mkordas commented on #708
@krzyk updated

[2016-02-17 10:50] krzyk commented on #719
@davvd valid bug

[2016-02-17 10:50] krzyk commented on #708
@davvd valid bug

[2016-02-17 15:31] krzyk commented on #324
@krzyk this is out of scope of qulice project

[2016-02-17 15:31] #324 closed

[2016-02-17 15:31] krzyk commented on #322
@krzyk this is out of scope of qulice project

[2016-02-17 15:31] #322 closed

[2016-02-17 15:31] krzyk commented on #323
@krzyk this is out of scope of qulice project

[2016-02-17 15:31] #323 closed

[2016-02-19 04:08] yegor256 commented on #706
@krzyk +1

[2016-02-19 04:11] yegor256 opened #720 "NPE in com.qulice.maven.DependenciesValidator"
I'm getting this, in version 0.16:

[code]

Don't know how to reproduce :(

[2016-02-19 04:19] yegor256 commented on #720
@krzyk actually, I know how to reproduce. just check out this branch: https://github.com/sttc/java-sdk/pull/18 it doesn't build because of this bug

[2016-02-19 06:30] krzyk commented on #720
@yegor256 it was fixed in 0.16.1 (see #676)

[2016-02-19 06:40] krzyk commented on #706
@yegor256 it would be easier to fix it with jcabi/jcabi-maven-plugin#45

[2016-02-19 06:41] krzyk commented on #670
@davvd this is postponed

[2016-02-19 06:42] krzyk commented on #669
@davvd this is postponed

[2016-02-19 06:42] krzyk commented on #686
@yegor256 do you have som preferences for 0.17?

[2016-02-19 09:55] vkuchyn commented on #675
@davvd issue was fixed 7 days ago, but still no payments. Please, recheck status of it.

[2016-02-19 13:15] vkuchyn commented on #659
@krzyk we have conflict here with rule NonStaticMethodCheck. Now build fails or from new rule - prohibit public static methods, or from another one - make method static if no this reference. How to exclude NonStaticMethodCheck rule for IT projects to make build stable?
For sure, we need to allow public methods without reference to this be non static. Shall I report a bug on it, or make puzzle?

[2016-02-19 13:30] vkuchyn commented on #659
@davvd I am blocked with problem described [here](https://github.com/teamed/qulice/issues/659#issuecomment-186208756)

[2016-02-19 18:34] mkordas opened #721 "Enforce spaces around colon in an enhanced for statement"
Right now Qulice accepts the following code:
[code]
I need to manually point it out during code reviews.

Let's enforce spaces around colon in foreach statements:
[code]
This is also recommendation in [Google Style Guide](https://google.github.io/styleguide/javaguide.html#s4.6.2-horizontal-whitespace).

[2016-02-19 20:07] dskalenko commented on #699
@davvd here is the PR #722

[2016-02-19 20:17] krzyk commented on #659
@vkuchyn which ITs make this test fail? do they have public methods that are not junit annotated?

[2016-02-19 20:22] krzyk commented on #721
@davvd valid bug

[2016-02-19 23:00] yegor256 commented on #686
@krzyk I don't think so... just pick what you think is the most interesting/important

[2016-02-19 23:03] yegor256 commented on #720
@krzyk sorry, my fault. thanks

[2016-02-19 23:03] #720 closed

[2016-02-20 04:51] vkuchyn commented on #659
@krzyk Failed next IT projects:
- pmd-violations, see [Java file](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/it/pmd-violations/src/main/java/com/qulice/foo/Violations.java)
- dependency-violations, see [Java file](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/it/dependency-violations/src/main/java/com/qulice/foo/Sample.java)
- dependency-violations-

[2016-02-20 07:23] krzyk commented on #659
@vkuchyn but IT tests are already excluded in qulice-maven-plugin https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/pom.xml#L373-L374

[2016-02-20 07:29] krzyk commented on #659
@vkuchyn you could exclude PMD or checkstyle check from the ITs that fail, not sure which one fails for you and you can add excludes directly in the code. It is OK if you don't test that particular check. (using `@checkstyle NonStaticMethod (2 lines)`) or just add usage of instance methods, or convert it to private statics, it all depends on particular case.

[2016-02-20 14:38] vkuchyn opened #724 "Allow public nonstatic methods without references to this object"
In task #659 a new rule was added to prohibit public static methods.
From other side in checkstyle rules we have NonStaticMethod that requires make method static if there are no references to this object.
This is conflict of rules and may confuse developer.
My proposition - modify NonStaticMethodCheck class to allow non static public methods if method has no references to this object.
Example:
Val

[2016-02-20 14:44] vkuchyn commented on #659
@davvd Please, find someone for review #723

[2016-02-20 14:48] krzyk commented on #724
@vkuchyn I don't think this is common to have a public method that doesn't depend on the state in teamed.io projects. What you have are just simple methods that should be private and static.
If it is an object it should have methods that depend on its state, if not then such method should be moved somewhere more appropriate.

[2016-02-21 09:31] krzyk commented on #713
@yegor256 could you check on @davvd? We are waiting 5 days already for the issue to be marked as bug, I would like to avoid getting negative points for that.

[2016-02-21 09:47] krzyk opened #725 "Qulice should use source level 1.7"
Qulice requires JDK 1.7 to run (FindBugs and PMD requirement), but we are still using source code level 1.6 inherited from jcabi-parent.
Let's compile the whole project using java 1.7 and:
1. use diamond operator in all places where new collection classes are created (make sure to remove potential LineLength suppressions or join lines that were wrapped because of the generic parameters)
2. Replace

[2016-02-21 09:50] mkordas commented on #725
@krzyk I'm interested in doing that after @davvd will fully process it.

[2016-02-21 09:54] krzyk commented on #725
@davvd valid bug

[2016-02-21 09:54] krzyk commented on #725
@mkordas OK

[2016-02-21 10:05] krzyk opened #726 "Arrays.asList with a single argument should be Collections.singletonList"
`Arrays.asList` with just a single argument wastes memory and is less performant than `Collections.singletonList`.
Let's create a check that will detect such cases.
Please first consider using PMD XPaths (like the ones we have in rules.xml) and only then try to create a code level (either Checkstyle or PMD check) check.

[2016-02-21 10:05] krzyk commented on #726
@davvd valid bug

[2016-02-21 19:33] dskalenko commented on #701
@davvd here is the PR #727

[2016-02-21 22:17] mkordas opened #728 "Qulice allows comma at the beginning of line"
Right now Qulice does not complain on the following:
[code]
Let's disallow such comma placement. Google Java Style Guide says:

[2016-02-21 22:24] mkordas opened #729 "Image files should not be analyzed"
Qulice attempts to analyze all files in repository. This is fine approach, but we should not require e.g. empty line at the end of image file.

Please exclude at least the following types from Checkstyle analysis: `ico`, `gif`, `png`, `jpg`.

[2016-02-22 13:36] dskalenko commented on #699
@davvd need more time for code review

[2016-02-22 15:40] vkuchyn opened #730 "Exclude MultipleStringLiterals for tests"
This [article](http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#redundant-constants)  says:

Now we have rule MultipleStringLiterals that requires to introduce string to constant. This forces developer to extract constant that breaks concept of test independence.
Moreover, let's make another rule to check test independence. It should violate if test method has reference to tes

[2016-02-22 17:59] mkordas commented on #730
@vkuchyn we cannot disable that check because of http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#test-data-coupling.
Regarding constants - agreed that test data should not be stored in constants, but they also have different purposes.

[2016-02-22 18:00] mkordas opened #731 "Do not require capital letters for '@return' and '@param' tags"
Right now Qulice always demands capital letter after `@return` and `@param`. I propose to disable these checks, as they are contradicting with what Oracle suggests at http://www.oracle.com/technetwork/java/javase/documentation/index-137868.html#@param that there are different styles.

The rule is especially not applicable to return tags, e.g. Qulice now requires strange
[code]
instead of just
[cod

[2016-02-22 18:28] mkordas opened #732 "Check formatting of POM file"
Currently Qulice demands proper formatting for XML files. However, this check is not active for incorrectly formatted `pom.xml` in root directory. Let's make sure that this file is validated too.

[2016-02-22 19:21] vkuchyn commented on #730
@mkordas Well, I see. So what is compromise - leave rule MultipleStringLiterals but disable it between methods. Think this satisfies as data coupling, as test atomicity

[2016-02-22 21:27] krzyk commented on #728
@davvd valid bug

[2016-02-22 21:30] krzyk commented on #729
@mkordas does it really check such files? I assume this is checktyle, where we have:
[code]

[2016-02-22 21:35] krzyk commented on #731
@yegor256 Could you give your opinion here? You added the check for this.
I personally like the large letter at the beginning, and would like also a period at the end.

[2016-02-22 21:39] krzyk commented on #732
@davvd valid bug

[2016-02-22 21:41] krzyk commented on #730
@mkordas @vkuchyn there is no contradiction here, the rule about test-data-coupling clearly states that one should introduce a variable, not a class constant

[2016-02-22 22:16] yegor256 commented on #731
@krzyk I also like the capital letter...

[2016-02-22 22:25] mkordas commented on #731
@krzyk @yegor256 then at least we need to demand dot at the end, do you agree?

[2016-02-22 22:27] yegor256 commented on #731
@mkordas well, not really :) I think that a dot is needed only when there are more than one sentence. A dot is a separator, not a decoration. We have to use it when we need to separate something from something else. So, a dot that ends a sentence that is not followed by another sentence is nothing else, but a graphic element. Make sense?

[2016-02-22 22:33] mkordas commented on #731
@yegor256 makes sense for me, but starting with capital letter and not finishing with dot is not compliant with Oracle guide, but of course we can have our own style.

However, right now even for one sentence half people put dots and second half doesn't. So maybe a rule to prohibit dot if there is just one sentence?

[2016-02-22 22:34] yegor256 commented on #731
@mkordas yes, that would be logical

[2016-02-22 23:13] mkordas opened #733 "Prohibit dot in '@return' and '@param' tags for one sencence descritpions"
Right now Qulice does not care about dot at the end of `@return` and `@param` Javadoc tags. According to #731 I propose to prohibit dot at the end of descriptions

Valid:
[code]
Invalid:
[code]

[2016-02-22 23:13] mkordas commented on #731
@yegor256 @krzyk closing this one, let's continue in #733

[2016-02-22 23:13] #731 closed

[2016-02-22 23:24] mkordas commented on #729
@krzyk OK, this one is fine probably, but problem is with trailing spaces:
[code]

Comment updated.

[2016-02-23 12:49] krzyk commented on #733
@davvd valid bug

[2016-02-23 14:56] HDouss commented on #653
@yegor256 Could I be paid for reporting this bug ?

[2016-02-23 23:28] mkordas opened #734 "Prevent returning or declaring variables of 'ConcurrentHashMap' type"
Right now Qulice allows code like
[code]
or
[code]

`ConcurrentHashMap` has interface `ConcurrentMap` and this one should always be preferred where possible.

Let's implement such check or reuse some existing one.

[2016-02-24 04:25] vkuchyn commented on #730
@krzyk MultipleStringLiterals rule forces me to extract constant if String occurs in several tests. But if to exclude it - we will meet another problem - data coupling described by @mkordas. Here is contradiction

[2016-02-24 05:17] yegor256 commented on #653
@davvd pls add extra 15 mins to @HDouss

[2016-02-24 07:20] davvd commented on #653
@yegor256 15 mins extra was just paid to @hdouss, transaction `78459039`

[2016-02-24 07:21] davvd commented on #670
@krzyk got it, "postponed" label here

[2016-02-24 07:21] davvd commented on #670
@krzyk all right, we'll find someone else for this task

[2016-02-24 07:21] davvd commented on #669
@krzyk OK, I put "postponed" label here

[2016-02-24 07:21] davvd commented on #669
@krzyk right, I'll try to find someone else for this task

[2016-02-24 07:21] davvd commented on #699
@dskalenko will take a look, thanks

[2016-02-24 07:21] davvd commented on #699
@dskalenko of course, thanks for letting me know, take your time

[2016-02-24 07:21] davvd commented on #701
@dskalenko I will take a look, thanks

[2016-02-24 07:21] davvd commented on #732
@krzyk I tagged this as "bug"

[2016-02-24 07:21] davvd commented on #733
@krzyk I tagged this as "bug"

[2016-02-24 07:21] davvd commented on #728
@krzyk tagged this issue with "bug"

[2016-02-24 07:21] davvd commented on #725
@krzyk added "bug" tag to this issue

[2016-02-24 07:21] davvd commented on #726
@krzyk I tagged this as "bug"

[2016-02-24 07:21] davvd commented on #721
@krzyk tag bug added to this issue

[2016-02-24 07:21] davvd commented on #718
@krzyk tag "bug" added

[2016-02-24 07:21] davvd commented on #719
@krzyk I tagged this as "bug"

[2016-02-24 07:21] davvd commented on #716
@krzyk tag bug added to this issue

[2016-02-24 07:21] davvd commented on #717
@krzyk I tagged this as "bug"

[2016-02-24 07:21] davvd commented on #715
@krzyk I added `bug` tag to this ticket

[2016-02-24 07:21] davvd commented on #713
@krzyk I just added bug tag here

[2016-02-24 07:21] davvd commented on #714
@krzyk I added `bug` tag to this ticket

[2016-02-24 07:21] davvd commented on #706
@krzyk tagged this issue with "bug"

[2016-02-24 07:21] davvd commented on #708
@krzyk I just added bug tag here

[2016-02-24 07:24] davvd commented on #551
@guiandmag can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-24 07:24] davvd commented on #692
@xupyprmv thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-2K859259RA747714R`

[2016-02-24 07:47] krzyk commented on #734
@mkordas I think this is too specific and would catch too few cases.

[2016-02-24 08:21] krzyk commented on #730
@vkuchyn There is no way to disable the MultipleStringLiterals between methods (it is a simple checkstyle rule), more over it will be removed, and similar PMD rule will be used.
The way to workaround it is to use a `final` variable inside tests.
And in different tests use different values.
If that is not possible (e.g. you construct an XML that has same fields) then either disable the rule (this i

[2016-02-24 08:29] mkordas commented on #734
@krzyk sure, that was my use case but we can extend it also to classes like Dictionary, ArrayBlockingQueue, ArrayDeque, ConcurrentLinkedDeque, ConcurrentLinkedQueue, ConcurrentSkipListSet, CopyOnWriteArrayList, CopyOnWriteArraySet, DelayQueue, EnumSet, HashSet, LinkedBlockingDeque, LinkedBlockingQueue, LinkedTransferQueue, PriorityBlockingQueue, PriorityQueue, Stack, SynchronousQueue, ConcurrentHa

[2016-02-24 08:38] krzyk commented on #734
@mkordas So basically the rule is to use an interface if a class implements one in method signature.
But this can cause problems, there is such rule in IDEA and frequently it gives wrong results.

[2016-02-24 08:38] krzyk commented on #734
@mkordas OK, let's try it, please update the description.

[2016-02-24 08:42] mkordas commented on #734
@krzyk rule in idea is about all classes, here I propose to enforce it only for collections

[2016-02-24 08:43] mkordas commented on #734
@krzyk description updated

[2016-02-24 08:45] krzyk commented on #734
@mkordas So the rule is for anything that implements `Collection` and `Map`?

[2016-02-24 08:48] krzyk commented on #729
@mkordas so we have to use `fileExtensions` from `FileTabCharacter` in all Regexp rules that we have in checks.xml. If you agree, please updated the description.

[2016-02-24 08:52] mkordas commented on #729
@krzyk done

[2016-02-24 08:53] mkordas commented on #734
@krzyk basically yes

[2016-02-24 09:40] krzyk commented on #729
@davvd valid bug

[2016-02-24 09:41] krzyk commented on #734
@mkordas please update the description with that, and remove the list of classes

[2016-02-24 14:28] mkordas commented on #734
@krzyk done

[2016-02-24 20:49] krzyk commented on #734
@davvd valid bug

[2016-02-24 20:50] krzyk commented on #689
@davvd this is postponed

[2016-02-24 20:50] krzyk commented on #689
@davvd this is postponed

[2016-02-24 20:51] krzyk commented on #690
@davvd this is postponed

[2016-02-24 20:51] krzyk commented on #691
@davvd this is postponed

[2016-02-24 20:51] krzyk commented on #692
@davvd this is postponed

[2016-02-24 20:51] krzyk commented on #693
@davvd this is postponed

[2016-02-24 20:51] krzyk commented on #697
@davvd this is postponed

[2016-02-24 20:52] krzyk commented on #700
@davvd this is postponed

[2016-02-24 20:52] krzyk commented on #707
@davvd this is postponed

[2016-02-24 21:25] krzyk commented on #686
@rultor release tag is 0.16.3

[2016-02-24 21:25] krzyk commented on #686
@rultor release tag is `0.16.3`

[2016-02-24 21:26] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-188459295)

[2016-02-24 21:27] rultor commented on #686
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6905-188459295) (spent 17s)

[code]

[2016-02-24 21:27] krzyk commented on #659
@mkordas fix has been merged to master, please close this issue (@vkuchyn sorry for stepping in, I just need to have a free "urgent" slot available in the project :)

[2016-02-24 21:29] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-188459376)

[2016-02-24 21:59] mkordas commented on #659
@krzyk @vkuchyn thank you

[2016-02-24 21:59] #659 closed

[2016-02-24 22:41] rultor commented on #686
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6905-188459376) (took me 1hr)