[2018-04-30 14:45] krzyk commented on #821
@longtimeago ping

[2018-04-30 14:48] krzyk commented on #761
@0crat assign me

[2018-04-30 14:49] 0crat commented on #761
@krzyk The job [#761](https://github.com/teamed/qulice/issues/761) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1201467250); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-30 14:50] krzyk commented on #761
@mkordas this was fixed in https://github.com/teamed/qulice/pull/886 could you close this one?

[2018-04-30 14:51] 0crat commented on #761
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-30 17:07] krzyk opened #889 "0pdd doesn't work properly"
0pdd doesn't close issues with removed puzzles.
The reason is probably because `pdd` is run by 0pdd using the settings in .pdd and not by looking at the S3 content that we send to it using s3cmd during merge.

Or maybe there should be a webhook defined to pdd/0pdd.

[2018-04-30 19:11] llorllale opened #891 "NullPointerException for this POM"
An NPE is being thrown from this line:
https://github.com/teamed/qulice/blob/04be11b58b7a070e1b0b8355a80f7b5d819c1a21/qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultMavenEnvironment.java#L140-L141

For [this](https://github.com/llorllale/s3auth/tree/371) project.

What's wrong?

[2018-04-30 19:12] 0crat commented on #891
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-04-30 19:12] 0crat commented on #891
@llorllale[/z](https://www.0crat.com/u/llorllale) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-30 20:25] 0crat commented on #891
@krzyk Job [#891](https://github.com/teamed/qulice/issues/891) is now in scope, role is `DEV`

[2018-04-30 20:27] 0crat commented on #891
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-01 04:39] 0crat commented on #891
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-01 20:08] krzyk commented on #856
@longtimeago I think you can close this one

[2018-05-01 20:33] krzyk commented on #784
@0crat in

[2018-05-01 20:33] 0crat commented on #784
@krzyk Job [#784](https://github.com/teamed/qulice/issues/784) is now in scope, role is `DEV`

[2018-05-01 20:33] 0crat commented on #784
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-01 20:33] krzyk commented on #772
@0crat in

[2018-05-01 20:34] 0crat commented on #772
@krzyk Job [#772](https://github.com/teamed/qulice/issues/772) is now in scope, role is `DEV`

[2018-05-01 20:34] 0crat commented on #772
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-01 20:35] #711 closed

[2018-05-01 20:35] #664 closed

[2018-05-01 20:36] krzyk commented on #738
@0crat in

[2018-05-01 20:37] 0crat commented on #738
@krzyk Job [#738](https://github.com/teamed/qulice/issues/738) is now in scope, role is `DEV`

[2018-05-01 20:37] 0crat commented on #738
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-01 20:37] krzyk commented on #743
@0crat in

[2018-05-01 20:38] 0crat commented on #743
@krzyk Job [#743](https://github.com/teamed/qulice/issues/743) is now in scope, role is `DEV`

[2018-05-01 20:38] 0crat commented on #743
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-01 20:50] 0crat commented on #711
The job is not in WBS, won't close the order

[2018-05-01 20:50] 0crat commented on #664
The job is not in WBS, won't close the order

[2018-05-01 21:36] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-01 21:36] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-01 22:35] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-01 22:35] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-02 05:38] 0crat commented on #821
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-02 05:38] 0crat commented on #821
The job [#821](https://github.com/teamed/qulice/issues/821) is now out of scope

[2018-05-02 05:38] 0crat commented on #856
The job is not in WBS, won't close the order

[2018-05-02 05:40] krzyk commented on #859
@0crat in

[2018-05-02 05:41] 0crat commented on #859
@krzyk Job [#859](https://github.com/teamed/qulice/issues/859) is now in scope, role is `DEV`

[2018-05-02 05:41] 0crat commented on #859
@krzyk Thanks for your contribution, @longtimeago[/z](https://www.0crat.com/u/longtimeago)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-05-02 05:41] krzyk commented on #859
@longtimeago Is this one also working after build fixes?

[2018-05-02 06:31] krzyk commented on #850
@0crat resign

[2018-05-02 06:31] 0crat commented on #850
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#850](https://github.com/teamed/qulice/issues/850), please stop working. Reason for job resignation: Order was cancelled

[2018-05-02 06:31] 0crat commented on #850
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-02 06:36] krzyk commented on #869
@0crat refuse

[2018-05-02 06:37] 0crat commented on #869
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#869](https://github.com/teamed/qulice/issues/869), please stop working. Reason for job resignation: Order was cancelled

[2018-05-02 06:37] 0crat commented on #869
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-02 07:07] krzyk commented on #798
@rultor deploy

[2018-05-02 07:08] rultor commented on #798
@krzyk OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9243-385884165)

[2018-05-02 07:24] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-385884165) (took me 16min)

[2018-05-02 07:30] longtimeago commented on #859
@krzyk now it passes, thanks!

[2018-05-02 07:30] #859 closed

[2018-05-02 07:45] 0crat commented on #859
The job [#859](https://github.com/teamed/qulice/issues/859) is now out of scope

[2018-05-02 16:01] krzyk commented on #862
@yegor256 ping

[2018-05-02 18:46] krzyk commented on #869
@0crat out

[2018-05-02 18:47] 0crat commented on #869
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-05-02 21:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-02 21:36] 0crat commented on #877
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-02 23:36] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-02 23:36] 0crat commented on #801
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-03 01:36] 0crat commented on #807
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-03 01:36] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-03 07:30] krzyk commented on #880
@yegor256 Do you have any objections in making qulice require java 8? This would allow us to upgrade to the newest checkstyle (which requires java 8).

[2018-05-03 07:31] krzyk commented on #801
@amihaiemil You've got it implemented, I just need few fixes in the PR (#811) you provided 2 years ago :)

[2018-05-03 07:34] amihaiemil commented on #801
@krzyk sure, I'll fix it today :)

[2018-05-03 08:36] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-03 14:43] amihaiemil commented on #801
@krzyk PR was merged just now, this Issue can be closed :D

[2018-05-03 14:55] krzyk commented on #801
@amihaiemil thanks

[2018-05-03 14:55] #801 closed

[2018-05-03 15:13] 0crat commented on #801
Order was finished: +30 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-05-03 15:13] 0crat commented on #801
The job [#801](https://github.com/teamed/qulice/issues/801) is now out of scope

[2018-05-04 11:39] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-04 14:09] krzyk commented on #761
@0crat refuse

[2018-05-04 14:10] 0crat commented on #761
@krzyk The user @krzyk[/z](https://www.0crat.com/u/krzyk) resigned from [#761](https://github.com/teamed/qulice/issues/761), please stop working. Reason for job resignation: Order was cancelled

[2018-05-04 14:15] 0crat commented on #761
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-04 23:37] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-04 23:37] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-05 20:56] llorllale commented on #891
@krzyk ping

[2018-05-06 04:57] yegor256 commented on #862
@krzyk what about Git/GitHub split review mode:

<img width="1425" alt="screen shot 2018-05-06 at 7 56 48 am" src="https://user-images.githubusercontent.com/526301/39670014-1c3be44e-5103-11e8-81a9-ac98517e6e94.png">

[2018-05-06 05:13] #869 closed

[2018-05-06 05:17] krzyk commented on #862
@yegor256 Well, that depends on the font size, e.g. for me it wraps at 75 (I like bigger fonts :).
If I reset the zoom level I can get 110 chars in line without wrapping (I have 16:9 screen, full hd).

It is harder to test in IntelliJ (split view), because I don't remember what is the default font and size of it.

[2018-05-06 05:30] 0crat commented on #869
The job is not in WBS, won't close the order

[2018-05-06 06:38] 0crat commented on #891
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-06 22:36] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-06 22:37] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-07 00:35] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-07 00:36] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-07 11:34] krzyk commented on #877
@0crat assign me

[2018-05-07 11:35] 0crat commented on #877
@krzyk The job [#877](https://github.com/teamed/qulice/issues/877) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1271176352); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-07 11:35] 0crat commented on #877
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-07 11:35] 0crat commented on #877
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-07 12:59] #877 closed, assigned to krzyk

[2018-05-07 13:00] krzyk commented on #798
@rultor release `0.17.3`

[2018-05-07 13:02] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-387056746)

[2018-05-07 13:05] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-387056746) (spent 3min)

[code]

[2018-05-07 13:08] krzyk commented on #891
@llorllale OK, the problem is in hibernate validator.
We don't support:
[code]

Hibernate decided to migrate validator groupId `org.hibernate` -> `org.hibernate.validator` and used this `relocation` which causes NPE here. I still don't know how to fix it in qulice.
But you can proceed with you tasks, just replace groupId org.hibernate with org.hibernate.validator (only for hibernate validators).

[2018-05-07 13:16] 0crat commented on #877
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-07 13:16] 0crat commented on #877
The job [#877](https://github.com/teamed/qulice/issues/877) is now out of scope

[2018-05-07 13:31] krzyk commented on #798
@rultor release tag is `0.17.3`

[2018-05-07 13:33] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-387065430)

[2018-05-07 14:35] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-387065430) (took me 1hr)

[2018-05-07 22:25] mkordas commented on #761
@krzyk thanks for fixing that!

[2018-05-07 22:25] #761 closed

[2018-05-07 22:26] mkordas commented on #807
@krzyk thanks for merging!

[2018-05-07 22:26] #807 closed

[2018-05-07 22:40] 0crat commented on #761
The job [#761](https://github.com/teamed/qulice/issues/761) is now out of scope

[2018-05-07 22:42] 0crat commented on #807
The job [#807](https://github.com/teamed/qulice/issues/807) is now out of scope

[2018-05-08 00:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-08 00:37] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-08 05:35] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-08 18:30] lrozenblyum commented on #873
The bug is reproduced in the build: http://www.rultor.com/t/14467-387496260

[2018-05-08 23:37] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-09 13:42] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-10 01:36] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-10 01:36] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-10 12:58] yegor256 commented on #862
@krzyk good point about IntelliJ, try to use "Git merge" mode with three columns and you will understand why 80-chars is a good limitation :)

[2018-05-10 13:50] krzyk commented on #862
@yegor256 OK, nothing can beat three way merge :)
@neonailol Please close this issue, you can see discussion above why.

[2018-05-10 13:50] krzyk commented on #880
@0crat in

[2018-05-10 13:51] 0crat commented on #880
@krzyk Job [#880](https://github.com/teamed/qulice/issues/880) is now in scope, role is `DEV`

[2018-05-10 13:51] 0crat commented on #880
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-05-10 13:54] victornoel opened #896 "Redundant check between checkstyle's IllegalCatchCheck and PMD's AvoidCatchingGenericException"
When catching an `Exception`, qulice complains twice with
[code]

I think we should thus remove `IllegalCatchCheck`.

[2018-05-10 13:54] 0crat commented on #896
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-10 13:54] 0crat commented on #896
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-10 14:19] krzyk commented on #896
@victornoel It is covered by #772

[2018-05-10 14:25] victornoel commented on #782
@krzyk for the record, this is caused by the fact that annotations are not taken into account by bytecode analysis.

This is a known problem with `maven-dependency-plugin`, see [its documentation](https://maven.apache.org/plugins/maven-dependency-plugin/examples/exclude-dependencies-from-dependency-analysis.html) where it says:

[2018-05-10 14:37] 0crat commented on #896
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm): CID: 1301422846, Type: 'Close job', Author: victornoel

[2018-05-10 16:37] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-11 07:36] 0crat commented on #891
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-11 23:39] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-11 23:39] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-12 01:41] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-12 01:42] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-13 01:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-13 01:38] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-13 08:36] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-13 11:03] victornoel opened #897 "RegexpSingleline rule to strict with line ending with >"
When trying to validate the following code:
[code]

Qulice complains with:

We should, as discussed with @krzyk, allow for:
- Generics at the end of line
- Breaks after the arrow of lambdas

While still disallowing the original cases covered by the rule.

See comment below for examples.

[2018-05-13 11:03] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-13 11:03] 0crat commented on #897
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-13 11:13] victornoel opened #898 "Incorrect IndentationCheck rules with line-wrapped lambdas passed as parameters"
It is difficult to clearly understand what's happening, but if I write:
[code]

qulice complains with:

If I try to comply with that (even though that's strange):
[code]

I then get:

Indentation (16) must be same or less than previous line (8), or bigger by exactly 4 (CascadeIndentationCheck)

So clearly complying is not the way to go

I suppose the first example should be accepted as it is

[2018-05-13 11:13] 0crat commented on #898
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-13 11:13] 0crat commented on #898
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-13 12:14] krzyk commented on #897
@victornoel Yes, it is problematic.

[2018-05-13 12:53] krzyk commented on #898
@victornoel unfortunately this is a bug in checkstyle, if you open it there (or if you can find the checkstyle version that has a fix for that and update the description with it)

[2018-05-13 13:54] victornoel commented on #898
@krzyk after some research, I found some related bugs, but since qulice is using an old version of checkstyle, it is difficult to know if it is fixed or not.
I propose to wait until #880 is done to see if it is still a problem :)

[2018-05-14 01:36] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-05-14 13:40] yegor256 commented on #862
@neonailol good points, but we also have some arguments (above). So, one side has to win, while the other one has to lose. This time you lose :)

[2018-05-14 13:43] krzyk commented on #889
@yegor256 Could you look into this? Maybe webhook to 0ppd is not defined in qulice repo?

[2018-05-14 15:38] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#848](https://github.com/teamed/qulice/issues/848); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-14 16:01] llorllale commented on #891
@krzyk thanks

[2018-05-14 16:01] #891 closed

[2018-05-14 16:19] 0crat commented on #891
The job [#891](https://github.com/teamed/qulice/issues/891) is now out of scope

[2018-05-14 19:22] llorllale opened #899 "Error at line 0: Got an exception - java.lang.NullPointerException (TreeWalker)"
See the build log [here](https://travis-ci.org/yegor256/s3auth/builds/378859685?utm_source=github_status&utm_medium=notification). I've seen a couple of similar issues here as well as [these checks](https://github.com/teamed/qulice/search?utf8=%E2%9C%93&q=nullpointerexception&type=) but I can't figure out the exact cause of the error:

[code]

You can find the project [here](https://github.com/llo

[2018-05-14 20:05] krzyk commented on #899
@llorllale I think you'll need to update to a newer qulice version, the one in the builds is 0.12, while the newest is 0.17.x
I think this was fixed somewhere around 0.14-0.15 (see https://github.com/teamed/qulice/issues/608)

[2018-05-15 06:37] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#887](https://github.com/teamed/qulice/issues/887); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-15 06:37] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#847](https://github.com/teamed/qulice/issues/847); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-15 18:36] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-15 18:46] #899 closed, assigned to nobody

[2018-05-17 01:37] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#784](https://github.com/teamed/qulice/issues/784); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-17 01:37] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#772](https://github.com/teamed/qulice/issues/772); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-17 06:35] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#738](https://github.com/teamed/qulice/issues/738); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-17 06:35] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#743](https://github.com/teamed/qulice/issues/743); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-17 10:34] fabriciofx opened #900 "Let's include SonarLint checks"
[SonarLint](https://www.sonarlint.org/) has interesting checks for the Java code. Would will be nice include these checks to Qulice.

[2018-05-17 10:34] 0crat commented on #900
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-17 10:34] 0crat commented on #900
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-18 04:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-18 04:38] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#850](https://github.com/teamed/qulice/issues/850); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-18 10:36] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#800](https://github.com/teamed/qulice/issues/800); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-19 02:37] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-19 14:10] yegor256 commented on #889
@krzyk it seems to work: http://www.0pdd.com/log?name=teamed/qulice I didn't change anything for a long time

[2018-05-19 15:51] krzyk commented on #889
@yegor256 Hmm, but there are no new issues created from todo tags (https://github.com/teamed/qulice/pull/892) and issues are not closed for removed puzzles (#850). Although the log looks (I think correct):
- http://www.0pdd.com/log-item?repo=teamed/qulice&tag=save-1525035555 (todo removed)
- http://www.0pdd.com/log-item?repo=teamed/qulice&tag=save-1525189135 (todo added)

[2018-05-19 16:37] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#848](https://github.com/teamed/qulice/issues/848); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-19 17:06] victornoel opened #901 "Should ProtectedMethodInFinalClass really exist?"
When implementing a final class that extends an abstract class with protected methods, it feels very wrong to me to mark the implementations of those methods as being public.

But with the rule `ProtectedMethodInFinalClassCheck`, I am forced to make them public.
This exposes undesired internal behaviour to the outside and thus seem a bad idea.

[2018-05-19 17:06] 0crat commented on #901
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-19 17:06] 0crat commented on #901
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-20 07:36] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#887](https://github.com/teamed/qulice/issues/887); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-20 07:36] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#847](https://github.com/teamed/qulice/issues/847); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-20 19:36] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14

[2018-05-21 15:46] yegor256 opened #902 "let's get rid of xml validation"
We already have [xcop](https://github.com/yegor256/xcop) for that. Let's remove this functionality from Qulice entirely.

[2018-05-21 15:46] 0crat commented on #902
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-21 15:47] yegor256 opened #903 "let's get rid of Codenarc"
Let's get rid of it. Qulice is for Java code only. Groovy must not be of our concern.

[2018-05-21 15:47] 0crat commented on #903
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-21 15:47] yegor256 opened #904 "let's get rid of jslint"
Let's stop validating JavaScript sources with jslint. Qulice is for Java code only.

[2018-05-21 15:47] 0crat commented on #904
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-21 15:48] yegor256 opened #905 "Let's get rid of Cobertura"
First, it's worse than JaCoCo. Second, it has nothing to do with static analysis.

[2018-05-21 15:48] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-05-21 15:49] krzyk commented on #902
@yegor256 I think you removed it already in https://github.com/teamed/qulice/commit/634cf6f7b790255405bd4d3a42ffd672a0290b9e
Are there some leftovers (e.g. in checkstyle or pmd) that are still complaining?

[2018-05-21 15:50] krzyk commented on #903
@yegor256 Done :) - https://github.com/teamed/qulice/commit/22c4253b88e4038e3886098a977e116a9b429da5

[2018-05-21 15:52] krzyk commented on #904
@yegor256 Done :) - https://github.com/teamed/qulice/commit/8359dff3b8412c27110c9b58eb01f7afb337ae10

[2018-05-21 15:57] krzyk commented on #900
@fabriciofx Do you know if there is a maven plugin that uses it already? SonarLint looks more like a IDE plugin, I'm not sure if it has good bindings for CLI tools.

[2018-05-21 16:00] krzyk commented on #897
@victornoel So let's modify the rule to allow:
1. Generics at the end of line
2. Lambdas:
[code]
[code]

but still disallow cases like:
[code]

Could you modify the description?

[2018-05-21 16:11] yegor256 commented on #889
@krzyk see the problem we just fixed: https://github.com/yegor256/0pdd/issues/205 Try to push something to the repo. 0pdd should work properly now.

[2018-05-21 16:23] victornoel commented on #897
@krzyk do you mean I copy your comment in the description? I'm not sure to understand

[2018-05-21 17:13] yegor256 commented on #902
@krzyk oops, my bad :)

[2018-05-21 17:13] #902 closed

[2018-05-21 17:14] yegor256 commented on #904
@krzyk damn :) thanks.

[2018-05-21 17:14] #904 closed

[2018-05-21 17:15] yegor256 commented on #903
@krzyk I need some memory pills :)

[2018-05-21 17:15] #903 closed

[2018-05-21 17:29] 0crat commented on #902
The job is not in WBS, won't close the order

[2018-05-21 17:30] 0crat commented on #903
The job is not in WBS, won't close the order

[2018-05-21 19:00] krzyk commented on #897
@victornoel you can paraphrase what I wrote. We would need to fix 2 things here generics at the end of line and lambdas `->` at the end of line.

[2018-05-21 19:36] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-22 03:36] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#784](https://github.com/teamed/qulice/issues/784); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-22 03:36] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#772](https://github.com/teamed/qulice/issues/772); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-22 07:13] victornoel commented on #897
@krzyk done, sorry for the confusion :)

[2018-05-22 07:30] krzyk commented on #897
@0crat in

[2018-05-22 07:30] 0crat commented on #897
@krzyk Job [#897](https://github.com/teamed/qulice/issues/897) is now in scope, role is `DEV`

[2018-05-22 07:31] 0crat commented on #897
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-05-22 07:35] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#738](https://github.com/teamed/qulice/issues/738); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-22 07:35] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#743](https://github.com/teamed/qulice/issues/743); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-22 07:35] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-22 07:49] krzyk commented on #875
@ashtonhogan Actually it is not that simple, we have few custom checkstyle rules and I don't think checkstyle plugin supports custom plugins.

[2018-05-23 07:36] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#850](https://github.com/teamed/qulice/issues/850); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-23 11:36] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#800](https://github.com/teamed/qulice/issues/800); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-24 03:35] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-24 17:36] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#848](https://github.com/teamed/qulice/issues/848); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-25 10:36] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#887](https://github.com/teamed/qulice/issues/887); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-25 10:36] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#847](https://github.com/teamed/qulice/issues/847); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-25 21:36] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-26 22:36] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-27 04:35] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#784](https://github.com/teamed/qulice/issues/784); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-27 04:35] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#772](https://github.com/teamed/qulice/issues/772); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-27 08:37] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#738](https://github.com/teamed/qulice/issues/738); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-27 08:37] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#743](https://github.com/teamed/qulice/issues/743); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-27 08:37] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-28 08:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-28 08:36] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#850](https://github.com/teamed/qulice/issues/850); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-28 12:35] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#800](https://github.com/teamed/qulice/issues/800); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-29 08:35] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-30 11:36] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#848](https://github.com/teamed/qulice/issues/848); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-30 11:36] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#887](https://github.com/teamed/qulice/issues/887); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-30 11:36] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#847](https://github.com/teamed/qulice/issues/847); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-30 22:37] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-05-31 23:36] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-01 05:37] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#784](https://github.com/teamed/qulice/issues/784); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-01 05:37] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#772](https://github.com/teamed/qulice/issues/772); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-01 09:37] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#738](https://github.com/teamed/qulice/issues/738); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-01 09:37] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#743](https://github.com/teamed/qulice/issues/743); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-01 09:37] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-01 16:20] longtimeago commented on #878
@krzyk looks like checkstyle introduced java 9 fix with v8.10.1

[2018-06-02 09:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-02 09:37] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#850](https://github.com/teamed/qulice/issues/850); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-02 13:35] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#800](https://github.com/teamed/qulice/issues/800); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-03 11:35] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-04 12:37] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#848](https://github.com/teamed/qulice/issues/848); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-04 12:37] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#887](https://github.com/teamed/qulice/issues/887); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-04 12:37] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#847](https://github.com/teamed/qulice/issues/847); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-04 23:37] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-06 01:36] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-06 06:36] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#784](https://github.com/teamed/qulice/issues/784); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-06 06:36] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#772](https://github.com/teamed/qulice/issues/772); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-06 12:35] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#738](https://github.com/teamed/qulice/issues/738); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-06 12:35] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#743](https://github.com/teamed/qulice/issues/743); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-06 12:36] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-07 10:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-07 10:36] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#850](https://github.com/teamed/qulice/issues/850); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-07 15:37] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#800](https://github.com/teamed/qulice/issues/800); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-08 12:36] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-09 16:36] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#848](https://github.com/teamed/qulice/issues/848); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-09 16:36] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#887](https://github.com/teamed/qulice/issues/887); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-09 16:36] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#847](https://github.com/teamed/qulice/issues/847); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-10 01:38] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-11 03:35] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-11 07:36] 0crat commented on #784
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#784](https://github.com/teamed/qulice/issues/784); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-11 07:36] 0crat commented on #772
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#772](https://github.com/teamed/qulice/issues/772); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-11 13:37] 0crat commented on #738
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#738](https://github.com/teamed/qulice/issues/738); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-11 13:38] 0crat commented on #743
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#743](https://github.com/teamed/qulice/issues/743); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-11 13:38] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-12 13:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-12 13:36] 0crat commented on #850
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#850](https://github.com/teamed/qulice/issues/850); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-15 02:36] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-15 19:08] longtimeago commented on #815
@exper0 @krzyk actually, current checkstyle version 8.10 depends on `antlr4-runtime`. It will conflict with `antl3-runtime` from `qulice-findbugs` -> `xembly`.
Easiest way IMO is to get rid from xemby in `qulice-findbugs`

[2018-06-15 19:09] longtimeago commented on #815
I can do that if there is someone in charge of merging and releasing here :)

[2018-06-15 20:30] krzyk commented on #815
@longtimeago I'm here :)

[2018-06-16 06:36] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-16 14:36] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-17 14:35] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-17 14:59] longtimeago opened #906 "Get rid of xembly as a dependency"
It pulls in an old `antlr3-runtime` dependency and prevents us from checkstyle upgrade (which depends on antlr4-runtime).

Prerequisite for https://github.com/teamed/qulice/issues/815

[2018-06-17 14:59] 0crat commented on #906
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-06-17 14:59] 0crat commented on #906
@longtimeago[/z](https://www.0crat.com/u/longtimeago) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-18 00:37] 0crat commented on #906
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#906](https://github.com/teamed/qulice/issues/906); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-20 03:36] 0crat commented on #880
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#880](https://github.com/teamed/qulice/issues/880); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-21 23:37] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-21 23:37] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-22 15:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-23 03:36] 0crat commented on #906
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#906](https://github.com/teamed/qulice/issues/906); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-25 13:20] krzyk opened #908 "AvoidInstantiatingObjectsInLoops shouldn't be checked"
PMD rule AvoidInstantiatingObjectsInLoops doesn't make sense in ~unit tests~ most cases, as those are short lived and will be killer right away, so actually creating new objects is better than storing them unnecessary in local variables.

The only cases where it is not desirable won't be caught by this rule, because either someone will suppress it, or move the object creation into a method - hidin

[2018-06-25 13:20] krzyk commented on #908
@0crat in

[2018-06-25 13:21] 0crat commented on #908
@krzyk Job [#908](https://github.com/teamed/qulice/issues/908) is now in scope, role is `DEV`

[2018-06-25 13:21] 0crat commented on #908
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-06-25 14:36] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-27 00:37] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-27 00:37] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-27 16:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-28 04:37] 0crat commented on #906
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#906](https://github.com/teamed/qulice/issues/906); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-06-30 15:38] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-02 01:37] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#905](https://github.com/teamed/qulice/issues/905); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-02 01:37] 0crat commented on #897
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#897](https://github.com/teamed/qulice/issues/897); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-02 17:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-03 06:36] 0crat commented on #906
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#906](https://github.com/teamed/qulice/issues/906); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-05 13:30] paulodamaso opened #909 "Problems after upgrading to qulice 0.17.3"
I started having thee following problem after updating to qulice `0.17.3`:
[code]
This happens after `License.txt` parsing. Running maven with `-X` option to does not prints anything different to console.

[2018-07-05 13:30] 0crat commented on #909
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-07-05 13:30] 0crat commented on #909
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-05 16:39] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-05 17:38] paulodamaso commented on #909
@krzyk I'm trying to run it against https://github.com/zerocracy/farm master branch. I get this result after updating `qulice` version in `pom.xml` to `0.17.3`.

[2018-07-07 14:45] krzyk commented on #909
@paulodamaso the problem is with this file https://github.com/zerocracy/farm/blob/master/src/main/resources/com/zerocracy/tools/layout.tex

PMD interprets `\usepackage{setspace}` as a Java escape sequence

[2018-07-07 14:52] krzyk commented on #909
@0crat in

[2018-07-07 14:52] 0crat commented on #909
@krzyk Job [#909](https://github.com/teamed/qulice/issues/909) is now in scope, role is `DEV`

[2018-07-07 14:52] 0crat commented on #909
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-07-07 15:37] 0crat commented on #909
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#909](https://github.com/teamed/qulice/issues/909); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-07 19:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-07 21:03] paulodamaso commented on #909
@krzyk Thanks! It would be nice to have a verbose mode showing which file is currently being analyzed, WDYT?

[2018-07-07 22:05] paulodamaso commented on #909
@krzyk Excluded all `tex` files from `pom.xml`:
[code]
But qulice keeps showing the same error.

[2018-07-08 06:17] krzyk commented on #909
@paulodamaso the problem here is that qulice excludes the violation *after* PMD reads it, so it is not exludable

[2018-07-08 07:37] 0crat commented on #906
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#906](https://github.com/teamed/qulice/issues/906); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-08 10:45] longtimeago commented on #906
it's done

[2018-07-08 10:45] #906 closed

[2018-07-08 11:00] 0crat commented on #906
Job `gh:teamed/qulice#906` is not assigned, can't get performer

[2018-07-08 11:00] 0crat commented on #906
The job [#906](https://github.com/teamed/qulice/issues/906) is now out of scope

[2018-07-08 15:10] krzyk commented on #798
@rultor release tag is `0.17.4`

[2018-07-08 15:10] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-403294286)

[2018-07-08 15:33] krzyk commented on #889
@yegor256 still the same problem, there were few pushes to the repo, but the todo issues haven't been added or removed

[2018-07-08 16:13] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-403294286) (took me 1hr)

[2018-07-08 17:59] krzyk commented on #909
@paulodamaso in version `0.17.4` excludes should work as expected, if it does please close this issue

[2018-07-08 18:00] krzyk commented on #905
@0crat assign me

[2018-07-08 18:00] krzyk commented on #905
@yegor256 cobertura has been removed, please close this issue

[2018-07-08 18:04] 0crat commented on #905
@krzyk The job [#905](https://github.com/teamed/qulice/issues/905) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1891809755); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-08 18:05] 0crat commented on #905
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-08 18:34] krzyk commented on #909
@0crat assign me

[2018-07-08 18:35] 0crat commented on #909
@krzyk The job [#909](https://github.com/teamed/qulice/issues/909) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1891840367); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-08 18:35] 0crat commented on #909
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-09 03:41] paulodamaso commented on #909
@krzyk Logging file being processed is ok, thanks, but I'm still having the same error in `layout.tex` even with `<exclude>pmd:/src/main/resources/com/zerocracy/tools/layout.tex</exclude>` :
[code]

[2018-07-09 05:36] krzyk commented on #909
@paulodamaso to exclude correctly you need to use a full regular expression on the path.
So in your case it would be:
[code]

You could also try a general one:
``
<exclude>pmd:.*\..tex</exclude>
[code]

[2018-07-10 05:11] paulodamaso commented on #909
@krzyk Thanks for the fixes and the and the explanation on `exclude`, it's all working as expected now.

[2018-07-10 05:11] #909 closed

[2018-07-10 05:32] 0crat commented on #909
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-10 05:33] 0crat commented on #909
The job [#909](https://github.com/teamed/qulice/issues/909) is now out of scope

[2018-07-10 17:37] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-12 20:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-13 09:41] krzyk commented on #800
@0crat assign me

[2018-07-13 09:41] 0crat commented on #800
@krzyk The job [#800](https://github.com/teamed/qulice/issues/800) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1940958051); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-13 09:42] 0crat commented on #800
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-13 09:42] 0crat commented on #800
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-13 09:42] krzyk commented on #794
@0crat assign me

[2018-07-13 09:43] 0crat commented on #794
@krzyk The job [#794](https://github.com/teamed/qulice/issues/794) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1940959116); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-13 09:44] 0crat commented on #794
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @alex-semenyuk[/z](https://www.0crat.com/u/alex-semenyuk)

[2018-07-13 09:44] 0crat commented on #794
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-13 18:36] 0crat commented on #905
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-13 19:45] krzyk commented on #905
@0crat waiting for close by @yegor256

[2018-07-13 19:45] 0crat commented on #905
@krzyk The impediment for [#905](https://github.com/teamed/qulice/issues/905) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-16 12:38] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-18 06:31] yegor256 commented on #905
@krzyk thanks!

[2018-07-18 06:31] #905 closed

[2018-07-18 06:48] 0crat commented on #905
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-18 06:48] 0crat commented on #905
The job [#905](https://github.com/teamed/qulice/issues/905) is now out of scope

[2018-07-18 10:37] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-18 10:37] 0crat commented on #794
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-21 13:38] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-22 23:40] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-23 10:04] krzyk commented on #800
@0crat waiting (busy with other tasks)

[2018-07-23 10:04] krzyk commented on #794
@0crat waiting (busy with other tasks)

[2018-07-23 10:05] 0crat commented on #800
@krzyk The impediment for [#800](https://github.com/teamed/qulice/issues/800) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-23 10:05] 0crat commented on #794
@krzyk The impediment for [#794](https://github.com/teamed/qulice/issues/794) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-26 14:40] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-26 14:59] krzyk commented on #794
@alex-semenyuk min maven version has been added to README and to the usage pages in #912, please close this issue

[2018-07-26 20:40] 0crat commented on #794
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-26 20:40] 0crat commented on #794
The job [#794](https://github.com/teamed/qulice/issues/794) is now out of scope

[2018-07-27 12:17] driver733 commented on #908
Long-waited feature.
@yegor256 I believe that someone should be assigned to complete this ticket, because 0crat fails to do it automatically.

[2018-07-27 12:20] driver733 opened #913 "Qulice README badge"
Let's create a Qulice README badge, similar to the cactoos and rultor badges.

[2018-07-27 12:20] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-07-27 12:20] 0crat commented on #913
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-27 19:40] krzyk commented on #908
@yegor256 Whad do you think, can we remove the AvoidInstantiatingObjectsInLoops rule? It is in most of the cases pointless and too easy to circumvent.

[2018-07-28 05:43] krzyk commented on #800
@krzyk done in #914

[2018-07-28 05:43] #800 closed

[2018-07-28 05:45] krzyk commented on #901
@victornoel why would you use `protected` in such class? Doesn't default also work for the cases that you need?

[2018-07-28 05:50] krzyk commented on #576
@0crat assign me

[2018-07-28 05:51] 0crat commented on #576
@krzyk Thanks for your contribution, @mkordas[/z](https://www.0crat.com/u/mkordas)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-07-28 05:51] 0crat commented on #576
@krzyk The job [#576](https://github.com/teamed/qulice/issues/576) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/2090563715); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-28 05:51] 0crat commented on #576
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 05:59] 0crat commented on #800
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 05:59] 0crat commented on #800
The job [#800](https://github.com/teamed/qulice/issues/800) is now out of scope

[2018-07-28 09:11] victornoel commented on #901
@krzyk see the following example:
[code]

To answer you question: default does not work in that case, so I have to make it public, which I think is worst design than having a protected method in a final class (or it should only be for non-overridden methods).

[2018-07-28 10:37] krzyk commented on #901
@victornoel Oh, in that case it should be excluded in case of `@Override`

[2018-07-28 10:37] krzyk commented on #901
@0crat in

[2018-07-28 10:40] krzyk commented on #901
@0crat assign me

[2018-07-28 10:45] 0crat commented on #901
@krzyk Job [#901](https://github.com/teamed/qulice/issues/901) is now in scope, role is `DEV`

[2018-07-28 10:53] 0crat commented on #901
@krzyk The job [#901](https://github.com/teamed/qulice/issues/901) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/2091061098); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-28 10:53] 0crat commented on #901
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-28 10:53] 0crat commented on #901
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 11:54] krzyk opened #916 "Resource validators (like Checkstyle and PMD) should be executed in parallel"
Now we report all `ResourceValidator` violations together, so we can also run those validators in parallel, it should speed up the whole qulice process.

[2018-07-28 11:55] krzyk commented on #916
@0crat in

[2018-07-28 11:57] 0crat commented on #916
@krzyk Job [#916](https://github.com/teamed/qulice/issues/916) is now in scope, role is `DEV`

[2018-07-28 11:58] 0crat commented on #916
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 12:10] krzyk commented on #916
@0crat assign me

[2018-07-28 12:13] 0crat commented on #916
@krzyk The job [#916](https://github.com/teamed/qulice/issues/916) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/2091229962); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-28 12:17] 0crat commented on #916
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 12:18] 0crat commented on #916
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 12:42] krzyk commented on #901
@victornoel fixed in #915, it will be available with next qulice release. Please close this issue.

[2018-07-28 13:11] victornoel commented on #901
@krzyk don't you think the rule should be stricter and only allow it in case there is an override AND the superclass method is protected?

[2018-07-28 13:59] krzyk commented on #901
@victornoel but this will be quite a narrow case when someone widens the scope from default to protected, and it has to be in a class that has visibility of that default method (so in the same package). Please create a new bug for this (we will probably need to convert this to PMD check in that case).

[2018-07-28 14:02] victornoel commented on #901
@krzyk yep, I understand, this issue is fixed anyway :)

[2018-07-28 14:02] #901 closed

[2018-07-28 14:04] victornoel opened #917 "ProtectedMethodInFinalClassCheck should be stricter"
This is a follow-up on #901.

Basically, now that `protected` is accepted in `final` class when a method is an overriding one, it is possible for someone to override a default scoped method by making it `protected` in a `final` class.

This should be forbidden.

See https://github.com/teamed/qulice/issues/901#issuecomment-408609784 for some design considerations.

[2018-07-28 14:05] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-07-28 14:05] 0crat commented on #917
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-28 14:17] 0crat commented on #901
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-07-28 14:17] 0crat commented on #901
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 14:17] 0crat commented on #901
The job [#901](https://github.com/teamed/qulice/issues/901) is now out of scope

[2018-07-28 16:37] krzyk commented on #917
@0crat in

[2018-07-28 16:39] 0crat commented on #917
@krzyk Job [#917](https://github.com/teamed/qulice/issues/917) is now in scope, role is `DEV`

[2018-07-28 16:40] 0crat commented on #917
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-07-28 17:32] krzyk commented on #916
@krzyk done

[2018-07-28 17:32] #916 closed

[2018-07-28 17:33] krzyk commented on #798
@rultor release tag is `0.17.4`

[2018-07-28 17:34] rultor commented on #798
@davvd @krzyk Invalid release tag `0.17.4` specified. There is already a release `0.17.4` newer than the given release in this repository.

[2018-07-28 17:34] rultor commented on #798
@krzyk I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2018-07-28 17:36] krzyk commented on #798
@rultor release tag is `0.17.5`

[2018-07-28 17:37] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-408623458)

[2018-07-28 17:46] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-07-28 17:49] 0crat commented on #916
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-07-28 17:49] 0crat commented on #916
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-07-28 17:49] 0crat commented on #916
The job [#916](https://github.com/teamed/qulice/issues/916) is now out of scope

[2018-07-28 18:38] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-408623458) (took me 1hr)

[2018-07-29 05:19] yegor256 commented on #908
@krzyk yes, let's get rid of it

[2018-07-31 15:39] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-02 13:06] 0crat commented on #576
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-02 18:40] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-03 20:29] driver733 opened #919 "Prohibit classes that do not implement at least a single interface"
Let's create a new Checkstyle rule that will ban classes that do not implement any interfaces.

[2018-08-03 20:29] 0crat commented on #919
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-08-03 20:29] 0crat commented on #919
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-03 20:34] driver733 opened #920 "Prohibit non-final classes"
Let's create a new Checkstyle rule that will enforce the usage of `final` keyword in all classes. (Prohibit non-final classes)

[2018-08-03 20:34] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-08-03 20:34] 0crat commented on #920
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-04 06:34] krzyk commented on #920
@driver733 there is already such rule, or similar: it prohibits a method in class that is not final.

[2018-08-04 10:57] driver733 commented on #920
@krzyk This is not enough. The rule you mentioned does not prohibit to make a class extensible (non-final).

[2018-08-05 16:38] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-07 19:39] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-08 19:39] driver733 opened #921 "ConstantUsageCheck false positive"
If a constant is below the the static properties that rely on it Qulice raises a false positive violation.
[code]

[code]

[2018-08-08 19:39] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-08-08 19:39] 0crat commented on #921
@driver733[/z](https://www.0crat.com/u/driver733) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-10 15:55] krzyk commented on #576
@mkordas changes have been merged to master in #922 please close this issue

[2018-08-10 17:41] 0crat commented on #908
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#908](https://github.com/teamed/qulice/issues/908); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-12 20:45] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-13 06:51] krzyk commented on #921
@0crat in

[2018-08-13 06:51] krzyk commented on #920
@0crat in

[2018-08-13 06:51] 0crat commented on #921
@krzyk Job [#921](https://github.com/teamed/qulice/issues/921) is now in scope, role is `DEV`

[2018-08-13 06:51] krzyk commented on #920
@0crat help

[2018-08-13 06:52] 0crat commented on #920
@krzyk Job [#920](https://github.com/teamed/qulice/issues/920) is now in scope, role is `DEV`

[2018-08-13 06:52] 0crat commented on #920
@krzyk Can't understand "help", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issu

[2018-08-13 06:52] 0crat commented on #921
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @driver733[/z](https://www.0crat.com/u/driver733)

[2018-08-13 06:53] 0crat commented on #920
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @driver733[/z](https://www.0crat.com/u/driver733)

[2018-08-13 06:53] krzyk commented on #919
@driver733 This one is quite far going, I see benefits but I'm a bit worried that it result in a bunch of interfaces implemented only by one class.
@yegor256 What do you think?

[2018-08-13 06:54] krzyk commented on #913
@0crat in

[2018-08-13 06:54] 0crat commented on #913
@krzyk Job [#913](https://github.com/teamed/qulice/issues/913) is now in scope, role is `DEV`

[2018-08-13 06:55] 0crat commented on #913
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @driver733[/z](https://www.0crat.com/u/driver733)

[2018-08-13 07:26] krzyk commented on #908
@0crat assign me

[2018-08-13 07:26] 0crat commented on #908
@krzyk The job [#908](https://github.com/teamed/qulice/issues/908) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/2250732364); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-13 07:27] 0crat commented on #908
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-13 07:27] 0crat commented on #908
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-13 07:38] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-13 07:38] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-13 07:38] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-13 07:51] krzyk commented on #798
@rultor release tag is `0.17.6`

[2018-08-13 07:51] krzyk commented on #908
@krzyk done in #923

[2018-08-13 07:51] #908 closed

[2018-08-13 07:54] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-412436157)

[2018-08-13 08:07] 0crat commented on #908
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-13 08:08] 0crat commented on #908
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-13 08:08] 0crat commented on #908
The job [#908](https://github.com/teamed/qulice/issues/908) is now out of scope

[2018-08-13 09:00] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-412436157) (took me 1hr)

[2018-08-13 12:01] krzyk commented on #880
@0crat assign me

[2018-08-13 12:14] 0crat commented on #880
@krzyk The job [#880](https://github.com/teamed/qulice/issues/880) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/2251211264); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-13 12:16] 0crat commented on #880
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-13 12:16] 0crat commented on #880
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-13 13:03] krzyk commented on #880
@krzyk fixed in #924

[2018-08-13 13:03] #880 closed

[2018-08-13 13:04] krzyk commented on #798
@rultor release tag is `0.18`

[2018-08-13 13:05] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-412510568)

[2018-08-13 13:51] 0crat commented on #880
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-08-13 13:57] 0crat commented on #880
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-13 13:58] 0crat commented on #880
The job [#880](https://github.com/teamed/qulice/issues/880) is now out of scope

[2018-08-13 14:03] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-412510568) (took me 58min)

[2018-08-17 21:40] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-18 08:39] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-18 08:39] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-18 08:39] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-22 22:41] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-23 09:46] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-23 09:47] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-23 09:47] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-24 16:41] krzyk commented on #576
@mkordas ping

[2018-08-24 17:53] mkordas commented on #576
@krzyk looks good, thanks

[2018-08-24 17:53] #576 closed

[2018-08-24 18:18] 0crat commented on #576
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-24 18:18] 0crat commented on #576
The job [#576](https://github.com/teamed/qulice/issues/576) is now out of scope

[2018-08-25 22:21] llorllale opened #925 "java.lang.NoSuchMethodError: org.apache.commons.lang3.mutable.MutableInt.getAndIncrement()I"
qulice version: 0.18

[code]

Stacktrace:
[stacktrace.txt](https://github.com/teamed/qulice/files/2321083/stacktrace.txt)

[2018-08-26 05:32] krzyk commented on #925
@llorllale please write what code triggers that, or is it on any code?

[2018-08-26 19:47] driver733 commented on #925
I also get the discussed error. ([Error log with stack trace](https://travis-ci.org/driver733/VK-Uploader/builds/415803418?utm_source=github_status&utm_medium=notification))

[2018-08-27 23:42] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-28 02:13] carlosmiranda commented on #925
@llorllale @krzyk it appears to be an issue with lambda expressions. This code will bork Qulice and produce the aforementioned error:

[code]

As a workaround I declared `commons-lang3` as a dependency in the Qulice plugin declaration in order to manually set the version to the latest:

[code]

[2018-08-28 06:35] krzyk commented on #925
@carlosmiranda thanks

[2018-08-28 06:35] krzyk commented on #925
@0crat in

[2018-08-28 06:36] krzyk commented on #925
@0crat assign me

[2018-08-28 07:48] 0crat commented on #925
@krzyk Job [#925](https://github.com/teamed/qulice/issues/925) is now in scope, role is `DEV`

[2018-08-28 07:52] 0crat commented on #925
@krzyk The job [#925](https://github.com/teamed/qulice/issues/925) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/2400739073); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-08-28 08:17] 0crat commented on #925
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-08-28 08:17] 0crat commented on #925
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-08-28 10:03] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-28 10:03] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-28 10:05] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-08-28 21:07] krzyk commented on #798
@rultor release tag is `0.18.1`

[2018-08-28 21:10] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-416740964)

[2018-08-28 21:40] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-416740964) (took me 30min)

[2018-08-29 06:33] krzyk commented on #925
@llorllale @carlosmiranda @driver733 It should be fixed in 0.18.1
@llorllale please close this issue if it works

[2018-08-31 08:28] krzyk commented on #798
@rultor release tag is `0.18.2`

[2018-08-31 08:33] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-417592675)

[2018-08-31 08:56] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-417592675) (spent 23min)

[code]

[2018-08-31 09:04] krzyk commented on #798
@rultor release tag is `0.18.2`

[2018-08-31 09:06] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-417602119)

[2018-08-31 09:33] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-417602119) (took me 27min)

[2018-09-02 00:40] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-02 07:39] 0crat commented on #925
@krzyk[/z](https://www.0crat.com/u/krzyk) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-02 10:46] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-02 10:47] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-02 10:47] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-07 00:50] 0crat commented on #917
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#917](https://github.com/teamed/qulice/issues/917); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-07 10:55] krzyk commented on #925
@llorllale ping

[2018-09-07 11:43] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-07 11:44] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-07 11:44] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-11 19:58] pdacostaporto opened #929 "Parameter limit is too small"
Three parameters looks like a very small limit for methods and constructors. I have to bypass the ParameterNumber rule frequently, for example for methods that create database records for tables with more than three fields.

Checkstyles default value, 7, looks like a more convenient limit to me.

[2018-09-11 19:58] 0crat commented on #929
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-09-11 19:58] 0crat commented on #929
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-12 12:40] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-12 12:40] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-12 12:40] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-15 06:50] krzyk commented on #925
@llorllale ping

[2018-09-17 13:48] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-17 13:48] 0crat commented on #920
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#920](https://github.com/teamed/qulice/issues/920); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-17 13:48] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-18 12:59] krzyk commented on #925
@llorllale can you close this?

[2018-09-20 21:09] llorllale commented on #925
@krzyk I no longer get the error when I try against `HEAD` in `master`, thanks

[2018-09-20 21:09] #925 closed

[2018-09-20 23:12] 0crat commented on #925
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#925](https://github.com/teamed/qulice/issues/925); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-20 23:29] 0crat commented on #925
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-09-20 23:29] 0crat commented on #925
The job [#925](https://github.com/teamed/qulice/issues/925) is now out of scope

[2018-09-22 16:00] 0crat commented on #921
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#921](https://github.com/teamed/qulice/issues/921); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-22 16:00] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-09-25 14:01] denis-konovalyenko opened #930 "MethodsOrderCheck contradicts with DeclarationOrder"
As far as I understand, the intention of the [DeclarationOrder](http://checkstyle.sourceforge.net/config_coding.html#DeclarationOrder) check is to follow [the Code Conventions for the Java Programming Language](https://www.oracle.com/technetwork/java/javase/documentation/codeconventions-141855.html#1852), which state that

At the same time, we have the `MethodsOrderCheck` which violates this princ

[2018-09-25 14:01] 0crat commented on #930
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-09-25 14:01] 0crat commented on #930
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-25 17:44] denis-konovalyenko opened #931 "Share the recommended IDE code style formatting settings"
It is really time-consuming to get on with all qulice checks as some of them do go in the other way my default IDE (IntelliJ IDEA) code style formatting settings apply.

Would it be possible to provide (document) links to available resources if there are such (preferably for the IntelliJ IDEA)? This should speed up new-starters and save a bit of time for veterans.

[2018-09-25 17:44] 0crat commented on #931
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-09-25 17:45] 0crat commented on #931
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-25 17:54] krzyk commented on #931
@denis-konovalyenko You could get settings.jar that Yegor uses: https://www.yegor256.com/2017/06/27/my-environment.html at least for now

[2018-09-25 17:57] denis-konovalyenko commented on #931
@krzyk , thanks a lot!

[2018-09-28 10:25] lolo101 opened #932 "com.qulice.checkstyle.ConstantUsageCheck.getText (ConstantUsageCheck.java:143) is broken"
I'm running Qulice 0.18.2 on a project and the plugin crashes with an NPE :
[code]

Here is the source code being processed :
[code]

[2018-10-05 08:14] longtimeago opened #933 "Failed to load PMD resources on multi-threaded maven build"
[code]

Sometimes it fails with on `Can't find resource 'category/java/documentation.xml' for rule 'null'`

qulice version 0.18.2
[code]

[2018-10-05 08:14] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-10-05 08:14] 0crat commented on #933
@longtimeago[/z](https://www.0crat.com/u/longtimeago) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-05 08:15] longtimeago commented on #933
upgrade to PMD 6.8.0 could help

[2018-10-05 09:05] longtimeago commented on #933
nah ... tried locally to upgrade PMD to 6.8.0 - the issue is still there :(

[2018-10-05 09:14] krzyk commented on #933
@longtimeago does it fail always? I tried it on other projects and haven't seen such error.
Maybe there is some specific code that causes it?

[2018-10-05 09:17] longtimeago commented on #933
@krzyk not always but 2 out of 3.
We have >20 top-level maven modules with 1-4 sub-modules per each.

And running maven with following params
mvn -T 8 -B -Ddependency.locations.enabled=false verify

[2018-10-05 09:19] longtimeago commented on #933
it works fine with qulice 0.17.2

[2018-10-05 09:30] krzyk commented on #933
@longtimeago Now I noticed it, multithreaded maven build. OK, that I didn't test.

[2018-10-05 09:30] krzyk commented on #933
@0crat in

[2018-10-05 10:08] 0crat commented on #933
@krzyk Job [#933](https://github.com/teamed/qulice/issues/933) is now in scope, role is `DEV`

[2018-10-05 10:10] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-05 10:11] 0crat commented on #933
@krzyk Thanks for your contribution, @longtimeago[/z](https://www.0crat.com/u/longtimeago)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-08 17:28] piotrkot opened #934 "Checked exception recommendation don't work with qulice rules"
In the [blog](https://www.yegor256.com/2015/07/28/checked-vs-unchecked-exceptions.html) I can read "use only Exception, without any sub-types.".

But when I catch and re-throw Exception I have qulice failed with

PMD: Avoid catching generic exceptions such as NullPointerException, RuntimeException, Exception in try-catch block (AvoidCatchingGenericException)
or
PMD: Avoid throwing raw exception ty

[2018-10-08 17:28] 0crat commented on #934
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-10-08 17:28] 0crat commented on #934
@piotrkot[/z](https://www.0crat.com/u/piotrkot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-10 06:18] grzechol opened #935 "ProhibitPlainJunitAssertionsRule reports AssertJ assertion as plain JUnit assertion"
I'm getting **Avoid using Plain JUnit assertions (ProhibitPlainJunitAssertionsRule)** PMD error for the following code:
[code]
My assertion however is not a plain JUnit assertion, but it comes from [AssertJ](http://joel-costigliola.github.io/assertj/) framework.

[2018-10-10 06:18] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-10-10 06:18] 0crat commented on #935
@grzechol[/z](https://www.0crat.com/u/grzechol) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-10 10:01] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-12 14:45] krzyk commented on #935
@grzechol It is because you use static import which is forbidden in qulice. All rules assume that static imports are invalid.

[2018-10-12 16:45] grzechol commented on #935
@krzyk There's nothing wrong in static imports, especially in tests. It doesn't make any sense to me to always write Assertions.assertThat. It only makes code longer but adds no value to id. I know it's assertThat method from Assertions class, what else could it be?
Anyway, the message is still invalid since it's **not** a plain JUnit assertion

[2018-10-12 16:48] krzyk commented on #935
@grzechol I don't say that something is wrong with them, it is just qulice doesn't allow them.

[2018-10-12 16:49] krzyk commented on #935
@grzechol And the allowed assertions are from hamcrest only (MatcherAssert), yeah, the message should be written differently - e.g. "We allow only assertions from hamcrest, without static imports"

[2018-10-12 16:49] krzyk commented on #935
@0crat in

[2018-10-12 16:50] 0crat commented on #935
@krzyk Job [#935](https://github.com/teamed/qulice/issues/935) is now in scope, role is `DEV`

[2018-10-12 16:50] 0crat commented on #935
@krzyk Thanks for your contribution, @grzechol[/z](https://www.0crat.com/u/grzechol)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-12 17:40] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-15 10:53] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-15 11:32] piotrkot commented on #934
Maybe the task is to be assigned directly to the blog author (@yegor256)?

[2018-10-17 18:39] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-20 13:28] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-22 19:58] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-23 13:24] Shryne opened #936 "HeaderCheck doesn't work correctly"
I get this error from CheckStyle:

Even though line 4 does start with a space and a *. Here are the files:
[MyTest.java](https://github.com/Shryne/goop/blob/config/src/main/java/testing/MyTest.java)
[LICENSE.txt](https://github.com/Shryne/goop/blob/config/LICENSE.txt)
[pom.xml](https://github.com/Shryne/goop/blob/config/pom.xml)

Additionally, I get this error for my package-info.java files:

I gu

[2018-10-24 05:33] Shryne commented on #936
I was able to get rid of the error. This is what I did:
1. I changed the line ending of the license file to \n. As a result, I got the message from above. The message comes from findbugs. I guess findbugs works after pmd and checkstyle and only if they don't find anything.
2. I used mvn:clean. Findbugs still complains about:

[INFO] >>   java.lang.Object
[INFO] >>   javax.accessibility.Accessible

[2018-10-24 05:33] #936 closed

[2018-10-24 05:56] 0crat commented on #936
Job `gh:teamed/qulice#936` is not assigned, can't get performer

[2018-10-24 05:56] 0crat commented on #936
This job is not in scope

[2018-10-25 13:41] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-26 13:20] paulodamaso opened #937 "Qulice checks reports"
I can't generate checkstyle, PMD or findbugs reports on qulice execution. Is there some way of doing this? I'm planning to load these reports on some CI tools and it would be nice if I could use just only one maven execution for generating all the reports I need.

[2018-10-26 13:20] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-10-26 13:20] 0crat commented on #937
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-27 16:37] krzyk commented on #937
@paulodamaso You mean like html reports? Not there is no such thing in qulice, the only report is the output during the build.

[2018-10-27 20:41] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-28 08:35] krzyk commented on #937
@paulodamaso qulice doesn't generate any report besides the output during build, so there is no way any external tool to work on its output

[2018-10-28 14:02] paulodamaso commented on #937
@krzyk I think that ir would be a nice feature to qulice generate these reports, so we don't need to configure and execute every check again to get these reports generated, WDYT?

[2018-10-28 18:30] krzyk commented on #937
@paulodamaso Is the format of those reports described somewhere? Is this only for checkstyle or also for PMD and Findbugs?

[2018-10-28 20:10] paulodamaso commented on #937
@krzyk I think that these plugins already generate reports someway, but I don't know. If they generate these reports, maybe qulice could use them to generate these reports too. For example, https://maven.apache.org/plugins/maven-checkstyle-plugin/usage.html says that checkstyle generates reports on execution, so `qulice-checkstyle` pom could have this `reporting` section so it generates reports fo

[2018-10-30 14:42] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-10-31 07:29] piotrkot commented on #934
@0crat @krzyk ping

[2018-10-31 07:29] 0crat commented on #934
@piotrkot Can't understand "@krzyk", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this

[2018-10-31 12:19] krzyk commented on #934
@piotrkot blog is more idealistic and qulice is more pragmatic/less strict :)

[2018-11-01 21:43] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-04 15:41] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-06 10:11] krzyk commented on #937
@paulodamaso OK, let's see if that will be doable, should be.

[2018-11-06 10:11] krzyk commented on #937
@0crat in

[2018-11-06 10:14] 0crat commented on #937
@krzyk Job [#937](https://github.com/teamed/qulice/issues/937) is now in scope, role is `DEV`

[2018-11-06 10:28] 0crat commented on #937
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-06 10:47] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-06 22:39] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-06 23:04] ThrawnCA commented on #884
@krzyk Um...I'm not exactly sure how this zerocracy is supposed to operate, but is it actually possible for someone to work on this issue, or are they going to be hunted down by a Terminator bot for stepping outside the rules?

[2018-11-06 23:39] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-07 06:14] krzyk commented on #884
@ThrawnCA I (and every architect in project) can assign tasks manually to someone. But in qulice there are no funds so the work will be for free, you can get 30 reputation  points if you are registered in zerocracy.

[2018-11-07 11:15] filfreire opened #938 "Add infer static to qulice"
@krzyk @davvd @yegor256 would it make sense to try to add `infer` to `qulice`?
Source: https://github.com/facebook/infer

[2018-11-07 11:16] 0crat commented on #938
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-07 11:16] 0crat commented on #938
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-08 01:46] ThrawnCA commented on #884
Doesn't manual assignment cost you reputation points, though?

[2018-11-08 07:00] krzyk commented on #884
@ThrawnCA Yes it does.

[2018-11-08 15:43] paulodamaso commented on #937
@krzyk I've made some research on this topic, about `checkstyle` in special, and I've come to some conclusions, they may be helpful:
- checkstyle does not generates any kind of report by itself, it relies on `Apache Maven Checkstyle` plugin to generate them. On the other hand, `qulice` dos not use this plugin for executing checks, so to make these reports accessible qulice should use this plugin t

[2018-11-09 16:41] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-11 11:41] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-11 23:42] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-12 00:40] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-13 13:02] krzyk opened #939 "Upgrade tests to JUnit 5"
Tests should be upgrade JUnit 4.x -> JUnit 5.
All old constructs should be replaced with new ones (e.g. ExpectedException should become assertThrows).
And remove `DefaultPackage` PMD rule, as all the JUnit 5 test methods should have default scope, and it is generally good to limit scopes.

[2018-11-13 13:02] krzyk commented on #939
@0crat in

[2018-11-13 13:04] 0crat commented on #939
@krzyk Job [#939](https://github.com/teamed/qulice/issues/939) is now in scope, role is `DEV`

[2018-11-13 13:10] 0crat commented on #939
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-11-13 13:40] 0crat commented on #939
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#939](https://github.com/teamed/qulice/issues/939); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-14 17:42] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-16 12:39] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-17 00:39] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-17 01:38] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-18 14:43] 0crat commented on #939
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#939](https://github.com/teamed/qulice/issues/939); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-18 15:44] dgroup opened #940 "qulice-checkstyle: failure on `pom.xml` with continuation indent != 2 is required"
For now, qulice-checkstyle allows the [pom.xml](/teamed/qulice/blob/master/pom.xml#L142)(s) with continuation indent equal to `4`, like in *.java files
[code]
 however with indent = `2` the content became more compact
[code]
The new qulice rule will help to have all pom.xml(s) in the same compact format.

[2018-11-18 15:44] 0crat commented on #940
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-18 15:44] 0crat commented on #940
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-18 17:47] dgroup commented on #913
The badge can be built using shields.io - [![Qulice](https://img.shields.io/badge/qulice-passed-blue.svg?longCache=true&style=square)](http://www.qulice.com/)

[2018-11-21 07:02] golszewski86 opened #941 "StringLiteralsConcatenationCheck justification is partly self-contradictory and mostly not valid"
StringLiteralsConcatenationCheck gives two reasons why it is prohibited to use String concatenation using + operator:

The first argument is that _it's difficult to understand how the text will look after concatenation_. Really? What's difficult to understand in the following piece of code:

`throw new IllegalArgumentException("Type not supported: " + type);`

StringBuilder or String.format are th

[2018-11-21 07:02] 0crat commented on #941
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-21 07:02] 0crat commented on #941
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 07:47] golszewski86 opened #942 "Please explain why ++ and -- operators are prohibited"
Please see qulice-checkstyle/src/main/resources/com/qulice/checkstyle/checks.xml
[code]
It prohibits usage of the post increment and decrement operators(like idx++ or idx--), however there is no justification for it. I wasn't able to find one on the intenet except people saying it's more efficient in C/C++.

Could you please provide justification, and maybe include it in the checks.xml file?

[2018-11-21 07:47] 0crat commented on #942
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-21 07:47] 0crat commented on #942
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 07:54] golszewski86 opened #943 "There is no reason for single return"
There is a rule defined in qulice-checkstyle/src/main/resources/com/qulice/checkstyle/checks.xml file:
[code]
This rule however has no real justification. Yes I read the blog post https://www.yegor256.com/2015/08/18/multiple-return-statements-in-oop.html but it's not conclusive. It present the perfect OO approach but then states it's impossible in java because "Java doesn’t have that. Java (and ma

[2018-11-21 07:54] 0crat commented on #943
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-21 07:54] 0crat commented on #943
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 07:56] golszewski86 opened #944 "Qulice requires javadocs in unit tests"
Javadocs are intended to be API documentation. There is no reason to add javadocs to the test methods because they are not API.
However qulice reports an error when test methods, classes and fields do not have javadoc comments.

[2018-11-21 07:56] 0crat commented on #944
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-21 07:56] 0crat commented on #944
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 08:09] krzyk commented on #942
@golszewski86 Yeah, you are right. And in most cases many devs hack it by using ++idx and --idx.

@yegor256 Can this rule go away? Or is there a justification for it?

[2018-11-21 08:15] golszewski86 opened #945 "Static imports should be allowed in unit tests"
Qulice prohibits any static imports. It's good except unit tests which are all use assertions. My favourite assertions framework is AssertJ so I usually write something like:
[code]
To please qulice I'd need to write Assertions.assertThat. Repeating Assertions class name only makes my code longer but it doesn't make it better.
- If someone is familiar with AssertJ then they know it's an AssertJ as

[2018-11-21 08:15] 0crat commented on #945
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-21 08:15] 0crat commented on #945
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 08:21] golszewski86 opened #946 "Can you consider extending lile length?"
The maximum line length in qulice is 80 characters. I don't know why is that, but it seems it doesn't fit today's world when professional developers work mostly with FullHD or bigger resolutions.

I know that short line encourages us to write compact code. This is good. But it causes code to grow vertically instead of horizontally and it looks ridiculous in Full HD resolution.

Can we have the lin

[2018-11-21 08:21] 0crat commented on #946
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-21 08:21] 0crat commented on #946
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-21 08:50] #946 closed

[2018-11-21 08:51] golszewski86 commented on #946
One more thing @krzyk and @yegor256  I don't get it why can't you let users configure line length that works best for them...

[2018-11-21 08:52] golszewski86 commented on #944
Thanks @krzyk

[2018-11-21 08:52] #944 closed

[2018-11-21 08:55] golszewski86 commented on #945
Yes and of these use cases are assertions.

I don't get your second argument however. From the perspective of reviewing code in GitHub, what's the difference between
[code]
and
[code]
? In the first case you see what library is used, and in the second you don't?

[2018-11-21 09:07] krzyk commented on #946
@golszewski86 Generally qulice is not something you configure, you either accept all of its requirements or not. This way if you have a project that uses qulice, you know what to expect, if you want configurability you can use checkstyle/pmd/findbugs manually.

[2018-11-21 09:08] 0crat commented on #946
Job `gh:teamed/qulice#946` is not assigned, can't get performer

[2018-11-21 09:08] 0crat commented on #944
Job `gh:teamed/qulice#944` is not assigned, can't get performer

[2018-11-21 09:08] 0crat commented on #946
This job is not in scope

[2018-11-21 09:08] 0crat commented on #944
This job is not in scope

[2018-11-21 13:38] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-22 01:40] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-22 02:40] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-22 02:42] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-22 11:16] piotrkot commented on #934
@krzyk Thank you for answer but it doesn't convince me :) As far as I can see qulice is aimed to be very strict.

[2018-11-23 13:08] krzyk commented on #945
@golszewski86 Yeah you are right, either way one needs to look at the import. Hmm, I don't have a strong case against assertions.
So you'll be happy if we exclude JUnit, AssertJ and hamcrest (MatcherAssert - this is what most of zerocacy/teamed uses in tests) from the `import static` prohibition?

[2018-11-23 13:09] golszewski86 commented on #945
I'd be more than happy @krzyk

[2018-11-23 13:15] krzyk commented on #945
@yegor256 What do you think? Could we allow assertion libraries to use `import static`, we could limit it to allow:
- `import static org.hamcrest.MatcherAssert.assertThat`
- `import static org.assertj.Assertions.assertThat`

I don't see `assertThat` in JUnit 5 Assertions, so not sure about that, maybe allow also `assertThrows`?

[2018-11-23 13:19] golszewski86 commented on #945
@krzyk `import static org.assertj.Assertions.assertThatThrownBy` would be also useful

[2018-11-26 14:43] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-27 03:42] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#884](https://github.com/teamed/qulice/issues/884); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-27 03:44] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-28 16:40] 0crat commented on #939
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#939](https://github.com/teamed/qulice/issues/939); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-11-30 02:56] paulodamaso commented on #878
@krzyk This problem happened in `0.17.1` version, but does not happens anymore in version `0.18.1`, please take a look at this log:

[code]
Qulice is reporting failed checks

[2018-11-30 07:30] krzyk commented on #870
@aliceice please close this issue, builds are no longer failing

[2018-11-30 07:31] krzyk commented on #866
@aliceice ping

[2018-11-30 13:49] krzyk commented on #848
@0crat assign me

[2018-11-30 13:50] 0crat commented on #848
@krzyk The job [#848](https://github.com/teamed/qulice/issues/848) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/33316910-7806-4ab5-9c18-28ba01e8a126); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-30 13:51] 0crat commented on #848
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-11-30 14:29] 0pdd commented on #850
The puzzle `715-2a207c32` has disappeared from the source code, that's why I closed this issue.

[2018-11-30 14:29] #850 closed

[2018-11-30 14:30] 0pdd opened #949 "pom.xml:103: Dummy todo to test if it works -->"
The puzzle `123-42c66e69` from #123 has to be resolved:

https://github.com/teamed/qulice/blob/566c3640b7fee182839a0580012e6130121e7928/qulice-checkstyle/pom.xml#L103-L103

The puzzle was created by krzyk on 01-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the

[2018-11-30 14:30] 0pdd opened #950 "UseStringIsEmptyRule.java:55-60: This rule currently..."
The puzzle `801-1b19be41` from #801 has to be resolved:

https://github.com/teamed/qulice/blob/566c3640b7fee182839a0580012e6130121e7928/qulice-pmd/src/main/java/com/qulice/pmd/rules/UseStringIsEmptyRule.java#L55-L60

The puzzle was created by rultor on 03-May-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2018-11-30 14:30] 0pdd commented on #123
@davvd 5 puzzles [#816](https://github.com/teamed/qulice/issues/816), [#817](https://github.com/teamed/qulice/issues/817), [#818](https://github.com/teamed/qulice/issues/818), [#819](https://github.com/teamed/qulice/issues/819), [#949](https://github.com/teamed/qulice/issues/949) are still not solved; solved: [#unknown]().

[2018-11-30 14:30] 0pdd commented on #801
@krzyk the puzzle [#950](https://github.com/teamed/qulice/issues/950) is still not solved.

[2018-11-30 14:31] 0crat commented on #950
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-30 14:31] 0crat commented on #949
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-11-30 14:41] krzyk commented on #798
@rultor release tag is `0.18.3`

[2018-11-30 14:42] krzyk commented on #848
@0crat waiting for review from issue author

[2018-11-30 14:42] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-443223488)

[2018-11-30 14:44] 0crat commented on #950
Job [#950](https://github.com/teamed/qulice/issues/950) is now in scope, role is `DEV`

[2018-11-30 14:44] krzyk commented on #784
@0crat assign @paulodamaso

[2018-11-30 14:46] 0crat commented on #949
Job [#949](https://github.com/teamed/qulice/issues/949) is now in scope, role is `DEV`

[2018-11-30 14:49] 0crat commented on #848
@krzyk The impediment for [#848](https://github.com/teamed/qulice/issues/848) was registered successfully by @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-11-30 14:50] 0crat commented on #850
Job `gh:teamed/qulice#850` is not assigned, can't get performer

[2018-11-30 15:10] krzyk commented on #784
@0crat ping

[2018-11-30 15:10] 0crat commented on #784
@krzyk Can't understand "ping", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issu

[2018-11-30 15:11] krzyk commented on #784
@0crat assign @paulodamaso

[2018-11-30 15:11] 0crat commented on #784
@krzyk Job [#784](https://github.com/teamed/qulice/issues/784) is already assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-30 15:16] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-443223488) (took me 33min)

[2018-11-30 15:20] krzyk commented on #772
@paulodamaso If you have some free time, this issue is quite frustrating

[2018-11-30 16:13] paulodamaso commented on #772
@krzyk I'm on it

[2018-11-30 16:21] krzyk commented on #784
@paulodamaso thanks

[2018-11-30 16:21] #784 closed

[2018-11-30 16:22] krzyk commented on #772
@0crat assign @paulodamaso

[2018-11-30 16:30] 0crat commented on #772
@krzyk The job [#772](https://github.com/teamed/qulice/issues/772) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/1fe400da-189d-48c8-895a-663e7beb82ac); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2018-11-30 16:34] 0crat commented on #772
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-11-30 16:44] 0crat commented on #784
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-30 16:44] 0crat commented on #784
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-11-30 16:44] 0crat commented on #784
The job [#784](https://github.com/teamed/qulice/issues/784) is now out of scope

[2018-11-30 17:02] paulodamaso commented on #878
@krzyk Mostly looks like `Qulice` does not support due a `findbugs` limitation; as `findbugs` project is discontinued I suggest that we take this java 11 issue after or during https://github.com/teamed/qulice/issues/884 resolution.

[2018-11-30 17:13] krzyk commented on #878
@paulodamaso Not only because of findbugs, the hardest problem is with the jcabi-parent, which uses some plugins/dependencies that fail with java >= 9.

[2018-11-30 17:45] 0crat commented on #784
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-11-30 17:45] 0crat commented on #784
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-01 15:41] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-01 15:42] filfreire opened #951 ""Cannot initialize module SuppressionFilter" executionerror in version 0.18.3"
@krzyk when I try to use the latest version of qulice in one of my repos (https://github.com/filfreire/hercule), when I issue `mvn clean install` command, there's the following error:

[code]

If I use version `0.18.2` instead, I don't get this type of execution error, and qulice seems to run normally.

Also possibly connected to latest works in issue https://github.com/teamed/qulice/issues/798

[2018-12-01 15:42] 0crat commented on #951
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-01 15:42] 0crat commented on #951
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 17:20] dgroup opened #952 "Qulice gives a different set of violation on osx and unix* hosts"
For example, this commit https://github.com/yegor256/cactoos/pull/967/commits/c4d1cfc68529180f78885e772536393cd20bfc52 I've checked locally
[code]
using `mvn -P qulice clean package jacoco:report` and here the build log
[code]
however, the Travis CI build was failed
https://travis-ci.org/yegor256/cactoos/builds/462219680?utm_source=github_status&utm_medium=notification
with additional errors
[code

[2018-12-01 17:21] 0crat commented on #952
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-01 17:21] 0crat commented on #952
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-01 17:33] dgroup commented on #952
Looks like the quality plugin wasn't activated during `clean package` phases.

[2018-12-01 17:33] #952 closed

[2018-12-01 17:50] 0crat commented on #952
Job `gh:teamed/qulice#952` is not assigned, can't get performer

[2018-12-01 17:50] 0crat commented on #952
This job is not in scope

[2018-12-02 07:57] krzyk commented on #951
@filfreire thanks

[2018-12-02 07:57] krzyk commented on #951
@0crat in

[2018-12-02 07:58] 0crat commented on #951
@krzyk Job [#951](https://github.com/teamed/qulice/issues/951) is now in scope, role is `DEV`

[2018-12-02 08:06] 0crat commented on #951
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @filfreire[/z](https://www.0crat.com/u/filfreire)

[2018-12-02 17:41] victornoel opened #953 "EmptyLineSeparatorCheck conflicts with EmptyLinesCheck"
For example in Takes, in the following code at the following line: https://github.com/yegor256/takes/blob/3e53d1278d8a882343b877c5d7d2c04966491478/src/test/java/org/takes/http/BkBasicTest.java#L143

If don't separate the two methods with an empty line, you get:
`[INFO] Checkstyle: src/test/java/org/takes/http/BkBasicTest.java[143]: 'METHOD_DEF' should be separated from previous statement. (EmptyLi

[2018-12-02 17:41] 0crat commented on #953
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-02 17:41] 0crat commented on #953
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-02 18:15] krzyk commented on #953
@victornoel is this for 0.18.2?

[2018-12-02 18:31] victornoel commented on #953
@krzyk actually it is for both 0.18.2 and 0.17.6

[2018-12-02 21:45] llorllale commented on #942
@krzyk a possible reason is to avoid this mistake:

[code]

[2018-12-03 10:11] golszewski86 commented on #942
I'm sorry @llorllale but this reason doesn't make sense to me. I understand some people may not know how do the post-increment and pre-increment work, but this is not the reason to disable these constructions for everyone.

[2018-12-03 15:10] krzyk commented on #953
@0crat assign me

[2018-12-03 15:10] 0crat commented on #953
@krzyk Job [#953](https://github.com/teamed/qulice/issues/953) is now in scope, role is `DEV`

[2018-12-03 15:13] 0crat commented on #953
@krzyk The job [#953](https://github.com/teamed/qulice/issues/953) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/bf896bc0-c3ab-4945-8250-1eced6240495); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-12-03 15:17] 0crat commented on #953
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-03 15:17] 0crat commented on #953
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-03 15:43] krzyk commented on #772
@paulodamaso thanks

[2018-12-03 15:43] #772 closed

[2018-12-03 16:00] 0crat commented on #772
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-03 16:01] 0crat commented on #772
The job [#772](https://github.com/teamed/qulice/issues/772) is now out of scope

[2018-12-03 16:05] ypshenychka commented on #772
@0crat quality good

[2018-12-03 16:12] 0crat commented on #772
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-03 16:12] 0crat commented on #772
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-04 06:50] 0crat commented on #884
The job [#884](https://github.com/teamed/qulice/issues/884) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/22a7771e-6fa4-483a-87f6-3b0c04cbc4cf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2018-12-04 10:42] 0crat commented on #878
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-12-04 12:33] krzyk commented on #953
@victornoel The issue is because there is a anonymous class inside anonymous class (which is not the best style, I think this should be prohibited in qulice) so for a fast workaround, convert one of those anonymous classes into an inner class

[2018-12-04 14:15] krzyk commented on #951
@0crat assign me

[2018-12-04 14:16] 0crat commented on #951
@krzyk The job [#951](https://github.com/teamed/qulice/issues/951) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/326f0299-c278-4949-ac30-6f0418e16df7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-12-04 14:16] 0crat commented on #951
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-04 15:47] krzyk commented on #798
@rultor release tag is `0.18.4`

[2018-12-04 15:49] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-444147707)

[2018-12-04 16:55] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-444147707) (took me 1hr)

[2018-12-04 20:06] krzyk commented on #951
@filfreire please try with 0.18.4 it should work now

[2018-12-04 20:08] krzyk commented on #848
@yegor256 ping

[2018-12-04 22:43] ThrawnCA commented on #884
@paulodamaso If you need any pointers on this, I'm happy to help. The new artifact is com.github.spotbugs:spotbugs, latest version is 3.1.9.

[2018-12-04 23:29] paulodamaso opened #956 "Incomplete documentation for developers"
We do not have documentation on how qulice works. This kind of documentation would help developers to improve qulice. Some examples:
- how does qulice integrates all check tools?
- how does each tool is executed (maven plugin, command line execution, etc?)
- how does qulice assures that each tool is failing or reporting when non-compliances happen?
For now these are the questions that I'd like to

[2018-12-04 23:29] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-05 07:54] filfreire commented on #951
@krzyk seems to be fixed in 0.18.4, closing this issue.

[2018-12-05 07:54] #951 closed

[2018-12-05 08:14] 0crat commented on #951
Job was finished in 17 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-05 08:35] 0crat commented on #951
The job [#951](https://github.com/teamed/qulice/issues/951) is now out of scope

[2018-12-05 09:08] 0crat commented on #951
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-05 11:22] krzyk commented on #798
@rultor release tag is `0.18.5`

[2018-12-05 11:23] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-444451902)

[2018-12-05 13:38] krzyk commented on #953
@victornoel this should be fixed in `0.18.5`, please close this issue

[2018-12-05 13:40] victornoel commented on #953
@krzyk excellent, thanks!

[2018-12-05 13:40] #953 closed

[2018-12-05 13:57] 0crat commented on #953
Job was finished in 46 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-05 14:03] 0crat commented on #953
The job [#953](https://github.com/teamed/qulice/issues/953) is now out of scope

[2018-12-05 14:03] 0crat commented on #953
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-05 16:21] 0pdd opened #959 "SpotBugsValidatorTest.java:39-42: Continue migration from..."
The puzzle `884-ab2ca2fa` from #884 has to be resolved:

https://github.com/teamed/qulice/blob/3fc6397fd84790caefe24a013133455ec9cd489c/qulice-spotbugs/src/test/java/com.qulice.spotbugs/SpotBugsValidatorTest.java#L39-L42

The puzzle was created by Paulo Lobo on 05-Dec-18.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2018-12-05 16:21] 0pdd commented on #884
@krzyk the puzzle [#959](https://github.com/teamed/qulice/issues/959) is still not solved.

[2018-12-05 16:21] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-05 17:05] paulodamaso commented on #884
@ThrawnCA Thanks for the tip, I implemented the skeleton and tests for `SpotBugs` checks.