[2016-02-25 04:34] vkuchyn commented on #659
@davvd fixed and merged, see #723. Please - close issue and proceed payment. Thank you

[2016-02-25 04:37] vkuchyn commented on #675
@davvd More than 10 days passed and still no payment. Please - fix it.
@krzyk 10 days passed - no payment, no reaction on my comment above. What is the best way to resolve this situation according your working policy? Thanks.

[2016-02-25 14:50] krzyk commented on #706
@davvd this is urgent

[2016-02-26 08:32] krzyk commented on #675
@vkuchyn you can ask @yegor256 for help here

[2016-02-26 08:35] vkuchyn commented on #675
@krzyk Thanks
@yegor256 please, help to resolve the situation - read comments above.

[2016-02-26 11:15] yegor256 commented on #675
@davvd pls add extra 30 mins to @vkuchyn

[2016-02-27 07:51] krzyk commented on #684
@guiandmag How is the work going, you have the issue for 11 days already.

[2016-02-27 08:26] krzyk commented on #61
@davvd this is not postponed

[2016-02-27 08:27] krzyk commented on #61
@davvd assign @krzyk

[2016-02-27 09:09] vkuchyn commented on #583
@krzyk I have similar task in [rultor project](https://github.com/yegor256/rultor/issues/981). I tried your decision and have a question about `years.sh`
If to change year of LICENSE.txt to, for example, 2011-2015 and run ./years.sh - no reaction. Is it bug or feature?
There is `--exclude ".*"`that excludes all files in root folder. IF to remove it - we'll get violations in `*.iml;*.ipr;*.iws`file

[2016-02-27 09:46] krzyk commented on #583
@vkuchyn this excludes only files that name starts with a dot `.` only.
When I change date in the LICENSE.txt I get violation in it.
Also I get violations for idea files without changing the years.sh (this is a feature, as we don't have those in rultor or in travis)

[2016-02-27 16:10] krzyk opened #736 "Prohibit declaring throws javadoc tag if there is no throws in signature"
Code below declares in javadoc that it throws `Exception` but such exception is not declared in method signature.
We should prohibit such javadocs.

Incorrect code:
[code]
or:
[code]

[2016-02-27 16:54] krzyk commented on #736
@davvd valid bug

[2016-02-27 17:04] vkuchyn commented on #583
@krzyk problem is that I don't. Suppose because of different environments.
Need your consultation - what if change approach and to do this feature not with black-list as it was done (grep finds all files that doesn't contain valid years but we need to exclude not necessary files), but white-list.
Please, see my [comment ](https://github.com/yegor256/rultor/issues/981#issuecomment-189681250) and sa

[2016-02-27 17:44] krzyk commented on #583
@vkuchyn white list is problematic, because it might cause that we miss some file extension.
If you grep doesn't handle exclude the way mine does, you could also use "double grep", so the first grep is withou the excludes, and the second one will do e.g. `egrep -v "^\..*"`

[2016-02-27 17:48] vkuchyn commented on #583
@krzyk take a look at comment - there is sample of grep code. Idea - chek only those files that has copyright pattern

[2016-02-28 08:40] mkordas commented on #634
@yegor256 extra 30 mins needed here

[2016-02-28 09:08] krzyk opened #737 "String.split should be used only for simple cases"
String split creates `Pattern` for each call and as such reduced performance in comparison to the case where `Pattern` is created as a constant field in a class.

Let's prohibit such use of `String.split(String)` and `String.split(String, int)`, but with an exception of simple strings that are optimized in JDK:

So the incorrect case that should be prohibited is:
[code]

Correct cases:
[code]

[2016-02-28 09:34] krzyk commented on #502
@yegor256 I didn't get *30mins* for reporting this issue

[2016-02-28 09:36] krzyk commented on #592
@yegor256 I didn't get *30mins* for reporting this issue

[2016-02-28 09:38] krzyk commented on #595
@yegor256 here also, I didn't get *30mins* for reporting this issue

[2016-02-28 09:46] krzyk opened #738 "Static inner classes should be qualified with outer class always"
Static inner classes declared in given class and used in it should be qualified if the class name.

Right now qulice doesn't complain about such cases, but it should:

[code]

Qulice should complain in `method()` line with `new Bar(num)` that the inner class should be qualified with outer class name.

`method()` should look like this:

[code]

[2016-02-28 09:46] krzyk commented on #738
@davvd valid bug

[2016-02-28 09:47] krzyk commented on #737
@davvd valid bug

[2016-02-28 11:31] yegor256 commented on #592
@davvd pls add extra 30 mins to @krzyk

[2016-02-28 11:36] yegor256 commented on #634
@davvd pls add extra 30 mins to @mkordas

[2016-02-28 11:55] yegor256 commented on #502
@krzyk OK

[2016-02-28 18:11] krzyk commented on #705
@davvd this is postponed

[2016-02-29 07:11] krzyk commented on #701
@dskalenko and now after merge, you have to ask @mkordas to close the issue

[2016-02-29 07:52] dskalenko commented on #701
@mkordas Could you please close this issue

[2016-02-29 09:05] mkordas commented on #701
@dskalenko thanks

[2016-02-29 09:05] #701 closed

[2016-02-29 10:39] davvd commented on #61
@krzyk got it, "postponed" tag removed from here

[2016-02-29 10:39] davvd commented on #61
@krzyk OK @krzyk please go ahead, this task is yours

[2016-02-29 10:40] davvd commented on #592
@yegor256 I've sent 30 mins extra to @krzyk in transaction ID "78701774"

[2016-02-29 10:41] davvd commented on #634
@krzyk @yegor256 please help us here

[2016-02-29 10:41] davvd commented on #634
@yegor256 I've sent 30 mins extra to @mkordas in transaction ID "56d4205464a01504d00002c8"

[2016-02-29 10:41] davvd commented on #659
@vkuchyn OK

[2016-02-29 10:41] davvd commented on #675
@vkuchyn @yegor256 please help us here

[2016-02-29 10:42] davvd commented on #675
@yegor256 I've sent 30 mins extra to @vkuchyn in transaction ID "78701880"

[2016-02-29 10:42] davvd commented on #690
@krzyk sure, thanks, I added "postponed" label to it

[2016-02-29 10:42] davvd commented on #690
@krzyk right, I'll try to find someone else for this task

[2016-02-29 10:42] davvd commented on #689
@krzyk got it, "postponed" label here

[2016-02-29 10:42] davvd commented on #689
@krzyk I will try to find someone else

[2016-02-29 10:42] davvd commented on #689
@krzyk "postponed" label already here

[2016-02-29 10:42] davvd commented on #689
@krzyk right, I will find someone else, no problem

[2016-02-29 10:42] davvd commented on #693
@krzyk sure, thanks, I added "postponed" label to it

[2016-02-29 10:42] davvd commented on #693
@krzyk I will try to find someone else

[2016-02-29 10:42] davvd commented on #692
@krzyk thanks, I added "postponed" label

[2016-02-29 10:42] davvd commented on #692
@krzyk I will try to find someone else

[2016-02-29 10:42] davvd commented on #691
@krzyk sure, thanks, I added "postponed" label to it

[2016-02-29 10:42] davvd commented on #691
@krzyk got it, someone else will be assigned soon

[2016-02-29 10:42] davvd commented on #738
@krzyk I tagged this as "bug"

[2016-02-29 10:42] davvd commented on #736
@krzyk tag "bug" added

[2016-02-29 10:42] davvd commented on #737
@krzyk I just added bug tag here

[2016-02-29 10:42] davvd commented on #734
@krzyk tag "bug" added

[2016-02-29 10:42] davvd commented on #729
@krzyk I tagged this as "bug"

[2016-02-29 10:48] davvd commented on #686
@krzyk There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

 * some tasks in the project are "stuck": #670 (22 days), #669 (22 days), #667 (22 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.html#29)), or 3)

[2016-02-29 10:49] davvd commented on #691
@simonjenga thank you for reporting this, I added 15 mins to your acc, transaction `78702197`

[2016-02-29 11:45] davvd commented on #700
@krzyk right, I added "postponed" label

[2016-02-29 11:45] davvd commented on #700
@krzyk no problem, I will try to find somebody else

[2016-02-29 11:45] davvd commented on #697
@krzyk thanks, I added "postponed" label

[2016-02-29 11:45] davvd commented on #697
@krzyk right, I will find someone else, no problem

[2016-02-29 11:45] davvd commented on #705
@krzyk right, I added "postponed" label

[2016-02-29 11:45] davvd commented on #705
@krzyk got it, someone else will be assigned soon

[2016-02-29 11:45] davvd commented on #707
@krzyk thanks, I added "postponed" label

[2016-02-29 11:45] davvd commented on #707
@krzyk right, I will find someone else, no problem

[2016-02-29 11:46] davvd commented on #149
@yegor256 the last puzzle `352-f6cf61e2`/#421 originated from here solved

[2016-02-29 11:46] davvd commented on #352
@krzyk the last puzzle `352-f6cf61e2`/#421 originated from here solved

[2016-02-29 11:46] davvd commented on #333
@caarlos0 last 2 puzzles `333-37771839`/#370, `370-69914ea1`/#590 that originated from here were solved

[2016-02-29 11:46] davvd commented on #370
@krzyk the last puzzle `370-69914ea1`/#590 solved

[2016-02-29 11:46] davvd commented on #569
@mkordas last puzzled solved `569-cd6c2a10`/#609

[2016-02-29 12:02] krzyk commented on #686
@yegor256 there is something with the logic, issues #670, #669 and #667 are marked as postponed since few (or in case of #667 since 28 days) so I don't know why it is marked as stuck.

Another problem is urgent task limit, there are only 3 tasks marked as urgent, not 8 as mentioned above.

So basically I shouldn't get -25 for this check.

[2016-02-29 12:11] davvd commented on #684
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56d4355115431a20830004cb`

[2016-03-01 07:24] simonjenga commented on #691
@davvd OK, thanks!

[2016-03-01 08:10] davvd commented on #697
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 56d54e6f4b766c2b92000100

[2016-03-01 10:08] davvd commented on #691
@simonjenga np :)

[2016-03-01 10:08] davvd commented on #706
@krzyk thanks, I added "urgent" label

[2016-03-01 10:08] davvd commented on #706
@krzyk "urgent" label already here

[2016-03-01 10:13] davvd commented on #705
@krzyk many thanks for the bug report, I added 30 mins to your acc, transaction `79065094`

[2016-03-01 14:05] davvd commented on #684
@guiandmag the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 added to your rating, at the moment it is:

[2016-03-01 14:05] davvd commented on #701
@dskalenko paid, thanks, added **30 mins** to your account, payment `79073826`, 309 hours and 36 mins was spent... +30 to your rating, your total score is [+60](http://www.netbout.com/b/36376?open=rating)

[2016-03-01 14:05] davvd commented on #659
@vkuchyn **30 mins** added to your account (payment number `79073810`), many thanks for your contribution! 335 hours and 23 mins spent here.. +30 added to your rating, at the moment it is: [+120](http://www.netbout.com/b/36353?open=rating)

[2016-03-01 14:05] davvd commented on #706
@gumbelmj could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-01 14:07] davvd commented on #711
@krzyk thanks for this report, I added 30 mins to your account, in transaction `79073946`

[2016-03-01 15:05] vkuchyn commented on #675
@davvd Thank you for payment. What about raiting? This task tool 3 days according to github history. But it is not mentioned in my [netbout](http://www.netbout.com/b/36353?open=rating) rating. Please check it and fix.

[2016-03-01 19:32] vkuchyn opened #739 "Disable some rules for legacy project"
I have a legacy project and want to provide qulice to it. But of course there are tons of violations - there is no resource to fix it at the time. So, I decided to fix first critical rules and with continuously refactoring improve code quality to perfect. Add @checkstyle excludes requires also a lot of time. SO is there a way to set up some set of rules at maven plugin? How do you manage legacy pr

[2016-03-01 20:50] krzyk commented on #739
@vkuchyn Basically we don't, it is all or nothing. See #622 and #326

[2016-03-01 20:51] krzyk commented on #61
@yegor256 initial batch has been merged to master (checkstyle uses new logging, others are in todos), please close this issue if it is OK

[2016-03-02 03:33] yegor256 commented on #61
@krzyk thanks!

[2016-03-02 03:33] #61 closed

[2016-03-02 08:21] davvd opened #740 "DefaultValidatorsProvider.java:81-83: Make FindBugsValidator inherit from ResourceValidator..."
Puzzle `61-832eca62` in `qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java:81-83` has to be resolved: Make FindBugsValidator inherit from ResourceValidator and use it similarly to CheckstyleValidator. Remember to move it to externalResource method and make sure all the tests pass.... The puzzle was created by krzyk on 27-Feb-2016.

If you have any technical question

[2016-03-02 08:22] davvd commented on #61
@yegor256 5 puzzles were created here: `61-61fa67ee`, `61-1d39a5c7`, `61-832eca62`/#740, `61-1e86e587`, `61-654de8aa`

[2016-03-02 08:26] davvd commented on #710
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56d6a388e834c6663200041f`

[2016-03-02 09:02] krzyk commented on #701
@davvd this is not urgent

[2016-03-02 09:02] krzyk commented on #676
@davvd this is not urgent

[2016-03-02 09:02] krzyk commented on #675
@davvd this is not urgent

[2016-03-02 09:02] krzyk commented on #659
@davvd this is not urgent

[2016-03-02 09:02] krzyk commented on #656
@davvd this is not urgent

[2016-03-02 10:22] davvd commented on #656
@krzyk OK, I un-labeled it as "urgent" tag

[2016-03-02 10:22] davvd commented on #659
@krzyk got it, "urgent" tag removed from here

[2016-03-02 10:22] davvd commented on #676
@krzyk sure, thanks, I removed "urgent" tag to it

[2016-03-02 10:22] davvd commented on #675
@krzyk right, I removed "urgent" tag

[2016-03-02 10:22] davvd commented on #701
@krzyk OK, I un-labeled it as "urgent" tag

[2016-03-02 10:22] davvd opened #741 "Violation.java:57-60: Let's split the message part..."
Puzzle `61-654de8aa` in `qulice-spi/src/main/java/com/qulice/spi/Violation.java:57-60` has to be resolved: Let's split the message part into lines, message and check name. After it is done fix CheckstyleValidatorTest.ViolationsMatcher to handle all those parameters and fix all failing tests.... The puzzle was created by krzyk on 27-Feb-2016.

If you have any technical questions, don't ask me, subm

[2016-03-02 10:38] davvd commented on #709
@krzyk thanks for the ticket, your account was topped for 30 mins, payment 79173443

[2016-03-02 12:56] davvd opened #742 "CheckstyleValidatorTest.java:442-444: This test and passesWindowsEndsOfLineWithoutException should..."
Puzzle `61-61fa67ee` in `qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java:442-444` has to be resolved: This test and passesWindowsEndsOfLineWithoutException should be refactored to gather log4j logs and validate that they work correctly. (see changes done in #61)... The puzzle was created by krzyk on 27-Feb-2016.

If you have any technical questions, don't ask me,

[2016-03-02 13:01] davvd commented on #707
@dskalenko thank you for reporting this, I added 15 mins to your acc, transaction `79179395`

[2016-03-02 13:33] vkuchyn commented on #739
@krzyk Thank you for clear answer. I'll ask another question - what practices for code style are you following when you get legacy project with lots of violations? Maybe, you have some experience.

[2016-03-02 13:44] vkuchyn commented on #739
@mkordas

thanks for information :)

[2016-03-02 13:47] krzyk commented on #739
@vkuchyn usually I try do do it per module, if it is not possible, you could disable the whole checkstyle, pmd or findbugs, that would reduce the number of rules that you would need to enforce in the beginning.

What you might also try for PMD and FindBugs is disabling rules on the package level, e.g. create a package-info.java with `package com.company`, and put suppresions there, I haven't teste

[2016-03-02 13:49] krzyk commented on #725
@davvd this is urgent

[2016-03-02 13:50] vkuchyn commented on #739
@krzyk great thanks!

[2016-03-02 13:50] #739 closed

[2016-03-02 13:51] krzyk commented on #431
@davvd this is not postponed

[2016-03-02 13:51] krzyk commented on #431
@davvd assign me

[2016-03-02 15:27] krzyk commented on #579
@krzyk this will be handled by #61 and following todos

[2016-03-02 15:27] #579 closed

[2016-03-02 15:43] krzyk commented on #699
@davvd this is not urgent

[2016-03-02 15:44] krzyk commented on #730
@vkuchyn is there more in this issue, or can we close it?

[2016-03-02 15:46] krzyk commented on #503
@davvd this is not postponed

[2016-03-02 15:46] krzyk commented on #503
@davvd this is urgent

[2016-03-02 15:48] vkuchyn commented on #730
@krzyk yes, thanks

[2016-03-02 15:48] #730 closed

[2016-03-02 15:50] vkuchyn commented on #724
@krzyk thanks, seems it is good point

[2016-03-02 15:50] #724 closed

[2016-03-03 21:30] krzyk opened #743 "Nested classes should have since tags"
Nested (static and non-static) classes should have `@since` tags similarly what we have now for main class.

Innorrect:

[code]

Correct:

[code]

[2016-03-03 21:32] krzyk commented on #743
@yegor256 Could you take a look? I'm not sure which way is more along your style, forbidding the tags nested classes, or forcing them.

[2016-03-03 22:59] mkordas opened #744 "Can't deprecate overridden methods"
Right now Qulice prohibits any Javadoc for methods with `@Override`. This means that it is not possible to deprecate such method, as for `@Deprecated` we always need  `@deprecated`.

Please create exception for `NoJavadocForOverrideMethods` check.

[2016-03-04 00:15] gumbelmj commented on #706
@davvd  please assign to someone else.

[2016-03-04 07:27] krzyk commented on #744
@davvd valid bug

[2016-03-04 08:39] davvd commented on #431
@krzyk thanks, I removed the "postponed" tag

[2016-03-04 08:39] davvd commented on #431
@krzyk done, the task is yours, go ahead

[2016-03-04 08:39] davvd commented on #503
@krzyk OK, I un-labeled it as "postponed" tag

[2016-03-04 08:39] davvd commented on #503
@krzyk got it, "urgent" label here

[2016-03-04 08:39] davvd commented on #699
@krzyk thanks, I removed the "urgent" tag

[2016-03-04 08:39] davvd commented on #725
@krzyk got it, "urgent" label here

[2016-03-04 08:39] davvd commented on #706
@gumbelmj -30 points to your rating :(

[2016-03-04 08:40] davvd commented on #706
@gumbelmj I will assign somebody else to this issue

[2016-03-04 08:40] davvd commented on #744
@krzyk tag "bug" added

[2016-03-04 08:40] davvd opened #745 "DefaultValidatorsProvider.java:84-86: Make XmlValidator and CodeNarcValidator inherit..."
Puzzle `61-1e86e587` in `qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java:84-86` has to be resolved: Make XmlValidator and CodeNarcValidator inherit from ResourceValidator and use it similarly to CheckstyleValidator. Remember to move it to externalResource method and make sure all the tests pass.... The puzzle was created by krzyk on 27-Feb-2016.

If you have any t

[2016-03-04 08:44] davvd commented on #61
@krzyk I just added **45 mins** to your account, many thanks for your contribution (79287961).. 45 hours and 39 mins spent here; there is a bonus for fast delivery (m=2739); +45 added to your rating, current score is: [+5930](http://www.netbout.com/b/35035?open=rating)

[2016-03-04 08:44] davvd commented on #733
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 56d94af8042a283cc200019e

[2016-03-04 12:23] krzyk commented on #431
@dmzaytsev I tested qulice 0.16 on jdk 1.8 and I don't see this problem

[2016-03-04 13:59] davvd opened #746 "DefaultValidatorsProvider.java:78-80: Make PMDValidator inherit from ResourceValidator..."
Puzzle `61-1d39a5c7` in `qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java:78-80` has to be resolved: Make PMDValidator inherit from ResourceValidator and use it similarly to CheckstyleValidator. Move it to externalResource method and make sure all the tests pass.... The puzzle was created by krzyk on 27-Feb-2016.

If you have any technical questions, don't ask me,

[2016-03-04 14:03] davvd commented on #732
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `56d995b1b3549b6af30002c9`

[2016-03-04 19:47] dmzaytsev commented on #431
@krzyk thanks!
it was obsolete version 0.12

[2016-03-04 19:47] #431 closed

[2016-03-05 06:16] yegor256 commented on #743
@krzyk good question. I think it's better to have them for each class, both nested and normal

[2016-03-05 06:46] krzyk commented on #743
@yegor256 thanks, I've updated the description/title

[2016-03-05 06:46] krzyk commented on #743
@davvd valid bug

[2016-03-05 06:48] krzyk commented on #595
@yegor256 I didn't get *30mins* bonus for reporting this issue

[2016-03-05 06:49] krzyk commented on #706
@davvd this is not urgent

[2016-03-05 06:49] krzyk commented on #706
@davvd assign me

[2016-03-05 07:02] yegor256 commented on #595
@davvd pls add extra 30 mins to @krzyk

[2016-03-06 20:56] krzyk commented on #686
@rultor release tag is `0.16.4`

[2016-03-06 20:56] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-192990973)

[2016-03-06 21:11] krzyk commented on #708
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #709
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #710
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #711
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #713
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #714
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #715
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #716
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #717
@davvd this is postponed

[2016-03-06 21:12] krzyk commented on #718
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #719
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #721
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #726
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #728
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #729
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #732
@davvd this is postponed

[2016-03-06 21:13] krzyk commented on #733
@davvd this is postponed

[2016-03-06 21:14] krzyk commented on #734
@davvd this is postponed

[2016-03-06 21:14] krzyk commented on #736
@davvd this is postponed

[2016-03-06 21:14] krzyk commented on #737
@davvd this is postponed

[2016-03-06 21:14] krzyk commented on #742
@davvd this is postponed

[2016-03-06 22:11] rultor commented on #686
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6905-192990973) (took me 1hr)

[2016-03-06 23:04] mkordas opened #747 "ArrayIndexOutOfBoundsException in JavadocEmptyLineCheck on valid Java code"
On the following code I get `ArrayIndexOutOfBoundsException` from Qulice:

[code]

As this is valid Java code, Qulice should not fail on it.

Stacktrace:

[code]

[2016-03-07 09:02] davvd commented on #711
@krzyk got it, "postponed" label here

[2016-03-07 09:02] davvd commented on #711
@krzyk no problem, I will try to find somebody else

[2016-03-07 09:02] davvd commented on #710
@krzyk OK, I put "postponed" label here

[2016-03-07 09:02] davvd commented on #710
@krzyk got it, someone else will be assigned soon

[2016-03-07 09:02] davvd commented on #709
@krzyk got it, "postponed" label here

[2016-03-07 09:02] davvd commented on #709
@krzyk no problem, I will try to find somebody else

[2016-03-07 09:02] davvd commented on #733
@krzyk right, I added "postponed" label

[2016-03-07 09:02] davvd commented on #733
@krzyk got it, someone else will be assigned soon

[2016-03-07 09:02] davvd commented on #732
@krzyk OK, I put "postponed" label here

[2016-03-07 09:02] davvd commented on #732
@krzyk right, I will find someone else, no problem

[2016-03-07 09:02] davvd commented on #728
@krzyk right, I added "postponed" label

[2016-03-07 09:02] davvd commented on #728
@krzyk I will ask somebody else to pick this up

[2016-03-07 09:02] davvd commented on #726
@krzyk got it, "postponed" label here

[2016-03-07 09:02] davvd commented on #726
@krzyk I will ask somebody else to pick this up

[2016-03-07 09:02] davvd commented on #721
@krzyk got it, "postponed" label here

[2016-03-07 09:02] davvd commented on #721
@krzyk got it, someone else will be assigned soon

[2016-03-07 09:02] davvd commented on #719
@krzyk got it, "postponed" label here

[2016-03-07 09:02] davvd commented on #719
@krzyk I will ask somebody else to pick this up

[2016-03-07 09:02] davvd commented on #718
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-07 09:02] davvd commented on #717
@krzyk got it, "postponed" label here

[2016-03-07 09:02] davvd commented on #718
@krzyk I will assign somebody else to this issue

[2016-03-07 09:02] davvd commented on #717
@krzyk got it, someone else will be assigned soon

[2016-03-07 09:02] davvd commented on #716
@krzyk thanks, I added "postponed" label

[2016-03-07 09:02] davvd commented on #716
@krzyk right, I will find someone else, no problem

[2016-03-07 09:02] davvd commented on #715
@krzyk right, I added "postponed" label

[2016-03-07 09:02] davvd commented on #715
@krzyk got it, someone else will be assigned soon

[2016-03-07 09:02] davvd commented on #714
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-07 09:02] davvd commented on #713
@krzyk thanks, I added "postponed" label

[2016-03-07 09:02] davvd commented on #714
@krzyk someone else will help in this task, no problem at all

[2016-03-07 09:02] davvd commented on #713
@krzyk all right, we'll find someone else for this task

[2016-03-07 09:02] davvd commented on #708
@krzyk right, I added "postponed" label

[2016-03-07 09:02] davvd commented on #708
@krzyk someone else will help in this task, no problem at all

[2016-03-07 09:03] davvd commented on #743
@krzyk I added `bug` tag to this ticket

[2016-03-07 09:06] davvd commented on #699
@krzyk I am closing it, thanks all

[2016-03-07 09:06] #699 closed

[2016-03-07 09:09] davvd commented on #684
@guiandmag the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). -60 added to your rating, at the moment it is: [-90](http://www.netbout.com/b/36375?open=rating)

[2016-03-07 09:09] davvd commented on #686
@krzyk There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

some tasks are stuck: #503 (102 days), #667 (32 days), #688 (28 days), #694 (25 days), #684 (alive for 25 days, assigned for 18 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

-25 added to your rat

[2016-03-07 09:09] davvd commented on #699
@dskalenko I added **30 mins** to your account, many thanks for working with the project (79409485)! The completion time here was 552 hours and 14 mins.; +30 added to your rating, current score is: [+105](http://www.netbout.com/b/36376?open=rating)

[2016-03-07 09:09] davvd commented on #728
@mkordas many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `56dd45557c7beb31e30002d3`

[2016-03-07 10:50] davvd commented on #60
@yegor256 last puzzled solved `60-2649436b`/#388

[2016-03-07 10:50] davvd commented on #281
@krzyk last puzzled solved `281-2350cdf0`/#365

[2016-03-07 10:54] davvd commented on #725
@dskalenko please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-07 10:54] davvd commented on #726
@krzyk many thanks for the report, I topped your account for 30 mins, transaction 79413352

[2016-03-07 13:50] davvd commented on #706
@krzyk OK, I un-labeled it as "urgent" tag

[2016-03-07 13:50] davvd commented on #706
@krzyk done, the task is yours, go ahead

[2016-03-07 13:50] davvd commented on #737
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-07 13:50] davvd commented on #737
@krzyk no problem, I will try to find somebody else

[2016-03-07 13:50] davvd commented on #736
@krzyk got it, "postponed" label here

[2016-03-07 13:50] davvd commented on #734
@krzyk right, I added "postponed" label

[2016-03-07 13:50] davvd commented on #736
@krzyk I will try to find someone else

[2016-03-07 13:50] davvd commented on #734
@krzyk someone else will help in this task, no problem at all

[2016-03-07 13:50] davvd commented on #729
@krzyk OK, I put "postponed" label here

[2016-03-07 13:50] davvd commented on #729
@krzyk OK, I will try to assign someone else

[2016-03-07 13:50] davvd commented on #742
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-07 13:50] davvd commented on #742
@krzyk I will ask somebody else to pick this up

[2016-03-07 14:08] davvd commented on #725
@krzyk thanks for this report, I added 30 mins to your account, in transaction `79421484`

[2016-03-08 08:14] davvd commented on #503
@guiandmag this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-08 08:14] davvd commented on #721
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 56de89d156816d086e000136

[2016-03-08 09:37] davvd commented on #431
@krzyk I added **30 mins** to your account, many thanks for working with the project (79773288)! The completion time here was 72 hours and 21 mins.... +30 to your rating, your total score is [+6186](http://www.netbout.com/b/35035?open=rating)

[2016-03-08 09:37] davvd commented on #719
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 56de9d4856816d69b6000069

[2016-03-08 12:37] davvd commented on #718
@mkordas thanks for this report, I added 15 mins to your account, in transaction `56dec7834b766c6f8500052f`

[2016-03-08 13:54] davvd commented on #717
@mkordas thanks for this report, I added 15 mins to your account, in transaction `56ded96be58e05196500054a`

[2016-03-09 17:51] HDouss opened #748 "NonStaticMethodCheck complains about methods that calls superclass methods"
If we have in our code a method that just calls a superclass method `NonStaticMethodCheck` complains.
Here is an example:
[code]
[code]

Qulice raises a `NonStaticMethodCheck` violation on the `setNum` method of the `Child` class.
I suggest that qulice treats `super` calls like `this` calls.

[2016-03-09 19:51] krzyk commented on #748
@davvd valid bug

[2016-03-09 19:51] krzyk commented on #748
@davvd this is postponed

[2016-03-09 19:52] krzyk commented on #747
@davvd valid bug

[2016-03-09 19:52] krzyk commented on #747
@davvd this is postponed

[2016-03-09 19:52] krzyk commented on #738
@davvd this is postponed

[2016-03-09 19:53] krzyk commented on #694
@davvd this is postponed

[2016-03-09 19:53] krzyk commented on #688
@davvd this is postponed

[2016-03-09 19:54] krzyk commented on #667
@davvd this is postponed

[2016-03-09 19:55] krzyk commented on #551
@guiandmag How is the work going?

[2016-03-10 07:02] krzyk commented on #717
@davvd this is not postponed

[2016-03-10 07:02] krzyk commented on #717
@davvd assign @bdragan

[2016-03-10 07:05] krzyk commented on #715
@davvd this is not postponed

[2016-03-10 07:08] krzyk commented on #715
@davvd assign @vkuchyn

[2016-03-10 07:08] krzyk commented on #715
@vkuchyn maybe https://github.com/sevntu-checkstyle/sevntu.checkstyle/blob/master/sevntu-checks/src/main/java/com/github/sevntu/checkstyle/checks/coding/DiamondOperatorForVariableDefinitionCheck.java check could be reused for that

[2016-03-10 07:35] krzyk commented on #705
@davvd this is not posptoned

[2016-03-10 07:35] krzyk commented on #705
@davvd assing @mkordas

[2016-03-10 08:42] davvd commented on #667
@krzyk right, I added "postponed" label

[2016-03-10 08:42] davvd commented on #667
@krzyk right, I will find someone else, no problem

[2016-03-10 08:43] davvd commented on #688
@krzyk got it, "postponed" label here

[2016-03-10 08:43] davvd commented on #688
@krzyk I will try to find someone else

[2016-03-10 08:43] davvd commented on #694
@krzyk OK, I put "postponed" label here

[2016-03-10 08:43] davvd commented on #694
@krzyk got it, someone else will be assigned soon

[2016-03-10 08:43] davvd commented on #717
@krzyk got it, "postponed" tag removed from here

[2016-03-10 08:43] davvd commented on #715
@krzyk got it, "postponed" tag removed from here

[2016-03-10 08:43] davvd commented on #717
@krzyk OK @bdragan please go ahead, this task is yours

[2016-03-10 08:43] davvd commented on #715
@krzyk done. @vkuchyn the task is yours, please go ahead

[2016-03-10 08:43] davvd commented on #738
@krzyk got it, "postponed" label here

[2016-03-10 08:43] davvd commented on #738
@krzyk right, I will find someone else, no problem

[2016-03-10 08:43] davvd commented on #747
@krzyk I just added bug tag here

[2016-03-10 08:43] davvd commented on #748
@krzyk I added `bug` tag to this ticket

[2016-03-10 08:50] davvd commented on #551
@guiandmag you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; added -30 to your rating, now it is equal to [-120]

[2016-03-10 08:51] davvd commented on #716
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56e13577e401064b670000ca`

[2016-03-10 09:43] davvd commented on #748
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-10 09:43] davvd commented on #748
@krzyk I will assign somebody else to this issue

[2016-03-10 09:43] davvd commented on #747
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-10 09:43] davvd commented on #747
@krzyk right, I'll try to find someone else for this task

[2016-03-10 09:48] davvd commented on #715
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `56e142d3e4010602540001f8`

[2016-03-10 12:09] davvd commented on #714
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `56e163e8b530e437a00002b4`

[2016-03-10 13:22] vkuchyn commented on #675
@yegor256 again need your help. Please, see [comment above](https://github.com/teamed/qulice/issues/675#issuecomment-190759025)

[2016-03-10 13:54] davvd commented on #713
@dmzaytsev thanks for the report, I topped your acc for 15 mins, payment ID `79947275`

[2016-03-11 03:23] yegor256 commented on #675
@vkuchyn see http://at.teamed.io/policy.html#15

[2016-03-11 04:07] vkuchyn commented on #675
@yegor256 please, see http://at.teamed.io/policy.html#14 I didn't received any points, but got payment - what I am talking about

[2016-03-11 09:31] davvd commented on #715
@vkuchyn thank you

[2016-03-11 09:37] davvd commented on #708
@mkordas thanks for this report, I added 15 mins to your account, in transaction `56e291bc9e702429ce00032e`

[2016-03-11 11:23] davvd commented on #686
@krzyk there are a few issues by [par.33](http://at.teamed.io/policy.html#33):

some tasks are stuck: #551 (alive for 72 days, assigned for 16 days), #684 (31 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy.html#29)), or 3) try t

[2016-03-11 11:24] davvd commented on #706
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `56e2aacd3602920126000179`

[2016-03-11 13:35] davvd commented on #738
@krzyk thanks a lot for reporting, **30 mins** added to your acc, pmt ID `80002206`

[2016-03-11 21:23] mkordas commented on #734
@davvd I should get 15 min here

[2016-03-12 02:52] vkuchyn commented on #715
@mkordas merged in #749. Please, close the issue

[2016-03-12 07:59] mkordas commented on #715
@vkuchyn thx

[2016-03-12 07:59] #715 closed

[2016-03-12 16:36] krzyk commented on #709
@davvd this is not postponed

[2016-03-12 16:36] krzyk commented on #709
@davvd assign @vkuchyn

[2016-03-12 19:38] dskalenko commented on #725
@davvd here is PR #750

[2016-03-13 08:31] krzyk commented on #741
@davvd assign me

[2016-03-13 10:07] krzyk commented on #741
@davvd please see PR #751

[2016-03-14 08:59] davvd commented on #705
@krzyk OK, I un-labeled it as "postponed" tag

[2016-03-14 08:59] davvd commented on #705
@krzyk yep, done. @mkordas it is your task now

[2016-03-14 08:59] davvd commented on #709
@krzyk OK, I un-labeled it as "postponed" tag

[2016-03-14 08:59] davvd commented on #709
@krzyk OK @vkuchyn please proceed, this task is yours

[2016-03-14 08:59] davvd commented on #725
@dskalenko thank you

[2016-03-14 08:59] davvd commented on #741
@krzyk the task is yours, please proceed

[2016-03-14 08:59] davvd commented on #741
@krzyk will take a look at it, thanks

[2016-03-14 08:59] davvd opened #752 "CheckstyleValidatorTest.java:722-723: add test for next situation..."
Puzzle `715-04710633` in `qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java:722-723` has to be resolved: add test for next situation `return new ArrayList

();`... The puzzle was created by Viktor Kuchyn on 11-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of t

[2016-03-14 09:00] davvd commented on #715
@mkordas there is a puzzle in this code `715-04710633`/#752, we'll resolve it later

[2016-03-14 09:02] davvd commented on #737
@krzyk thanks for tis bug, I topped your account for 30 mins, transaction `80109206`

[2016-03-14 10:46] davvd commented on #736
@krzyk many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `80113250`

[2016-03-14 13:15] davvd commented on #734
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56e6b94fd1862d1ca90002bd`

[2016-03-15 01:50] yegor256 commented on #675
@vkuchyn you still don't have rating points in your account in Netbout?

[2016-03-15 07:03] vkuchyn commented on #675
@yegor256 still don't have this ticket in my rating. You can take a look by the reference http://www.netbout.com/b/36353?open=rating if you have access

[2016-03-15 07:55] davvd commented on #551
@guiandmag it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 to your rating, your total score is [-180](http://www.netbout.com/b/36375?open=rating)

[2016-03-15 07:55] davvd commented on #729
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56e7bff18790354ec600045c`

[2016-03-15 09:28] vkuchyn commented on #709
@krzyk file [DuplicateFinderValidator](https://github.com/vkuchyn/qulice/blob/30f530b6d49aa1506291b6d37b012392dbeb57ec/qulice-maven-plugin/src/main/java/com/qulice/maven/DuplicateFinderValidator.java#L43-L45)
Has violation - not proper order, `@checkstyle` must be after `@todo` (AtclauseOrderCheck). But if to remove checkstyle annotation - we gets Line is too long (LineLengthCheck), about `@todo`

[2016-03-15 09:29] vkuchyn commented on #709
@davvd I am blocked with https://github.com/teamed/qulice/issues/709#issuecomment-196739715

[2016-03-15 09:43] davvd commented on #715
@vkuchyn Thanks for your contribution, **30 mins** was added to your account, payment ID is `80471641`, 96 hours and 15 mins spent total... +30 added to your rating, at the moment it is: [+180](http://www.netbout.com/b/36353?open=rating)

[2016-03-15 09:44] davvd commented on #744
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `56e7d96c0d99ea7132000078`

[2016-03-15 10:15] vkuchyn commented on #715
@davvd thank you for payment. I have question about velocity. According to your policy speed is measuring from time of assignment ([3.10.2016 10:51AM GMT+2](https://github.com/teamed/qulice/issues/715#event-584548726)) to payment moment ([3.15.2016 11:43 AM GMT+2](https://github.com/teamed/qulice/issues/715#issuecomment-196743813)). After calculation we get 96 hours and 15 minutes.
If calculate di

[2016-03-15 12:45] krzyk commented on #709
@vkuchyn I would go with spliting the todo to fit 80 characters (except the URLs, those should work without wrapping)

[2016-03-15 13:19] davvd commented on #743
@krzyk thank you for reporting this, I added 30 mins to your acc, transaction `80479648`

[2016-03-15 13:26] vkuchyn commented on #709
@krzyk ok, thanks

[2016-03-15 15:40] vkuchyn commented on #709
@davvd fixed in #753. Need to review

[2016-03-15 20:50] yegor256 commented on #675
@vkuchyn that's because the payment was done not in a normal mode. won't happen in the future, I hope. we have to move on here, can't do anything with it.

[2016-03-15 21:53] krzyk commented on #706
@davvd please see PR #754

[2016-03-15 22:15] mkordas commented on #705
@krzyk you've assigned me, but actually I don't have time for it this week :(

[2016-03-16 06:05] krzyk commented on #725
@dskalenko thank you

[2016-03-16 06:05] #725 closed

[2016-03-16 06:06] krzyk commented on #705
@mkordas OK

[2016-03-16 06:06] krzyk commented on #705
@davvd assing @vkuchyn

[2016-03-16 07:23] davvd commented on #709
@vkuchyn thank you

[2016-03-16 07:23] davvd commented on #706
@krzyk will take a look at it, thanks

[2016-03-16 07:30] davvd commented on #686
@krzyk There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

some tasks are stuck: #551 (77 days), #684 (36 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

-25 added to your rating, at the moment it is: [+6208](http://www.netbout.com/b/35035?open=rating)

[2016-03-16 07:31] davvd commented on #748
@hdouss many thanks for the bug report, I added 15 mins to your acc, transaction `80570350`

[2016-03-16 08:15] krzyk commented on #551
@davvd this is postponed

[2016-03-16 08:15] krzyk commented on #684
@davvd this is postponed

[2016-03-16 08:48] #741 closed

[2016-03-16 08:48] davvd commented on #741
@krzyk It is closed now

[2016-03-16 08:49] davvd commented on #741
@krzyk thanks, I just added **1 hour** to your account, payment `80573931`, 22 hours and 50 mins spent. the bonus for fast delivery (m=1370). +60 added to your rating, at the moment it is: [+6153](http://www.netbout.com/b/35035?open=rating)

[2016-03-16 08:50] davvd commented on #747
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `56e91e45c1b21975970000c8`

[2016-03-16 11:08] davvd commented on #551
@krzyk got it, "postponed" label here

[2016-03-16 11:08] davvd commented on #551
@krzyk got it, "urgent" tags removed from here

[2016-03-16 11:08] davvd commented on #551
@krzyk someone else will help in this task, no problem at all

[2016-03-16 11:09] davvd commented on #684
@krzyk thanks, I added "postponed" label

[2016-03-16 11:09] davvd commented on #684
@krzyk thanks, I removed the "urgent" tags

[2016-03-16 11:09] davvd commented on #684
@krzyk OK, I will try to assign someone else

[2016-03-17 06:31] krzyk opened #755 "Constructors should be really code free"
Our current rules allow constructors that assign fields using static methods, this should be forbidden, only field assignment from constructor parameters or new classes creation should be allowed (and calling other constructors).

Wrong:
[code]

Correct:
[code]

Also correct:
[code]

[2016-03-17 06:31] krzyk commented on #755
@davvd valid bug

[2016-03-17 08:14] davvd commented on #705
@krzyk there too many active tasks (6) already in the project, can't assign more

[2016-03-17 08:14] davvd commented on #755
@krzyk tag "bug" added

[2016-03-17 08:18] davvd commented on #725
@dskalenko I just added **30 mins** to your account, many thanks for your contribution (80637285).. 212 hours and 28 mins spent here; +30 added to your rating, at the moment it is: [+135](http://www.netbout.com/b/36376?open=rating)

[2016-03-17 08:20] krzyk commented on #705
@davvd this is postponed

[2016-03-17 09:43] davvd commented on #705
@krzyk got it, "postponed" label here

[2016-03-17 09:43] davvd commented on #705
@krzyk someone else will help in this task, no problem at all

[2016-03-17 09:47] davvd commented on #755
@krzyk thank you for reporting this, I added 30 mins to your acc, transaction `80640518`

[2016-03-17 09:48] krzyk commented on #595
@yegor256 it didn't work, could you try again?

[2016-03-17 17:49] yegor256 commented on #595
@krzyk this ticket is already out of management scope (too old). mention this problem in some other ticket (currently open) and we'll pay there. make sure you reference this one.

[2016-03-17 17:59] krzyk commented on #755
@davvd please add also a bonus for  "NonStaticMethodCheck complains about overriden methods" #595
@yegor256 you mean such random mention or something more specific?

[2016-03-18 07:21] davvd commented on #715
@vkuchyn there is no way to be exact in this area. we know that the ticket is closed only when we pay for it. what happens before that - we have no idea and can't control. that's why, when paid it's done.

[2016-03-18 13:04] pinaf commented on #733
@mkordas @krzyk why prohibit a dot? what's the point?

[2016-03-18 13:53] krzyk commented on #733
@pinaf to have it consistent everywhere, right now someone puts a dot ad the end, others don't

[2016-03-20 09:57] krzyk commented on #746
@davvd assign me

[2016-03-20 15:55] krzyk commented on #746
@davvd please see PR #756

[2016-03-21 04:33] yegor256 commented on #755
@davvd pls add extra 30 mins to @krzyk

[2016-03-21 08:03] davvd commented on #746
@krzyk there too many active tasks (5) already in the project, can't assign more

[2016-03-21 08:03] davvd commented on #746
@krzyk will take a look, thanks

[2016-03-21 08:04] davvd commented on #755
@yegor256 I've sent 30 mins extra to @krzyk in transaction ID "80811950"

[2016-03-21 08:04] krzyk commented on #746
@yegor256 Where is the policy for the amount of active tasks in a project? How should I know which number is correct right now?

[2016-03-21 21:15] yegor256 commented on #746
@krzyk it's a dynamic parameter. in open source projects we're trying to keep this number to a minimum, mostly because these projects are donated by Teamed.io and we don't want to burn too much money here

[2016-03-23 08:10] davvd commented on #706
@krzyk this task is in your hands for 15 days already... -30 added to your rating, at the moment it is: [+6087](http://www.netbout.com/b/35035?open=rating)

[2016-03-23 08:17] krzyk commented on #706
@davvd this is postponed

[2016-03-23 08:53] davvd commented on #503
@guiandmag the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; added -30 to your rating, now it is equal to [-210](http://www.

[2016-03-23 08:58] krzyk commented on #503
@davvd this is postponed

[2016-03-23 12:44] davvd commented on #503
@krzyk right, I added "postponed" label

[2016-03-23 12:44] davvd commented on #503
@krzyk thanks, I removed the "urgent" tags

[2016-03-23 12:44] davvd commented on #503
@krzyk right, I will find someone else, no problem

[2016-03-23 12:44] davvd commented on #706
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-23 12:44] davvd commented on #706
@krzyk no problem, I will try to find somebody else

[2016-03-25 04:03] wilsonmar opened #757 "Run Qulice to inspect Qulice code quality"
I'm new to this, so I'm looking to use Qulice to run something.
Might as well be itself.
But I don't see the `<goal>check</goal>` from the README.md in Qulice's pom.xml.
There is `<goal>enforce</goal>` though.

[2016-03-25 07:13] krzyk commented on #757
@wilsonmar qulice check is inherited from jcabi-parent (see jcabi/jcabi-parent)

[2016-03-25 09:13] davvd commented on #717
@bdragan the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 to your rating, your total score is [+0](h

[2016-03-26 12:03] mkordas opened #758 "Allow logging in constructors"
Currently Qulice prohibits logging statements in constructors:
[code]
This is not strictly part of object logic, so I don't see a reason why such information/debug message should be prohibited.

I'd expect logging statements to be allowed in constructors.

[2016-03-27 04:59] krzyk commented on #746
@davvd assign me

[2016-03-28 07:54] davvd commented on #746
@krzyk too many tasks (3) are active in the project already, can't assign new ones

[2016-03-29 10:56] davvd commented on #709
@vkuchyn you're working with this issue for 15 days already. -30 added to your rating, current score is: [+150](http://www.netbout.com/b/36353?open=rating)

[2016-03-29 12:15] davvd commented on #758
@krzyk please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-29 15:15] krzyk commented on #757
@wilsonmar does the above answer your question?

[2016-03-29 15:15] krzyk commented on #758
@mkordas I'm not sure why we should log anything in constructors? Isn't `@Loggable` a solution to this?

[2016-03-29 15:16] krzyk commented on #752
@davvd this is postponed

[2016-03-29 15:16] krzyk commented on #755
@davvd this is postponed

[2016-03-29 15:16] krzyk commented on #745
@davvd this is postponed

[2016-03-29 15:17] krzyk commented on #744
@davvd this is postponed

[2016-03-29 15:17] krzyk commented on #743
@davvd this is postponed

[2016-03-29 15:17] krzyk commented on #740
@davvd this is postponed

[2016-03-29 15:18] krzyk commented on #717
@davvd this is postponed

[2016-03-29 15:19] krzyk commented on #709
@davvd please give more time here

[2016-03-29 15:20] krzyk commented on #411
@davvd this is postponed

[2016-03-29 20:47] mkordas commented on #758
@krzyk thanks, `@Loggable` looks nice

[2016-03-29 20:47] #758 closed

[2016-03-30 06:07] vkuchyn commented on #709
@davvd I was waiting for CR for PR #753 15 days. What behaviour should be in this case not to be penalized?

[2016-03-30 06:07] vkuchyn commented on #709
@davvd need more time

[2016-03-30 07:36] davvd commented on #411
@krzyk got it, "postponed" label here

[2016-03-30 07:36] davvd commented on #411
@krzyk got it, someone else will be assigned soon

[2016-03-30 07:36] davvd commented on #709
@krzyk OK, take your time

[2016-03-30 07:36] davvd commented on #709
@vkuchyn yeah, I know, take your time

[2016-03-30 07:36] davvd commented on #717
@krzyk got it, "postponed" label here

[2016-03-30 07:36] davvd commented on #717
@krzyk I will ask somebody else to pick this up

[2016-03-30 07:36] davvd commented on #740
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-30 07:36] davvd commented on #740
@krzyk got it, someone else will be assigned soon

[2016-03-30 07:36] davvd commented on #745
@krzyk OK, I put "postponed" label here

[2016-03-30 07:36] davvd commented on #745
@krzyk OK, I will try to assign someone else

[2016-03-30 07:36] davvd commented on #744
@krzyk OK, I put "postponed" label here

[2016-03-30 07:36] davvd commented on #743
@krzyk sure, thanks, I added "postponed" label to it

[2016-03-30 07:36] davvd commented on #744
@krzyk right, I will find someone else, no problem

[2016-03-30 07:36] davvd commented on #743
@krzyk all right, we'll find someone else for this task

[2016-03-30 07:36] davvd commented on #752
@krzyk OK, I put "postponed" label here

[2016-03-30 07:36] davvd commented on #752
@krzyk I will try to find someone else

[2016-03-30 07:36] davvd commented on #755
@krzyk thanks, I added "postponed" label

[2016-03-30 07:36] davvd commented on #755
@krzyk I will assign somebody else to this issue

[2016-04-02 06:55] krzyk commented on #757
@wilsonmar ping

[2016-04-02 06:56] krzyk commented on #706
@davvd this is not postponed

[2016-04-02 06:56] krzyk commented on #706
@davvd assign me

[2016-04-04 12:15] davvd commented on #706
@krzyk thanks, I removed the "postponed" tag

[2016-04-04 12:15] davvd commented on #706
@krzyk the task is yours, please proceed

[2016-04-05 20:32] original-brownbear opened #759 "PMD exclusions in pom.xml make a the build pass, but still cause checks to run and produces incorrect output."
Observed this today when introducing Qulice into a legacy project.

Environment:
* Medium size legacy project
* ~4.3k PMD violations in ~300 files ( yes really :) )
 * => PMD takes a lot of time to run (2-3 min), right now only excluding it fully on all files makes sense for irrelevant reasons

Issue Observed:
* When putting `<exclude>pmd:.*</exclude>` the build passes which is correct, but:
 * Th

[2016-04-05 21:04] krzyk commented on #759
@davvd valid bug

[2016-04-06 09:45] davvd commented on #759
@krzyk tag bug added to this issue

[2016-04-06 13:04] davvd commented on #759
@original-brownbear many thanks for the report, I topped your account for 15 mins, transaction AP-1Y1024125J734200D

[2016-04-06 18:30] longtimeago commented on #706
@krzyk any progress so far?

[2016-04-06 18:43] krzyk commented on #706
@longtimeago nope, still waiting for a reviewer

[2016-04-06 18:45] longtimeago commented on #706
@krzyk can't you assign somebody?

[2016-04-06 19:02] krzyk commented on #706
@longtimeago well I can try, but don't keep up the hopes, as there is a dynamic limit on assigned tasks in the project (last time it was 3 max, and the count is very strange so I can't predict it)

[2016-04-06 19:03] longtimeago commented on #706
@krzyk got it, thanks!

[2016-04-07 12:40] krzyk commented on #759
@original-brownbear please add also info that it should be done also for checkstyle

[2016-04-07 12:41] krzyk commented on #759
@davvd this is postponed

[2016-04-07 12:42] krzyk commented on #757
@wilsonmar ping

[2016-04-07 12:43] krzyk commented on #746
@davvd this is postponed

[2016-04-07 12:52] krzyk commented on #709
@davvd assign @vkuchyn

[2016-04-07 13:03] krzyk commented on #706
@davvd this is postponed

[2016-04-07 15:34] mkordas opened #760 "PMD's AvoidDuplicateLiterals is not equivalent to original MultipleStringLiteralsCheck"
In Qulice 0.16.4 `AvoidDuplicateLiterals` took over `MultipleStringLiteralsCheck`. However, these checks are not fully equivalent.

`MultipleStringLiteralsCheck` was by default ignoring duplicates in annotations, see http://checkstyle.sourceforge.net/config_coding.html#MultipleStringLiterals. `AvoidDuplicateLiterals` doesn't do that, but it should, as it doesn't make sense to extract strings used

[2016-04-07 16:02] original-brownbear commented on #759
@krzyk done :)

[2016-04-07 17:28] krzyk commented on #759
@original-brownbear thanks

[2016-04-07 17:29] krzyk commented on #760
@dmarkov valid bug

[2016-04-07 17:29] krzyk commented on #760
@davvd valid bug

[2016-04-07 17:29] krzyk commented on #760
@mkordas thanks

[2016-04-07 23:15] mkordas opened #761 "Prohibit usage of '@author' Javadoc tag"
I don't see any reason why Qulice demands `@author` for every class. It usually is just a noise, because this information is in Git blame anyway. Moreover it gets outdated quickly, as after a few changes original author may have very little in common with a class.

Very rarely user of an API needs to know an author of particular item. Even if they want to know, the first point of contact is a GitH

[2016-04-08 18:12] krzyk commented on #761
@yegor256 Do you have preference regarding `@author` tag?

[2016-04-11 09:22] davvd commented on #709
@krzyk there too many active tasks (3) already in the project, can't assign more

[2016-04-11 09:22] davvd commented on #706
@krzyk right, I added "postponed" label

[2016-04-11 09:22] davvd commented on #706
@krzyk OK, I will try to assign someone else

[2016-04-11 09:22] davvd commented on #746
@krzyk got it, "postponed" label here

[2016-04-11 09:22] davvd commented on #746
@krzyk all right, we'll find someone else for this task

[2016-04-11 09:22] davvd commented on #759
@krzyk thanks, I added "postponed" label

[2016-04-11 09:22] davvd commented on #759
@krzyk I will ask somebody else to pick this up

[2016-04-11 09:23] davvd commented on #760
@krzyk I added `bug` tag to this ticket

[2016-04-11 17:59] vkuchyn commented on #709
@davvd Task is almost done, PR created, we all are waiting for reviewer )

[2016-04-11 20:24] krzyk commented on #757
@wilsonmar ping

[2016-04-11 20:28] wilsonmar commented on #757
No it does not because I am a noob, so pardon the naive question here.
I need to research what  jcabi-parent means.

What I need is an explanation of how to install Qulice with dependents and
a library under test,
which I've started to do at http://wilsonmar.github.io/java-devops-workflow/

[2016-04-11 21:03] krzyk commented on #757
@wilsonmar jcabi-parent is a maven parent project that we use: https://github.com/jcabi/jcabi-parent

As for qulice, you can check out our integration tests, e.g. https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/it/checkstyle-violations/pom.xml or others at https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/it

[2016-04-12 06:35] krzyk commented on #686
@davvd this is postponed

[2016-04-12 07:20] davvd commented on #760
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `570ca198dd526211c100028f`

[2016-04-12 09:06] davvd commented on #686
@krzyk thanks, I added "postponed" label

[2016-04-12 09:06] davvd commented on #686
@krzyk I will ask somebody else to pick this up

[2016-04-13 10:02] davvd commented on #709
@vkuchyn OK

[2016-04-14 10:55] essobedo opened #762 "How to fix the violation SE_TRANSIENT_FIELD_NOT_RESTORED of FindBugs?"
Hi Qulice team,

I need some help to find the best way to fix the violation [_SE_TRANSIENT_FIELD_NOT_RESTORED: Transient field that isn't set by deserialization_](http://findbugs.sourceforge.net/bugDescriptions.html#SE_TRANSIENT_FIELD_NOT_RESTORED) of FindBugs in the project takes within the context of this ticket https://github.com/yegor256/takes/issues/660, my PR is https://github.com/yegor256/t

[2016-04-15 08:18] essobedo commented on #762
@davvd I need help to fix the FindBugs violations in takes so could you please assign it to someone in the Qulice team as you are also the PM? Thank you in advance

[2016-04-15 19:06] krzyk commented on #762
@essobedo well, why not just implement the readObject and writeObject?

[2016-04-15 19:46] essobedo commented on #762
@krzyk thx for the suggestion but how do you implement the method readObject in an immutable object?

[2016-04-15 20:17] essobedo commented on #762
@krzyk I could indeed apply the _Serialization Proxy Pattern_ as described [here](http://allenlsy.com/NOTES-of-Effective-Java-10/#78.-consider-serialization-proxies-instead-of-serialized-instances), but it sounds to me like a very ugly hack, WDYT?

[2016-04-17 17:58] yegor256 commented on #761
@krzyk I think @mkordas is right, we should stop using that tag

[2016-04-17 19:40] krzyk commented on #761
@davvd valid bug

[2016-04-18 08:16] davvd commented on #761
@krzyk tag "bug" added

[2016-04-18 09:55] essobedo commented on #762
@davvd could you please affect it to someone?

[2016-04-18 10:09] davvd commented on #676
@kujtimiihoxha the last puzzle `676-be080182`/#699 originated from here solved

[2016-04-18 10:11] davvd commented on #761
@mkordas many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `5714b2d8dacf4d0dc10000b7`

[2016-04-22 12:08] essobedo commented on #762
@davvd please I need help here

[2016-04-22 14:46] darkled opened #763 "There is a newer version of com.puppycrawl.tools:checkstyle dependency"
There is a newer version 6.17. I think qulice has to use the latest one. Please pay your attention that the abstract class `Check` is deprecated in this version.

[2016-04-22 15:50] krzyk commented on #762
@essobedo I don't think that this is the place to discuss how to fix what is Findbugs complaining. It is more of a need for Findbugs explanation, qulice is just using it with all the checks enabled.

[2016-04-22 15:50] krzyk commented on #763
@darkled what are the features that we could use from that version of checkstyle?

[2016-04-22 16:14] darkled commented on #763
@krzyk the list is [here](http://checkstyle.sourceforge.net/releasenotes.html). Don't we need support of java 9 and plenty of bug fixes?

[2016-04-22 16:18] essobedo commented on #762
@krzyk  as you know I'm very new here and I still don't get how everything works at teamed.io, I simply followed the recommendation of the reviewer of my PR.
@dmzaytsev could you please explain more what you expect from the qulice team? maybe I misunderstood what you wanted exactly, thx in advance

[2016-04-22 16:39] krzyk commented on #763
@darkled Usually we don't do simple updates, unless they are bundled into bigger tasks (e.g. upgrading multiple dependencies, adding new check that exists in new version only, or fixing a problem in qulice that was already fixed in newer dependency version) . This is to avoid burning project resources.

[2016-04-22 19:13] dmzaytsev commented on #762
@yegor256 I am aware about [a Getters/Setters problem] (http://www.yegor256.com/2014/09/16/getters-and-setters-are-evil.html). But what do we have to do in this case? actually [HttpException](https://github.com/yegor256/takes/blob/65f4712ea2e21c02ce4655ce700778b2600d25fd/src/main/java/org/takes/HttpException.java#L46) has  an accessor named  `code()`  instead of the expected name `getStatus()`.
Wh

[2016-04-22 21:43] TheJavaGuy opened #764 "XML validator can't handle comments"
If there is a comment in XML file and N empty lines after the comment (where N >= 0), XML validator always complains that there should be N+1 empty lines. This effectively prohibits comments in XML files and I don't see reason why. In attached zip archive there are 2 XML files: valid.xml which passes validator and invalid.xml which doesn't. The only difference between them is a comment.

Other det

[2016-04-23 05:21] krzyk commented on #764
@TheJavaGuy Could you post a short example also in the bug description?

[2016-04-23 05:22] krzyk commented on #764
@TheJavaGuy From the description it looks like the comments are allowed if followe by a single empty line, but your examples don't have that.

[2016-04-23 05:26] krzyk commented on #762
@dmzaytsev As for BeanMembersShouldSerialize, it has been removed in https://github.com/teamed/qulice/issues/675 But not yet released (I'm waiting for budget to fix a major bug - https://github.com/teamed/qulice/issues/706, releasing without it is pointless).

[2016-04-23 08:14] darkled commented on #763
@krzyk ok, no problem. Thanks for your time :)

[2016-04-23 08:14] #763 closed

[2016-04-23 12:13] essobedo commented on #762
@krzyk good to know it means that the way I fixed _HttpException_ is acceptable, right? What about the second problem with _RsForward_?

[2016-04-23 21:35] TheJavaGuy commented on #764
@krzyk I attached new zip in this comment, xmlbug_detailed.zip. It contains 3 XML files and 3 results of Qulice check. File invalid0empty.xml has 0 empty lines after comment. File invalid1empty.xml has 1 empty line after comment. File invalid2empty.xml has 2 empty lines after comment. From file invalid0empty_result.txt you can see that Qulice XML validator wants to have 1 empty line after the comm

[2016-04-24 07:04] krzyk commented on #764
@davvd valid bug

[2016-04-24 07:04] krzyk commented on #764
@TheJavaGuy thanks

[2016-04-25 09:07] davvd commented on #764
@krzyk added "bug" tag to this issue

[2016-04-26 13:23] rachlenko opened #765 "Error description plugin or online service - open discussion."
Hello ,
Following our discussion , I just introduce new feature which allow to find the error message in online db and show how to fix the problem.

it could be online service , just synchronized  list of errors with checkstyle and PMD , short description and examples how to fix it.

We also can aggregate statistics from examples with buttons /helps or not / and learn which examples was good, bad,

[2016-04-26 13:30] yegor256 commented on #765
@krzyk what do you think?

[2016-04-26 13:30] yegor256 commented on #765
@rachlenko project architect is @krzyk, but I also have some say here :)

[2016-04-26 14:48] rachlenko commented on #765
@krzyk . I can help to implement it

[2016-04-26 14:52] rachlenko commented on #765
yegor256  I believe you could help me with the plugin architecture introduction. I have no experience with IntelliJ plugin writing.

[2016-04-26 14:58] krzyk commented on #765
@rachlenko I onestly don't know what this feature request is about. Could you describe it once more?

[2016-04-26 18:19] rachlenko commented on #765
@krzyk Well, think any new user like me meet that problem when running  qulice first time.
qulice problem's description sometimes is not clear for less experienced users. Therefore, I've started the discussion about improvements . I think qulice could be more popular if an error message will be found in the well-organized resource with code example and documentation. I am writing about this resour

[2016-04-26 19:17] krzyk commented on #765
@rachlenko Wouldn't just http://checkstyle.sourceforge.net/checks.html, https://pmd.github.io/pmd-5.4.1/pmd-java/rules/index.html or http://findbugs.sourceforge.net/bugDescriptions.html be enough.

I know that some of those rules are not described in length (especially FindBugs ones might cause problems), but wouldn't this feature be just a duplication of the above links?

A separate case is our c

[2016-04-26 23:34] rachlenko commented on #765
@krzyk The examples of checkstyle pmd, and findbugs too far from ideal. I know it is a Sisyphean toil to normalize all errors, messages, id's , and examples. We also have to think how to sync it in near future.
If you do not mind to answer to my questions and review my commits , think I could help with this case.

[2016-04-27 15:00] #762 closed

[2016-04-29 14:35] rachlenko commented on #765
@yegor256, @krzyk  well , the silent means I've not persuaded anyone :)..

[2016-04-29 15:54] krzyk commented on #765
@rachlenko I don't have much time lately, sorry for not responding. As for your idea, I'm afraid that adding such a framework would introduce a lot of maintenance later on.
Also we would be shadowing what Checkstyle/PMD/Findbugs guys are doing in their documentation. I know their documentation is far from perfect, but maybe better approach would be to fix it there?

[2016-05-03 11:07] yegor256 commented on #765
@rachlenko I'm also not convinced yet... keep in mind that Checkstyle/PMD/FindBugs rules are not static. they do change them, frequently and a lot. we will have to stay in sync with their changes. eventually and inevitably we'll be out of sync. and, there is a bigger concern: what exactly we will add on top of their documentation? if they say that, say, a method without a JavaDoc is a bad thing -

[2016-05-08 11:46] longtimeago commented on #706
@krzyk any chance to proceed here?

[2016-05-08 11:56] krzyk commented on #706
@longtimeago I'm waiting for budget, (canary is here https://github.com/teamed/qulice/pull/753, if that one will get a reviewer it means that I can unpostponed this issue)

[2016-05-08 12:06] longtimeago commented on #706
@krzyk sad ...

[2016-05-09 11:23] rachlenko commented on #765
Thank you . @yegor256  @krzyk.

[2016-05-09 19:25] mstzn36 opened #766 "How to run qulice on only changed files"
Is it possible to run static code analyze on only changed files ? Like only-analyze attribute of maven findbugs plugin.

[2016-05-14 10:37] krzyk commented on #766
@mstzn36 It is not possible currently, and I don't think there is a good way of doing that across all possible SCM.

[2016-05-16 14:14] mstzn36 commented on #766
@krzyk thanks. I handled this problem with git pre-commit hook.

[2016-05-16 14:14] #766 closed

[2016-05-18 09:34] HDouss opened #767 "Qulice release 0.16.4 is too slow"
Using qulice for some time, I realized that 0.16.4 release is much slower than the older ones. I tried to integrate qulice checking in a [simple (rather small) project](https://github.com/hdouss/jeometry) with 3 sub modules. The table below compares the maven build time when:
* running the build without qulice check
* running the build with qulice 0.16.3
* running the build with qulice 0.16.4

Mod

[2016-05-18 09:53] HDouss opened #768 "Qulice tolerates double whitespace in field decalaration"
I expect qulice to raise an issue for such a field declaration:
[code]
This field declaration contains double whitespace between:
* `private` and `final`
* `final` and `String`
* `String` and `name`

A single white space character should be tolerated but not two.

[2016-05-20 12:23] westonized opened #769 "Rule to detect missing @Override"
Was asked to add '@Override' to an interface implementation. Seems odd, given [java annotations are evil](http://www.yegor256.com/2016/04/12/java-annotations-are-evil.html) but if that's the rule, it needs to be enforced automatically.

[2016-05-21 08:36] westonized opened #770 "No `Missing @Override` message and `Missing Javadoc` is a poor message when `@Override` could also solve"
Reproduction example, where `allValues` is from an interface:

    public List<String> allValues(final String key) {
        return new ArrayList<String>(this.multimap.get(key));
    }

Qulice: `Missing a Javadoc comment. (JavadocMethodCheck)`

Add a Java doc:

    /**
     * Test.
     * @param key The key of the manifest attribute
     * @return List
     */
    public List<String> allValues(fin

[2016-05-21 08:37] westonized commented on #769
Closed by better report in #770

[2016-05-21 08:37] #769 closed

[2016-05-21 18:53] krzyk commented on #767
@HDouss good catch, I think the problem appeared after #61

[2016-05-21 18:53] krzyk commented on #767
@davvd valid bug

[2016-05-21 18:53] krzyk commented on #768
@davvd valid bug

[2016-05-21 19:18] krzyk commented on #770
@davvd valid bug

[2016-05-21 19:18] krzyk commented on #770
@westonized thanks

[2016-05-23 07:56] davvd commented on #770
@krzyk tag "bug" added

[2016-05-23 07:56] davvd commented on #768
@krzyk tag "bug" added

[2016-05-23 07:56] davvd commented on #767
@krzyk I just added bug tag here

[2016-05-23 09:46] davvd commented on #770
@westonized thank you for reporting this, I added 15 mins to your acc, transaction `AP-3L3886498X343551H`

[2016-05-23 13:47] davvd commented on #768
@hdouss thanks for the report, I topped your acc for 15 mins, payment ID `87348420`

[2016-05-23 14:06] mkordas opened #771 "Enforce newline before first member in class/enum/interface"
Currently Qulice allows the following code:
[code]
During recent code review I was asked to add newline after class declaration in such case. I also noticed people adding such newlines for aesthetic reasons. This causes style conflicts, as second part of people considers such newlines as wasted vertical space.

My proposition is to enforce such empty newline after every `class`, `interface` and `e

[2016-05-24 08:36] davvd commented on #767
@hdouss thanks for the report, I topped your acc for 15 mins, payment ID `87713214`

[2016-05-24 12:24] mkordas commented on #767
@krzyk @HDouss yes, the reason is here: https://github.com/teamed/qulice/pull/735/files#diff-2cf0472dd4aa25abe70bb2e0426ea000R154
Basically, Checkstyle has very slow startup time and this is known issue - it's just supposed to be started once per entire project. After the change we're initializing Checkstyle from scratch for every file...

[2016-05-25 05:06] krzyk commented on #771
@mkordas yes, makes sense to make it consistent

[2016-05-25 05:06] krzyk commented on #771
@davvd valid bug

[2016-05-25 05:21] krzyk opened #772 "Checkstyle and PMD rules overlap"
Following checkstyle rules are equivalent of our PMD rules:

| Checkstyle | PMD |
| --- | --- |
| JavaNCSS (method and class) | NcssMethodCount, NcssConstructorCount, NcssTypeCount |
| CyclomaticComplexity | CyclomaticComplexity, StdCyclomaticComplexity, ModifiedCyclomaticComplexity |
| NPathComplexity | NPathComplexity |
| MethodLength | ExcessiveMethodLength |
| IllegalCatch | AvoidCatchingGener

[2016-05-25 05:21] krzyk commented on #772
@davvd valid bug

[2016-05-25 09:42] davvd commented on #772
@krzyk I added `bug` tag to this ticket

[2016-05-25 09:42] davvd commented on #771
@krzyk tagged this issue with "bug"

[2016-05-25 10:52] davvd commented on #772
@krzyk many thanks for the bug report, I added 30 mins to your acc, transaction `87842351`

[2016-05-25 11:59] essobedo opened #773 "Prevent having a normal parameter following directly a parameter with a parenthesis"
It could be nice to have a rule that prevents developers to write code like this:

[code]
I believe that it is more readable to have a normal parameter following a parameter with parenthesis in the next line as this:

[code]

As described [here](http://www.yegor256.com/2014/04/27/typical-mistakes-in-java-code.html#indentation)

[2016-05-26 04:42] jiakuan opened #774 "Documentation for qulice-gradle-plugin"
I only saw documentation about how to configure and use qulice with Maven. Are there any documents on how to configure and use gulice with Gradle?

[2016-05-26 08:30] davvd commented on #771
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `5746b4373bfa9c72af00048c`

[2016-05-27 08:18] krzyk commented on #774
@jiakuan Unfortunately we don't have such documentation yet, thank you for the bug report

[2016-05-27 08:18] krzyk commented on #774
@davvd valid bug

[2016-05-27 08:26] krzyk commented on #709
@davvd this is urgent

[2016-05-27 13:59] davvd commented on #709
@krzyk got it, "urgent" label here

[2016-05-27 13:59] davvd commented on #774
@krzyk I added `bug` tag to this ticket

[2016-05-28 11:23] mkordas opened #775 "Allow rethrowing exceptions"
Currently Qulice prohibits catching exceptions like `Exception` and `RuntimeException`.

First problem is that we have duplicated rules for that:
* PMD `AvoidCatchingGenericException`
* Checkstyle `IllegalCatch`

Second problem is that such violations discourage very nice practice of catching all exceptions, adding information about context and rethrowing, like that:
[code]
I expect simple rethrow

[2016-05-28 18:42] krzyk commented on #773
@essobedo yes, it is described there, but on the other hand the rule is (from the same page):

[2016-05-28 18:52] krzyk commented on #775
@mkordas First point will be done in #772 as for the rethrowing Exception/RuntimException with context I'm not sure about that, might lead to gigantic stacktraces. Don't you think it would be better to have it as an exception?

[2016-05-28 22:27] mkordas commented on #775
@krzyk I've edited the description and removed info about duplicate. And yes, I don't think we should punish with any violation people following rule described at http://www.yegor256.com/2015/12/01/rethrow-exceptions.html.
And stacktraces won't be much longer, it's usually just one more line per every rethrow.

[2016-05-30 19:50] krzyk commented on #767
@davvd this is urgent

[2016-05-30 19:51] krzyk commented on #706
@davvd this is urgent

[2016-05-31 09:16] davvd commented on #706
@krzyk OK, I put "urgent" label here

[2016-05-31 09:16] davvd commented on #706
@krzyk OK, I un-labeled it as "postponed" tags

[2016-05-31 09:16] davvd commented on #767
@krzyk OK, I put "urgent" label here

[2016-06-01 05:27] krzyk commented on #709
@vkuchyn thanks

[2016-06-01 05:27] #709 closed

[2016-06-01 07:08] davvd opened #776 "CheckstyleValidatorTest.java:700-701: add test for next situation..."
Puzzle `715-2a207c32` in `qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java:700-701` has to be resolved: add test for next situation {@code return new ArrayList

();}... The puzzle was created by Viktor Kuchyn on 11-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the tex

[2016-06-01 07:10] davvd commented on #767
@dskalenko this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-06-01 11:31] davvd opened #777 "DuplicateFinderValidator.java:44-54: Maven-duplicate-finder-plugin should support exclusions. Let's..."
Puzzle `250-1b26b28c` in `qulice-maven-plugin/src/main/java/com/qulice/maven/DuplicateFinderValidator.java:44-54` has to be resolved: Maven-duplicate-finder-plugin should support exclusions. Let's add exclusions of following formats (examples): - duplicate:about.html - duplicate:org.eclipse.sisu:org.eclipse.sisu.plexus:0.0.0.M5 - duplicate:org.codehaus.groovy.ast.expr.RegexExpression - duplicate:o

[2016-06-01 15:50] vkuchyn commented on #709
@davvd was merged and fixed in #753

[2016-06-01 17:36] dskalenko commented on #767
@krzyk
@mkordas
Could you please give me an advice -  how I can test it, I mean how I (or who will do review) can measure that after fix the performance problem is gone?

[2016-06-01 17:43] mkordas commented on #767
@dskalenko It will be simple to verify. Now we bootstrap Checkstyle from
scratch for every file under check. After fix we should initialise
Checkstyle once per analysis.

[2016-06-01 17:49] dskalenko commented on #767
@mkordas ok I see, thanks, I just thought about some test  ... :)

[2016-06-01 18:00] mkordas commented on #767
@dskalenko unfortunately we don't have environment for running perf tests...

[2016-06-02 09:15] davvd commented on #709
@vkuchyn thank you!

[2016-06-02 09:16] davvd commented on #310
@krzyk Thanks all, I am closing

[2016-06-02 09:16] #310 closed

[2016-06-02 09:16] davvd commented on #752
@krzyk Thanks, closed

[2016-06-02 09:16] #752 closed

[2016-06-02 09:19] davvd commented on #709
@vkuchyn Thanks a lot, I just topped your account for **30 mins**, transaction ID `88636738`, total time was 1894 hours and 7 mins; +30 to your rating, your total score is [+90](http://www.netbout.com/b/36353?open=rating)

[2016-06-03 05:55] krzyk commented on #775
@mkordas OK, let's try it

[2016-06-03 05:55] krzyk commented on #775
@davvd valid bug

[2016-06-03 07:22] davvd commented on #775
@krzyk I added `bug` tag to this ticket

[2016-06-03 10:58] davvd commented on #775
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `575162c7f966092a91000e10`

[2016-06-03 12:49] dskalenko commented on #767
@mkordas
Here is PR #778, Could you please take a look?

[2016-06-04 14:10] krzyk commented on #686
@rultor release tag is 0.16.5

[2016-06-04 14:10] krzyk commented on #686
@rultor release tag is `0.16.5`

[2016-06-04 14:10] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-223757666)

[2016-06-04 14:12] rultor commented on #686
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6905-223757666) (spent 2min)

[code]

[2016-06-04 14:13] krzyk commented on #686
@rultor release tag is `0.16.5`

[2016-06-04 14:14] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-223757675)

[2016-06-04 15:37] rultor commented on #686
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6905-223757675) (took me 1hr)

[2016-06-04 15:39] rultor commented on #686
@davvd @krzyk Invalid release tag `0.16.5` specified. There is already a release `0.16.5` newer than the given release in this repository.

[2016-06-04 15:39] rultor commented on #686
@krzyk I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-06-05 11:28] dskalenko commented on #767
@HDouss
Could you please take a look my fix PR #778

[2016-06-06 06:27] HDouss commented on #767
@dskalenko Thanks !

[2016-06-06 06:27] #767 closed

[2016-06-06 08:16] carlosmiranda opened #779 "DiamondOperator complains when instantiating/assigning inner types"
`DiamondOperator` complains when you instantiate and assign an inner class type. For example, see the following code which is typical when using the [Takes](https://github.com/yegor256/takes) framework:

[code]

Qulice will complain about this:

[code]

Note that `RqForm.Smart` is NOT a generic type, and neither are its parent types `RqForm` or `Request`. There is no way that the diamond operator

[2016-06-06 08:28] krzyk commented on #779
@davvd valid bug

[2016-06-06 08:29] krzyk commented on #779
@carlosmiranda thanks

[2016-06-08 09:01] davvd commented on #779
@krzyk tag "bug" added

[2016-06-08 09:04] davvd commented on #706
@dskalenko please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-06-08 11:31] davvd commented on #779
@carlosmiranda many thanks for the report, I topped your account for 15 mins, transaction 89309942

[2016-06-09 09:21] davvd commented on #767
@dskalenko done, I added **30 mins** in payment `89369930`, 169 hours and 51 mins spent to complete this

added +30 to your rating, now it is equal to [+60](http://www.netbout.com/b/36376?open=rating)

[2016-06-11 12:02] krzyk commented on #779
@davvd this is urgent

[2016-06-11 12:17] krzyk opened #780 "StringLiteralsConcatenationCheck fails for non-String addition"
Following lines:
[code]
fail `StringLiteralsConcatenationCheck`, but shouldn't because this is addition of integer values not strings.
Fix this method to ignore cases where non string values are added.

[2016-06-11 12:17] krzyk commented on #780
@davvd valid bug

[2016-06-13 10:17] davvd commented on #779
@krzyk sure, thanks, I added "urgent" label to it

[2016-06-13 10:17] davvd commented on #780
@krzyk tag "bug" added

[2016-06-14 11:11] davvd commented on #779
@dskalenko this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-06-14 11:12] davvd commented on #780
@krzyk many thanks for the bug report, I added 30 mins to your acc, transaction `89925116`

[2016-06-14 16:41] dskalenko commented on #706
@krzyk or @mkordas

I have implemented test to be able to fix the problem, now I am stuck , because I can't find elegant solution how I can get unwovenClassesDir parameter from jcabi-maven-plugin, I found something like this http://stackoverflow.com/questions/125389/best-way-to-access-the-runtime-configuration-of-a-maven-plugin-from-a-custom-mojo/130872#130872
Could you please give me advice how I

[2016-06-14 16:50] krzyk commented on #706
@dskalenko I think we would need to wait for https://github.com/jcabi/jcabi-maven-plugin/issues/48 to be fixed other option is to temporary disable BED_BOGUS_EXCEPTION_DECLARATION check and create a puzzle to implement it after https://github.com/jcabi/jcabi-maven-plugin/issues/48 is done. Other options I think are too costly.

[2016-06-15 10:10] dskalenko commented on #706
@krzyk
here my PR #781, please read description of PR before doing code review and let me know if I am done correctly for the moment, thanks

[2016-06-16 08:39] TheJavaGuy opened #782 "Incorrect warning about unused declared dependencies causes build failure"
In some situations Qulice incorrectly reports "Unused declared dependencies found" which causes build failure. In reality, the dependency is used in code. Maven dependency plugin 2.10 reports "No dependency problems found" on the same project. This could maybe be due to Qulice using version 1.5 of Apache Maven Dependency Analyzer while version 1.6 exists (http://mvnrepository.com/artifact/org.apac

[2016-06-17 14:35] RokiShopen commented on #782
I have tested it on Win7,  Maven 3.3.9, Java 1.8.0_77 and I have same behavior.

[2016-06-17 18:58] krzyk commented on #782
@TheJavaGuy interesting, we usually didn't have problems if it wasn't annotation

[2016-06-17 18:59] krzyk commented on #782
@TheJavaGuy thanks for the report

[2016-06-17 18:59] krzyk commented on #782
@davvd valid bug

[2016-06-17 20:18] krzyk opened #784 "Usages of Charsets should be discouraged in favor of StandardCharsets"
`com.google.common.base.Charsets` from guava should not be used, it should be prohibited just like commons-lang `CharEncoding`, there should be information that `StandardCharsets` should be used instead.

[2016-06-17 20:19] krzyk commented on #784
@davvd valid bug

[2016-06-18 13:13] xupyprmv opened #785 "use `skipAnnotations = true` for PMD `AvoidDuplicateLiterals`"
You can find duplicate string literals in annotations here:

https://github.com/yegor256/takes/blob/b9600a270b4efa0c873d7ced9a6304b081752d91/src/main/java/org/takes/tk/TkCORS.java#L54

I think that we have to use flag `skipAnnotations = true` for PMD `AvoidDuplicateLiterals`, to avoid warnings with string literals in annotations.

[2016-06-18 13:43] krzyk commented on #785
@xupyprmv duplicate of #760

[2016-06-18 14:38] #785 closed

[2016-06-20 09:01] davvd commented on #784
@krzyk I tagged this as "bug"

[2016-06-20 09:01] davvd commented on #782
@krzyk I tagged this as "bug"

[2016-06-20 10:11] davvd commented on #784
@krzyk many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `90282783`

[2016-06-23 10:36] davvd commented on #706
@dskalenko check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, current score is:

[2016-06-23 17:24] dskalenko commented on #779
@davvd I need more time to fix this issue, thanks for understanding

[2016-06-24 08:52] davvd commented on #779
@dskalenko sure, take your time

[2016-06-25 05:44] krzyk commented on #706
@dskalenko now you have to ask mkordas to close the issue (if it fixes his problrm)

[2016-06-25 08:45] westonized opened #786 "Missing '@version' tag in class/interface comment"
This message is given, if present, but not in an acceptable format.

 * @version $Id: $

Message needs to be more specific for this case, or more general like:

[2016-06-25 09:10] krzyk commented on #786
@davvd valid bug

[2016-06-25 09:10] krzyk commented on #786
@westonized thanks

[2016-06-25 10:18] xupyprmv commented on #760
@krzyk Can this issue being resolved soon?

[2016-06-25 10:23] krzyk commented on #576
@davvd this is not posptoned

[2016-06-25 10:23] krzyk commented on #576
@davvd this is urgent

[2016-06-25 15:24] krzyk commented on #760
@xupyprmv let's see

[2016-06-25 15:24] krzyk commented on #760
@davvd this is urgent

[2016-06-25 16:09] xupyprmv commented on #760
@krzyk Great thanks

[2016-06-26 14:01] krzyk commented on #706
@dskalenko ping

[2016-06-27 06:36] dskalenko commented on #706
@mkordas Could you please check this issue and close if all good

[2016-06-27 09:03] davvd commented on #576
@krzyk right, I added "urgent" label

[2016-06-27 09:03] davvd commented on #576
@krzyk sure, thanks, I removed "postponed" tags to it

[2016-06-27 09:03] davvd commented on #760
@krzyk got it, "urgent" label here

[2016-06-27 09:03] davvd commented on #786
@krzyk I added `bug` tag to this ticket

[2016-06-27 09:04] davvd opened #787 "Wrap.java:78-84: After fix issue mentioned in..."
Puzzle `706-72bdab5d` in `qulice-findbugs/src/main/java/com/qulice/findbugs/Wrap.java:78-84` has to be resolved: After fix issue mentioned in comment https://github.com/teamed/qulice/issues/706#issuecomment-225943946 rollback the changes done in #706 then remove @Ignore above FindBugsValidatorTest.reportsIncorrectlyAddedThrows test and fix test findbugs-bed-bogus-exception-declaration. For the mom

[2016-06-27 09:05] davvd commented on #706
@mkordas once `706-72bdab5d`/#787 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-06-27 12:44] #706 closed

[2016-06-27 12:50] davvd commented on #786
@westonized thanks for the ticket, your account was topped for 15 mins, payment AP-5JD76959R52808612

[2016-06-28 05:28] krzyk commented on #787
@davvd this is urgent

[2016-06-28 05:28] krzyk commented on #699
@davvd this is not urgent

[2016-06-28 05:28] krzyk commented on #706
@davvd this is not urgent

[2016-06-28 05:29] krzyk commented on #709
@davvd this is not urgent

[2016-06-28 05:29] krzyk commented on #725
@davvd this is not urgent

[2016-06-28 05:29] krzyk commented on #767
@davvd this is not urgent

[2016-06-28 11:07] davvd commented on #709
@krzyk got it, "urgent" tag removed from here

[2016-06-28 11:07] davvd commented on #706
@krzyk right, I removed "urgent" tag

[2016-06-28 11:07] davvd commented on #767
@krzyk thanks, I removed the "urgent" tag

[2016-06-28 12:48] davvd commented on #787
@krzyk "urgent" label already in this issue

[2016-06-29 07:00] 54uso opened #788 "IndentationCheck"
When I coded like this:
[code]
qulice hinted that:

But, I think the indentation is not wrong, and don't know the reason.

I hope you can give me a hand, thanks.

[2016-06-29 11:50] davvd commented on #706
@dskalenko Thanks so much! Your account was topped up for **30 mins** (transaction ID is `91616835`, the task took 482 hours and 3 mins)

added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36376?open=rating)

[2016-06-29 19:10] krzyk commented on #788
There is an issue for this https://github.com/teamed/qulice/issues/411, for now you should format it like
[code]

[2016-07-06 23:07] dskalenko commented on #779
@davvd here my PR #789

[2016-07-07 06:36] krzyk commented on #788
@davvd this is duplicate

[2016-07-07 09:46] davvd commented on #779
@dskalenko thanks

[2016-07-14 22:27] original-brownbear opened #790 "Conflicting Rules for Wrapping inside Long Booleans"
I think we have two contradicting rules here.

Running this code:

[code]

I see
[code]

for the line starting on the `==`.

Following the suggestion an moving the `==` to the previous line though I do get:

[code]

Personally I like the first option a lot better, I think starting a line on `==` should be allowed to break the tie here. Either way it should be broken :)

[2016-07-18 10:12] davvd commented on #790
@krzyk please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-07-18 10:15] krzyk commented on #790
@davvd valid bug

[2016-07-18 11:37] davvd commented on #790
@krzyk I just added bug tag here

[2016-07-19 07:15] davvd commented on #790
@original-brownbear many thanks for the bug report, I added 15 mins to your acc, transaction `AP-2AY0325055280000W`

[2016-07-19 20:56] original-brownbear opened #791 "Suppressing FileLengthCheck is not working."
Not sure if I may be doing it wrong, but I just worked on a 1008 lines file.
Put ` * @checkstyle FileLengthCheck (1100 lines)` in the JavaDoc of the class => still getting:

[code]

Bug right ? Or is it by design that this cannot be suppressed? :)

[2016-07-25 08:50] davvd commented on #791
@krzyk take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-07-25 09:06] krzyk commented on #791
@original-brownbear I don't think there is a way to exclude FileLength check in checkstyle

[2016-07-25 09:14] original-brownbear commented on #791
@krzyk ah ok :) I kinda figured this might be the case :) thanks!

[2016-07-25 09:14] #791 closed

[2016-07-30 05:36] krzyk commented on #757
@wilsonmar Have you had a chance to look at jcabi-parent? As you can see there it is configured with qulice, and qulice itself uses it so is tested with previous qulice version.

[2016-07-30 05:37] krzyk commented on #788
@davvd this is duplicate

[2016-07-30 05:49] krzyk commented on #746
@davvd this is not postponed

[2016-07-30 16:00] mkordas commented on #411
@krzyk can we unpostpone this so that I can be assigned here finally?

[2016-07-30 16:33] krzyk commented on #411
@davvd this is not postponed

[2016-07-31 04:59] krzyk commented on #779
@dskalenko now you have to ask the issue creator to close it

[2016-08-01 03:05] carlosmiranda commented on #779
@dskalenko thanks!

[2016-08-01 03:05] #779 closed

[2016-08-01 04:46] krzyk commented on #779
@davvd this is not urgent

[2016-08-01 04:50] krzyk commented on #686
@yegor256 can I release 0.17? I think final bug (#779) was fixed and 0.17 should work correctly

[2016-08-01 04:50] krzyk commented on #686
@davvd this is not postponed

[2016-08-01 04:50] krzyk commented on #686
@davvd assign me

[2016-08-01 07:33] davvd commented on #411
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-08-01 07:33] davvd commented on #686
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-08-01 07:33] davvd commented on #686
@krzyk the task is yours, please proceed

[2016-08-01 07:33] davvd commented on #746
@krzyk OK, I un-labeled it as "postponed" tag

[2016-08-01 07:33] davvd commented on #779
@krzyk got it, "urgent" tag removed from here

[2016-08-01 07:38] davvd commented on #760
@dskalenko this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-08-01 08:54] krzyk commented on #746
@davvd assign me

[2016-08-01 10:24] davvd commented on #746
@krzyk too many tasks already active in the project (4), can't have more

[2016-08-02 08:20] davvd commented on #779
@dskalenko thanks, paid, **30 mins** to your account, payment ID is `95473345`, task took 1148 hours and 22 mins to complete... +30 to your rating, your total score is [+60](http://www.netbout.com/b/36376?open=rating)

[2016-08-02 15:33] dskalenko commented on #760
@davvd here my PR #792

[2016-08-02 18:31] yegor256 commented on #686
@krzyk yes, let's do it!

[2016-08-02 19:20] krzyk commented on #686
@rultor release tag is `0.17`

[2016-08-02 19:20] rultor commented on #686
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6905-237014041)

[2016-08-02 20:26] rultor commented on #686
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6905-237014041) (took me 1hr)

[2016-08-02 20:37] krzyk commented on #686
@yegor256 can you mark this release as final?

[2016-08-03 07:41] davvd commented on #760
@dskalenko thank you!

[2016-08-03 10:31] alex-semenyuk opened #793 "Return empty collection instead null"
When I write

`public final List<Object> method() {
        return null;
 }`

Qulice doesn't complain, but in this case can return Collections.emptyList(); instead null, the same for other collections.

[2016-08-03 15:47] krzyk commented on #793
@davvd valid bug

[2016-08-04 08:32] davvd commented on #793
@krzyk I added `bug` tag to this ticket

[2016-08-04 10:12] dskalenko commented on #760
@mkordas Could you please close the task

[2016-08-04 10:14] #760 closed

[2016-08-04 10:39] krzyk commented on #760
@davvd this is not urgent

[2016-08-04 10:53] davvd commented on #787
@dskalenko please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-08-04 11:54] davvd commented on #760
@krzyk OK, I un-labeled it as "urgent" tag

[2016-08-04 19:31] krzyk commented on #757
@davvd this is invalid

[2016-08-04 19:32] krzyk commented on #746
@davvd this is urgent

[2016-08-05 07:18] alex-semenyuk opened #794 "Issue with executions section in plugin"
When I try to exclude some class from findbugs checking like this:

[code]

I have the following exception:

[code]
When I remove this section than everything is ok.
[code]

[2016-08-05 08:46] davvd commented on #746
@krzyk thanks, I added "urgent" label

[2016-08-05 09:21] davvd commented on #686
@krzyk there are a few issues by [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #576 (213 days), #746 (153 days), #761 (108 days), #764 (101 days), #770 (73 days), #768 (73 days), #772 (71 days), #771 (71 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assi

[2016-08-05 09:28] krzyk opened #795 "Check for jcabi-log logger to disallow String.format"
jcabi-log Logger supports formatting using standard `%s`, `%d`, etc., plus various extensions (http://log.jcabi.com/decors.html) so it is not needed to use `String.format` with it.

Create a check (you can look at InvalidSlf4jMessageFormat from pmd) that will fail a buld if jcabi-log Logger is provided with a `String.format`.

[2016-08-05 09:28] krzyk commented on #795
@davvd valid bug

[2016-08-05 09:39] krzyk commented on #771
@davvd this is postponed

[2016-08-05 09:39] krzyk commented on #772
@davvd this is postponed

[2016-08-05 09:40] krzyk commented on #768
@davvd this is postponed

[2016-08-05 09:40] krzyk commented on #770
@davvd this is postponed

[2016-08-05 09:41] krzyk commented on #764
@davvd this is postponed

[2016-08-05 09:41] krzyk commented on #746
@davvd this is postponed

[2016-08-05 09:41] krzyk commented on #576
@davvd this is postponed

[2016-08-05 09:42] krzyk commented on #686
@yegor256 can you mark the release 0.17 as final?

[2016-08-05 09:46] krzyk commented on #765
@rachlenko I think it would be better to have a separate project for such service, when it will exist we could add links from bug descriptions to this service/webpage for hints how to fix errors. Adding such service to qulice itself would make it too complicated and would make it handle to many responsibilities.
If you agree please close this issue and if you have time you could create such servic

[2016-08-05 09:47] krzyk commented on #773
@essobedo Can we close this issue?

[2016-08-05 09:48] #773 closed

[2016-08-05 09:49] krzyk commented on #788
@yegor256 @davvd doesn't notice my requests to close this issue as duplicate

[2016-08-05 10:10] original-brownbear opened #796 "Scala ? :)"
We have some Groovy support in Qulice as well as some Javascript support.
Not sure we want to spent the resources.
But as of right now Scala outranks Groovy in popularity.

Maybe we could add the Checkstyle analog for Scala [ScalaStyle](http://www.scalastyle.org/) to Qulice?
Also we could configure Findbugs to omit Scala files, a much requested feature in Findbugs, automatically.

I'd find this ve

[2016-08-05 13:08] krzyk commented on #796
@original-brownbear I think this one will go together with https://github.com/teamed/qulice/issues/406 (see discussion there)

[2016-08-05 13:10] original-brownbear commented on #796
@krzyk ah ok read it :) so when can we expect that Plugin API ? :D

[2016-08-05 13:10] #796 closed

[2016-08-05 13:29] davvd commented on #576
@krzyk sure, thanks, I added "postponed" label to it

[2016-08-05 13:29] davvd commented on #576
@krzyk sure, thanks, I removed "urgent" tags to it

[2016-08-05 13:29] davvd commented on #576
@krzyk no problem, I will try to find somebody else

[2016-08-05 13:29] davvd commented on #746
@krzyk got it, "postponed" label here

[2016-08-05 13:29] davvd commented on #746
@krzyk OK, I un-labeled it as "urgent" tags

[2016-08-05 13:29] davvd commented on #746
@krzyk all right, we'll find someone else for this task

[2016-08-05 13:29] davvd commented on #764
@krzyk right, I added "postponed" label

[2016-08-05 13:29] davvd commented on #764
@krzyk someone else will help in this task, no problem at all

[2016-08-05 13:29] davvd commented on #770
@krzyk thanks, I added "postponed" label

[2016-08-05 13:29] davvd commented on #768
@krzyk OK, I put "postponed" label here

[2016-08-05 13:29] davvd commented on #770
@krzyk no problem, I will try to find somebody else

[2016-08-05 13:29] davvd commented on #768
@krzyk all right, we'll find someone else for this task

[2016-08-05 13:29] davvd commented on #772
@krzyk OK, I put "postponed" label here

[2016-08-05 13:29] davvd commented on #772
@krzyk right, I will find someone else, no problem

[2016-08-05 13:29] davvd commented on #771
@krzyk right, I added "postponed" label

[2016-08-05 13:29] davvd commented on #771
@krzyk I will try to find someone else

[2016-08-05 13:29] davvd commented on #795
@krzyk I just added bug tag here

[2016-08-05 13:32] davvd commented on #760
@dskalenko I just added **30 mins** to your account, many thanks for your contribution (95742106).. 75 hours and 12 mins spent here; +30 added to your rating, current score is: [+90](http://www.netbout.com/b/36376?open=rating)

[2016-08-07 14:29] krzyk commented on #794
@alex-semenyuk Is this really realted to qulice? I don't see any qulice class in the stack trace

[2016-08-07 20:01] alex-semenyuk commented on #794
@krzyk suppose it's a maven problem which mentioned here https://github.com/teamed/qulice/issues/514 . I used maven with the version < 3.1.0. After upgrading version to the latest it works in all configuration which was mentioned above. Suppose it can be closed, but can you specify Maven's version requirements http://www.qulice.com/qulice-maven-plugin/usage.html and here https://github.com/teamed/

[2016-08-08 05:27] krzyk commented on #794
@alex-semenyuk OK, please either change the title/description of this issue or create a new one for the mvn version

[2016-08-08 07:38] alex-semenyuk commented on #794
@krzyk Done. Does it look OK now?

[2016-08-08 08:43] davvd commented on #795
@krzyk thank you for reporting this, I added 30 mins to your acc, transaction `95857375`

[2016-08-08 08:46] krzyk commented on #794
@davvd valid bug

[2016-08-08 11:01] davvd commented on #794
@krzyk tagged this issue with "bug"

[2016-08-08 14:13] weisebrazil opened #797 "Gradle Plugin"
I'd like to help and develop the gradle plugin project. What the goals/tasks Do I need to develop?

[2016-08-08 17:01] yegor256 commented on #686
@davvd release 0.17 is final

[2016-08-08 18:10] #788 closed

[2016-08-08 18:11] yegor256 commented on #788
@krzyk I closed it

[2016-08-09 07:59] davvd commented on #686
@yegor256 right, release 0.17 is set to "final"

[2016-08-09 11:29] davvd opened #798 "0.18"
Please, publish a new release **0.18** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2016-08-09 11:32] davvd commented on #798
@krzyk the task is yours,please go ahead

[2016-08-09 11:42] krzyk commented on #798
@rultor release tag is `0.17.1`

[2016-08-09 11:43] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-238528554)

[2016-08-09 12:10] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-238528554) (took me 26min)

[2016-08-10 12:20] #686 closed

[2016-08-10 12:20] davvd commented on #686
@krzyk The task is done, thanks all, I am closing it

[2016-08-10 12:22] davvd commented on #686
@krzyk Much obliged! I have added **31 mins** to your account in payment "96399409", 195 hours and 54 mins spent. here is how the bonus is calculated: t=4281, c=174, h=6876, diff=0.16..master. +31 added to your rating, at the moment it is: [+1236](http://www.netbout.com/b/35035?open=rating)

[2016-08-12 07:26] davvd commented on #797
@krzyk please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-12 08:28] krzyk commented on #797
@weisebrazil there is an open issue here: https://github.com/teamed/qulice/issues/612

[2016-08-12 17:40] xupyprmv opened #799 "`final` modifier in catch block with multiple exceptions"
`final` modifier is not necessary if we have catch block that handling more than one type of exception. Exception variable is final by default.

http://docs.oracle.com/javase/7/docs/technotes/guides/language/catch-multiple.html#multiple

[2016-08-12 19:16] krzyk commented on #799
@xupyprmv But it would break the symmetry of single exception catch and multiple exception catch block. If we can't remove final from both then I wouldn't remove it from only one of those.

[2016-08-13 11:12] krzyk commented on #787
@dskalenko Any updates?

[2016-08-13 11:14] krzyk commented on #757
@davvd this is invalid

[2016-08-13 11:14] krzyk commented on #775
@davvd this is postponed

[2016-08-13 11:14] krzyk commented on #774
@davvd this is postponed

[2016-08-13 11:14] krzyk commented on #776
@davvd this is postponed

[2016-08-13 11:15] krzyk commented on #777
@davvd this is postponed

[2016-08-13 11:15] krzyk commented on #780
@davvd this is postponed

[2016-08-13 11:15] krzyk commented on #782
@davvd this is postponed

[2016-08-13 11:16] krzyk commented on #784
@davvd this is postponed

[2016-08-13 11:16] krzyk commented on #786
@davvd this is postponed

[2016-08-13 11:16] krzyk commented on #790
@davvd this is postponed

[2016-08-13 11:16] krzyk commented on #793
@davvd this is postponed

[2016-08-13 11:16] krzyk commented on #794
@davvd this is postponed

[2016-08-13 11:17] krzyk commented on #795
@davvd this is postponed

[2016-08-13 11:18] krzyk commented on #746
@davvd this is urgent

[2016-08-13 11:18] krzyk commented on #740
@davvd this is urgent

[2016-08-13 11:31] krzyk opened #800 "Upgrade qulice checks to 0.17.4"
We finally have a new working release of qulice.
Let's upgrade our own build to use 0.17.3 of qulice and fix all the errors that it finds.

[2016-08-13 11:31] krzyk commented on #800
@davvd valid bug

[2016-08-13 15:14] caarlos0 commented on #779
@mkordas can you release it?

[2016-08-13 15:14] caarlos0 commented on #779
@krzyk can you release it plz?

[2016-08-13 15:17] krzyk commented on #779
@caarlos0 it was released on 0.17.1

[2016-08-15 08:46] davvd commented on #740
@krzyk got it, "urgent" label here

[2016-08-15 08:46] davvd commented on #740
@krzyk OK, I un-labeled it as "postponed" tags

[2016-08-15 08:46] davvd commented on #746
@krzyk thanks, I added "urgent" label

[2016-08-15 08:46] davvd commented on #746
@krzyk OK, I un-labeled it as "postponed" tags

[2016-08-15 08:46] davvd commented on #774
@krzyk got it, "postponed" label here

[2016-08-15 08:46] davvd commented on #774
@krzyk all right, we'll find someone else for this task

[2016-08-15 08:46] davvd commented on #776
@krzyk thanks, I added "postponed" label

[2016-08-15 08:46] davvd commented on #776
@krzyk right, I will find someone else, no problem

[2016-08-15 08:46] davvd commented on #777
@krzyk OK, I put "postponed" label here

[2016-08-15 08:46] davvd commented on #777
@krzyk right, I will find someone else, no problem

[2016-08-15 08:46] davvd commented on #775
@krzyk OK, I put "postponed" label here

[2016-08-15 08:46] davvd commented on #775
@krzyk I will assign somebody else to this issue

[2016-08-15 08:46] davvd commented on #780
@krzyk right, I added "postponed" label

[2016-08-15 08:46] davvd commented on #780
@krzyk I will ask somebody else to pick this up

[2016-08-15 08:46] davvd commented on #784
@krzyk got it, "postponed" label here

[2016-08-15 08:46] davvd commented on #784
@krzyk I will try to find someone else

[2016-08-15 08:46] davvd commented on #782
@krzyk right, I added "postponed" label

[2016-08-15 08:46] davvd commented on #782
@krzyk someone else will help in this task, no problem at all

[2016-08-15 08:46] davvd commented on #786
@krzyk sure, thanks, I added "postponed" label to it

[2016-08-15 08:46] davvd commented on #786
@krzyk OK, I will try to assign someone else

[2016-08-15 08:46] davvd commented on #790
@krzyk OK, I put "postponed" label here

[2016-08-15 08:46] davvd commented on #790
@krzyk someone else will help in this task, no problem at all

[2016-08-15 08:46] davvd commented on #793
@krzyk no problem, I will try to find somebody else

[2016-08-15 08:46] davvd commented on #795
@krzyk OK, I put "postponed" label here

[2016-08-15 08:46] davvd commented on #794
@krzyk sure, thanks, I added "postponed" label to it

[2016-08-15 08:46] davvd commented on #795
@krzyk right, I'll try to find someone else for this task

[2016-08-15 08:46] davvd commented on #794
@krzyk I will ask somebody else to pick this up

[2016-08-15 08:47] davvd commented on #800
@krzyk tag bug added to this issue

[2016-08-15 09:40] #799 closed

[2016-08-15 11:05] davvd commented on #798
@krzyk please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks in the project are "stuck": #761 (118 days), #774 (77 days), #776 (75 days), #777 (74 days), #775 (72 days), #780 (61 days), #784 (55 days), #782 (55 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.h

[2016-08-15 11:06] davvd commented on #800
@krzyk thanks for the report, I topped your acc for 30 mins, payment ID `96652581`

[2016-08-15 12:29] krzyk commented on #761
@davvd this is postponed

[2016-08-15 12:30] krzyk commented on #797
@weisebrazil ping

[2016-08-15 12:30] krzyk commented on #765
@rachlenko can we close this issue?

[2016-08-15 12:30] krzyk commented on #757
@yegor256 davvd ignores my requests to invalidate this issue

[2016-08-15 12:31] krzyk commented on #787
@dskalenko are you working on this issue?

[2016-08-15 18:14] yegor256 commented on #757
@krzyk that's because it's not really an issue yet. it was never tagged as a valid bug. that's why it's still outside of scope. I'll close it now

[2016-08-15 18:14] #757 closed

[2016-08-16 07:49] davvd commented on #761
@krzyk right, I added "postponed" label

[2016-08-16 07:49] davvd commented on #761
@krzyk got it, someone else will be assigned soon

[2016-08-19 10:56] davvd commented on #787
@dskalenko you're working with this issue for 15 days already. as a reminder, don't forget to remove the `@todo` puzzle from the source code. added -30 to your rating, now it is equal to [+60](http://www.netbout.com/b/36376?open=rating)

[2016-08-22 07:57] davvd commented on #798
@krzyk there are a few issues by [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #740 (170 days), #746 (167 days), #787 (alive for 53 days, assigned for 15 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teame

[2016-08-22 07:59] krzyk commented on #797
@weisebrazil please close this issue

[2016-08-22 07:59] krzyk commented on #765
@rachlenko ping

[2016-08-23 14:43] krzyk commented on #800
@davvd this is postponed

[2016-08-23 14:46] krzyk commented on #787
@dskalenko Are you working on this issue?

[2016-08-23 14:54] krzyk opened #801 "Create UseStringIsEmpty check"
String has a method `isEmpty()` that should be used instead of `size()`:
1. `data.size() > 0` (should be `!data.isEmpty()`)
2. `data.size() == 0` (should be `data.isEmpty()`)
3. `data.size() < 1` (should be `data.isEmpty()`)
4. `data.size() >= 1` (should be `!data.isEmpty()`)

This is a very similar case to [UseCollectionsIsEmpty](https://pmd.github.io/pmd-5.5.1/pmd-java/rules/java/design.html#Use

[2016-08-23 14:54] krzyk commented on #801
@davvd valid bug

[2016-08-24 10:09] davvd commented on #800
@krzyk right, I added "postponed" label

[2016-08-24 10:09] davvd commented on #800
@krzyk I will assign somebody else to this issue

[2016-08-24 10:09] davvd commented on #801
@krzyk tagged this issue with "bug"

[2016-08-24 11:05] davvd commented on #787
@dskalenko please stop here, the task is not yours any more. I'll give you something else; -60 added to your rating, current score is: [+0](http://www.netbout.com/b/36376?open=rating)

[2016-08-24 11:06] davvd commented on #801
@krzyk many thanks for the bug report, I added 30 mins to your acc, transaction `97957774`

[2016-08-25 07:04] krzyk commented on #746
@davvd assign me

[2016-08-25 09:00] davvd commented on #746
@krzyk of course, the task is yours, go ahead

[2016-08-25 19:39] krzyk commented on #746
@davvd please see PR #802

[2016-08-26 08:51] davvd commented on #746
@krzyk I will take a look, thanks

[2016-08-26 13:19] davvd commented on #798
@krzyk there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

 * some tasks are stuck: #740 (177 days), #787 (59 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issues were reported some time ago, but still not dispatched: #797, #765. Please, do somethi

[2016-08-27 22:17] mkordas opened #803 "Project does not compile in IntelliJ IDEA on Windows"
Whenever I open Qulice on Windows the project does not compile due to missing `com.qulice.spi` dependencies:
![image](https://cloud.githubusercontent.com/assets/5467276/18030388/6c0bfa02-6cb4-11e6-961e-43c71094c7ad.png)
![image](https://cloud.githubusercontent.com/assets/5467276/18030390/8255ef20-6cb4-11e6-8217-747d7573a5c9.png)
Any kind of rebuilding doesn't work.

However, I've noticed that some

[2016-08-28 11:14] mkordas opened #804 "Improve PMD configuration"
Let's improve the [ruleset.xml](https://github.com/teamed/qulice/blob/7525ccf0c14cc525062853844506837f92a66ca1/qulice-pmd/src/main/resources/com/qulice/pmd/ruleset.xml)  by:
* remove exclusion of `AvoidThreadGroup`, they indeed should not be used
* enable all reasonable rules from the following modules, these rules are missing without any reason"
 * https://pmd.github.io/pmd-5.5.1/pmd-java/rules/i

[2016-08-28 11:54] amihaiemil opened #805 "INSTALL.txt outdated and other small issues"
1) INSTALL.txt needs to be removed as it is completely outdated, written back when svn was used
2) we have to show the number of issues found by each `ResourceValidator`
3) show information about start and finish time of each `ResourceValidator`, similar to what we have for `Validator` and `CheckMojo`

[2016-08-28 12:22] krzyk commented on #805
@amihaiemil The whole INSTALL.txt is outdated (it was written when svn was used) so I think it would be best to remove it completely.

[2016-08-28 12:27] amihaiemil commented on #805
@krzyk so is this a valid bug, or just cosmetic? :D should i update the desc with what you said?

[2016-08-28 13:55] krzyk commented on #805
@amihaiemil rather cosmetic, but we can't add multiple cosmetic ones into a single issue, I've two such issues that you can add to this and it will be a bigger bug report:
* we have to add number of issues found for each `ResourceValidator`
* and also bring back information when each `ResourceValidator` starts and finishes, similar to what we have for `Validator` in `CheckMojo`

[2016-08-28 13:57] krzyk commented on #803
@mkordas strange, have you done a reimport of the project? Or tried to create it from scratch by ignoring imls and doing import from pom.xml?

[2016-08-28 14:09] amihaiemil commented on #805
@krzyk done

[2016-08-28 14:32] amihaiemil commented on #801
@krzyk can you assign this to me?

[2016-08-28 14:35] krzyk commented on #804
@mkordas OK, but, the ones on Comments look quite strange/unneeded:
* (CommentDefaultAccessModifier)[https://pmd.github.io/pmd-5.5.1/pmd-java/rules/java/comments.html#CommentDefaultAccessModifier]
* (CommentSize)[https://pmd.github.io/pmd-5.5.1/pmd-java/rules/java/comments.html#CommentSize],
* (CommentRequired)[https://pmd.github.io/pmd-5.5.1/pmd-java/rules/java/comments.html#CommentRequired] - co

[2016-08-28 14:37] krzyk commented on #801
@amihaiemil I could try, let's see if davvd will allow me :)

[2016-08-28 14:37] krzyk commented on #801
@davvd assign @amihaiemil

[2016-08-28 14:38] krzyk commented on #805
@davvd valid bug

[2016-08-28 14:38] krzyk commented on #805
@davvd this is postponed

[2016-08-28 14:38] krzyk commented on #805
@amihaiemil thanks

[2016-08-28 17:11] mkordas opened #806 "False positive in NonStaticMethodCheck"
On the following code Qulice complains with `This method must be static, because it does not refer to "this" (NonStaticMethodCheck)`

[code]

However, I cannot make this method static, as `new Inner()` cannot be referenced from static context.

Please disable `NonStaticMethodCheck` for all methods accessing inner classes.

[2016-08-28 17:21] mkordas opened #807 "Remove EqualsAvoidNull check from Qulice"
Currently Qulice prohibits code like

[code]

in favour of

[code]

The reason behind this is to avoid null pointer exceptions when `input` is `null`. However, IMO it's just hiding a problem, while code should be fragile. Moreover, in well written code `input` should never be `null` anyway.

Second reason to remove this check is that inverted notation is unnatural and less readable.

In scope of t

[2016-08-28 18:05] krzyk commented on #807
@davvd valid bug

[2016-08-28 18:06] krzyk commented on #806
@davvd valid bug

[2016-08-28 19:51] mkordas opened #808 "Detect static members accessed by instance reference"
If there is reference to static method or field via class instance rather than a class itself, it should be a Qulice violation.

Having class
[code]
The line with `this.do()` should be reported as violation, as it should be replaced with `WithStaticMethod.do()`.

[2016-08-28 21:32] mkordas commented on #804
@krzyk right, I've removed `Comments` from description

[2016-08-28 21:40] mkordas commented on #803
@krzyk yes, actually I couldn't compile Qulice on Windows for entire last year trying many things and only recently I've found the root cause - there are two POMs in the project for `qulice-spi`.

[2016-08-29 05:29] krzyk commented on #804
@davvd valid bug

[2016-08-29 05:29] krzyk commented on #804
@davvd this is postponed

[2016-08-29 06:01] krzyk commented on #803
@davvd valid bug

[2016-08-29 06:01] krzyk commented on #803
@davvd this is postponed

[2016-08-29 07:14] davvd commented on #801
@krzyk too many tasks (3) are active in the project already, can't assign new ones

[2016-08-29 07:14] davvd commented on #807
@krzyk added "bug" tag to this issue

[2016-08-29 07:14] davvd commented on #805
@krzyk I just added bug tag here

[2016-08-29 07:14] davvd commented on #806
@krzyk tagged this issue with "bug"

[2016-08-29 07:14] davvd commented on #803
@krzyk I added `bug` tag to this ticket

[2016-08-29 07:14] davvd commented on #804
@krzyk I tagged this as "bug"

[2016-08-29 09:18] davvd commented on #805
@krzyk right, I added "postponed" label

[2016-08-29 09:18] davvd commented on #805
@krzyk no problem, I will try to find somebody else

[2016-08-29 09:18] davvd commented on #804
@krzyk sure, thanks, I added "postponed" label to it

[2016-08-29 09:18] davvd commented on #804
@krzyk I will ask somebody else to pick this up

[2016-08-29 09:18] davvd commented on #803
@krzyk right, I added "postponed" label

[2016-08-29 09:18] davvd commented on #803
@krzyk I will try to find someone else

[2016-08-29 09:20] davvd commented on #807
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `57c3fe5a6d5f4b008819f535`

[2016-08-29 12:28] davvd commented on #806
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 57c42a636d5f4b040b19fa15

[2016-08-29 14:13] davvd commented on #805
@amihaiemil thanks for tis bug, I topped your account for 15 mins, transaction `AP-45809960MH275435B`

[2016-08-30 07:27] davvd commented on #746
@krzyk Thanks all, closed

[2016-08-30 07:27] #746 closed

[2016-08-30 07:30] davvd commented on #746
@krzyk **30 mins** sent to your balance (ID `98619905`), many thanks! It took 94 hours and 12 mins.; added +30 to your rating, now it is equal to [+993](http://www.netbout.com/b/35035?open=rating)

[2016-08-30 07:30] davvd commented on #804
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `57c5362106c056010bdd696f`

[2016-08-30 09:14] davvd commented on #803
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 57c54e56d3a909024f23de38

[2016-08-30 14:46] krzyk commented on #801
@davvd assign @amihaiemil

[2016-08-30 19:12] amihaiemil commented on #806
@mkordas @krzyk Also this rule could be taken out entirely? It creates a vicious circle together with "no public static methods" rule. Check out [this](https://github.com/yegor256/netbout/blob/master/netbout-client/src/test/java/com/netbout/client/NbRule.java) class: method get() is currently ``public static``, and there is that ``todo`` there. With qulice 0.17.1, which contains this rule, you hav

[2016-08-30 20:01] mkordas commented on #806
@amihaiemil but the class from your example is not a proper object, it needs to be redesigned entirely. See http://www.yegor256.com/2014/11/20/seven-virtues-of-good-object.html#5-his-class-doesn-39-t-have-anything-static

[2016-08-30 20:03] mkordas commented on #806
@amihaiemil

Can you elaborate? They are just against utility classes: http://www.yegor256.com/2014/05/05/oop-alternative-to-utility-classes.html

[2016-08-30 20:19] amihaiemil commented on #806
@mkordas I have already elaborated.

The problem that needs to be fixed in the class is the public static method (as the todo states). In my first comment, points 1) and 2) are the options to fix this problem, and none of them works fine. 1 colides with some qulice rules, while 2 colides with the NonStaticMethodCheck

See the problem now?

[2016-08-30 20:35] mkordas commented on #806
@amihaiemil but you need to choose third option, which is to redesign a class to be in-line with OOP. Right now it doesn't contain any field and doesn't encapsulate any state, so this needs to be changed.

[2016-09-02 07:42] davvd commented on #801
@krzyk OK @amihaiemil please proceed, this task is yours

[2016-09-02 07:46] davvd commented on #808
@krzyk please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-09-03 20:50] krzyk commented on #808
@davvd valid bug

[2016-09-04 14:29] kanghj commented on #807
@davvd @mkordas I have made PR #807 for this.

[2016-09-04 14:31] mkordas commented on #807
@kanghj #807 is this issue :)

[2016-09-04 14:33] kanghj commented on #807
@mkordas, my bad! Edited the original comment

[2016-09-05 07:10] davvd commented on #807
@kanghj thank you!

[2016-09-05 07:10] davvd commented on #808
@krzyk tag bug added to this issue

[2016-09-05 09:27] davvd commented on #808
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `57cd3a7f7d0be817ed0ed00e`

[2016-09-05 09:46] krzyk commented on #801
@amihaiemil I assume you noticed that you were assigned? :)

[2016-09-05 09:55] amihaiemil commented on #801
@krzyk Yes, today I started looking into it.

I was thinking whether to extend ``UseCollectionsIsEmpty`` or not, since most methods would be the same; only ``appliesToClassName(String name)`` and ``getComparisonTargets()`` would differ, from what I can tell.

[2016-09-05 10:18] amihaiemil commented on #801
@krzyk I think I'll make it independent to avoid backward compatibility issues in the future, if the guys from pmd decide to change  ``UseCollectionsIsEmpty``

[2016-09-05 14:05] amihaiemil commented on #801
@krzyk Im not an expert in PMD, but should it not look for instance variables? I can pretty much make it work, but if I say ``this.somestring.length()``, then it won't see it... if I simply say ``somestring.length()`` then it's ok.

The same happens with other rules, e.g. ``InefficientEmptyStringCheckRule``, which is supposed to forbid ``String.trim().length()``, saying it's inefficient...  if you

[2016-09-05 14:22] krzyk commented on #801
@amihaiemil yes it should work for instance as well as local variables

[2016-09-05 14:37] amihaiemil commented on #801
@krzyk i suppose it still applies, but just to be sure: ``somestring`` is an instance variable, but it wont see the thing if I specify ``this``, thats the issue. I'll  look into it more

[2016-09-06 17:39] ekondrashev opened #810 "v0.16.5: jslint-maven-plugin uses outdated jslint.js"
`<qulice.version>0.16.5</qulice.version>`
jslint-maven-plugin is quite outdated. Basically it depends on `jslint4java-1.4.7` which in turn uses jslint of
```2011-03-07```

[2016-09-07 11:22] amihaiemil commented on #801
@krzyk I did some research, read documentation and followed instructions from [here](http://pmd.sourceforge.net/pmd-4.3/howtowritearule.html) on how to write a rule...

However, as I see, even existing rules such as [UseCollectonsIsEmpty](https://pmd.github.io/pmd-5.5.1/pmd-java/rules/java/design.html#UseCollectionIsEmpty) and [InefficientEmptyStringCheckRule](https://pmd.github.io/pmd-5.3.2/pmd-j

[2016-09-07 20:05] krzyk commented on #801
@amihaiemil Yes, such rule is good enough, you can always add a *todo* to extend it with `this.` and method chain handling (if it is possible). Or if you are sure it is not possible then don't add one.

[2016-09-08 07:30] amihaiemil commented on #801
@davvd PR #811 is for this

[2016-09-08 07:33] amihaiemil commented on #801
@krzyk I added todo for ``this``.

I figured you don't need method chaning at all, since it checks that the first one should return a ``String`` and if that's the case then the following methods would be String-related..so for instance if you do ``getString().getBytes().length == 0``, length is called on bytes array, but it's still that String and you could say ``getString().isEmpty()`` - it's sti

[2016-09-08 08:35] davvd commented on #801
@amihaiemil thanks for that

[2016-09-10 07:55] krzyk commented on #810
@ekondrashev so you propose to update to the newest jslin4java? Or maybe you have some other libraries in mind?

[2016-09-15 08:36] amihaiemil commented on #801
@davvd I need more time

[2016-09-15 09:57] davvd commented on #801
@amihaiemil sure, take your time

[2016-09-19 21:39] OlgaKulikova opened #812 "Error during checkstyle validation on Windows"
During building on Windows (7, 10) Checkstayle validator returns two types of errors:
 _Missing a header - not enough lines in file. (HeaderCheck)
 Line does not match expected header line of ' *'. (HeaderCheck)_
to all java classes.
The same project on Linux builds successfully.

[2016-09-23 08:16] davvd commented on #812
@krzyk please dispatch this issue

[2016-10-11 08:01] krzyk commented on #798
@davvd this is postponed

[2016-10-13 11:11] davvd commented on #798
@krzyk thanks, I added "postponed" label

[2016-10-13 11:11] davvd commented on #798
@krzyk all right, we'll find someone else for this task

[2016-11-07 11:19] exper0 opened #815 "Checkstyle dependency is outdated"
qulice-checkstyle uses checkstyle 6.15. There is new major version available - 7. Let's upgrade to latest version (7.2 from what I see at the moment)

[2016-11-10 13:48] davvd commented on #815
@krzyk please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-12-22 10:12] davvd commented on #309
@krzyk Done, thanks all, closing..

[2016-12-22 10:12] #309 closed

[2016-12-22 10:12] #354 closed

[2016-12-22 10:12] davvd commented on #356
@krzyk Done, the task is closed

[2016-12-22 10:12] #356 closed

[2016-12-22 10:12] #423 closed

[2016-12-22 10:12] #426 closed

[2016-12-22 10:12] #443 closed

[2016-12-22 10:12] davvd commented on #483
@krzyk The task is closed, thanks everybody

[2016-12-22 10:12] #483 closed

[2016-12-22 10:12] #497 closed

[2016-12-22 10:12] #505 closed

[2016-12-22 10:12] davvd commented on #596
@krzyk Closing this issue now...

[2016-12-22 10:12] #596 closed

[2016-12-22 10:12] davvd commented on #612
@krzyk Closing..

[2016-12-22 10:12] #612 closed

[2016-12-22 10:12] #700 closed

[2016-12-22 10:12] #740 closed

[2016-12-22 10:12] #742 closed

[2016-12-22 10:12] davvd commented on #745
@krzyk Done, the task is closed

[2016-12-22 10:12] #745 closed

[2016-12-22 10:12] #776 closed

[2016-12-22 10:12] #777 closed

[2016-12-22 10:12] #787 closed

[2016-12-22 10:12] davvd commented on #354
@krzyk Closing, thanks all

[2016-12-22 10:12] davvd commented on #423
@krzyk Thanks all, closed

[2016-12-22 10:12] davvd commented on #426
@krzyk The issue should be closed..

[2016-12-22 10:12] davvd commented on #443
@krzyk Thanks all, closed

[2016-12-22 10:12] davvd commented on #497
@krzyk Thanks all, I am closing

[2016-12-22 10:12] davvd commented on #505
@krzyk Done, thanks all, closing..

[2016-12-22 10:12] davvd commented on #700
@krzyk I am closing it, thanks all

[2016-12-22 10:12] davvd commented on #740
@krzyk It is closed now

[2016-12-22 10:12] davvd commented on #742
@krzyk Done, the task is closed

[2016-12-22 10:12] davvd commented on #776
@krzyk Done, thanks all, closing..

[2016-12-22 10:12] davvd commented on #777
@krzyk Thanks all, closed

[2016-12-22 10:12] davvd commented on #787
@krzyk Closing..

[2017-01-01 19:39] 0pdd opened #816 "Brackets.java:43-44: Make this better in multiple lines but d..."
The puzzle `123-1f09aa3b` in `qulice-maven-plugin/src/it/checkstyle-violations/src/main/java/com/qulice/plugin/violations/Brackets.java` (lines 43-44) has to be resolved: Make this better in multiple lines but different.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 01-Jan-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don'

[2017-01-01 19:39] 0pdd commented on #816
@yegor256 please pay attention to this new issue.

[2017-01-01 19:39] 0pdd opened #817 "Brackets.java:66-67: Make this better in multiple lines."
The puzzle `123-b644cf22` in `qulice-maven-plugin/src/it/checkstyle-violations/src/main/java/com/qulice/plugin/violations/Brackets.java` (lines 66-67) has to be resolved: Make this better in multiple lines.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 01-Jan-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, subm

[2017-01-01 19:39] 0pdd commented on #817
@yegor256 please pay attention to this new issue.

[2017-01-01 19:39] 0pdd opened #818 "Pdd.java:7-7: This is also valid."
The puzzle `123-cfed8d02` in `qulice-maven-plugin/src/it/checkstyle-violations/src/main/java/com/qulice/plugin/violations/Pdd.java` (lines 7-7) has to be resolved: This is also valid.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 01-Jan-17.

Estimate: 120 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instea

[2017-01-01 19:39] 0pdd commented on #818
@yegor256 please pay attention to this new issue.

[2017-01-01 19:39] 0pdd opened #819 "Pdd.java:24-25: Here we should capture also another line..."
The puzzle `123-5357374c` in `qulice-maven-plugin/src/it/checkstyle-violations/src/main/java/com/qulice/plugin/violations/Pdd.java` (lines 24-25) has to be resolved: Here we should capture also another line.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 01-Jan-17.

Estimate: 0 minutes, role: IMP.

If you have any technical questions, don't ask me, sub

[2017-01-01 19:39] 0pdd commented on #819
@yegor256 please pay attention to this new issue.

[2017-01-05 08:10] davvd commented on #819
@krzyk please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2017-01-05 08:10] davvd commented on #816
@krzyk please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2017-01-05 08:10] davvd commented on #817
@krzyk take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2017-01-05 08:10] davvd commented on #818
@krzyk dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2017-02-03 09:18] longtimeago opened #820 "Let's upgrade qulice to use PMD 6.1.0"
It promises significant performance improvements
http://mvnrepository.com/artifact/net.sourceforge.pmd/pmd/6.1.0
which is very crucial for big modules

[2017-02-03 09:18] 0crat commented on #820
@yegor256 please, pay attention to this issue

[2017-02-03 09:48] longtimeago opened #821 "The build is broken in master"
[code]
[code]

[2017-02-03 09:48] 0crat commented on #821
@yegor256 please, pay attention to this issue

[2017-02-04 17:01] pa9ey opened #822 "Qulice incorrectly requires that the license text is in a Javadoc comment"
IntelliJ shows a warning for me, in any file that has a Qulice-compliant license header. It complains that it's a dangling comment. Javadoc comments should be attached to classes, methods or attributes, anything else is (apparently) "dangling". There doesn't seem to be a need for this comment to be anything other than a normal block comment though.

**Would it be possible to remove the rule in Qul

[2017-02-04 17:01] 0crat commented on #822
@yegor256 please, pay attention to this issue

[2017-02-04 17:17] nqafield opened #823 "The required Javadoc class comments seem overly complicated"
A brief description of what a class represents is no doubt often useful, but the rest seems unnecessary.

- The comments actually clutter and lengthen the file making it harder to mentally process, not easier.
- There doesn't seem to be any point knowing the (original) author of a class. This can be found out from version control but isn't it also irrelevant once enough changes have happened?
- I

[2017-02-04 17:17] 0crat commented on #823
@yegor256 please, pay attention to this issue

[2017-02-05 08:54] krzyk commented on #822
@pa9ey You are right, it should be a block comment (`/* ... */` not javadoc).

[2017-02-05 08:55] krzyk commented on #822
@davvd valid bug

[2017-02-05 08:56] krzyk commented on #822
@yegor256 or should I call @0crat?

[2017-02-05 08:58] krzyk commented on #820
@davvd valid bug

[2017-02-05 09:05] krzyk commented on #823
@pa9ey
* `@author`, it was already reported here - https://github.com/teamed/qulice/issues/761 (but no budget to work on it)
* `@version` I don't find it useful (was used in the cvs/svn days, but in git, I haven't seen it much - one has to enable it explicitly in .gitattributes) - so I agree, we should get rid of it.
* `@since` that one I find useful, when you use an older library and read newer j

[2017-02-05 09:10] krzyk commented on #821
@longtimeago I wonder how that happened :)

[2017-02-05 09:10] krzyk commented on #821
@davvd valid bug

[2017-02-05 09:22] pa9ey commented on #823
Thanks for the info @krzyk.

[2017-02-06 08:29] davvd commented on #822
@krzyk I tagged this as "bug"

[2017-02-06 08:29] davvd commented on #820
@krzyk I tagged this as "bug"

[2017-02-06 08:29] davvd commented on #821
@krzyk tag bug added to this issue

[2017-02-06 17:09] yegor256 commented on #822
@krzyk not yet, we're still working with @davvd (for at least two weeks more)

[2017-02-06 18:50] pa9ey opened #824 "The Javadoc comments are (sometimes) redundant noise"
Two things first:
- Sorry for suddenly bombarding you all with these kinds of issues! (I think I have one more and then I'll shut up.)
- This issue doesn't apply to projects that actually require good, complete, online docs. (So I'm not suggesting you get rid of the *option* of enforcing this stuff.)

But with those caveats in place:

I'm particularly talking about the method and attribute comment

[2017-02-06 18:50] 0crat commented on #824
@yegor256 please, pay attention to this issue

[2017-02-07 12:55] krzyk commented on #824
@pa9ey Qulice doesn't allow optional enforcement. The basic idea is that, if a project uses qulice everyone knows what kind of enforcement is there.

There are some projects that publish javadocs and some that are private and don't publish them to the outside world (but still use them internally).

I would agree that private methods most of the time don't need those, but public methods on the othe

[2017-02-07 21:45] pa9ey commented on #824
@krzyk I knew it would be a bit controversial. I just thought I'd give it a go. Mostly I'm beginning to like the fact that Qulice is very opinionated. So I might have to just suck it up regarding the Javadoc stuff. :)

[2017-02-12 21:35] Glusk2 commented on #824
It is a good thing when someone or something is telling you to document your code. However, every single piece of code that is written is not meant to be documented.

Qulice's greatest strength is also it's greatest weakness and you may end up with this kind of docs:

[*from **Java theory and practice: I have to document THAT?** by **Brian Goetz***](https://www.ibm.com/developerworks/library/j-jtp

[2017-02-12 22:12] pa9ey commented on #824
@Glusk2 Really interesting stuff! What would you say then? That the Javadoc comments should be there, but that if they're simply parroting the code you've missed an opportunity? Or do you agree that some Javadoc comment simply don't need to be there?

[2017-02-13 01:32] Glusk2 commented on #824
Not only is it pointless to write _useless docs_ but also extremely dangerous. Once qulice is happy that you've done your job and commented a block of code, for it, the story is finished. It doesn't care about any modifications (apart from method/class/interface signatures and some best practices checks; but no content checks, which would be hard to implement anyway) you might have done to your co

[2017-02-18 18:58] pa9ey commented on #824
For full disclosure, I'm slowly relenting and coming round a little bit (with caveats) to the usefulness of these comments, _if they're respected and well written_. Having to sit and think of decent comments forces you to seriously question all the classes you've just written! (But of course, as @Glusk2 points out, Qulice doesn't guarantee this, it just maybe draws attention to it for the people w

[2017-04-10 09:16] praveendath92 opened #825 "ProhibitPublicStaticMethods false postive"
When I use a slightly different signature for my `main` method.

[code]

Any reason why this is not included in the exclusion list mentioned in https://github.com/teamed/qulice/issues/659#issue-129852722 ?

[2017-04-10 09:16] 0crat commented on #825
@krzyk please, pay attention to this issue

[2017-04-10 09:32] krzyk commented on #825
@praveendath92  It is intentional, there is no reason not to use varargs in the main method.

[2017-04-10 09:37] praveendath92 commented on #825
Agreed.

[2017-04-10 09:37] #825 closed

[2017-04-25 12:37] yegor256 commented on #824
@krzyk I think we need them, no matter what. Java doesn't have any other mechanism of code documenting. That's the best we have and we need to enforce it, both for methods and attributes.

[2017-04-26 14:52] yegor256 commented on #821
@krzyk I didn't do anything, I swear! Or did I?.. :)

[2017-04-29 13:30] #824 closed

[2017-05-02 20:24] 0crat commented on #825
Oops! Job `gh:teamed/qulice#825` was not in scope

[2017-05-02 20:24] 0crat commented on #824
Oops! Job `gh:teamed/qulice#824` was not in scope

[2017-05-03 21:45] pa9ey commented on #823
So, do I close this? And/or do I open an issue about getting rid of `@version`?

[2017-05-11 12:38] 0pdd opened #827 "DuplicateFinderValidator.java:58-60: Fix a problem with maven..."
The puzzle `250-bd6aad88` in [`qulice-maven-plugin/src/main/java/com/qulice/maven/DuplicateFinderValidator.java`](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/main/java/com/qulice/maven/DuplicateFinderValidator.java) (lines 58-60) has to be resolved: Fix a problem with maven configuration of duplicate finder plugin in commented out code below, and enable duplicate-finder-ig

[2017-05-11 12:38] 0pdd opened #828 "DuplicateFinderValidator.java:44-54: Maven-duplicate-finder-plugin should..."
The puzzle `250-1b26b28c` in [`qulice-maven-plugin/src/main/java/com/qulice/maven/DuplicateFinderValidator.java`](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/main/java/com/qulice/maven/DuplicateFinderValidator.java) (lines 44-54) has to be resolved: Maven-duplicate-finder-plugin should support exclusions. Let's add exclusions of following formats (examples): - duplicate:ab

[2017-05-11 12:38] 0pdd opened #829 "XmlValidatorTest.java:91-95: XmlValidator should be able to log IO..."
The puzzle `246-77de21a5` in [`qulice-xml/src/test/java/com/qulice/xml/XmlValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-xml/src/test/java/com/qulice/xml/XmlValidatorTest.java) (lines 91-95) has to be resolved: XmlValidator should be able to log IO problems (for example, inability to connect to a server) and ignore them (see ticket #243).\ However, {@link com.jcabi.xml.St

[2017-05-11 12:38] 0pdd opened #830 "MethodBodyCommentsCheck.java:50-51: Add handling of multiple anonymous..."
The puzzle `260-dc51e6f4` in [`qulice-checkstyle/src/main/java/com/qulice/checkstyle/MethodBodyCommentsCheck.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/main/java/com/qulice/checkstyle/MethodBodyCommentsCheck.java) (lines 50-51) has to be resolved: Add handling of multiple anonymous classes inside methods by looking at the recursive tree.

The puzzle was created by un

[2017-05-11 12:38] 0pdd opened #831 "pom.xml:66-72: This version of jcabi-xml retries if..."
The puzzle `280-4ce4d8c5` in [`qulice-xml/pom.xml`](https://github.com/teamed/qulice/blob/master/qulice-xml/pom.xml) (lines 66-72) has to be resolved: This version of jcabi-xml retries if the connection to the host of the schema document is reset. However I don't know how to trigger the "connection reset" condition for testing. We should find a way to test whether it does retry if this happens. Se

[2017-05-11 12:38] 0pdd opened #832 "AntEnvironment.java:168-168: Implement exclude and excludes for..."
The puzzle `337-8e901889` in [`qulice-ant/src/main/java/com/qulice/ant/AntEnvironment.java`](https://github.com/teamed/qulice/blob/master/qulice-ant/src/main/java/com/qulice/ant/AntEnvironment.java) (lines 168-168) has to be resolved: Implement exclude and excludes for ant QuliceTask

The puzzle was created by alevohin on 19-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have any technical ques

[2017-05-11 12:38] 0crat commented on #827
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #830
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #833 "AntEnvironmentTest.java:40-40: Implement unit tests at..."
The puzzle `337-3d7cb361` in [`qulice-ant/src/test/java/com/qulice/ant/AntEnvironmentTest.java`](https://github.com/teamed/qulice/blob/master/qulice-ant/src/test/java/com/qulice/ant/AntEnvironmentTest.java) (lines 40-40) has to be resolved: Implement unit tests at AntEnvironmentTest

The puzzle was created by alevohin on 19-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have any technical quest

[2017-05-11 12:38] 0crat commented on #828
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #834 "AntEnvironment.java:168-168: Implement exclude and excludes for..."
The puzzle `337-8e901889` in [`qulice-ant/src/main/java/com/qulice/ant/AntEnvironment.java`](https://github.com/teamed/qulice/blob/master/qulice-ant/src/main/java/com/qulice/ant/AntEnvironment.java) (lines 168-168) has to be resolved: Implement exclude and excludes for ant QuliceTask

The puzzle was created by Yegor Bugayenko on 30-Jun-15.

Estimate: 30 minutes, role: IMP.

If you have any technic

[2017-05-11 12:38] 0crat commented on #829
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #831
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #832
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #833
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #835 "XmlValidator.java:173-179: Remove the method below and find a..."
The puzzle `469-1b2c894b` in [`qulice-xml/src/main/java/com/qulice/xml/XmlValidator.java`](https://github.com/teamed/qulice/blob/master/qulice-xml/src/main/java/com/qulice/xml/XmlValidator.java) (lines 173-179) has to be resolved: Remove the method below and find a way to format tags correctly in XML. Attributes should be indented by 4 spaces, just like XML tags, but in IT xml-violations there is

[2017-05-11 12:38] 0crat commented on #834
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #836 "CheckstyleValidatorTest.java:214-216: Right now ConstantUsageCheck takes..."
The puzzle `447-94597ea9` in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 214-216) has to be resolved: Right now ConstantUsageCheck takes into account usage of constants inside method annotations, add handling of constants

[2017-05-11 12:38] 0pdd opened #837 "CheckstyleValidatorTest.java:51-53: Split this class into smaller ones..."
The puzzle `412-bd044e76` in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 51-53) has to be resolved: Split this class into smaller ones and remove PMD exclude `TooManyMethods`. Good candidates for moving out of this class

[2017-05-11 12:38] 0crat commented on #835
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #836
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #838 "PMDEmptyTest.java:48-50: Tests below pass only when run..."
The puzzle `544-c37b2cc3` in [`qulice-pmd/src/test/java/com/qulice/pmd/PMDEmptyTest.java`](https://github.com/teamed/qulice/blob/master/qulice-pmd/src/test/java/com/qulice/pmd/PMDEmptyTest.java) (lines 48-50) has to be resolved: Tests below pass only when run sequentially, when they are run in parallel some of them start to fail. Please fix the tests below and remove override of maven-surefire-plu

[2017-05-11 12:38] 0crat commented on #837
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #839 "QulicePlugin.java:47-48: Design validator classes for Gradle...."
The puzzle `339-f214ff2b` in [`qulice-gradle-plugin/src/main/java/com/qulice/gradle/QulicePlugin.java`](https://github.com/teamed/qulice/blob/master/qulice-gradle-plugin/src/main/java/com/qulice/gradle/QulicePlugin.java) (lines 47-48) has to be resolved: Design validator classes for Gradle. And remove the NonStaticMethod exclude below.

The puzzle was created by krzyk on 11-Jan-16.

Estimate: 30 m

[2017-05-11 12:38] 0pdd opened #840 "CheckstyleValidatorTest.java:383-387: Sample code provided in #411 should..."
The puzzle `411-71c8871e` in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 383-387) has to be resolved: Sample code provided in #411 should be considered as invalid. Find a way how to do that by either custom check, or upda

[2017-05-11 12:38] 0crat commented on #838
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #839
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #841 "CheckstyleValidatorTest.java:442-444: This test and..."
The puzzle `61-61fa67ee` in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 442-444) has to be resolved: This test and passesWindowsEndsOfLineWithoutException should be refactored to gather log4j logs and validate that they w

[2017-05-11 12:38] 0crat commented on #840
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #842 "DefaultValidatorsProvider.java:81-83: Make FindBugsValidator inherit from..."
The puzzle `61-832eca62` in [`qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java`](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java) (lines 81-83) has to be resolved: Make FindBugsValidator inherit from ResourceValidator and use it similarly to CheckstyleValidator. Remember to move it to ex

[2017-05-11 12:38] 0crat commented on #841
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #842
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #843 "CheckstyleValidatorTest.java:214-216: Right now ConstantUsageCheck takes..."
The puzzle `447-94597ea9` in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 214-216) has to be resolved: Right now ConstantUsageCheck takes into account usage of constants inside method annotations, add handling of constants

[2017-05-11 12:38] 0crat commented on #843
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0pdd opened #844 "CheckstyleValidatorTest.java:383-387: Sample code provided in #411 should..."
The puzzle `411-71c8871e` in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 383-387) has to be resolved: Sample code provided in #411 should be considered as invalid. Find a way how to do that by either custom check, or upda

[2017-05-11 12:38] 0pdd opened #845 "DefaultValidatorsProvider.java:81-83: Make FindBugsValidator inherit from..."
The puzzle `61-832eca62` in [`qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java`](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java) (lines 81-83) has to be resolved: Make FindBugsValidator inherit from ResourceValidator and use it similarly to CheckstyleValidator. Remember to move it to ex

[2017-05-11 12:38] 0crat commented on #844
@krzyk please, pay attention to this issue

[2017-05-11 12:38] 0crat commented on #845
@krzyk please, pay attention to this issue

[2017-05-16 12:22] praveendath92 opened #846 "False positive with ConstantUsageCheck"
In situations such as the one below,

[code]
PS: Deliberatily overlooked some other qulice rules for brevity.

[2017-05-16 12:22] 0crat commented on #846
@krzyk please, pay attention to this issue

[2017-05-21 04:20] driver733 commented on #639
The bug is still present...
v. 0.17.1

[2017-05-26 13:57] HDouss opened #847 "Enforce right method parameters order in Javadoc"
For now, qulice accepts such javadoc -notice `arg` related javadoc precedes `param` related javadoc, although `param` parameter is declared before `arg` parameter in the signature-:
[code]

It would be better to enforce developers to write method (or constructors) parameterss javadoc in the order they appear in the signature.
Many times, the javadoc misleads about the order for which to call the m

[2017-05-26 13:57] 0crat commented on #847
@krzyk please, pay attention to this issue

[2017-06-02 08:04] yegor256 opened #848 "don't require method JavaDoc for tests"
I believe method JavaDoc blocks are redundant. Instead, we should use reasons for `assertThat()`. See https://github.com/yegor256/cactoos/blob/master/src/test/java/org/cactoos/io/InputAsBytesTest.java

[2017-06-02 08:04] 0crat commented on #848
@krzyk please, pay attention to this issue

[2017-06-02 16:06] pa9ey commented on #848
And then you've got to wonder if the test method names are also redundant. (Or the reasons.) :)

[2017-07-31 09:41] HDouss commented on #847
@krzyk Any news here ?

[2017-08-03 07:55] krzyk commented on #847
@HDouss currently project is not founded, so no news

[2017-08-06 08:26] 0pdd opened #849 "DefaultValidatorsProvider.java:84-86: Make XmlValidator and..."
The puzzle `61-1e86e587` (from #61) in [`qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java`](https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/main/java/com/qulice/maven/DefaultValidatorsProvider.java) (lines 84-86) has to be resolved: "Make XmlValidator and CodeNarcValidator inherit from ResourceValidator and use it similarly to CheckstyleValidat

[2017-08-06 08:26] 0pdd opened #850 "CheckstyleValidatorTest.java:700-701: add test for next situation {@code..."
The puzzle `715-2a207c32` (from #715) in [`qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java`](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) (lines 700-701) has to be resolved: "add test for next situation {@code return new ArrayList  ();}"

The puzzle was created by Viktor Kuchyn on

[2017-08-06 08:26] 0pdd opened #851 "Wrap.java:78-84: After fix issue mentioned in comment..."
The puzzle `706-72bdab5d` (from #706) in [`qulice-findbugs/src/main/java/com/qulice/findbugs/Wrap.java`](https://github.com/teamed/qulice/blob/master/qulice-findbugs/src/main/java/com/qulice/findbugs/Wrap.java) (lines 78-84) has to be resolved: "After fix issue mentioned in comment https://github.com/teamed/qulice/issues/706#issuecomment-225943946 rollback the changes done in #706 then remove @Ign

[2017-08-06 08:26] 0crat commented on #849
@krzyk please, pay attention to this issue

[2017-08-06 08:26] 0crat commented on #850
@krzyk please, pay attention to this issue

[2017-08-06 08:26] 0crat commented on #851
@krzyk please, pay attention to this issue

[2017-08-24 15:08] seedinwind opened #852 "the module qulice-gradle-plugin is Empty？？"
I just couldn't find any codes do something related except an empty plugin  in this module

[2017-08-24 15:08] 0crat commented on #852
@krzyk please, pay attention to this issue

[2017-09-27 15:21] yegor256 opened #853 "module-info.java must be excluded"
DuplicateFinder must exclude `module-info.java` by default

[2017-09-27 15:21] 0crat commented on #853
@krzyk please, pay attention to this issue

[2017-09-27 15:21] yegor256 commented on #853
@krzyk I will take care of this

[2017-09-27 16:52] 0pdd commented on #849
The puzzle `61-1e86e587` has disappeared from the source code, that's why I closed this issue.

[2017-09-27 16:52] #849 closed

[2017-09-27 16:52] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 17:53] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 19:54] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 20:54] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 21:55] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-27 23:55] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 00:56] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 01:56] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 02:57] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 03:57] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 04:58] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 05:58] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 06:58] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 07:59] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 09:00] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 10:01] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 11:02] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-28 12:04] 0crat commented on #849
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-30 15:28] yegor256 commented on #849
hey

[2017-09-30 15:28] yegor256 commented on #849
@0crat hey

[2017-09-30 15:28] 0crat commented on #849
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-30 15:28] 0crat commented on #849
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-09-30 15:28] 0crat commented on #849
@yegor256 Hey, what's up, how is it going?

[2017-10-08 19:55] filfreire opened #854 "Add CONTRIBUTING.md file"
Tasks:
* Follow Github guideline https://github.com/blog/1184-contributing-guidelines of having a separate contributing file
* Replace "How to contribute" section's content with a link to CONTRIBUTING.md

[2017-10-08 19:55] 0crat commented on #854
@krzyk please, pay attention to this issue

[2017-10-19 20:36] longtimeago opened #856 "Upgrade checkstyle to 6.18 to improve performance"
After profiling `com.qulice.checkstyle.CheckstyleValidator` I've figured out that ~50% of time spent on `com.puppycrawl.tools.checkstyle.checks.javadoc.AbstractJavadocCheck`.

There was an issue with this check https://github.com/checkstyle/checkstyle/issues/1064 which was fixed in checkstyle 6.18 (currently, qulice uses 6.15).

Overal performance improvement of `qulice:check` is ~10% of time afte

[2017-10-19 20:36] 0crat commented on #856
@krzyk please, pay attention to this issue

[2017-10-20 16:38] krzyk commented on #798
@rultor release tag is `0.17.2`

[2017-10-20 16:39] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-338258602)

[2017-10-20 16:48] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-338258602) (spent 10min)

[code]

[2017-10-20 18:18] longtimeago commented on #798
@krzyk let's retry? It's OK locally and during the merge

[2017-10-20 18:24] krzyk commented on #798
@rultor release tag is `0.17.2`

[2017-10-20 18:25] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-338285956)

[2017-10-20 18:35] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-338285956) (spent 10min)

[code]

[2017-10-22 16:28] longtimeago opened #858 "Failed ChecksTest#testCheckstyleTruePositive doesn't fail the build"
See http://www.rultor.com/t/13190-338250233
[code]
But the (merging) build still succeed :(
Release build fails (https://github.com/teamed/qulice/issues/798)

[2017-10-22 16:28] 0crat commented on #858
@krzyk please, pay attention to this issue

[2017-10-22 17:06] longtimeago commented on #858
nah, I was wrong

[2017-10-22 17:06] #858 closed

[2017-10-22 17:07] 0crat commented on #858
Oops! There is no order for job `gh:teamed/qulice#858`.

[2017-10-22 17:07] 0crat commented on #858
Oops! Job `gh:teamed/qulice#858` is not in scope.

[2017-10-23 06:52] longtimeago opened #859 "ChecksTest skipped during merge phase for some reason"
Take a looks at the build http://www.rultor.com/t/13190-338250233
Moreover, if I run `com.qulice.checkstyle.ChecksTest` now manually from IDE I got
[code]

[2017-10-23 06:52] 0crat commented on #859
@krzyk please, pay attention to this issue

[2017-10-26 16:54] longtimeago commented on #859
Actually, building the project with `mvn clean install`
- **passes** when building from root folder (all modules) because `com.qulice.checkstyle.ChecksTest` is not executed for some reason
- **fails** when building from `qulice-checkstyle` folder

[2017-10-26 17:00] longtimeago commented on #859
wow ... after full build partial build of `qulice-checkstyle` passes as well; test runs but doesn't fail!

[2017-10-31 14:27] filfreire commented on #854
@yegor256 , @krzyk kindly follow-up on this

[2017-11-10 17:03] filfreire opened #860 "Create Qulice Github's badge"
Create an SVG Qulice Github's badge so that projects that use Qulice can include the badge in their README files.

Example badge (MIT license)
```[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)```
[![License: MIT](https://img.shields.io/badge/License-MIT-yellow.svg)](https://opensource.org/licenses/MIT)

[2017-11-10 17:03] 0crat commented on #860
@krzyk please, pay attention to this issue

[2017-11-11 18:51] filfreire commented on #860
@yegor256 FYI

[2017-11-12 08:34] yegor256 commented on #860
@filfreire you can use this one: https://img.shields.io/badge/qulice-good-green.svg (it's self generated)

[2017-11-12 11:10] filfreire commented on #860
@yegor256 thanks

[2017-11-12 11:10] #860 closed

[2017-11-12 11:10] 0crat commented on #860
Oops! There is no order for job `gh:teamed/qulice#860`.

[2017-11-12 11:10] 0crat commented on #860
Oops! Job `gh:teamed/qulice#860` is not in scope.

[2017-12-05 17:49] dgroup commented on #747
As a workaround, you may generate the copyright header for each `*.java` file :).
It works for my project.

[2018-01-09 15:58] neonailol opened #862 "LineLenght of 80 characters"
What is the reason for this limitation?
Doubling it to 160 would be perfect, i believe this size can fit into any modern developer environment.
For example, my ide with this limitation looks like this, there is a lot of blank space left
![image](https://user-images.githubusercontent.com/440768/34729868-df9d3258-f56e-11e7-855b-6975c9063fb4.png)

[2018-01-09 15:58] 0crat commented on #862
@krzyk please, pay attention to this issue

[2018-01-16 20:52] llorllale opened #863 "Stop checking "abstract class name" rules"
(continued from yegor256/cactoos#557)

We should remove the ~PMD.TooManyMethods~ PMD.AbstractNaming and AbstractClassName (checkstyle) checks as per the latest developments following the [webinar](https://www.youtube.com/watch?v=Wcy53ZSF78o) on [Decorating Envelopes](http://www.yegor256.com/2017/01/31/decorating-envelopes.html).

[2018-01-16 20:52] 0crat commented on #863
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2018-01-16 21:53] 0crat commented on #863
@krzyk[/z](http://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-01-17 07:50] krzyk commented on #863
@llorllale I get why we should remove the `AbstractClassName` check, but why also `TooManyMethods`?

[2018-01-17 13:23] llorllale commented on #863
@krzyk it was a typo. I've fixed the description

[2018-01-26 03:54] fabriciofx opened #864 "Wrong (or not) indent after parenthesis"
Qulice leave pass this kind of indent:
[code]
I think the correct should be:
[code]
Is it a bug or an expected behaviour?

[2018-01-26 03:54] 0crat commented on #864
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-01-26 12:53] dgroup opened #865 "package-info.java for the unit-tests packages `src/test/java`"
Hi Team,

Could you please specify what is the business purpose for  `package-info.java` for the packages with unit tests?
Qulice will fail in case if my package with tests doesn't have `package-info.java`.

[2018-01-26 12:54] 0crat commented on #865
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-07 22:39] jpnffigueiredo commented on #852
For those who want use qulice with gradle you can execute qulice maven plugin (just a workaround using, for instance, [gradle-maven-exec-plugin](https://github.com/dkorotych/gradle-maven-exec-plugin).

Ex:
* Config gradle-maven-exec-plugin in your build.xml (check previous link)
* Create a minimal pom.xml
[code]
* Create a new task in you build.xml
[code]
* Execute qulice before compile
[code]

[2018-02-09 16:32] aliceice opened #866 "@author Tag text pattern produces false positive"
Using following JavaDoc

[code]

produces this error:

`tag text 'Elena Ihde-Simon (elena.ihde-simon@posteo.de)' does not match the pattern '^([A-Z](\.|[a-z]+) )+\([A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}\)$' (JavadocTagsCheck)
`

I suppose the Regex is missing the `-` as a valid character for names.

[2018-02-09 16:32] 0crat commented on #866
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-12 16:20] g4s8 opened #867 "Different line length limit for groovy and java files"
It's not clear why line length limit for groovy and java files is different:
 - java - 80 chars
 - groovy - 120 chars

I think 120 chars would be OK for all file-type.

[2018-02-12 16:20] 0crat commented on #867
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-12 17:53] aliceice opened #869 "Travis CI Builds are failing"
Travis CI Builds are currently failing with:

[code]

See https://travis-ci.org/teamed/qulice/jobs/325029137 for example.

[2018-02-12 17:53] 0crat commented on #869
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-12 17:54] aliceice opened #870 "AppVeyor Builds are failing"
AppVeyor builds are currently failing with:

[code]

See https://ci.appveyor.com/project/yegor256/qulice/build/672 for example.

[2018-02-12 17:54] 0crat commented on #870
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-13 07:36] krzyk commented on #866
@aliceice This is covered by #761, where we want to remove `@author` tag completely, so there is no point in fixing it.

[2018-02-13 10:37] aliceice commented on #866
@krzyk Sorry, I didn't see that issue. But as it is postponed, and I'm trying to implement https://github.com/yegor256/cactoos/issues/609, it is kinda blocking my PR. What do you suggest?

[2018-02-13 13:14] krzyk commented on #866
@aliceice Let's ask @yegor256 How should we proceed here? Should we unpostponed #761 (if so, how, is @davvd still here?)?

[2018-02-16 16:28] caarlos0 commented on #331
🤷‍♂️

[2018-02-16 16:28] #331 closed

[2018-02-18 19:38] ashtonhogan opened #871 "jdk9 failing"
JDK9 seems to place com.sun.tools.jar in a different location...

[code]

Full log [here](https://ci.appveyor.com/api/buildjobs/lbw58i2uf4tf54uy/log)

Potential solution here: https://stackoverflow.com/questions/26422259/maven-missing-artifact-com-suntoolsjar1-6-0-compile-time-exception-in-pom-x

[2018-02-18 19:38] 0crat commented on #871
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-19 18:44] aliceice commented on #866
@yegor256 ping

[2018-02-21 10:19] ashtonhogan commented on #871
bump

[2018-02-22 19:17] proshin-roman opened #873 "LineLengthCheck check doubles non-ASCII symbols"
**What's wrong**
I have next line in the code (keeping indentation):
[code]
This line has 68 chars length and contains 14 non-ASCII symbols.
Then I run the build with qulice maven plugin (version 0.17.1; OS Windows 10; standard command line) and get next error:
[code]
It says the length is 82 that means that non-ASCII symbols are calculated twice: 68 (including non-ASCII) + 14 (doubled non-ASCII s

[2018-02-22 19:17] 0crat commented on #873
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-02-23 15:18] #871 closed

[2018-03-05 10:18] g4s8 opened #874 "Comment instead of javadoc for license"
Qulice requires to attach license header as a javadoc for each `.java` file, but it's not correct, because javadoc should be attached to some element (class, method, package, etc.): https://docs.oracle.com/javase/6/docs/technotes/tools/windows/javadoc.html#comments
and this is why Idea show a warning about every license javadoc:

It looks like the majority of open source projects on Github uses `/

[2018-03-05 10:18] 0crat commented on #874
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-03-05 13:12] nqafield commented on #874
Hi @g4s8. I raised the same thing here (#822) a good while ago. :)

[2018-03-18 20:57] lrozenblyum commented on #865
I think it's an important topic @yegor256 to make qulice JavadocPackageCheck better.

Typically (in a Maven project) a single package resides in 2 directories: src/main/java/... and src/test/java/..

When a directory in src/main/java/... already has package-info.java, then qulice shouldn't complain about absence of the package-info.java in src/test/java (for the same package of course). Package is

[2018-03-19 20:00] filfreire commented on #820
@longtimeago latest version is `6.1.0` http://mvnrepository.com/artifact/net.sourceforge.pmd/pmd/6.1.0, we could change the title and description of this issue.

/cc @yegor256

[2018-04-13 19:11] petromir commented on #337
@davvd & @krzyk I don't need this anymore. You can close if you don't want to spend time on it!

[2018-04-16 18:13] fourgates commented on #747
I am also having this issue.

[2018-04-16 21:49] ghost opened #875 "improve IDE checkstyle setup documentation"
After installing IntelliJ and the checkstyle plugin, it becomes unclear how to import and setup the qulice checkstyle config for real time analysis. Documentation with screenshots would help a lot.

[2018-04-16 21:49] 0crat commented on #875
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-04-16 21:49] 0crat commented on #875
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-22 17:27] ghost opened #876 "add clean up command"
As per https://github.com/yegor256/cactoos/issues/771 discussion

[2018-04-22 17:27] 0crat commented on #876
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-04-22 17:27] 0crat commented on #876
@ashtonhogan[/z](https://www.0crat.com/u/ashtonhogan) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-26 07:20] krzyk opened #877 "File.createTempFile should be forbidden"
Create a rule to forbid any usage of `File.createTempFile`, in error message suggest using Junit `@Rule` `TemporaryFolder.`

[2018-04-27 10:29] krzyk opened #878 "Qulice doesn't work in projects build with Java 11"
When building a project that uses qulice and the JDK is 11 I get following error:
[code]

This is most probably related to checkstyle - https://github.com/checkstyle/checkstyle/issues/5102

[2018-04-27 10:30] krzyk commented on #878
@0crat in

[2018-04-27 10:30] 0crat commented on #878
@krzyk Job [#878](https://github.com/teamed/qulice/issues/878) is now in scope, role is `DEV`

[2018-04-27 10:30] 0crat commented on #878
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-27 10:36] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 10:37] krzyk commented on #869
@0crat in

[2018-04-27 10:37] 0crat commented on #869
@krzyk Job [#869](https://github.com/teamed/qulice/issues/869) is now in scope, role is `DEV`

[2018-04-27 10:37] 0crat commented on #869
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @aliceice[/z](https://www.0crat.com/u/aliceice)

[2018-04-27 10:38] krzyk commented on #761
@0crat in

[2018-04-27 10:39] 0crat commented on #761
@krzyk Job [#761](https://github.com/teamed/qulice/issues/761) is now in scope, role is `DEV`

[2018-04-27 10:39] 0crat commented on #761
@krzyk Thanks for your contribution, @mkordas[/z](https://www.0crat.com/u/mkordas)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-27 10:41] krzyk commented on #862
@neonailol It depends, if you have 80 char limit you are somehow forced to split your methods into smaller ones with less blocks because you will hit the limit too soon.
On the other hand I think that a limit of 120 is still healthy.

But on this one I would refer to @yegor256 What's your opinion on increasing the LineLength check to 120 characters?

[2018-04-27 10:42] krzyk commented on #873
@proshin-roman The issue here is actually in checkstyle, have you checked there if they already fixed this bug?

[2018-04-27 10:48] krzyk commented on #854
@filfreire I'm not sure if moving our short "How to contribute" section to separate file would help, it will be harder to find and it won't make README.md much smaller.

[2018-04-27 10:53] krzyk commented on #866
@aliceice Please close this issue, we will proceed with #761

[2018-04-27 10:54] krzyk commented on #798
@rultor release tag is `0.17.2`

[2018-04-27 10:55] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-384936726)

[2018-04-27 11:06] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-384936726) (spent 10min)

[code]

[2018-04-27 11:33] krzyk commented on #877
@0crat in

[2018-04-27 11:34] 0crat commented on #877
@krzyk Job [#877](https://github.com/teamed/qulice/issues/877) is now in scope, role is `DEV`

[2018-04-27 11:34] 0crat commented on #877
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-27 11:36] 0crat commented on #869
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 11:36] 0crat commented on #761
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 11:37] krzyk commented on #822
@0crat in

[2018-04-27 11:37] 0crat commented on #822
@krzyk Job [#822](https://github.com/teamed/qulice/issues/822) is now in scope, role is `DEV`

[2018-04-27 11:37] 0crat commented on #822
@krzyk Thanks for your contribution, @nqafield[/z](https://www.0crat.com/u/nqafield)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-27 11:40] krzyk commented on #874
@g4s8 @nqafield I made #822 in scope, but no developers or reviewers in the project yet (and of course no funds, just points) - `/apply C3T49A35L` :)

[2018-04-27 11:47] krzyk commented on #869
@aliceice Please merge the issue for AppVeyor into this one also

[2018-04-27 11:49] krzyk commented on #869
@0crat assign @krzyk

[2018-04-27 11:49] 0crat commented on #869
@krzyk The job [#869](https://github.com/teamed/qulice/issues/869) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1171167287); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-27 11:50] 0crat commented on #869
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-27 12:03] proshin-roman commented on #873
@krzyk It might be this issue https://github.com/checkstyle/checkstyle/issues/5089

[2018-04-27 12:04] krzyk commented on #873
@proshin-roman So not much we can do here right now until it is fixed in checkstyle :(

[2018-04-27 12:06] proshin-roman commented on #873
@krzyk Yes, I agree but I would prefer to keep the ticket open so that we don't forget about this problem. And then it can be closed as soon as qulice is upgraded to the fixed Checkstyle version.

[2018-04-27 13:36] 0crat commented on #877
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 13:37] 0crat commented on #822
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 13:58] krzyk opened #880 "Let's upgrade checkstyle and PMD to the latest versions and qulice to java 8"
Right now the latest version of checkstyle is 8.9 and for PMD it is 6.2.0.
One important fix in checkstyle is fix for `RequireThis` check, which reported false positives for constants in classes - ValidAbbreviationAsWordInName needed to be modified to work around this.

Also note that from checkstyle 7 java 8 is required to use it.
So we need to upgrade qulice to java 8 also.

[2018-04-27 14:00] krzyk commented on #880
@yegor256 Are you OK with upgrading qulice to Java 8?
Java 7 is not currently supported by travis and also we would be limited to checkstyle version 6.19.

[2018-04-27 15:07] filfreire commented on #854
@krzyk only benefit was in adding the templates in order for people to get notified with that information when opening an Issue/PR. But I agree that there is no harm in having that section remaining in README.md file.

I'm closing this issue and my submitted PR, since @yegor256 already did much of the work, over here: https://github.com/teamed/qulice/tree/master/.github

Thank you for following-up

[2018-04-27 15:07] #854 closed

[2018-04-27 17:07] 0crat commented on #863
@krzyk Job [#863](https://github.com/teamed/qulice/issues/863) is now in scope, role is `DEV`

[2018-04-27 17:12] krzyk commented on #823
@0crat in

[2018-04-27 17:12] krzyk commented on #821
@0crat in

[2018-04-27 17:40] krzyk commented on #821
@longtimeago I think I fixed in in #879, could you check?

[2018-04-27 18:27] nqafield commented on #823
@0crat apply

[2018-04-27 18:27] 0crat commented on #823
@nqafield Can't understand "apply", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of th

[2018-04-27 18:36] 0crat commented on #863
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 18:36] 0crat commented on #823
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 18:39] krzyk commented on #823
@nqafield If you want to apply go to https://www.0crat.com/join and fill out the form

[2018-04-27 18:39] nqafield opened #882 "Following the instructions to join Qulice project doesn't work"
@0crat suggests that it's possible to join the project, but the [instructions](http://www.zerocracy.com/policy.html#2) don't work.

![image](https://user-images.githubusercontent.com/18754996/39379120-3bfa9ec2-4a52-11e8-9e90-a43bd1619f90.png)

Is it because this project is not on the board?

(I'm not complaining that I can't join the project, just that there seems to be a problem here. If it's not

[2018-04-27 18:40] 0crat commented on #882
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-04-27 18:40] 0crat commented on #882
@nqafield[/z](https://www.0crat.com/u/nqafield) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-27 18:44] nqafield commented on #823
Thanks @krzyk. Not too bothered about joining the project (except that @0crat suggested it - but I don't actually think I'm much use at the moment) but I've reported the issue here: #882

[2018-04-27 18:46] nqafield commented on #882
This should probably be a bug on the zerocrat project, but couldn't find where to report that.

[2018-04-27 18:51] krzyk commented on #823
@nqafield This issue you should report in https://github.com/zerocracy/farm/issues project (that's where @0crat comes from :) ).
As for joining, yeah this project is not on the board, you can join by saying `/apply C3T49A35L` (the code you can find in the url when you look at  [the project](https://www.0crat.com/p/C3T49A35L) link) in  in telegram chat with 0crat.

[2018-04-27 18:52] 0crat commented on #823
Are you speaking to me or about me [here](https://github.com/teamed/qulice/issues/823#issuecomment-385061800); you must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1)

[2018-04-27 18:58] nqafield commented on #823
@0crat sorry! ;)

[2018-04-27 18:58] 0crat commented on #823
@nqafield Can't understand "sorry!", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of t

[2018-04-27 19:00] #882 closed

[2018-04-27 19:01] nqafield commented on #882
See here: https://github.com/zerocracy/farm/issues/975

[2018-04-27 19:16] 0crat commented on #882
The job is not in WBS, won't close the order

[2018-04-27 19:29] krzyk commented on #801
@0crat in

[2018-04-27 19:30] 0crat commented on #801
@krzyk Job [#801](https://github.com/teamed/qulice/issues/801) is now in scope, role is `DEV`

[2018-04-27 19:31] 0crat commented on #801
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-27 19:32] krzyk commented on #801
@0crat assing @amihaiemil

[2018-04-27 19:33] 0crat commented on #801
@krzyk Can't understand "assing", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status of the

[2018-04-27 19:34] krzyk commented on #801
@0crat assign @amihaiemil

[2018-04-27 19:35] 0crat commented on #801
@krzyk The job [#801](https://github.com/teamed/qulice/issues/801) assigned to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil), here is [why](https://www.0crat.com/footprint/C3T49A35L/1171968171); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is

[2018-04-27 19:36] 0crat commented on #801
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-27 19:42] krzyk commented on #807
@0crat in

[2018-04-27 19:42] 0crat commented on #807
@krzyk Job [#807](https://github.com/teamed/qulice/issues/807) is now in scope, role is `DEV`

[2018-04-27 19:42] 0crat commented on #807
@krzyk Thanks for your contribution, @mkordas[/z](https://www.0crat.com/u/mkordas)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-04-27 19:44] krzyk commented on #815
@exper0 Checkstyle will be upgraded in #880

[2018-04-27 20:25] krzyk commented on #807
@mkordas Change was merged in #809, please close

[2018-04-27 20:57] krzyk commented on #798
@rultor release tag is `0.17.2`

[2018-04-27 20:58] 0crat commented on #800
@krzyk Job [#800](https://github.com/teamed/qulice/issues/800) is now in scope, role is `DEV`

[2018-04-27 20:58] 0crat commented on #800
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-27 20:59] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-385092082)

[2018-04-27 22:00] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-385092082) (took me 1hr)

[2018-04-27 23:36] 0crat commented on #807
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-27 23:36] 0crat commented on #800
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-28 05:57] krzyk opened #884 "Migrate from FindBugs to SpotBugs"
[Findbugs project is dead](https://mailman.cs.umd.edu/pipermail/findbugs-discuss/2016-November/004321.html), let's migrate to its successor - [SpotBugs](https://spotbugs.github.io/)

[2018-04-28 05:57] krzyk commented on #884
@0crat in

[2018-04-28 05:58] 0crat commented on #884
@krzyk Job [#884](https://github.com/teamed/qulice/issues/884) is now in scope, role is `DEV`

[2018-04-28 06:00] 0crat commented on #884
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-28 06:12] g4s8 commented on #874
@krzyk I think you can use `/publish` command to attract more attention

[2018-04-28 06:39] 0crat commented on #874
The job is not in WBS, won't close the order

[2018-04-28 07:37] 0crat commented on #884
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-28 08:14] krzyk commented on #822
@nqafield made changes in #883, and now they are merged to master. Please close this issue.

[2018-04-28 08:38] 0crat commented on #822
The job [#822](https://github.com/teamed/qulice/issues/822) is now out of scope

[2018-04-28 09:35] krzyk commented on #869
@0crat out

[2018-04-28 09:36] 0crat commented on #869
@krzyk GitHub issue is still open, won't close

[2018-04-28 18:51] krzyk commented on #880
@yegor256 ping

[2018-04-28 20:52] krzyk commented on #869
@yegor256 Could you close this one (and also $870 as a duplicate of this one)? @aliceice is out for the last 2 months and she didn't reply in any other github issues.

[2018-04-28 20:55] krzyk commented on #862
@yegor256 Similar issue in #867, we have different line length requirements for groovy (which is 120 chars), could we also extend java line lenght to 120 chars?

[2018-04-28 20:59] krzyk commented on #863
@0crat assign me

[2018-04-28 21:01] 0crat commented on #863
@krzyk The job [#863](https://github.com/teamed/qulice/issues/863) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1182087263); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-28 21:05] 0crat commented on #863
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-29 04:53] krzyk commented on #863
@llorllale Changes fixing this (#885) were merged to master, please close this issue.

[2018-04-29 09:56] krzyk commented on #848
@0crat in

[2018-04-29 09:56] 0crat commented on #848
@krzyk Job [#848](https://github.com/teamed/qulice/issues/848) is now in scope, role is `DEV`

[2018-04-29 09:57] 0crat commented on #848
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-29 10:36] 0crat commented on #848
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-29 17:57] krzyk commented on #823
@0crat assign me

[2018-04-29 17:58] 0crat commented on #823
@krzyk The job [#823](https://github.com/teamed/qulice/issues/823) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1191783014); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-29 17:58] 0crat commented on #823
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-29 18:45] krzyk commented on #823
@nqafield please close this issue, the fix was merged to master in #886

[2018-04-29 19:02] #823 closed

[2018-04-29 19:02] krzyk opened #887 "ConstructorOnlyInitializesOrCallOtherConstructors rule should ignore lambdas"
`ConstructorOnlyInitializesOrCallOtherConstructors` and `OnlyOneConstructorShouldDoInitialization` rule fail for:
[code]

When I remove the code in lambda, or replace it with a simpler one:
[code]

It doesn't fail.

It should ignore any code inside lambdas.

[2018-04-29 19:02] krzyk commented on #887
@0crat in

[2018-04-29 19:03] 0crat commented on #887
@krzyk Job [#887](https://github.com/teamed/qulice/issues/887) is now in scope, role is `DEV`

[2018-04-29 19:03] 0crat commented on #887
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-29 19:09] krzyk commented on #835
@0pdd status

[2018-04-29 20:36] krzyk commented on #850
@0crat assign me

[2018-04-29 20:36] 0crat commented on #850
@krzyk The job [#850](https://github.com/teamed/qulice/issues/850) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/1192067299); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-29 20:37] 0crat commented on #850
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-29 20:40] krzyk commented on #850
@0pdd Added PR with a fix #888

[2018-04-29 21:36] 0crat commented on #887
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-29 21:36] 0crat commented on #847
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` are banned at this job; I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://www.zerocracy.com/policy.html#14))

[2018-04-30 05:29] krzyk commented on #831
@yegor256 0pdd should close this issue some time ago when you removed the qulice-xml module, but it didn't, similar thing with https://github.com/teamed/qulice/issues/835 and https://github.com/teamed/qulice/issues/835

Is there a missing webhook in this repo? I doublechecked and rultor merge script is similar to the one in cactoos where 0pdd closes removed puzzles.

[2018-04-30 13:08] llorllale commented on #863
@krzyk thanks

[2018-04-30 13:08] #863 closed

[2018-04-30 13:28] 0crat commented on #863
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-04-30 13:28] 0crat commented on #863
The job [#863](https://github.com/teamed/qulice/issues/863) is now out of scope