[2015-08-11 13:20] marty-buly commented on #448
@yegor256 @krzyk after the change from java 1.6 to 1.7, I'm able to run the qulice successfully
I can confirm, that error is fixed...

nevertheless I don't think, that change of the java version between 0.12.1 & 0.12.2 is good practice - but I agree, you are still in experimental mode ;)

thnx for efforts

[2015-08-11 13:58] krzyk commented on #448
@marty-buly strange, you got probably lucky because we migrated to 1.7 year ago (PMD and Findbugs at least) :), but we were still using old checkstyle, which was upgraded between 0.12.1 and 0.12.2, new checkstyle is only for 1.7.

[2015-08-11 13:59] krzyk commented on #448
@marty-buly please close this issue, thanks

[2015-08-11 14:02] #448 closed

[2015-08-13 07:35] davvd commented on #448
@krzyk Thanks for your contribution, **30 mins** was added to your account, payment ID is `63013652`, 214 hours and 49 mins spent total. added +30 to your rating, now it is equal to [+4250](http://www.netbout.com/b/35035?open=rating)

[2015-08-13 11:26] davvd commented on #262
@yegor256 last puzzled solved `262-9a421520`/#353

[2015-08-16 20:25] Suseika opened #453 "Can we remove the dependency on antlr-annotations?"
It is not used anymore by antlr4: the last antlr-runtime version 4.5 removed it:

https://github.com/antlr/antlr4/releases/tag/4.5

Other reasons to remove it:

- `antlr4-annotations` doesn't support JDK>1.6.
- If `antlr-annotations` is present in the parent pom of a project that uses antlr4-runtime>4.3, then qulice will fail the build due to duplicated classes.

[2015-08-16 20:26] #453 closed

[2015-08-16 20:26] Suseika commented on #453
Sorry, wrong repository.

[2015-08-23 11:24] Suseika opened #454 "PMD doesn't recognize method references"
If I have a method that is used only as a method reference, then PMD will complain that it is not used anywhere.

Adding `net.sourceforge.pmd:pmd:5.1.2` to `qulice-maven-plugin` dependencies fixes it for me. I think it would be good to have the verson of PMD upgraded from 5.1.1 to 5.1.2 in `qulice-pmd`.

By the way, using newer PMD also fixes the errors described in #418

[2015-08-23 11:49] Suseika commented on #454
Might as well upgrade all the way up to 5.1.3, there are lots of useful bugfixes: http://pmd.sourceforge.net/pmd-5.1.3/changelog.html

[2015-08-23 13:09] Suseika opened #455 "Classes use inconsistent access modifiers"
Code analyzer in IntelliJ IDEA shows many *Declaration redundancy* notifications. Those should be fixed.

[2015-08-23 13:09] #455 closed

[2015-08-23 13:09] Suseika commented on #455
Sorry, wrong tab : (

[2015-08-26 12:49] davvd commented on #454
@yegor256 please pay attention to this issue

[2015-08-26 13:39] darkled commented on #400
@yegor256 it is still reproducible with qulice version 0.12.1 even when #397 is closed. I would say they are not duplicates, aren't they?

[2015-08-26 14:51] yegor256 commented on #400
@darkled ok, let's try to fix this separately

[2015-08-27 07:42] davvd commented on #400
@darkled this task will get someone's attention soon

[2015-08-27 07:45] davvd commented on #400
@krzyk this task is yours, go ahead

[2015-08-27 07:45] davvd commented on #454
@krzyk this task is yours, go ahead

[2015-08-27 07:45] davvd commented on #454
@suseika many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-06750415WT4113214`

[2015-08-27 08:57] davvd commented on #400
@darkled thanks for tis bug, I topped your account for 15 mins, transaction `63938954`

[2015-08-28 12:52] krzyk commented on #454
@davvd please see PR #456

[2015-08-28 17:51] krzyk commented on #400
@darkled could you share pom.xml and the full path name you use for the project?

[2015-08-29 13:41] caarlos0 commented on #402
ping @yegor256 @davvd

[2015-08-30 08:41] darkled commented on #400
@krzyk I think they succeed because your `pom.xml`'s has configured license:
[code]

In my case `qulice` has the default configuration for the license and its configuration looks like:
[code]

[2015-08-30 11:19] krzyk commented on #400
@darkled In your example profile, license is defined as `<license>file://${basedir}/LICENSE.txt</license>`, does it work when you remove the `//`?

[2015-08-30 11:51] krzyk commented on #400
@darkled also, why override license configuration, and add `//` after `file:`? Is this just a mistake, or is it done on purpose?

[2015-08-31 07:31] davvd commented on #454
@krzyk I will take a look, thanks

[2015-08-31 07:33] krzyk commented on #454
@Suseika code has been updated on master, please close this issue

[2015-08-31 07:34] Suseika commented on #454
@krzyk Thanks

[2015-08-31 07:34] #454 closed

[2015-08-31 09:37] davvd commented on #402
@caarlos0 thanks for tis bug, I topped your account for 15 mins, transaction `AP-4TA241254C299151F`

[2015-09-01 09:36] krzyk commented on #400
@davvd please give me more time

[2015-09-01 09:57] davvd commented on #454
@krzyk **30 mins** sent to your balance (ID `64303251`), many thanks! It took 97 hours and 49 mins.. +30 to your rating, your total score is [+4066](http://www.netbout.com/b/35035?open=rating)

[2015-09-01 11:12] davvd commented on #400
@krzyk agreed, take your time

[2015-09-01 11:19] darkled commented on #400
@krzyk you're right, when if I remove `//` it works fine. I am not sure about the reason of overriding default configuration, this `pom.xml` is taken from another teamed's project. Could you please put some short note about the correct way of configuration of license as well as it's default value into `readme.md` ?

[2015-09-03 12:22] caarlos0 opened #457 "Method declaration formatting"
The method calling formatting for lines with more than 80c is:

[code]

I think that we should use this same pattern for method declaration:

[code]

[2015-09-04 17:24] caarlos0 commented on #432
@davvd @yegor256 ping

[2015-09-04 17:26] caarlos0 commented on #336
@yegor256 makes sense. Thanks!

[2015-09-04 17:26] #336 closed

[2015-09-05 17:28] krzyk commented on #400
@darkled actually there is already info about correct configuration on www.qulice.com

[2015-09-05 17:29] krzyk commented on #400
@darkled also the same configuration is in the README.md

[2015-09-05 17:38] darkled commented on #400
@krzyk it looks very confusing, I think we need to say it explicitly in one or two sentences.

[2015-09-05 17:41] darkled commented on #400
@krzyk e.g. `The path to license has to be declared in the following format: "file:${basedir}/LICENSE.txt", it's the default value, one can use any full path instead of ${basedir}.`

[2015-09-05 18:23] krzyk commented on #400
@davvd please see PR #458

[2015-09-07 07:19] davvd commented on #400
@krzyk thank you, I will check it

[2015-09-07 07:21] davvd commented on #457
@yegor256 please do something about this issue

[2015-09-07 07:40] krzyk commented on #400
@darkled I've added explanation to the README, please close this issue

[2015-09-07 07:57] darkled commented on #400
@krzyk thanks!

[2015-09-07 07:57] #400 closed

[2015-09-07 09:56] yegor256 commented on #457
@caarlos0 well, method calls must be formatted like this, because we can nest them. We can have many levels of method calls. In case of method declaration - there is only one level, always. No need to format it anyhow, there is basically no harm done, if it's formatted the "wrong" way. See my point?

[2015-09-08 10:34] davvd commented on #400
@krzyk **30 mins** was added to your account, many thanks for your contribution (payment 64780896)! The task took 265 hours and 50 mins.. added +30 to your rating, now it is equal to [+3944](http://www.netbout.com/b/35035?open=rating)

[2015-09-09 09:12] davvd commented on #432
@krzyk this task is yours, go ahead

[2015-09-09 09:13] davvd commented on #432
@caarlos0 thanks for the ticket, your account was topped for 15 mins, payment AP-4C929071VV336604D

[2015-09-10 06:44] krzyk commented on #432
@davvd please see PR #459

[2015-09-10 09:43] davvd commented on #432
@krzyk thank you, I will check it

[2015-09-11 15:48] krzyk opened #460 "After latest upgrade to pdd 0.15 build fails"
Build fails with pdd reporting problems in existing code: http://www.rultor.com/t/5084-139511713
[code]

Please update the code to work with pdd 0.15.

[2015-09-11 16:41] krzyk commented on #432
@davvd we are waiting for #460

[2015-09-13 08:32] #460 closed

[2015-09-13 10:17] krzyk commented on #432
@caarlos0 I have added test that confirms default methods work correctly with current qulice version.  Please close this issue.

[2015-09-13 13:44] caarlos0 commented on #432
@krzyk thanks!

[2015-09-13 13:44] #432 closed

[2015-09-14 07:30] Suseika opened #461 "Prohibit a semicolon in the end of try-with-resourses head"
This code will compile, and qulice won't complain about it, but it won't pass our code review because of the extra semicolon:

[code]
or
[code]

If qulice required this code to look like this:

[code]

that would save us some time in code review.

[2015-09-14 08:36] davvd commented on #432
@krzyk issue #460 is closed already

[2015-09-14 08:39] davvd commented on #447
@longtimeago thank you for the ticket reported, I topped your account for 15 mins, transaction `64984797`

[2015-09-15 08:48] davvd commented on #432
@krzyk **30 mins** added to your account (payment number `65253670`), many thanks for your contribution! 119 hours and 25 mins spent here.; +30 added to your rating, at the moment it is: [+3852](http://www.netbout.com/b/35035?open=rating)

[2015-09-17 09:03] davvd commented on #461
@yegor256 please pay attention to this issue

[2015-09-17 09:09] yegor256 commented on #461
@Suseika good idea, thanks

[2015-09-17 10:55] davvd commented on #461
@suseika thanks for the report, I topped your acc for 15 mins, payment ID `AP-70C21551A0862081A`

[2015-09-17 22:27] caarlos0 commented on #402
@davvd can you dispatch this issue please? It is holding us back in another project...

[2015-09-17 23:07] caarlos0 commented on #457
@yegor256 yes, you're right. thanks

[2015-09-17 23:07] #457 closed

[2015-09-18 08:40] davvd commented on #402
@caarlos0 @yegor256 what do you think?

[2015-09-18 09:02] krzyk commented on #402
@caarlos0 what was the command line used that resulted in this error?

[2015-09-18 12:15] davvd commented on #402
@krzyk this is yours, pls go ahead

[2015-09-18 16:59] caarlos0 commented on #402
@krzyk `mvn clean install -Pqulice`. You can also check https://github.com/teamed/xockets-hadoop-transport/issues/921

[2015-09-18 17:00] caarlos0 commented on #402
@davvd thanks!

[2015-09-19 12:33] longtimeago opened #462 "Consider upgrade to latest PMD version"
Current PMD version (5.1.1) contains several annoying bugs,
for example http://sourceforge.net/p/pmd/bugs/1128/
This bug is reproduced with all primitive types.
It's fixed in PMD 5.2.2

Let's upgrade qulice to the latest version of PMD (or at least 5.2.2)

[2015-09-19 12:50] krzyk commented on #402
@davvd please see PR #463

[2015-09-21 07:15] davvd commented on #402
@caarlos0 sure, you are welcome

[2015-09-21 07:15] davvd commented on #402
@krzyk thanks, I'll take a look

[2015-09-21 19:05] darkled opened #464 "NPE during check"
I execute qulice on a project and get the following error with NPE:
[code]

[2015-09-22 10:37] darkled opened #465 "Qulice doesn't support hibernate-validator 5.2.1"
I've configured qulice as follows:
[code]
And this leads to an output message in logs:
[code]

It works fine with `5.0.0.Final` version

[2015-09-22 12:43] davvd commented on #462
@yegor256 dispatch this issue please

[2015-09-22 22:36] darkled commented on #464
It looks like it happens when qulice tries to validate xml files on the machine under the proxy...

[2015-09-23 05:40] krzyk commented on #402
@caarlos0 please close this issue, changes have been merged to master

[2015-09-23 08:51] davvd commented on #462
@krzyk it's yours,please help,budget is 30 mins

[2015-09-23 08:51] davvd commented on #462
@longtimeago thanks for tis bug, I topped your account for 15 mins, transaction `65812758`

[2015-09-23 09:45] #464 closed

[2015-09-23 10:06] krzyk commented on #462
@longtimeago we are currently on 5.3.3, do you want to upgrade to 5.3.4?

[2015-09-23 10:09] krzyk commented on #462
@longtimeago it was done in https://github.com/teamed/qulice/pull/456, but there was no release since then.
@yegor256 could you make a new release of qulice?

[2015-09-23 10:21] longtimeago commented on #462
@krzyk humm ... looks like I've missed something.
Let's upgrade to 5.3.4 and then release a new version

[2015-09-23 11:53] krzyk commented on #462
@davvd please see PR #466

[2015-09-23 14:10] #402 closed

[2015-09-23 14:10] caarlos0 commented on #402
@krzyk thanks!

[2015-09-24 07:11] davvd commented on #462
@krzyk thank you, I will check it

[2015-09-24 17:15] hs3180 commented on #325
@wb14123
I've walked through this ticket, but couldn't find out how to set the `{header}` and `{cache.file}`.

[2015-09-25 08:14] davvd commented on #402
@krzyk paid, thanks, added **30 mins** to your account, payment `65890481`, 138 hours and 56 mins was spent. added +30 to your rating, now it is equal to [+3728](http://www.netbout.com/b/35035?open=rating)

[2015-09-25 11:10] davvd commented on #465
@yegor256 please dispatch this issue

[2015-09-25 15:01] yegor256 commented on #465
@darkled I don't think you need to provide any dependencies there explicitly. This should work:

[code]

Or it doesn't work?

[2015-09-25 15:19] darkled commented on #465
@yegor256 it doesn't:
[code]
`hibernate-validator` is a dependency in `pom.xml` (I tried both 5.2.1 and 5.0.0)

[2015-09-26 16:15] caarlos0 opened #467 "New release"
Can we do a new release?

I need a version where #402 is fixed.

Thanks

[2015-09-26 17:53] krzyk commented on #462
@yegor256 could you make a new release with this changes?

[2015-09-26 17:56] yegor256 commented on #462
@rultor release, tag is `0.13`

[2015-09-26 17:56] rultor commented on #462
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5260-143475968)

[2015-09-26 18:11] rultor commented on #462
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/5260-143475968) (took me 15min)

[2015-09-26 19:58] krzyk commented on #462
@longtimeago please see qulice 0.13

[2015-09-26 21:14] longtimeago commented on #462
@krzyk perfect! Thank you!

[2015-09-26 21:14] #462 closed

[2015-09-26 21:53] yegor256 commented on #420
@YamStranger it's similar to #447

[2015-09-26 22:11] caarlos0 commented on #402
@krzyk just tested it with the new release... same problem :/

[2015-09-27 05:57] krzyk commented on #402
@caarlos0 It should work better, you should see that you have extra new line at the end of file (or you are missing an extra new line) using `+` and `-` syntax. It is best to look using `xxd` :)

[2015-09-27 15:33] caarlos0 commented on #402
@krzyk I found strange that it asks to remove the xml header, for example... but OK, will take another look

[2015-09-28 08:21] davvd commented on #420
@krzyk the task is yours (budget is 30 mins)

[2015-09-28 08:21] davvd commented on #465
@krzyk it's yours, budget is 30 mins, please go ahead

[2015-09-28 08:21] davvd commented on #465
@darkled many thanks for the report, I topped your account for 15 mins, transaction 65968411

[2015-09-28 11:55] davvd commented on #420
@yamstranger thanks for the ticket, your account was topped for 15 mins, payment 65972962

[2015-09-28 19:26] krzyk commented on #465
@davvd please see PR #468

[2015-09-29 05:04] krzyk commented on #467
@caarlos0 there was a release - 0.13

[2015-09-29 09:06] davvd commented on #465
@krzyk I will take a look, thanks

[2015-09-29 09:09] davvd commented on #462
@krzyk **30 mins** was added to your account, many thanks for your contribution (payment 66242503)! The task took 119 hours and 28 mins.. +30 to your rating, your total score is [+3507](http://www.netbout.com/b/35035?open=rating)

[2015-09-29 10:48] #467 closed

[2015-09-29 10:48] caarlos0 commented on #467
@krzyk yes, forgot to close this,sorry

[2015-09-30 18:52] krzyk commented on #465
@darkled snapshot qulice version now should not required hibernate validators

[2015-09-30 19:38] darkled commented on #465
@krzyk right, thanks, closing the issue.

[2015-09-30 19:38] #465 closed

[2015-10-01 00:27] caarlos0 opened #469 "XML Validation with weird error"
In #402 , I reported a bug with XML validation... The fix seems to not have been fixed it entirely.

I copied a XML from one project (where qulice is running too), and just replaced the name of the project. It's something like this:

[code]

If I copy this file and run qulice against it, it breaks with those errors:

[code]

It basically asks to remove the `<?xml version="1.0"?>` header, glue toge

[2015-10-02 05:34] Suseika opened #470 "Disallow initializing non-static fields in the field declaration"
When we initialize non-static fields where they are declared, it creates an inconsistency: some fields are initialized in the constructor, and some and initialized at declarations.

Compare this:

[code]

and this:

[code]

I know about the "constructors must be code-free" rule, but putting initialization at declaration for the sake of not having code in the constructor would be just a dirty hack.

[2015-10-02 06:24] Suseika opened #471 "We should be able to have constructor parameters with the same names as the fields"
We have a rule that parameters' names must be different from fields' names. Generally it is really useful and helps prevent some overlooked problems.

But there is one exception. This rule is absolutely *destructive* to code quality when applied to constructors.

Generally we have just assignments in constructors:
[code]

Parameters in constructors must be the same things as the fields, because th

[2015-10-02 08:07] Suseika opened #472 "Generic parameters should be documented"
This code will pass qulice test
[code]

The problem here that parameter `T` is not documented. Qulice should disallow that. Instead, the correct code would be:

[code]

[2015-10-02 09:22] davvd commented on #465
@krzyk **30 mins** sent to your balance (ID `66417072`), many thanks! It took 72 hours and 4 mins.; +30 to your rating, your total score is [+3196](http://www.netbout.com/b/35035?open=rating)

[2015-10-03 17:21] krzyk commented on #420
@davvd please see PR #473

[2015-10-04 11:59] krzyk commented on #420
@davvd please give me more time

[2015-10-05 07:21] davvd commented on #420
@krzyk thanks, will take a look

[2015-10-05 07:21] davvd commented on #420
@krzyk no problem, thanks for letting me know

[2015-10-05 07:24] davvd commented on #471
@yegor256 dispatch this issue please

[2015-10-05 07:24] davvd commented on #469
@yegor256 dispatch this issue please

[2015-10-05 07:24] davvd commented on #470
@yegor256 please do something about this issue

[2015-10-05 10:51] davvd commented on #472
@yegor256 dispatch this issue please

[2015-10-05 19:05] yegor256 commented on #470
@Suseika very good idea, thanks!

[2015-10-05 19:07] yegor256 commented on #471
@Suseika good idea indeed, thanks!

[2015-10-06 05:07] krzyk commented on #420
@YamStranger fix has been merged to master, please close this issue

[2015-10-06 10:08] davvd commented on #469
@krzyk this is yours, pls go ahead

[2015-10-06 10:08] davvd commented on #470
@krzyk it's yours, please help, budget is 30 mins

[2015-10-06 10:08] davvd commented on #471
@krzyk it's yours, please help, budget is 30 mins

[2015-10-06 10:08] davvd commented on #472
@krzyk this is yours, pls go ahead

[2015-10-06 10:08] davvd commented on #472
@suseika thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-8FG78582YD3150241`

[2015-10-06 13:02] davvd commented on #471
@suseika thank you for reporting this, I added 15 mins to your acc, transaction `AP-15H82593UM4350141`

[2015-10-06 15:16] krzyk commented on #470
@Suseika @yegor256 I think this rule is too restrictive. This would force creation of constructors when it is not really needed (e.g. in a class that doesn't have any parameters for constructors).
I really don't see any inconsistency in initializing final fields as soon as we know their value.

[2015-10-06 15:46] #420 closed

[2015-10-06 15:55] yegor256 commented on #470
@krzyk I think it would be logical to prohibit the use of constructors and at the same time pre-defined initialization. Just in the example above. If there are no constructors - you can initialize everything "statically". What do you think?

[2015-10-07 06:32] Suseika opened #474 "Logging of checks is inconsistent"
Here is a typical qulice log. You can see that all the checks except for Checkstyle and PMD are reported before the actual check has started.
[code]

This is inconsistent, I suggest adding log lines that tell when Checkstyle starts and when PMD starts. Before Checkstyle has completed, you can't tell from the log what is taking up 100% of your CPU (unless you worked with Qulice for some time and kn

[2015-10-07 08:56] davvd commented on #470
@suseika thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-8YX54112Y3057844P`

[2015-10-07 10:05] davvd commented on #469
@caarlos0 thanks for tis bug, I topped your account for 15 mins, transaction `AP-3X221901K94557449`

[2015-10-07 18:28] krzyk commented on #470
@yegor256 makes sense

[2015-10-08 10:28] davvd commented on #420
@krzyk Much appreciated! **30 mins** was added to your account, payment ID `66892053`, time spent is 216 hours and 34 mins

+30 added to your rating, at the moment it is: [+3225](http://www.netbout.com/b/35035?open=rating)

[2015-10-09 16:17] krzyk commented on #472
@davvd please see PR #475

[2015-10-09 18:37] krzyk opened #477 "There should be only one main constructor"
A main constructor is the one that does the real work by setting all the necessary fields in the class, all other constructors should just delegate work to it.

Qulice should complain in such case:
[code]

Correct case is:
[code]

The above is currently enforced only if there is a superclass (e.g. when `Car extends Vehicle`), but should be enforced always.

[2015-10-10 05:35] krzyk commented on #471
@davvd please see PR #476

[2015-10-10 07:00] krzyk commented on #469
@caarlos0 after you do all the changes to this file (and qulice complains only about end of line at the end of file), please post the end of `xxd` command here (or some other hex dump of the file).

[2015-10-10 07:05] krzyk commented on #469
@caarlos0 as I understand your report there are four bugs here:
* removal of xml preambule
* forcing the comment to end at the same line that the main tag starts
* changing indentation of tag attributes
* (mentioned above) force removal of phantom end of line at end of file

[2015-10-10 07:08] krzyk opened #478 "Constructors should be code free"
There is no rule that would forbid putting anything other than field assignments into constructors.
The only exception should be calling other constructors or calling super class constructor.
Please add such rule.

[2015-10-10 10:19] caarlos0 commented on #469
@krzyk hex dump:

[code]

[2015-10-10 10:19] caarlos0 commented on #469
@krzyk basically, yes, four bugs

[2015-10-10 11:58] krzyk commented on #469
@caarlos0 you can see that you have `0a` at the end of your file, that's what it is complaining about

[2015-10-10 16:36] caarlos0 commented on #469
@krzyk well, I don't know how to get rid of it. I already deleted the file an re-created it. I copied the file from another project (in which qulice was passing) to this other project, and it simply breaks...

either way, the other changes make no sense. For me, even complaining about an empty line at the end of the file makes no sense...

[2015-10-10 17:41] krzyk commented on #469
@caarlos0 I'm not sure about the last one, I personally would prefer to have a new line at and of file, we have such rule for java, so here it would make sense to have it also - so the above report is a bug also.
@yegor256 What's your take on this, should we enforce newline at end of XML files also?

[2015-10-10 17:59] caarlos0 commented on #469
@krzyk I don't know if we must enforce it, but I'm pretty sure it is not good to enforce the absence of it...

[2015-10-10 20:23] yegor256 commented on #469
@krzyk I think we have to enforce this empty line. My IDE (and all my text editors) add it automatically.

[2015-10-11 07:23] krzyk commented on #470
@davvd please see PR #479

[2015-10-11 19:10] caarlos0 commented on #469
@yegor256 agreed

[2015-10-12 18:05] krzyk commented on #472
@davvd are you alive?

[2015-10-12 18:06] krzyk commented on #469
@davvd please give me more time

[2015-10-13 07:02] krzyk commented on #472
@davvd please give me more time

[2015-10-13 07:02] krzyk commented on #471
@davvd please give me more time

[2015-10-13 07:02] krzyk commented on #470
@davvd please give me more time

[2015-10-13 07:37] davvd commented on #469
@krzyk yes, take your time, thanks for letting me know

[2015-10-13 07:40] davvd commented on #474
@yegor256 please dispatch this issue

[2015-10-13 07:40] davvd commented on #477
@yegor256 dispatch this issue please

[2015-10-13 07:40] davvd commented on #478
@yegor256 please do something about this issue

[2015-10-13 09:12] davvd commented on #472
@krzyk thank you, I will check it

[2015-10-13 09:12] davvd commented on #471
@krzyk will take a look, thanks

[2015-10-13 09:12] davvd commented on #472
@krzyk yes, take your time, thanks for letting me know

[2015-10-13 09:12] davvd commented on #470
@krzyk will take a look, thanks

[2015-10-13 09:12] davvd commented on #471
@krzyk no problem, thanks for letting me know

[2015-10-13 09:12] davvd commented on #470
@krzyk of course, thanks for letting me know, take your time

[2015-10-13 22:35] Suseika opened #480 "AvoidInstantiatingObjectsInLoops prohibits instantiating the Iterable we're iterating over"
This code would not pass qulice check, but it should:

[code]

PMD treats `new ArrayList<Integer>(Tv.TEN)` as an object instantiated inside a loop.

One might argue if it is actually *inside* the loop, but anyway I think that this violation should not happen in this case.

Of course, that is not a particularly good piece of code, it is just a minimal reproducible example.

Disallowing instantiatin

[2015-10-15 05:32] krzyk commented on #472
@Suseika please close this issue, changes have been merged to master

[2015-10-15 05:33] krzyk commented on #471
@Suseika please close this issue, code changes have been merged to master

[2015-10-15 05:34] krzyk commented on #470
@Suseika please close this issue, changes have been merged to master

[2015-10-15 06:12] Suseika commented on #472
@krzyk Thanks

[2015-10-15 06:12] #472 closed

[2015-10-15 06:13] #470 closed

[2015-10-15 06:14] Suseika commented on #471
@krzyk Great, thanks

[2015-10-15 06:14] #471 closed

[2015-10-15 07:51] davvd commented on #478
@krzyk thank you for reporting this, I added 15 mins to your acc, transaction `67397534`

[2015-10-15 10:31] davvd commented on #477
@krzyk thank you for reporting this, I added 15 mins to your acc, transaction `67401090`

[2015-10-15 12:28] davvd commented on #474
@suseika thanks for the ticket, your account was topped for 15 mins, payment AP-0CH92146DS483281S

[2015-10-16 08:38] davvd commented on #470
@krzyk **30 mins** sent to your balance (ID `67436932`), many thanks! It took 213 hours and 44 mins.

+30 added to your rating, at the moment it is: [+3268](http://www.netbout.com/b/35035?open=rating)

[2015-10-16 08:38] davvd commented on #471
@krzyk Thanks for your contribution, **30 mins** was added to your account, payment ID is `67436926`, 213 hours and 44 mins spent total... +30 added to your rating, current score is: [+3238](http://www.netbout.com/b/35035?open=rating)

[2015-10-16 08:38] davvd commented on #472
@krzyk thank you, added **30 mins** to your acc, payment num is `67436902`, 213 hours and 44 mins spent in total to complete... +30 added to your rating, at the moment it is: [+3208](http://www.netbout.com/b/35035?open=rating)

[2015-10-17 08:37] krzyk commented on #469
@davvd please see PR #481

[2015-10-19 07:56] davvd commented on #469
@krzyk thanks, will take a look

[2015-10-19 08:00] davvd commented on #480
@yegor256 please do something about it, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-19 18:46] krzyk commented on #469
@caarlos0 code changes have been merge to master, please close this issue

[2015-10-19 19:20] caarlos0 commented on #469
@krzyk thanks

[2015-10-19 19:20] #469 closed

[2015-10-20 05:07] simonjenga opened #482 "qulice-maven-plugin 0.12: Build failure with ValidationException"
[code]

[2015-10-20 08:19] davvd commented on #480
@krzyk the task is yours (budget is 30 mins)

[2015-10-20 08:20] davvd commented on #480
@suseika thanks for reporting! I topped your account for 15 mins, transaction AP-6U016237AP3937530

[2015-10-21 14:11] davvd commented on #469
@krzyk paid, thanks, added **30 mins** to your account, payment `67886896`, 334 hours and 7 mins was spent. added +30 to your rating, now it is equal to [+3286](http://www.netbout.com/b/35035?open=rating)

[2015-10-21 19:27] krzyk commented on #480
@Suseika have you tried latest qulice? In version 0.13 PMD was upgraded to 5.3.4 (or 5.3.3) and this error is not reported.

[2015-10-21 21:59] Suseika commented on #480
@krzyk Right, it can only be reproduced in older versions, closing.

[2015-10-21 21:59] #480 closed

[2015-10-22 08:39] davvd opened #483 "XmlValidator.java:173-179: Remove the method below and..."
Puzzle `469-1b2c894b` in `qulice-xml/src/main/java/com/qulice/xml/XmlValidator.java:173-179` has to be resolved: Remove the method below and find a way to format tags correctly in XML. Attributes should be indented by 4 spaces, just like XML tags, but in IT xml-violations there is a tag that our Prettifier want to be indented by 3 spaces which is wrong. Another problem is that in the parent tag, a

[2015-10-22 08:40] davvd commented on #469
@caarlos0 once `469-1b2c894b`/#483 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-10-26 09:16] davvd commented on #480
@krzyk paid, thanks, added **38 mins** to your account, payment `68031944`, 48 hours and 27 mins was spent... the bonus for fast delivery (m=2907)... +38 added to your rating, at the moment it is: [+3051](http://www.netbout.com/b/35035?open=rating)

[2015-10-26 09:17] davvd commented on #482
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-26 17:09] yegor256 commented on #482
@simonjenga how can I reproduce it? The build is clean on Travis and on my machine:

[code]

[2015-10-28 08:44] davvd opened #484 "0.14"
Please, publish a new release **0.14** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-10-28 08:48] davvd commented on #484
@krzyk please proceed, it's yours

[2015-10-28 11:27] krzyk commented on #482
@simonjenga from the logs you provided it looks like a network issue - maybe your network connection was down, or maybe you are behind a proxy or maven.apache.org was down

[2015-10-28 13:18] davvd opened #485 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-10-28 16:19] simonjenga commented on #482
@yegor256 @krzyk You're right, it was a problem with my network connection during that day when i was executing the build. The project now builds OK.
[code]

Am now closing this issue, Thnx!

[2015-10-28 16:19] #482 closed

[2015-10-28 19:29] krzyk commented on #484
@yegor256 could you help me identify the issues which should be in this release?

[2015-10-28 19:39] yegor256 commented on #484
@krzyk just suggest what you think is reasonable, I will correct you

[2015-10-29 15:20] krzyk commented on #484
@yegor256 Here's a list, I went from the top, so the list contains the first and top of the second page in issue list (with the assumption that the old bugs might not be important right now, or might have "disappeared").
Mostly those are bugfixes, with only two new features.

Bugs:
#474 Logging of checks is inconsistent
#449 Strange indentation requirements for the closing parenthesis in multiline

[2015-10-29 18:58] yegor256 commented on #484
@krzyk you're suggesting to put them all into 0.14 release? I'm not against bugs, but I think #410 is too much (may take time). The rest looks fine.

[2015-10-29 19:37] krzyk commented on #484
@yegor256 I don't have yet a good intuition how much work should be done in a release :)
So how should I proceed now?
I saw in other projects that this release issue should depend on the issues mentioned above is that right?

[2015-10-29 22:23] yegor256 commented on #484
@krzyk well, the sooner we release this 0.14 version, the bigger is your bonus. How you link these sub-tickets to this one, doesn't really matter. There is no time limit on this ticket. It's just the longer you work with it, the smaller is the bonus. So, technically, there is no need to link anything. Just try to release ASAP.

[2015-10-30 06:50] krzyk commented on #484
@yegor256 Is there any rule that would require certain amount of commits before doing a release? Right now there are 20 commits since the last release, does it qualify for a release without additional bugfixes?

[2015-10-31 07:19] krzyk commented on #484
@yegor256 The second question is how should I ensure that someone will work on the issues above? E.g. should I mark given bug with milestone 0.14? Or add *urgent* flag to some of them? Or just ask someone to work on it by manual assignment?

[2015-11-01 19:03] aistomin opened #486 "HeaderCheck needs explanation"
I'm just not sure that I understand everything correctly. ```HeaderCheck``` needs this lines to be the first statement in the header javadoc:
[code]
So, basically, my question is: Why should I put this copyright to _my_ code? I already included the license, that means that I respect Qulice and I do not pretend that it's my library. But, the code where it forces me to put this copyright, is the cod

[2015-11-01 20:01] krzyk commented on #486
@aistomin the `LICENSE.txt` file you add to your code is yours code license, and `HeaderCheck` assures that every one of your code files will contain this license text at the top. Replace this file with the license you want.

[2015-11-01 21:09] aistomin commented on #486
Ah, now I got the idea :) It checks that I didn't forget to include _my own_ licence. Wonderful idea. Thanks a lot for explanation. I'm going to close the issue.

[2015-11-01 21:09] #486 closed

[2015-11-02 08:19] krzyk commented on #484
@yegor256 ping? I don't won't to loose points, but I really don't know what should I do here without your response to the above two questions?

[2015-11-02 10:14] davvd commented on #484
@krzyk please, pay attention to this:

 * some tasks in the project are "stuck": #144 (612 days), #173 (598 days), #388 (286 days), #354 (310 days), #303 (436 days), #356 (305 days), #365 (305 days), #322 (397 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([par.29](h

[2015-11-02 10:23] krzyk commented on #144
@davvd this is postponed

[2015-11-02 10:23] krzyk commented on #173
@davvd this is postponed

[2015-11-02 10:23] krzyk commented on #388
@davvd this is postponed

[2015-11-02 10:24] krzyk commented on #354
@davvd this is postponed

[2015-11-02 10:24] krzyk commented on #303
@palyuga thanks, I haven't seen this problem in a while

[2015-11-02 10:24] #303 closed

[2015-11-02 10:25] krzyk commented on #356
@davvd this is postponed

[2015-11-02 10:25] krzyk commented on #365
@davvd this is postponed

[2015-11-02 10:25] krzyk commented on #322
@davvd this is postponed

[2015-11-02 10:26] krzyk commented on #451
@mkordas Could you add an example java file that causes this crash?

[2015-11-02 10:28] krzyk commented on #436
@dpisarenko is the option mentioned above by @yegor256 enough for you? If so, please close this issue.

[2015-11-02 10:33] krzyk commented on #269
@longtimeago For me it looks like a problem with `update-alternatives` or similar. It might cause problems because of lack of links between directories in the `/etc` or in the `/lib`. I install sun jdk in `/opt` and mange it by myself, so that might be an option for you also.
You could also try to set `IDEA_JDK` in your shell and then run intellij (in the same shell), or hardcode `JAVA_HOME` insid

[2015-11-02 10:34] krzyk commented on #192
@longtimeago Right now qulice should report what needs to change in xml to pass validation, if so, please close this issue.

[2015-11-02 10:34] krzyk commented on #99
@davvd this is postponed

[2015-11-02 10:35] krzyk commented on #99
@davvd valid bug

[2015-11-02 10:36] krzyk commented on #98
@yegor256 Is this task done, or still in progress? It would be good to have a longer description.

[2015-11-02 10:37] krzyk commented on #61
@yegor256 is this still valid?

[2015-11-02 10:55] longtimeago commented on #192
@krzyk OK, thanks

[2015-11-02 10:55] #192 closed

[2015-11-02 11:47] krzyk commented on #441
@davvd it is urgent

[2015-11-02 11:54] krzyk commented on #411
@davvd this issue depends on checkstyle/checkstyle#1349 (and checkstyle release after that)

[2015-11-02 11:55] krzyk commented on #444
@davvd it is urgent

[2015-11-02 11:56] krzyk commented on #447
@davvd this is urgent

[2015-11-02 18:12] yegor256 commented on #61
@krzyk up to you. I think, the idea is interesting. you decide.

[2015-11-02 18:13] yegor256 commented on #98
@krzyk nah, I'm closing it

[2015-11-02 18:13] #98 closed

[2015-11-02 18:15] yegor256 commented on #484
@krzyk you can release as frequently as you like. Actually, it's better to release more often instead of less. Check this: https://github.com/teamed/qulice/blob/master/TEAM.md There are no DEV/IMP people in the project now, that's why no tasks are assigned. We can add people and assignments will start happening. Or you can "manually" assign tasks to certain developers. I would suggest to add devel

[2015-11-02 19:12] krzyk commented on #484
@yegor256 yes, definitely it would be better to have developers added to this file

[2015-11-02 19:16] krzyk commented on #61
@davvd it is a valid bug

[2015-11-02 19:27] krzyk commented on #484
@yegor256 as for the release, so should check with you before making a release? Or does it depend on if it is a minor version change or a patch release?
E.g. I would like to release 0.14 right now, is it OK, or should I rather go with 0.13.1?

[2015-11-02 21:15] kholsas commented on #209
This is how I resolved this. Use findbugs version 3.0.2 and above.

[2015-11-02 21:55] mkordas commented on #451
I don't know the file. Any hints how can I track it? I tried updating to Checkstyle 6.12 which reports problematic filename in stacktraces, but I didn't succeed with building qulice-maven-plugin locally: `java.lang.ClassNotFoundException: com.qulice.spi.Environment`.

[2015-11-03 05:52] yegor256 commented on #484
@krzyk the idea is that you can release as often as you wish, but in order to close this task and get paid for if you have to "deliver" release 0.14 to me (product owner). And I have to accept it. So, it's better to make some deal with me before hand. Just like you did above.

[2015-11-03 05:53] yegor256 commented on #484
@krzyk minor versions I don't care about, you can release many of them, without telling me

[2015-11-03 07:18] krzyk commented on #451
@mkordas Maybe we could change this issue into a an upgrade to checkstyle 6.12? We could do a release and then you could check if qulice fails on your code, and if it does you would have the filename?

[2015-11-03 07:20] krzyk commented on #451
@mkordas BTW is there an info about filenames in stack traces in Checkstyle realise notes?  I can't find it.

[2015-11-03 07:21] longtimeago commented on #269
@krzyk looks like it's not reproduced anymore, thanks for your help

[2015-11-03 07:21] #269 closed

[2015-11-03 07:58] davvd commented on #144
@krzyk got it, "postponed" label here

[2015-11-03 07:58] davvd commented on #144
@krzyk OK, I will try to assign someone else

[2015-11-03 07:58] davvd commented on #173
@krzyk right, I added "postponed" label

[2015-11-03 07:58] davvd commented on #173
@krzyk someone else will help in this task, no problem at all

[2015-11-03 07:58] davvd commented on #388
@krzyk right, I added "postponed" label

[2015-11-03 07:58] davvd commented on #388
@krzyk all right, we'll find someone else for this task

[2015-11-03 07:58] davvd commented on #354
@krzyk OK, I put "postponed" label here

[2015-11-03 07:58] davvd commented on #354
@krzyk I will try to find someone else

[2015-11-03 07:58] davvd commented on #356
@krzyk right, I added "postponed" label

[2015-11-03 07:58] davvd commented on #356
@krzyk got it, someone else will be assigned soon

[2015-11-03 07:58] davvd commented on #365
@krzyk OK, I put "postponed" label here

[2015-11-03 07:58] davvd commented on #365
@krzyk I will assign somebody else to this issue

[2015-11-03 07:58] davvd commented on #322
@krzyk OK, I put "postponed" label here

[2015-11-03 07:58] davvd commented on #322
@krzyk right, I will find someone else, no problem

[2015-11-03 07:58] davvd commented on #441
@krzyk OK, I put "urgent" label here

[2015-11-03 07:58] davvd commented on #444
@krzyk sure, thanks, I added "urgent" label to it

[2015-11-03 07:58] davvd commented on #447
@krzyk right, I added "urgent" label

[2015-11-03 07:59] davvd commented on #99
@krzyk tag bug added to this issue

[2015-11-03 07:59] davvd commented on #61
@krzyk added "bug" tag to this issue

[2015-11-03 08:08] krzyk commented on #61
@davvd this is postponed

[2015-11-03 08:15] krzyk commented on #484
@yegor256 OK, great, I would like to update the list of issues for 0.14, I removed the indentation ones (they all depend on checkstyle fixes, and doing it on our own would take too much time):
#474 Logging of checks is inconsistent
#447 ConstantUsageCheck false positive if constant is only used in annotation
#444 Encoding bug
#441 FindBugsValidator pollute baseDir with findbug_excludes files
#424

[2015-11-03 08:16] krzyk commented on #484
@yegor256 and as for the TEAM.md file, I assume you will update it, or should I add names that I know? :)

[2015-11-03 08:17] krzyk commented on #439
@davvd this is postponed

[2015-11-03 09:32] krzyk commented on #10
@davvd valid bug

[2015-11-03 09:33] krzyk commented on #99
@davvd this is postponed

[2015-11-03 09:35] krzyk commented on #273
@carlosmiranda jcabi/jcabi-xml#31 has been fixed, maybe we can continue here

[2015-11-03 09:35] krzyk commented on #309
@davvd this is postponed

[2015-11-03 09:35] krzyk commented on #309
@davvd this is postponed

[2015-11-03 09:36] krzyk commented on #310
@davvd this is postponed

[2015-11-03 09:37] krzyk commented on #315
@yegor256 Looks like you did changes here, can this be closed?

[2015-11-03 09:37] krzyk commented on #318
@davvd this is postponed

[2015-11-03 09:38] krzyk commented on #323
@davvd this is postponed

[2015-11-03 09:39] krzyk commented on #324
@davvd this is postponed

[2015-11-03 09:40] krzyk commented on #331
@davvd this is postponed

[2015-11-03 09:40] krzyk commented on #337
@davvd this is postponed

[2015-11-03 09:41] krzyk commented on #338
@yegor256 Could you add a description to this bug (if it is still valid)?

[2015-11-03 09:41] krzyk commented on #343
@davvd this is postponed

[2015-11-03 09:42] krzyk commented on #351
@davvd this is postponed

[2015-11-03 09:43] krzyk commented on #362
@davvd this is duplicate

[2015-11-03 09:44] krzyk commented on #370
@davvd this is postponed

[2015-11-03 09:44] krzyk commented on #371
@davvd this is postponed

[2015-11-03 09:46] krzyk commented on #373
@davvd this is postponed

[2015-11-03 09:46] krzyk commented on #374
@davvd this is postponed

[2015-11-03 09:47] krzyk commented on #376
@davvd this is postponed

[2015-11-03 09:47] krzyk commented on #378
@davvd this is postponed

[2015-11-03 09:47] krzyk commented on #382
@davvd this is postponed

[2015-11-03 09:50] krzyk commented on #394
@davvd this is postponed

[2015-11-03 09:50] krzyk commented on #396
@davvd this is postponed

[2015-11-03 09:51] krzyk commented on #398
@davvd this is postponed

[2015-11-03 09:51] krzyk commented on #406
@davvd this is postponed

[2015-11-03 09:51] krzyk commented on #407
@davvd this is postponed

[2015-11-03 09:51] krzyk commented on #410
@davvd this is postponed

[2015-11-03 09:51] krzyk commented on #411
@davvd this is postponed

[2015-11-03 09:52] krzyk commented on #416
@davvd this is postponed

[2015-11-03 09:52] krzyk commented on #421
@davvd this is postponed

[2015-11-03 09:53] krzyk commented on #422
@davvd this is postponed

[2015-11-03 09:53] krzyk commented on #423
@davvd this is postponed

[2015-11-03 09:53] krzyk commented on #426
@davvd this is postponed

[2015-11-03 09:54] krzyk commented on #431
@davvd this is postponed

[2015-11-03 09:56] krzyk commented on #436
@dpisarenko also, there is an open issue for extending the duplicate finder #310

[2015-11-03 09:57] krzyk commented on #437
@davvd this is postponed

[2015-11-03 09:57] krzyk commented on #443
@davvd this is postponed

[2015-11-03 09:58] krzyk commented on #449
@davvd this is postponed

[2015-11-03 09:58] krzyk commented on #461
@davvd this is postponed

[2015-11-03 09:59] krzyk commented on #478
@davvd this is postponed

[2015-11-03 09:59] krzyk commented on #483
@davvd this is postponed

[2015-11-03 12:22] davvd commented on #309
@krzyk got it, "postponed" label here

[2015-11-03 12:22] davvd commented on #309
@krzyk I will ask somebody else to pick this up

[2015-11-03 12:22] davvd commented on #310
@krzyk OK, I put "postponed" label here

[2015-11-03 12:22] davvd commented on #310
@krzyk right, I'll try to find someone else for this task

[2015-11-03 12:22] davvd commented on #318
@krzyk got it, "postponed" label here

[2015-11-03 12:22] davvd commented on #318
@krzyk no problem, I will try to find somebody else

[2015-11-03 12:22] davvd commented on #323
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-03 12:22] davvd commented on #323
@krzyk no problem, I will try to find somebody else

[2015-11-03 12:22] davvd commented on #324
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-03 12:22] davvd commented on #324
@krzyk I will ask somebody else to pick this up

[2015-11-03 12:22] davvd commented on #331
@krzyk OK, I put "postponed" label here

[2015-11-03 12:22] davvd commented on #331
@krzyk I will assign somebody else to this issue

[2015-11-03 12:22] davvd commented on #337
@krzyk thanks, I added "postponed" label

[2015-11-03 12:22] davvd commented on #337
@krzyk right, I will find someone else, no problem

[2015-11-03 12:22] davvd commented on #343
@krzyk got it, "postponed" label here

[2015-11-03 12:22] davvd commented on #343
@krzyk right, I will find someone else, no problem

[2015-11-03 12:22] davvd commented on #370
@krzyk right, I added "postponed" label

[2015-11-03 12:22] davvd commented on #370
@krzyk I will try to find someone else

[2015-11-03 12:22] davvd commented on #351
@krzyk thanks, I added "postponed" label

[2015-11-03 12:22] davvd commented on #351
@krzyk right, I will find someone else, no problem

[2015-11-03 12:22] davvd commented on #362
@krzyk OK, I put "invalid", "duplicate" labels here

[2015-11-03 12:22] davvd commented on #371
@krzyk right, I added "postponed" label

[2015-11-03 12:22] davvd commented on #371
@krzyk I will assign somebody else to this issue

[2015-11-03 12:22] davvd commented on #10
@krzyk I tagged this as "bug"

[2015-11-03 12:23] davvd commented on #99
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-199b59e0`

[2015-11-03 14:01] krzyk commented on #10
@davvd it is postponed

[2015-11-03 19:44] mkordas opened #487 "Update Checkstyle to 6.12.1"
Current version used by Qulice is 6.8.1. Since that version multiple bugs were fixed and CommentsIndentation check was added: http://checkstyle.sourceforge.net/releasenotes.html

[2015-11-03 19:46] mkordas commented on #451
@krzyk
I think we can just create another issue to upgrade Checkstyle: #487

There is note about additional logging in [release notes](http://checkstyle.sourceforge.net/releasenotes.html#Release_6.12):
* CLI should print a file name where exception is happen. Author: Roman Ivanov checkstyle/checkstyle#2109

[2015-11-03 20:01] krzyk commented on #451
@mkordas But until the checkstyle is upgraded this issue is not valid, without an example we don't know where is the problem.

[2015-11-03 20:12] mkordas commented on #451
OK, so I'm closing it.

[2015-11-03 20:24] krzyk commented on #487
@davvd valid bug

[2015-11-03 20:37] mkordas opened #488 "Build does not work on Windows in Maven > 3.3.X"
Error message:
[code]
The reason is that as of version 3.3.0 Maven renamed mvn.bat to mvn.cmd.

[2015-11-03 21:19] mkordas opened #489 "NPE in BracketsStructure check"
Stacktrace:
[code]

Minimal reproducer:
[code]

[2015-11-03 21:21] mkordas commented on #451
I've managed to build Qulice with Checkstyle 6.12 locally (although I needed to do `mvn install -Dmaven.test.skip=true install -Dinvoker.skip=true` because tests were failing in my Windows environment) and here's nice end of stacktrace:
[code]

Minimal reproducer:
[code]

Note: this is valid and compilable Java file.

[2015-11-04 06:48] krzyk commented on #451
@mkordas interesting case,  thanks

[2015-11-04 06:49] krzyk commented on #451
@mkordas could you add a he code above to the issue description? It will be easier to find.

[2015-11-04 06:50] krzyk commented on #451
@davvd valid bug

[2015-11-04 06:51] krzyk commented on #489
@mkordas thanks

[2015-11-04 06:51] krzyk commented on #489
@davvd valid bug

[2015-11-04 06:52] krzyk commented on #488
@mkordas thanks

[2015-11-04 06:52] krzyk commented on #488
@davvd valid bug

[2015-11-04 09:06] davvd commented on #373
@krzyk right, I added "postponed" label

[2015-11-04 09:06] davvd commented on #373
@krzyk all right, we'll find someone else for this task

[2015-11-04 09:06] davvd commented on #374
@krzyk right, I added "postponed" label

[2015-11-04 09:06] davvd commented on #374
@krzyk OK, I will try to assign someone else

[2015-11-04 09:06] davvd commented on #376
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-04 09:06] davvd commented on #376
@krzyk someone else will help in this task, no problem at all

[2015-11-04 09:06] davvd commented on #378
@krzyk OK, I put "postponed" label here

[2015-11-04 09:06] davvd commented on #378
@krzyk someone else will help in this task, no problem at all

[2015-11-04 09:06] davvd commented on #382
@krzyk thanks, I added "postponed" label

[2015-11-04 09:06] davvd commented on #382
@krzyk all right, we'll find someone else for this task

[2015-11-04 09:06] davvd commented on #421
@krzyk OK, I put "postponed" label here

[2015-11-04 09:06] davvd commented on #421
@krzyk all right, we'll find someone else for this task

[2015-11-04 09:06] davvd commented on #422
@krzyk got it, "postponed" label here

[2015-11-04 09:06] davvd commented on #422
@krzyk all right, we'll find someone else for this task

[2015-11-04 09:06] davvd commented on #423
@krzyk right, I added "postponed" label

[2015-11-04 09:06] davvd commented on #423
@krzyk no problem, I will try to find somebody else

[2015-11-04 09:06] davvd commented on #489
@krzyk I added `bug` tag to this ticket

[2015-11-04 09:06] davvd commented on #488
@krzyk I added `bug` tag to this ticket

[2015-11-04 09:06] davvd commented on #487
@krzyk added "bug" tag to this issue

[2015-11-04 09:06] davvd commented on #451
@krzyk I added `bug` tag to this ticket

[2015-11-04 09:08] davvd commented on #61
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-1734463e`

[2015-11-04 12:13] davvd commented on #394
@krzyk got it, "postponed" label here

[2015-11-04 12:13] davvd commented on #394
@krzyk someone else will help in this task, no problem at all

[2015-11-04 12:13] davvd commented on #396
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-04 12:13] davvd commented on #396
@krzyk I will ask somebody else to pick this up

[2015-11-04 12:13] davvd commented on #398
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-04 12:13] davvd commented on #398
@krzyk no problem, I will try to find somebody else

[2015-11-04 12:13] davvd commented on #407
@krzyk thanks, I added "postponed" label

[2015-11-04 12:13] davvd commented on #407
@krzyk OK, I will try to assign someone else

[2015-11-04 12:13] davvd commented on #411
@krzyk right, I added "postponed" label

[2015-11-04 12:13] davvd commented on #411
@krzyk I will ask somebody else to pick this up

[2015-11-04 12:13] davvd commented on #431
@krzyk OK, I put "postponed" label here

[2015-11-04 12:13] davvd commented on #431
@krzyk I will ask somebody else to pick this up

[2015-11-04 12:13] davvd commented on #439
@krzyk thanks, I added "postponed" label

[2015-11-04 12:13] davvd commented on #439
@krzyk no problem, I will try to find somebody else

[2015-11-04 12:13] davvd commented on #437
@krzyk thanks, I added "postponed" label

[2015-11-04 12:13] davvd commented on #437
@krzyk no problem, I will try to find somebody else

[2015-11-04 12:13] davvd commented on #416
@krzyk thanks, I added "postponed" label

[2015-11-04 12:13] davvd commented on #416
@krzyk no problem, I will try to find somebody else

[2015-11-04 12:13] davvd commented on #406
@krzyk right, I added "postponed" label

[2015-11-04 12:13] davvd commented on #406
@krzyk right, I will find someone else, no problem

[2015-11-04 12:15] davvd commented on #10
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-886e25be`

[2015-11-04 21:05] yegor256 commented on #338
@krzyk nah, I'm closing

[2015-11-04 21:05] #338 closed

[2015-11-04 21:15] yegor256 commented on #484
@krzyk I'll update the team soon, we'll invite new guys here, the ones you interview :) The list looks good, let's do it.

[2015-11-05 04:09] yegor256 commented on #315
@krzyk yes, closing

[2015-11-05 04:09] #315 closed

[2015-11-05 09:29] davvd commented on #426
@krzyk "postponed" label already at this ticket

[2015-11-05 09:29] davvd commented on #426
@krzyk OK, I will try to assign someone else

[2015-11-05 09:29] davvd commented on #443
@krzyk "postponed" label already in this issue

[2015-11-05 09:29] davvd commented on #443
@krzyk all right, we'll find someone else for this task

[2015-11-05 09:29] davvd commented on #410
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-05 09:29] davvd commented on #410
@krzyk OK, I will try to assign someone else

[2015-11-05 09:29] davvd commented on #449
@krzyk got it, "postponed" label here

[2015-11-05 09:29] davvd commented on #449
@krzyk I will try to find someone else

[2015-11-05 09:29] davvd commented on #461
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-05 09:29] davvd commented on #461
@krzyk no problem, I will try to find somebody else

[2015-11-05 09:29] davvd commented on #478
@krzyk got it, "postponed" label here

[2015-11-05 09:29] davvd commented on #478
@krzyk no problem, I will try to find somebody else

[2015-11-05 09:30] davvd commented on #362
@alevohin the ticket is "invalid", closing it

[2015-11-05 09:30] #362 closed

[2015-11-05 09:38] alevohin commented on #362
@krzyk please provide link to duplicated issue

[2015-11-05 10:47] krzyk commented on #362
@alevohin Here it is  #441, I know that you reported it earlier, but I didn't notice that earlier and added #441 as issue to be fixed in 0.14 release.

[2015-11-05 10:54] krzyk commented on #362
@yegor256 could we remove `duplicate` and `invalid` tags and reopen this issue? I would replace #441 in 0.14 with this one, and mark #441 as duplicate.

[2015-11-05 11:50] davvd commented on #483
@krzyk OK, I put "postponed" label here

[2015-11-05 11:50] davvd commented on #483
@krzyk got it, someone else will be assigned soon

[2015-11-05 11:50] davvd commented on #99
@krzyk thanks, I added "postponed" label

[2015-11-05 11:50] davvd commented on #99
@krzyk right, I'll try to find someone else for this task

[2015-11-05 11:50] davvd commented on #99
@krzyk "postponed" label already in this issue

[2015-11-05 11:50] davvd commented on #99
@krzyk OK, I will try to assign someone else

[2015-11-05 11:50] davvd commented on #61
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-05 11:50] davvd commented on #10
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-05 11:50] davvd commented on #61
@krzyk I will assign somebody else to this issue

[2015-11-05 11:50] davvd commented on #10
@krzyk all right, we'll find someone else for this task

[2015-11-05 23:12] yegor256 commented on #362
@krzyk it will mess things up.. let's not do this

[2015-11-06 08:54] davvd commented on #484
@krzyk There are a few concerns:

 * some tasks are stuck: #404 (255 days), #403 (255 days), #424 (206 days), #441 (126 days), #444 (121 days), #412 (114 days), #447 (52 days), #477 (21 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/

[2015-11-06 09:54] krzyk commented on #404
@davvd it is postponed

[2015-11-06 09:54] krzyk commented on #403
@davvd it is postponed

[2015-11-06 09:58] krzyk commented on #436
@davvd duplicate of #310

[2015-11-06 13:18] davvd commented on #404
@krzyk got it, "postponed" label here

[2015-11-06 13:18] davvd commented on #403
@krzyk thanks, I added "postponed" label

[2015-11-06 13:18] davvd commented on #404
@krzyk I will assign somebody else to this issue

[2015-11-06 13:18] davvd commented on #403
@krzyk right, I'll try to find someone else for this task

[2015-11-07 12:06] krzyk commented on #489
@davvd this is postponed

[2015-11-07 12:07] krzyk commented on #488
@davvd this is postponed

[2015-11-07 12:11] krzyk commented on #484
@davvd we are waiting for #474, #447, #444, #441, #424, #412, #477

[2015-11-07 12:12] krzyk commented on #436
@davvd this is duplicate

[2015-11-07 21:39] mkordas commented on #451
@krzyk, is it fine now?

[2015-11-07 23:00] mkordas commented on #487
Checkstyle 6.12.1 is out, renamed issue accordingly

[2015-11-08 06:53] krzyk commented on #451
@mkordas yes, thanks

[2015-11-09 12:18] krzyk commented on #424
@davvd this is postponed

[2015-11-09 12:18] krzyk commented on #441
@davvd this is postponed

[2015-11-09 12:18] krzyk commented on #444
@davvd this is postponed

[2015-11-09 12:19] krzyk commented on #412
@davvd this is postponed

[2015-11-09 12:19] krzyk commented on #447
@davvd this is postponed

[2015-11-09 12:19] krzyk commented on #477
@davvd this is postponed

[2015-11-11 06:45] pinaf opened #491 "PMD.ConstructorShouldDoInitialization should ignore static fields"
Regarding the `PMD.ConstructorShouldDoInitialization` check,

this should be a problem:
[code]
But this shouldn't:
[code]
Qulice compains with a PMD violation

Avoid doing field initialization outside constructor. (ConstructorShouldDoInitialization)

It should, instead, not complain but ignore the static field initialization outside the constructor.

[2015-11-11 07:04] krzyk commented on #484
@yegor256 can I assign myself to some of those issues?

[2015-11-11 07:08] krzyk commented on #491
@pinaf Please update the description with the error message you are getting

[2015-11-11 16:50] pinaf commented on #491
@krzyk updated title and description

[2015-11-11 17:06] krzyk commented on #491
@davvd valid bug

[2015-11-11 20:45] yegor256 commented on #484
@krzyk yeah, if you were not the reporter

[2015-11-12 06:12] pinaf commented on #491
@krzyk is he alive? :)

[2015-11-12 18:37] krzyk commented on #491
@davvd ping

[2015-11-13 07:09] krzyk commented on #491
@yegor256 could you check on @davvd ?

[2015-11-13 09:20] davvd commented on #424
@krzyk got it, "postponed" label here

[2015-11-13 09:20] davvd commented on #424
@krzyk I will assign somebody else to this issue

[2015-11-13 09:20] davvd commented on #441
@krzyk got it, "postponed" label here

[2015-11-13 09:20] davvd commented on #441
@krzyk right, I removed "urgent" tags

[2015-11-13 09:20] davvd commented on #441
@krzyk someone else will help in this task, no problem at all

[2015-11-13 09:20] davvd commented on #444
@krzyk thanks, I added "postponed" label

[2015-11-13 09:20] davvd commented on #444
@krzyk thanks, I removed the "urgent" tags

[2015-11-13 09:20] davvd commented on #412
@krzyk right, I added "postponed" label

[2015-11-13 09:20] davvd commented on #444
@krzyk all right, we'll find someone else for this task

[2015-11-13 09:20] davvd commented on #412
@krzyk no problem, I will try to find somebody else

[2015-11-13 09:20] davvd commented on #447
@krzyk OK, I put "postponed" label here

[2015-11-13 09:20] davvd commented on #447
@krzyk right, I removed "urgent" tags

[2015-11-13 09:20] davvd commented on #447
@krzyk all right, we'll find someone else for this task

[2015-11-13 09:20] davvd commented on #477
@krzyk got it, "postponed" label here

[2015-11-13 09:20] davvd commented on #477
@krzyk right, I'll try to find someone else for this task

[2015-11-13 09:20] davvd commented on #489
@krzyk right, I added "postponed" label

[2015-11-13 09:20] davvd commented on #488
@krzyk thanks, I added "postponed" label

[2015-11-13 09:20] davvd commented on #489
@krzyk all right, we'll find someone else for this task

[2015-11-13 09:20] davvd commented on #488
@krzyk right, I'll try to find someone else for this task

[2015-11-13 09:20] davvd commented on #491
@krzyk added "bug" tag to this issue

[2015-11-13 12:05] davvd commented on #484
@krzyk please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #424 (214 days), #441 (134 days), #444 (129 days), #412 (122 days), #447 (60 days), #477 (29 days), #474 (29 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (s

[2015-11-13 12:06] davvd commented on #491
@pinaf thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-1FG15817LT144504P`

[2015-11-13 12:20] krzyk commented on #436
@davvd this is duplicate

[2015-11-13 12:20] krzyk commented on #436
@yegor256 looks like @davvd forgot to mark this one as duplicate

[2015-11-13 18:43] yegor256 commented on #436
@krzyk I'll close it

[2015-11-13 18:43] #436 closed

[2015-11-13 20:20] krzyk commented on #441
@davvd not postponed

[2015-11-13 20:27] krzyk commented on #441
@davvd assign @krzyk to this task pls

[2015-11-13 20:50] krzyk commented on #441
@davvd please see PR #492

[2015-11-13 21:26] krzyk commented on #444
@davvd assign @krzyk to this task pls

[2015-11-13 21:27] krzyk commented on #444
@davvd not postponed

[2015-11-13 21:41] krzyk commented on #447
@davvd not postponed

[2015-11-13 21:41] krzyk commented on #447
@davvd assign @krzyk to this task pls

[2015-11-14 12:15] krzyk commented on #447
@davvd please see PR #493

[2015-11-14 20:57] mkordas commented on #489
@davvd I can take this one

[2015-11-15 07:58] krzyk commented on #489
@mkordas generally it is not a good idea for bug reported and fixer to be the same person (it reduces the number of persons that check the fix).
If you would like to help out, there are a couple of bugs that need fixing for the next release, e.g. #424 #477

[2015-11-15 22:50] mkordas commented on #489
@krzyk
Agreed, I won't be fixing my issues anymore, I'll look into others.

[2015-11-16 07:57] davvd commented on #441
@krzyk OK, I un-labeled it as "postponed" tag

[2015-11-16 07:57] davvd commented on #441
@krzyk OK @krzyk please proceed, this task is yours

[2015-11-16 07:57] davvd commented on #441
@krzyk thanks, will take a look

[2015-11-16 07:57] davvd commented on #444
@krzyk done. @krzyk you are assigned to this task. please proceed...

[2015-11-16 07:57] davvd commented on #444
@krzyk sure, thanks, I removed "postponed" tag to it

[2015-11-16 07:57] davvd commented on #447
@krzyk OK, I un-labeled it as "postponed" tag

[2015-11-16 07:57] davvd commented on #447
@krzyk done. @krzyk you are assigned to this task. please proceed...

[2015-11-16 07:57] davvd commented on #447
@krzyk thank you, I will check it

[2015-11-16 10:20] krzyk commented on #441
@longtimeago fix has been merged to master, please close this issue

[2015-11-16 10:27] krzyk commented on #444
@yegor256 @Suseika the problem is actually in docker image used by rultor. You could recreate it by doing:
[code]
and then `mvn clean install -Pqulice`.

@yegor256 I think that default encoding on rultor should be one with UTF8, e.g. `export LC_ALL=en_US.UTF-8`

[2015-11-16 10:33] longtimeago commented on #441
@krzyk thank you very much!

[2015-11-16 10:33] #441 closed

[2015-11-16 11:25] krzyk commented on #489
@davvd please assign @mkordas

[2015-11-16 11:26] krzyk commented on #489
@davvd this is not postponed

[2015-11-16 15:50] krzyk opened #495 "JavadocTagsCheck doesn't validate all author tags"
Following example:
[code]
Should fail, because second author has incorrect format (it doesn't have an email address), but it doesn't.
When you change order of author tags, `JavadocTagsCheck` will fail.
Fix `JavadocTagsCheck` to check all `@author` tags.

[2015-11-16 16:01] krzyk commented on #412
@davvd this is not postponed

[2015-11-16 16:02] krzyk commented on #412
@davvd assign @krzyk here

[2015-11-16 16:03] krzyk commented on #412
@longtimeago the above fails because we expect at a person to have at least first and last name. It will work if you give Gerrit a second name.
E.g. the following passes check:
[code]

Should we expect to have people with only single name (first or last)?

[2015-11-16 16:07] longtimeago commented on #412
@krzyk I think it's too stict to expect both

[2015-11-16 16:09] longtimeago commented on #412
@krzyk one may want to put a nick instead of real name

[2015-11-16 18:51] krzyk commented on #412
@davvd please see PR #496

[2015-11-16 21:58] yegor256 commented on #444
@krzyk feel free to submit a bug or directly a PR to this file (this is what Rultor is using): https://github.com/yegor256/rultor/blob/master/src/docker/Dockerfile Pay attention, UTF8 is already there...

[2015-11-16 22:17] krzyk commented on #447
@longtimeago code changes have been merged to master, please close this issue

[2015-11-17 06:51] longtimeago commented on #447
@krzyk cool, thanks!

[2015-11-17 06:51] #447 closed

[2015-11-17 10:18] davvd commented on #412
@krzyk got it, "postponed" tag removed from here

[2015-11-17 10:18] davvd commented on #412
@krzyk OK @krzyk please go ahead, this task is yours

[2015-11-17 10:18] davvd commented on #412
@krzyk thank you, I will check it

[2015-11-17 11:30] krzyk commented on #495
@davvd valid bug

[2015-11-17 12:11] krzyk commented on #444
@yegor256 now I see, you fixed Dockerfile it in July :)
@Suseika could you retry your build, and if it works close this issue?
I tried it on a fork of your repo and it works (see https://github.com/krzyk/bugtest/issues/1#issuecomment-157351332)

[2015-11-17 12:36] Suseika commented on #444
@krzyk Works fine, thanks.

[2015-11-17 12:36] #444 closed

[2015-11-18 09:59] davvd commented on #489
@krzyk @mkordas is not in our team, we can't assign a ticket to him. just let him fix it and that's it

[2015-11-18 09:59] davvd commented on #489
@krzyk right, I removed "postponed" tag

[2015-11-18 09:59] davvd commented on #495
@krzyk I added `bug` tag to this ticket

[2015-11-18 09:59] davvd opened #497 "CheckstyleValidatorTest.java:214-216: Right now ConstantUsageCheck takes into..."
Puzzle `447-94597ea9` in `qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java:214-216` has to be resolved: Right now ConstantUsageCheck takes into account usage of constants inside method annotations, add handling of constants used in field and class annotations.... The puzzle was created by krzyk on 14-Nov-2015.

If you have any technical questions, don't ask me, su

[2015-11-18 09:59] davvd commented on #447
@longtimeago the code made here contains a puzzle `447-94597ea9`/#497, which will be resolved soon

[2015-11-18 10:00] davvd commented on #441
@krzyk paid, thanks, added **1 hour** to your account, payment `70047800`, 3 hours and 8 mins was spent; there is a bonus for fast delivery (m=188); +60 to your rating, your total score is [+2618](http://www.netbout.com/b/35035?open=rating)

[2015-11-18 10:00] davvd commented on #484
@krzyk There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #444 (132 days), #447 (63 days), #474 (32 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy.html#29)), or 3) try to help

[2015-11-18 10:14] krzyk commented on #497
@davvd this is postponed

[2015-11-18 10:16] krzyk commented on #489
@mkordas your changes have been merged to master, so you can close this issue

[2015-11-18 13:19] davvd commented on #497
@krzyk thanks, I added "postponed" label

[2015-11-18 13:19] davvd commented on #497
@krzyk I will try to find someone else

[2015-11-18 13:22] davvd commented on #444
@krzyk I just added **45 mins** to your account, many thanks for your contribution (70054397).. 29 hours and 15 mins spent here. there is a bonus for fast delivery (m=1755). +45 added to your rating, at the moment it is: [+2663](http://www.netbout.com/b/35035?open=rating)

[2015-11-18 13:22] davvd commented on #447
@krzyk done, I added **45 mins** in payment `70054404`, 26 hours and 20 mins spent to complete this; the bonus for fast delivery (m=1580); +45 to your rating, your total score is [+2708](http://www.netbout.com/b/35035?open=rating)

[2015-11-18 13:23] davvd commented on #495
@krzyk many thanks for the report, I topped your account for 30 mins, transaction 70054478

[2015-11-18 20:34] longtimeago opened #498 "XML validator fails with NPE"
Maven build failed if following xml is not excluded from check:
[code]
Here is full exception
[code]
[code]
Checked on qulice-maven-plugin:0.13 and 0.13.1

[2015-11-18 20:42] longtimeago commented on #498
Oh, looks like this was fixed in qulice-maven-plugin:0.13.1

[2015-11-18 22:11] mkordas commented on #489
@krzyk I'm closing the issue. BTW, how can I join your team?

[2015-11-18 22:11] #489 closed

[2015-11-19 06:19] krzyk commented on #489
@mkordas here http://at.teamed.io/join.html

[2015-11-19 18:48] krzyk commented on #498
@davvd valid bug

[2015-11-20 11:13] krzyk commented on #474
@davvd assign @krzyk here

[2015-11-20 11:14] krzyk commented on #484
@rultor release tag is `0.13.2`

[2015-11-20 11:15] rultor commented on #484
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5770-158362909)

[2015-11-20 11:23] rultor commented on #484
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/5770-158362909) (took me 8min)

[2015-11-20 20:11] krzyk commented on #474
@davvd please see PR #499

[2015-11-21 09:00] krzyk commented on #424
@davvd this is not postponed

[2015-11-21 09:00] krzyk commented on #424
@davvd assign @krzyk here

[2015-11-21 09:01] krzyk commented on #424
@davvd please see PR #500

[2015-11-21 09:01] krzyk commented on #498
@davvd this is postponed

[2015-11-21 09:02] krzyk commented on #491
@davvd this is postponed

[2015-11-21 09:02] krzyk commented on #485
@davvd this is postponed

[2015-11-21 09:05] krzyk commented on #477
@carlosmiranda want to give it a try? (I think it should be possible using PMD XPath, similar to  `ConstructorShouldDoInitialization` in https://github.com/teamed/qulice/blob/master/qulice-pmd/src/main/resources/com/qulice/pmd/ruleset.xml#L99-L119)

[2015-11-21 19:37] pinaf commented on #491
@krzyk btw, this is needed in another project.

[2015-11-22 15:04] krzyk commented on #491
@pinaf I will do it now

[2015-11-22 15:04] krzyk commented on #491
@davvd this is not postponed

[2015-11-22 15:05] krzyk commented on #491
@davvd assign @krzyk

[2015-11-22 15:13] krzyk commented on #491
@davvd please see PR #501

[2015-11-22 17:01] pinaf commented on #491
@krzyk thanks!

[2015-11-22 18:06] krzyk opened #502 "String concatenation check sometimes doesn't work"
In case of following code:
[code]
`StringLiteralsConcatenationCheck` will not report an error, but it should.

But it will report error in such case:
[code]
~~Waiting for fix in  checkstyle/checkstyle#2766~~ (Actually it doesn't like like related to checkstyle/checkstyle#2766)
Please make this check work for both cases.

[2015-11-22 18:17] krzyk commented on #502
@davvd valid bug

[2015-11-22 18:30] krzyk opened #503 "Brackets structure check doesn't report problem when parameters are expressions"
Following case:
[code]
and
[code]

Both should report an error from `BracketsStructureCheck` on the first line, looks like when parameters are expressions bracket check doesn't apply correctly.

[2015-11-22 18:30] krzyk commented on #503
@davvd valid bug

[2015-11-23 10:12] davvd commented on #424
@krzyk OK, I un-labeled it as "postponed" tag

[2015-11-23 10:12] davvd commented on #424
@krzyk yep, done. @krzyk it is your task now

[2015-11-23 10:12] davvd commented on #424
@krzyk will take a look, thanks

[2015-11-23 10:12] davvd commented on #474
@krzyk done. @krzyk the task is yours, please go ahead

[2015-11-23 10:12] davvd commented on #474
@krzyk will take a look, thanks

[2015-11-23 10:12] davvd commented on #485
@krzyk right, I added "postponed" label

[2015-11-23 10:12] davvd commented on #485
@krzyk right, I will find someone else, no problem

[2015-11-23 10:12] davvd commented on #491
@krzyk got it, "postponed" label here

[2015-11-23 10:12] davvd commented on #491
@krzyk I will ask somebody else to pick this up

[2015-11-23 10:12] davvd commented on #491
@krzyk got it, "postponed" tag removed from here

[2015-11-23 10:12] davvd commented on #491
@krzyk done. @krzyk the task is yours, please go ahead

[2015-11-23 10:12] davvd commented on #491
@krzyk will take a look at it, thanks

[2015-11-23 10:12] davvd commented on #502
@krzyk I just added bug tag here

[2015-11-23 10:12] davvd commented on #503
@krzyk I tagged this as "bug"

[2015-11-23 10:12] davvd commented on #498
@krzyk tag bug added to this issue

[2015-11-23 12:53] davvd commented on #498
@krzyk thanks, I added "postponed" label

[2015-11-23 12:53] davvd commented on #498
@krzyk right, I'll try to find someone else for this task

[2015-11-23 13:03] davvd commented on #484
@krzyk There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

some tasks are stuck: #412 (132 days), #474 (39 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their performers to

[2015-11-23 13:03] davvd commented on #503
@krzyk many thanks for the bug report, I added 30 mins to your acc, transaction `70221829`

[2015-11-23 14:11] krzyk commented on #503
@davvd this is postponed

[2015-11-23 18:38] pinaf commented on #491
@krzyk thanks! can we release a new version?

[2015-11-23 18:38] #491 closed

[2015-11-23 18:38] krzyk commented on #491
@rultor release tag is `0.13.3`

[2015-11-23 18:39] krzyk commented on #491
@pinaf sure

[2015-11-23 19:00] rultor commented on #491
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5785-159023075)

[2015-11-23 19:16] rultor commented on #491
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/5785-159023075) (took me 16min)

[2015-11-23 19:22] pinaf commented on #491
@krzyk does it take time for it to show up in maven central?

[2015-11-23 19:23] krzyk commented on #424
@wholegroup I've updated the code on master, you can checkout documentation here: https://github.com/teamed/qulice/blob/cdffba0d9373918a8e737aaa10604fd3bcc10a2d/qulice-maven-plugin/src/site/apt/example-exclude.apt.vm#L75-L78

If it is OK for you, please close this issue, thanks.

[2015-11-23 19:23] krzyk commented on #424
@wholegroup your example above would become:
[code]

[2015-11-23 19:31] krzyk commented on #491
@pinaf As I see it takes few minutes, I see that 0.13.3 is now available

[2015-11-23 20:10] pinaf commented on #491
@krzyk yep - thanks!

[2015-11-24 08:15] davvd commented on #503
@krzyk sure, thanks, I added "postponed" label to it

[2015-11-24 08:15] davvd commented on #503
@krzyk I will ask somebody else to pick this up

[2015-11-24 08:17] davvd commented on #502
@krzyk many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `70521321`

[2015-11-24 08:21] krzyk commented on #502
@davvd this is postponed

[2015-11-24 08:59] krzyk commented on #474
@Suseika I've added in logs the start and end of each validator, please close this issue if it is OK.

[2015-11-24 09:30] #474 closed

[2015-11-24 10:39] davvd commented on #502
@krzyk right, I added "postponed" label

[2015-11-24 10:39] davvd commented on #502
@krzyk right, I'll try to find someone else for this task

[2015-11-24 10:43] davvd commented on #498
@longtimeago thanks for reporting! I topped your account for 15 mins, transaction 70524570

[2015-11-25 08:30] krzyk commented on #424
@wholegroup ping

[2015-11-25 08:33] davvd commented on #491
@krzyk **1 hour** added to your account (payment number `70615709`), many thanks for your contribution! 22 hours and 2 mins spent here.. there is a bonus for fast delivery (m=1322). added +60 to your rating, now it is equal to [+2899](http://www.netbout.com/b/35035?open=rating)

[2015-11-25 11:45] davvd commented on #474
@krzyk Thank you, I have added **45 mins** to your account in payment/transaction "`70622560`", time consumed: 24 hours and 26 mins; m=1466, that's why a bonus here for fast delivery; added +45 to your rating, now it is equal to [+2914](http://www.netbout.com/b/35035?open=rating)

[2015-11-25 12:22] wholegroup commented on #424
@krzyk sorry, I can test it only in 3 days.

@wholegroup <https://github.com/wholegroup> ping

—
Reply to this email directly or view it on GitHub
<https://github.com/teamed/qulice/issues/424#issuecomment-159533444>.

[2015-11-26 10:28] krzyk commented on #477
@longtimeago or maybe you want to try this?

[2015-11-26 11:15] davvd commented on #484
@krzyk there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

some tasks are stuck: #424 (227 days), #412 (134 days), #487 (21 days), #451 (21 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy

[2015-11-26 11:28] krzyk commented on #451
@davvd this is postponed

[2015-11-26 13:45] davvd commented on #451
@krzyk OK, I put "postponed" label here

[2015-11-26 13:45] davvd commented on #451
@krzyk no problem, I will try to find somebody else

[2015-11-26 13:48] krzyk commented on #412
@longtimeago code has been updated in master, please close this issue

[2015-11-26 13:54] longtimeago commented on #412
@krzyk thank you!

[2015-11-26 13:54] #412 closed

[2015-11-26 15:27] longtimeago commented on #477
@krzyk can try, why not

[2015-11-26 19:21] krzyk commented on #477
@davvd assign @longtimeago

[2015-11-26 19:21] krzyk commented on #477
@davvd this is not postponed

[2015-11-26 19:21] krzyk commented on #477
@longtimeago thanks

[2015-11-27 07:57] davvd commented on #477
@krzyk OK @longtimeago please go ahead, this task is yours

[2015-11-27 07:57] davvd commented on #477
@krzyk got it, "postponed" tag removed from here

[2015-11-27 20:36] longtimeago commented on #477
@davvd here is the PR https://github.com/teamed/qulice/pull/504

[2015-11-28 20:46] krzyk commented on #495
@davvd this is postponed

[2015-11-28 20:46] krzyk commented on #487
@mkordas please close  this issue, changes have been merged to master

[2015-11-28 20:59] #487 closed

[2015-11-29 10:24] longtimeago commented on #477
@davvd need more time

[2015-11-30 08:35] davvd commented on #477
@longtimeago of course, take your time

[2015-11-30 08:35] davvd commented on #495
@krzyk right, I added "postponed" label

[2015-11-30 08:35] davvd commented on #495
@krzyk I will assign somebody else to this issue

[2015-11-30 08:38] davvd commented on #412
@krzyk Much obliged! I have added **30 mins** to your account in payment "70771021", 237 hours and 37 mins spent

+30 added to your rating, at the moment it is: [+2853](http://www.netbout.com/b/35035?open=rating)

[2015-11-30 12:16] davvd opened #505 "CheckstyleValidatorTest.java:51-53: Split this class into smaller..."
Puzzle `412-bd044e76` in `qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java:51-53` has to be resolved: Split this class into smaller ones and remove PMD exclude `TooManyMethods`. Good candidates for moving out of this class are all that use `validateCheckstyle` method.... The puzzle was created by krzyk on 18-Nov-2015.

If you have any technical questions, don't as

[2015-11-30 12:16] davvd commented on #412
@longtimeago once `412-bd044e76`/#505 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-11-30 14:28] krzyk commented on #505
@davvd this is postponed

[2015-12-01 09:12] davvd commented on #505
@krzyk sure, thanks, I added "postponed" label to it

[2015-12-01 09:12] davvd commented on #505
@krzyk I will try to find someone else

[2015-12-01 09:14] davvd commented on #484
@krzyk There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

some tasks are stuck: #424 (231 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://at.teamed.io/policy.html#29)), or 3) try to help their performers to resolve them.

[2015-12-01 10:35] krzyk commented on #424
@wholegroup have you had a chance to look at it?

[2015-12-01 14:14] #424 closed

[2015-12-03 10:02] davvd commented on #424
@krzyk Thanks for your contribution, **30 mins** was added to your account, payment ID is `71223753`, 214 hours and 5 mins spent total

+30 added to your rating, current score is: [+2895](http://www.netbout.com/b/35035?open=rating)

[2015-12-03 12:15] caarlos0 opened #506 "Running mvn clean install creates a lot of files in parent folder"
Each time I run `mvn clean install`, a `project:findbug_excludes_SOME_NUMER.xml` file is created at the parent folder.

The contents looks like:

[code]

Every once in a while I clean those files up, but it's kind of annoying:

[code]

I think it should not create those files, at  least, not in the parent folder.

[2015-12-03 13:26] krzyk commented on #506
@caarlos0 wasn't it fixed in #441? have you tried `0.13.3` qulice?

[2015-12-03 13:31] caarlos0 commented on #506
@krzyk I was with an older version. Thanks!

[2015-12-03 13:31] #506 closed

[2015-12-03 21:13] krzyk commented on #477
@longtimeago thanks

[2015-12-03 21:13] #477 closed

[2015-12-03 21:14] krzyk commented on #484
@yegor256 all the issues for the release have been resovled, can I release `0.14`?

[2015-12-04 23:25] androidfred opened #507 "Custom rules"
AS A
Dev using Qulice.

I WANT
To customize the preconfigured rules.

SO THAT
Rules I want enforced but are not in Qulice are enforced, rules I don't want enforced are not enforced.

EG
[code]
OR
[code]

MISC
Apologies if this is already possible and I'm missing something. (I browsed through the docs but could find anything that suggests this is supported)

[2015-12-05 14:11] krzyk commented on #507
@androidfred Qulice is a set of preconfigured rules (checkstyle, PMD, FindBugs and others) so we won't add option to disable them in general. But you can use exclude tags from pmd `@SuppressWarnings("PMD.SomeRule")` or for checkstyle a comment like: `@checkstyle LineLength (3 lines)` (this comment can be in javadoc or it can be a standalone comment), and findbugs allows: `@SuppresFBWarnings("UC_US

[2015-12-05 21:47] androidfred commented on #507
@krzyk Options for disabling rules have, as mentioned, already been added. The request is simply to improve what's already an option.

Already added options are either too blunt (exclude turns off all rules in the check) or too granular. (annotations/comments have to be unnecessarily added everywhere)

@yegor256 Please consider adding this.

[2015-12-06 02:36] androidfred commented on #507
Look at below source. (never mind what it does)

[code]

* The code is the source of truth about itself, self-explanatory and self-documenting, free from comments. (including Javadoc)

* The CVS is the source of truth about authors, versions, history etc, source files are not contaminated with (likely inaccurate) such info.

* License is kept in root folder of project, source files are not contami

[2015-12-06 06:41] krzyk commented on #507
@androidfred same here, see https://github.com/teamed/qulice/issues/326#issuecomment-58991903

[2015-12-06 06:57] androidfred commented on #507
@krzyk Sorry, I didn't see https://github.com/teamed/qulice/issues/326 before I created my duplicate.

I understand and agree with this. However I still urge you to consider the request and the example. As has hopefully been made clear, at least some of the rules are not necessarily a matter of best practice, right or wrong, but taste or context.

[2015-12-06 08:05] krzyk commented on #484
@yegor256 ping

[2015-12-07 03:00] carlosmiranda commented on #273
@longtimeago @krzyk can't work on this yet, please see https://github.com/jcabi/jcabi-xml/issues/94.

[2015-12-07 12:05] davvd commented on #477
@longtimeago Much obliged! I have added **30 mins** to your account in payment "71364685", 169 hours and 13 mins spent. +30 to your rating, your total score is [+1509](http://www.netbout.com/b/35024?open=rating)

[2015-12-07 13:02] yegor256 commented on #484
@krzyk yes, go ahead!

[2015-12-07 13:07] yegor256 commented on #507
@androidfred as @krzyk mentioned, qulice is intentionally not configurable in that aspect. The example you showed above actually proves our point. The second piece of code looks perfect to me, while the first one is "naked". That's because I'm used to qulice style. All projects, where qulice is used, look the same. And this is an achievement :) If you really need just some Checkstyle/PMD rules, yo

[2015-12-07 14:21] krzyk commented on #484
@rultor release tag is `0.14`

[2015-12-07 14:21] rultor commented on #484
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5770-162535931)

[2015-12-07 14:30] rultor commented on #484
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/5770-162535931) (took me 9min)

[2015-12-07 14:57] krzyk commented on #484
@yegor256 could you mark the release 0.14 as final?

[2015-12-07 15:51] yegor256 commented on #484
@davvd release 0.14 is final

[2015-12-08 09:02] davvd commented on #484
@krzyk please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

pre-release 0.13.3 is too old, hand it off to the product owner, ASAP

-25 added to your rating, current score is: [+2742](http://www.netbout.com/b/35035?open=rating)

[2015-12-08 09:35] krzyk commented on #484
@yegor256 should I do something with the older release now when 0.14 is out? @davvd complains about.0.13.3

[2015-12-08 10:28] yegor256 commented on #484
@krzyk 0.14 is not yet final, let's wait for it to become final and the problem will disappear

[2015-12-09 09:03] krzyk commented on #507
@davvd this is invalid

[2015-12-09 12:05] davvd commented on #488
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 5668191d5affeb2a16000301

[2015-12-09 13:47] davvd commented on #451
@mkordas thanks for this report, I added 15 mins to your account, in transaction `566830ec6d5fb6522c0000c9`

[2015-12-10 22:43] mkordas opened #509 "Log4j warning in execution logs"
Qulice execution logs contain log4j warnings:
[code]
Logs should not be polluted with such warnings.

To reproduce the issue you can use simplest possible Maven project with Qulice:
[code]
and run `mvn validate`.

[2015-12-11 07:18] krzyk commented on #509
@davvd valid bug

[2015-12-11 07:18] krzyk commented on #509
@davvd this is postponed

[2015-12-11 08:57] davvd commented on #509
@krzyk I just added bug tag here

[2015-12-11 10:40] davvd commented on #509
@krzyk right, I added "postponed" label

[2015-12-11 10:40] davvd commented on #509
@krzyk I will try to find someone else

[2015-12-11 10:45] davvd commented on #509
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `566aa93cd2b2cc0064000036`

[2015-12-11 22:52] mkordas opened #510 "Cannot run Qulice twice on the same project without 'clean'"
To reproduce the issue create simplest possible Maven project (e.g. using `mvn archetype:generate`)  with standard Qulice config and run the build twice without `clean`:
[code]
Stacktrace:
[code]

[2015-12-12 07:50] krzyk commented on #510
@mkordas qulice needs compiled artifacts to perform it's job (e.g. Findbugs needs them), so the validate phase is too early for it.

[2015-12-12 12:51] mkordas commented on #510
@krzyk you are right, but the issue doesn't depend on Maven phase invoked. `validate` is quickest way to reproduce (no need to compile anything), but it occurs also when calling `verify`. I've updated issue description accordingly.

[2015-12-12 13:58] mkordas opened #511 "Log4j errors in logs when 'qulice:instrument' goal is invoked"
Whenever command `mvn clean test-compile qulice:instrument` is executed, the execution logs contain `log4j:ERROR` entries:
[code]
Logs should be clear from such errors.

To easily reproduce the problem you can use simple Maven project (`mvn archetype:generate`) and configure Qulice as described on www.qulice.com

[2015-12-12 14:01] mkordas opened #512 "Some parts of qulice.com page refer to the old version of library"
On http://www.qulice.com/index.html version 0.14 is described, but e.g. on http://www.qulice.com/qulice-maven-plugin/usage.html there's only reference to 0.12.1.

[2015-12-12 19:56] krzyk commented on #510
@mkordas you are right

[2015-12-12 19:56] krzyk commented on #510
@davvd valid bug

[2015-12-12 20:01] krzyk commented on #512
@davvd valid bug

[2015-12-12 20:02] krzyk commented on #511
@mkordas When calling just instrumentation is a valid scenario?

[2015-12-12 20:43] mkordas opened #513 "Outdated information on web pages for modules"
When generating site locally or just using the links below the following things can be noticed:
* http://www.qulice.com/qulice-xml/ says that 'The module is not implemented yet.' - but it is implemented
* http://www.qulice.com/qulice-checkstyle/ link to `checks.xml` is broken
* http://www.qulice.com/qulice-pmd/ link to `ruleset.xml` is broken
* http://www.qulice.com/qulice-codenarc/ link to `rules

[2015-12-12 21:00] mkordas opened #514 "POM and README do not specify minimal Maven version as 3.1.0"
On Maven 3.0.5 (which is default version bundled in IntelliJ and Linux) build fails with the following exception:
[code]
This happens due to bug in Maven that was fixed in 3.1.0. To save people's time when they try to debug NPE, POM should enforce 3.1.0 as minimal Maven version to build Qulice. Moreover, README should contain this requirement too.

[2015-12-13 07:08] krzyk commented on #514
@davvd valid bug

[2015-12-13 07:08] krzyk commented on #513
@davvd valid bug

[2015-12-13 08:39] krzyk opened #515 "Disallow methods with multiple return statements"
Following code:
[code]
should make qulice complain about two return statements (right now we allow 2 return statements).
(see http://www.yegor256.com/2015/08/18/multiple-return-statements-in-oop.html)

[2015-12-13 08:39] krzyk commented on #515
@davvd valid bug

[2015-12-14 07:56] davvd commented on #514
@krzyk I added `bug` tag to this ticket

[2015-12-14 07:56] davvd commented on #515
@krzyk I tagged this as "bug"

[2015-12-14 07:56] davvd commented on #513
@krzyk I just added bug tag here

[2015-12-14 07:56] davvd commented on #510
@krzyk tagged this issue with "bug"

[2015-12-14 07:56] davvd commented on #512
@krzyk tag bug added to this issue

[2015-12-14 12:17] davvd commented on #484
@krzyk pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

these issues are still not dispatched anyhow: #507. Either register as bugs or ask their reporters to close.

added -25 to your rating, now it is equal to [+2809](http://www.netbout.com/b/35035?open=rating)

[2015-12-14 12:17] davvd commented on #515
@krzyk thanks a lot for reporting, **30 mins** added to your acc, pmt ID `71947289`

[2015-12-14 12:21] krzyk commented on #507
@davvd this is invalid

[2015-12-14 12:50] davvd commented on #514
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `566ebb1c9605e3655700036c`

[2015-12-14 15:11] krzyk commented on #507
@davvd the issue is invalid

[2015-12-14 17:21] HDouss commented on #514
@krzyk Please assign this issue to me.

[2015-12-14 19:10] krzyk commented on #514
@davvd assign @HDouss please

[2015-12-15 07:48] davvd commented on #514
@krzyk OK @hdouss please start, the task is yours

[2015-12-15 07:51] HDouss commented on #514
@mkordas seems like minimal version to have is 3.2 (see #439 ). Do you agree ?

[2015-12-15 07:52] davvd commented on #513
@mkordas many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `566fc69c754e241eb700023f`

[2015-12-15 08:22] mkordas commented on #514
@HDouss what build error do you get on 3.1.0?

[2015-12-15 09:19] davvd commented on #512
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `566fdb1ee12b510e2a000208`

[2015-12-15 11:37] davvd commented on #510
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 566ffb8190f2e30082000199

[2015-12-15 11:42] HDouss commented on #514
@mkordas I don't have the NPE error with 3.1.0. I was wondering if I have to take into consideration issue #439 (seems like a duplicate of this one). So you are right, my PR will deal with 3.1.0 as the required Maven version.

PS : I still think #439 is a duplicate of this one, just that the reported minimal version there is wrong

[2015-12-15 12:08] mkordas commented on #514
@HDouss  If we confirm somehow that Qulice build works perfectly fine on 3.1.0 both on Linux and Windows we can just mark #439 as invalid.

[2015-12-15 16:46] kkamkou opened #517 "[question] Why the release number is not flowing semver?"
Hi all! I have a simple question - why the release number is not flowing [semver](http://semver.org/)? Thank you.

[2015-12-15 16:47] kkamkou commented on #404
Hi guys, any estimation in case of documentation? So far, the gradle plugin does nothing (build/check etc.).

[2015-12-15 16:50] kkamkou opened #518 "[question] Why com.qulice:qulice-gradle-plugin:0.14 produces qulice-plugin (gradle)?"
Hi all! I have a simple question: why `com.qulice:qulice-gradle-plugin:0.14` produces `qulice-plugin` instead of `qulice` or `com.qulice.gradle` etc.? Thank you. refs #404

[2015-12-15 18:27] HDouss opened #519 "Build fails under non-english JVM"
When we try to build the project under a JVM that don't have english as the default locale, the unit tests fails. This is due to the checkstyle messages that are localized. `com.qulice.checkstyle.CheckstyleValidatorTest` is trying to look for messages like "hides a field" or "Type Javadoc comment is missing" inside Checkstyle output.
The issue is very common under a non-english Windows, where the

[2015-12-15 18:56] mkordas opened #520 "Qulice does not enforce Checkstyle rule NoLineWrap"
[NoLineWrap](http://checkstyle.sourceforge.net/config_whitespace.html#NoLineWrap) check is not enforced by qulice-checkstyle, I think someone just forgot to enable it. Wrapping package and import statements should be prohibited:
* https://google.github.io/styleguide/javaguide.html#s3.2-package-statement
* https://google.github.io/styleguide/javaguide.html#s3.3.2-import-line-wrapping

[2015-12-15 19:21] mkordas opened #521 "Non-Java specific checks in Checkstyle do not define file extensions properly"
There are two issues with current Checkstyle configuration in Qulice for non-Java specific checks.
#### FileTabCharacter

This check is currently configured [as follows](https://github.com/teamed/qulice/blob/311cd7251a2fc149b3dd53f67219b9fe4a3c2cf4/qulice-checkstyle/src/main/resources/com/qulice/checkstyle/checks.xml#L76)

[code]

It means, that Qulice allows tab characters in commonly used source

[2015-12-15 19:45] mkordas opened #522 "NewlineAtEndOfFile does not work for files other than Java"
Good practice is to end all source and text files with newline. A text file under Unix, consists of a series of lines, each of which ending with a newline character (`\n`). It is required by POSIX standard:
* http://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline

Currently Qulice checks [only Java files](https://github.com/teamed/qulice/blob/master/qulice-checkstyle/sr

[2015-12-15 22:24] mkordas opened #523 "Documentation does not mention how to exclude files from XML analysis"
The page http://www.qulice.com/qulice-maven-plugin/example-exclude.html represented as https://github.com/teamed/qulice/blob/master/qulice-maven-plugin/src/site/apt/example-exclude.apt.vm in repository does not contain information how to exclude XML files from analysis.

Such exclusions are used many times in [Qulice itself], so looks like such documentation might be handy for users.

[2015-12-16 06:19] HDouss commented on #514
@mkordas I agree. I think it is the case.

[2015-12-16 12:55] krzyk commented on #520
@davvd valid bug

[2015-12-16 13:10] krzyk commented on #519
@davvd valid bug

[2015-12-16 13:14] krzyk commented on #522
@mkordas could you join this issue with #521? If there are too many obvious *one line fix bugs* we will burn to much budget in a project.

[2015-12-16 13:19] krzyk commented on #521
@mkordas could you tune the description slightly to follow http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken ?

[2015-12-16 13:20] mkordas commented on #522
@krzyk merged with #521

[2015-12-16 13:20] #522 closed

[2015-12-16 13:20] krzyk commented on #523
@mkordas here also, slight tuning to according to http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken would be great.

[2015-12-16 13:25] krzyk commented on #517
@kkamkou Why do you think it doesn't?

[2015-12-16 13:28] mkordas commented on #521
@krzyk done

[2015-12-16 13:28] krzyk commented on #518
@kkamkou Initial design of gradle plugin introduced it, it will be changed as part of #422

[2015-12-16 13:30] krzyk commented on #514
@HDouss please add reference to the PR in the issue messages (so all interested can look at it, before the review, or even after the issue was closed)

[2015-12-16 13:31] mkordas commented on #523
@krzyk what do you mean exactly. In article I can read:

And this is what I did. I reported that documentation doesn't explain how to use XML exclusions.

[2015-12-16 13:37] krzyk commented on #523
@mkordas OK, we can leave it at that, I was thinking that the target state is only implied, not explicit. But you are right, this is documentation issue.

[2015-12-16 13:37] krzyk commented on #523
@davvd valid bug

[2015-12-16 13:37] krzyk commented on #521
@davvd valid bug

[2015-12-16 13:39] HDouss commented on #514
@krzyk I usually do it when asking the author to close the issue like in the upcoming comment.

[2015-12-16 13:42] kkamkou commented on #517
afaik 0.14.0 is the semver format, and 0.14 is the formatted output M.m

[2015-12-16 13:42] kkamkou commented on #518
Thank you.

[2015-12-16 13:42] #518 closed

[2015-12-16 13:43] krzyk commented on #514
@HDouss OK

[2015-12-16 13:55] HDouss commented on #514
@mkordas PR #516 reviewed and merged. Please close the issue.

[2015-12-16 13:58] krzyk commented on #517
@yegor256 Why do we skip zeros at the end major release version (`0.14` instead of `0.14.0`)?

[2015-12-16 14:26] yegor256 commented on #517
@krzyk @kkamkou well, that's how it's done in Maven world. see how Maven plugins are versioned. they all skip minor version if it equals to zero. we're doing the same. and, I think, it's correct.

[2015-12-16 14:28] kkamkou commented on #517
Thank you

[2015-12-16 14:28] #517 closed

[2015-12-16 14:50] mkordas commented on #514
@HDouss accepted, looks really good

[2015-12-16 14:50] #514 closed

[2015-12-16 23:24] mkordas opened #524 "Leftovers after removal of RedundantThrows check from Checkstyle"
RedundantThrows was removed from Checkstyle at version 6.2 (https://github.com/checkstyle/checkstyle/issues/473), because it was too buggy.

Due to problems with it, Qulice had many workarounds for it - mainly suppressions. When this check was removed from Qulice there was no proper cleanup.

All occurrences of `RedundantThrows` should be removed from code. Currently we have 22 of them, e.g.:
* ht

[2015-12-16 23:31] mkordas opened #525 "No documentation for PomXpathValidator"
Any page on http://www.qulice.com/ does not mention anything about feature to make various checks on POM file:

[code]

Short description of possibility to make assertions on POM and sample usage should be presented on http://www.qulice.com/qulice-maven-plugin/usage.html

It should be also documented which namespace prefix is used. Currently it is `pom` for `http://maven.apache.org/POM/4.0.0`.

[2015-12-17 09:06] davvd commented on #521
@krzyk I tagged this as "bug"

[2015-12-17 09:06] davvd commented on #523
@krzyk tag bug added to this issue

[2015-12-17 09:06] davvd commented on #520
@krzyk I tagged this as "bug"

[2015-12-17 09:06] davvd commented on #519
@krzyk tag bug added to this issue

[2015-12-17 09:56] davvd commented on #523
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 567286bdad70865e2e0000b3

[2015-12-17 11:04] krzyk commented on #524
@davvd valid bug

[2015-12-17 12:30] davvd commented on #524
@krzyk I added `bug` tag to this ticket

[2015-12-17 12:34] davvd commented on #521
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `5672abc3000f567392000209`

[2015-12-17 14:59] HDouss commented on #520
@krzyk Please assign this to me

[2015-12-17 17:23] krzyk commented on #520
@davvd assign @HDouss pls

[2015-12-17 18:07] HDouss opened #526 "CheckstyleValidatorTest have much code redundancy"
Many methods in `CheckstyleValidatorTest` use the same code logic. This code logic is already encapsulated in `validateCheckstyle` method and is used by test methods : `acceptsDefaultMethodsWithFinalModifiers`, `acceptsSingleNameAuthor`, `acceptsConstantUsedInMethodAnnotation`, `acceptsConstructorParametersNamedJustLikeFields`.

Other test methods are not using `validateCheckstyle` method and the

[2015-12-17 20:57] mkordas commented on #515
@davvd please assign me to this issue

[2015-12-17 20:58] mkordas commented on #519
@davvd please assign me to this issue

[2015-12-17 21:08] krzyk commented on #519
@davvd assign @mkordas please

[2015-12-17 21:08] krzyk commented on #515
@davvd assign @mkordas please

[2015-12-17 21:21] yegor256 opened #527 "Cascade indentation check is required"
We removed `CascadeIndentationCheck` in https://github.com/teamed/qulice/issues/265 and it was a bad idea. We must check that each line indentation is either:

 1. the same as previous one or less
 2. bigger than previous by exactly 4

All other cases must cause a failure.

[2015-12-17 21:42] mkordas opened #528 "Qulice does not enforce any of PMD rules from 'unnecessary' set"
There are lots of valuable and pretty non-controversial rules in [PMD 'unnecessary' ruleset](https://pmd.github.io/pmd-5.4.1/pmd-java/rules/java/unnecessary.html), but they are not mentioned in [Qulice's PMD configuration](https://github.com/teamed/qulice/blob/0.14/qulice-pmd/src/main/resources/com/qulice/pmd/ruleset.xml).

I would excpect all of them being enforced by Qulice.

[2015-12-17 22:37] mkordas commented on #511
@krzyk usually instrumentation, test execution and coverage checks/report generation are driven by standard Maven lifecycle, but `cobertura:instrument` goal can be used whenever test execution is manual or not not directly driven by typical lifecycle.

[2015-12-18 07:12] krzyk commented on #527
@yegor256 maybe we could use `IndentationCheck` with `forceStrictCondition = true` for that.

[2015-12-18 07:12] krzyk commented on #527
@davvd valid bug

[2015-12-18 07:21] davvd commented on #515
@krzyk yep, done. @mkordas it is your task now

[2015-12-18 07:21] davvd commented on #520
@krzyk yep, done. @hdouss it is your task now

[2015-12-18 07:21] davvd commented on #519
@krzyk done. @mkordas the task is yours, please go ahead

[2015-12-18 07:21] davvd commented on #527
@krzyk I added `bug` tag to this ticket

[2015-12-18 07:30] davvd commented on #520
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `5673b60a2bc9e972d60000a0`

[2015-12-18 07:54] mkordas commented on #519
@krzyk please see PR #529

[2015-12-18 08:50] davvd commented on #519
@hdouss thank you for the ticket reported, I topped your account for 15 mins, transaction `72449864`

[2015-12-18 10:00] davvd commented on #514
@hdouss **38 mins** sent to your balance (ID `72451345`), many thanks! It took 49 hours and 17 mins.. the bonus for fast delivery (m=2957). +38 added to your rating, current score is: [+188](http://www.netbout.com/b/36032?open=rating)

[2015-12-18 10:50] HDouss commented on #520
@mkordas PR #531 reviewed and merged. Please close the issue.

[2015-12-18 11:36] yegor256 commented on #527
@krzyk yes, why not. what matters for me is that qulice must complain about this:

[code]

It doesn't complain now.

[2015-12-18 12:37] davvd commented on #524
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `5673fe065cf2414e1600002a`

[2015-12-18 13:57] HDouss commented on #520
@mkordas PR #531 reviewed and merged. Please close the issue.

[2015-12-18 14:13] mkordas commented on #520
@HDouss I'm closing it, thanks

[2015-12-18 14:13] #520 closed

[2015-12-18 15:05] HDouss commented on #514
@davvd  According to the Definition of Done, the issue is done when the author accepts the delivrables and closes the issue. The issue was assigned to me on Dec 15 7:48 AM (GMT). The issue was closed on Dec 16 2:50 PM (GMT). This is less than 48h, so I was expecting a payment and a rating bonus of 50%. I received a bonus of only 25%.

[2015-12-18 16:03] mkordas commented on #527
@krzyk please assign me (I will proceed with adding `forceStrictCondition = true` + some test for Yegor's case)

[2015-12-18 16:15] krzyk commented on #527
@davvd assign @mkordas please

[2015-12-18 20:38] mkordas commented on #515
@krzyk this was done in #530, please proceed

[2015-12-18 20:46] krzyk commented on #515
@mkordas thanks

[2015-12-18 20:46] #515 closed

[2015-12-19 08:03] mkordas commented on #487
@davvd can I receive payment for this issue?

[2015-12-19 11:24] mkordas commented on #519
@HDouss this is done in #529, please close the issue

[2015-12-19 17:39] krzyk commented on #511
@davvd valid bug

[2015-12-19 17:41] krzyk commented on #528
@davvd valid bug

[2015-12-19 17:42] krzyk commented on #526
@davvd valid bug

[2015-12-19 17:50] krzyk commented on #525
@mkordas I completly forgot that it existed :), thanks

[2015-12-19 17:50] krzyk commented on #525
@davvd valid bug

[2015-12-19 19:37] HDouss commented on #519
@mkordas  I still have errors due to french localized messages when running :
`mvn clean install -Pqulice -DargLine="-Duser.language=fr -Duser.country=FR"`
Are you sure the modifications are sufficient ?

[2015-12-19 19:51] HDouss commented on #528
@krzyk Please assign this to me.

[2015-12-19 20:46] mkordas commented on #519
@HDouss I've double checked and `mvn clean install -Pqulice -DargLine="-Duser.language=fr -Duser.country=FR"` [works for me](https://gist.github.com/mkordas/13c3e0166d9a45ea5f6d) on machine with EN default locale. So the only possibility of failure is `-Duser.language=fr -Duser.country=FR` not being propagated to other JVMs that are spawned during the build. Please submit that as separate issue wi

[2015-12-19 21:14] HDouss commented on #519
@mkordas I am testing on a EN default locale, and where `mvn clean install -Pqulice -DargLine="-Duser.language=fr -Duser.country=FR"` fails. I don't any special reproduction steps other than :
* Run `mvn clean install -Pqulice` on a non-english default locale JVM
* Run `mvn clean install -Pqulice -DargLine="-Duser.language=fr -Duser.country=FR"` on a english default locale JVM

I tested all possib

[2015-12-19 21:27] mkordas opened #532 "Some CodeNarc rules are not used by Qulice"
Last time `rules.txt` for CodeNarc were updated in 2011. Since then, many useful and pretty non-controversial rules were introduced.

I'd like to see in Qulice the following rules:
* AssertWithinFinallyBlock
* BrokenNullCheck
* ConstantAssertExpression
* EmptyClass
* MultipleUnaryOperators
* ThisReferenceEscapesConstructor
* ExceptionExtendsThrowable
* ExceptionNotThrown

[2015-12-19 21:42] mkordas opened #533 "Old beta version of Maven Enforcer Plugin is used by EnforcerValidator"
Currently `EnforcerValidator` uses `1.0-beta-1` version of Maven Enforcer Plugin, while the latest available one is `1.4.1`, so update is needed. POM uses Enforcer in version `1.3.1` and this could be updated too.

Moreover, there is no test for `EnforcerValidator` at all. This could be added in scope of this issue too.

[2015-12-19 21:46] mkordas commented on #519
@HDouss please share all your failing build logs and env details. Here are mine:
[code]
And of course make sure that you are on this commit:
[code]

[2015-12-20 01:26] HDouss commented on #519
@mkordas
[code]
Commit history until your last commit :
[code]
[code]

[code]

[code]

[2015-12-20 07:04] krzyk commented on #519
@HDouss @mkordas this fix is in master version only, so it is visible only in maven invoker tests.  Qulice itself is checked by qulice version 0.12, which doesn't have the fixes.
Please try to check it with minimal maven project with qulice 1.0.0-SNAPSHOT.

[2015-12-20 07:30] krzyk commented on #533
@mkordas adding a test is a good idea, please update the description to make it not optional

[2015-12-20 07:31] krzyk commented on #528
@davvd assign @HDouss please

[2015-12-20 09:54] HDouss commented on #519
@krzyk I don't get your point. The build fails because the unit test is failing and not because a Qulice reported check error.

[2015-12-20 13:06] HDouss commented on #519
@mkordas same thing if I reposition to commit `20a15518f62c65e7ee933e4224d562ee7370e990`

[2015-12-20 20:56] mkordas commented on #519
@HDouss you need to be more specific, as the build works for me (evidence at https://gist.github.com/mkordas/13c3e0166d9a45ea5f6d) and I have no possibility to reproduce. Before fixes the build was failing, so my commit definitely improved the situation.
Please raise new issue with the following details:
* full build logs
* information which tests are failing
* information what exactly still needs

[2015-12-20 21:10] HDouss commented on #519
@mkordas I just need to validate. I will try to test on other environments and close the issue as soon as I am able to validate the commit.

[2015-12-20 21:10] mkordas commented on #533
@krzyk done, description changed

[2015-12-20 21:14] krzyk commented on #533
@davvd valid bug

[2015-12-20 21:15] krzyk commented on #519
@HDouss please provide full build logs of the failed case, it will be easier to find the root cause

[2015-12-20 21:23] HDouss commented on #519
@krzyk I will do it as soon as possible. Could you please confirm that `mvn clean install -Pqulice -DargLine="-Duser.language=fr -Duser.country=FR"` produces a successful build on your environment?

[2015-12-20 21:45] krzyk commented on #519
@HDouss @mkordas latest master fails for me with:
[build1.txt](https://github.com/teamed/qulice/files/67965/build1.txt)

Command line: `mvn clean install -Pqulice -DargLine="-Duser.language=fr -Duser.country=FR"`

[2015-12-20 22:13] HDouss commented on #519
@mkordas same for me. Build fails due to french localized messages in unit tests.

[2015-12-21 07:11] davvd commented on #527
@krzyk done. @mkordas the task is yours, please go ahead

[2015-12-21 07:11] davvd commented on #528
@krzyk I tagged this as "bug"

[2015-12-21 07:11] davvd commented on #533
@krzyk tagged this issue with "bug"

[2015-12-21 07:11] davvd commented on #525
@krzyk I added `bug` tag to this ticket

[2015-12-21 07:11] davvd commented on #526
@krzyk tagged this issue with "bug"

[2015-12-21 07:11] davvd commented on #511
@krzyk added "bug" tag to this issue

[2015-12-21 07:14] davvd commented on #484
@krzyk There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * these issues are still not dispatched anyhow: #511, #507. Either register as bugs or ask their reporters to close.

 * the release 0.14 is still in PRE status, for a long time already

-25 to your rating, your total score is [+2779](http://www.netbout.com/b/35035?open=rating)

[2015-12-21 07:14] davvd commented on #527
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-814caaa3

[2015-12-21 07:31] krzyk commented on #484
@yegor256 it looks like @davvd didn't mark the release as final

[2015-12-21 07:32] krzyk commented on #507
@davvd it is invalid

[2015-12-21 07:33] krzyk commented on #507
@yegor256 could you help me with invalidating this issue?

[2015-12-21 07:33] krzyk commented on #511
@davvd this is postponed

[2015-12-21 07:36] krzyk commented on #526
@aschworer, @happy-neko, @jrdalpra, @prahladyeri can you work on this?

[2015-12-21 08:11] prahladyeri commented on #526
@davvd Though each method specified in `CheckstyleValidatorTest` "look" alike, they actually aren't. I went through the [code](https://github.com/teamed/qulice/blob/c38a811bfec5453dda9f842d9b82f70e08c08f68/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java) for this class and found that each mentioned method invokes `validateCheckStyle()` a different Validator each

[2015-12-21 08:32] HDouss commented on #526
@prahladyeri `acceptsDefaultMethodsWithFinalModifiers` and `acceptsSingleNameAuthor` are examples of "good" methods that does not need to be modified. The methods to refactor are : `catchesCheckstyleViolationsInLicense`, `acceptsInstanceMethodReferences`, `reportsErrorWhenParameterObjectIsNotDocumented`, `passesWindowsEndsOfLineWithoutException`, `testWindowsEndsOfLineWithLinuxSources`.

[2015-12-21 08:41] yegor256 commented on #507
@krzyk it's not an "issue" yet for us, since it was not accepted yet (you didn't label it as a "bug"). Just ask its author to close it and that's it.

[2015-12-21 08:42] yegor256 commented on #484
@davvd release 0.14 is final, pls label it correctly

[2015-12-21 08:48] krzyk commented on #507
@androidfred please close this issue

[2015-12-21 08:57] davvd commented on #528
@krzyk OK @hdouss please go ahead, this task is yours

[2015-12-21 08:57] davvd commented on #511
@krzyk OK, I put "postponed" label here

[2015-12-21 08:57] davvd commented on #511
@krzyk someone else will help in this task, no problem at all

[2015-12-21 09:00] davvd commented on #533
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `5677bf8c84d289006d00025f`

[2015-12-21 10:08] krzyk commented on #526
@davvd assign @prahladyeri please

[2015-12-21 10:14] davvd commented on #484
@yegor256 done, release 0.14 is final

[2015-12-21 10:14] davvd commented on #487
@mkordas @yegor256 please help us here

[2015-12-21 10:14] davvd commented on #514
@hdouss this is how we calculate the duration of an issue: http://at.teamed.io/policy.html#15 make sense?

[2015-12-21 10:15] jrdalpra commented on #526
@krzyk I only can take 2 tasks at a time. Sorry.

[2015-12-21 10:17] krzyk commented on #532
@davvd valid bug

[2015-12-21 10:18] davvd commented on #528
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `5677d1dc36029277f70001af`

[2015-12-21 10:26] prahladyeri commented on #526
@HDouss  Here is my analysis regarding this issue:

1. The `testWindowsEndsOfLineWithLinuxSources()` fail when your sources have linux style EOL (`/r`), whereas your license has windows style EOL (`/r/n`). The other test `passesWindowsEndsOfLineWithoutException()`, however, fails when any of your source files have a windows style EOL. So again, very very subtle difference in functionality though v

[2015-12-21 10:47] HDouss commented on #514
@davvd The rule is somehow unfair. But anyway, thank you for clarifying it to me.

[2015-12-21 10:53] HDouss commented on #526
@prahladyeri I am aware that the tests are different.The issue is about refactoring the code so that redundant code (already encapsulated in validateCheckstyle) disappears. The implementation of all the 5 mentioned methods could be replaced by calls to `validateCheckstyle` method, with proper arguments, so that each will test what have to be tested.

[2015-12-21 11:22] HDouss commented on #520
@davvd Issue closed.

[2015-12-21 11:39] prahladyeri commented on #526
@HDouss Sure. After having a detailed look at other implemented methods, I can see how these methods are redundant. What needs to be done here is that instead of repeating the whole pattern of creating a mock environment, a license file, `content` String for matching, calling `MatcherAssert.assertThat`, etc.  we can just call `validateCheckstyle()` because that basically does this same pattern.

@

[2015-12-21 13:23] davvd commented on #526
@krzyk OK @prahladyeri please start, the task is yours

[2015-12-21 13:23] davvd commented on #532
@krzyk tag "bug" added

[2015-12-21 13:23] davvd opened #535 "0.15"
Please, publish a new release **0.15** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-12-21 13:27] davvd commented on #535
@krzyk the task is yours,please go ahead

[2015-12-21 13:27] davvd commented on #526
@hdouss thanks for reporting! I topped your account for 15 mins, transaction 72552567

[2015-12-21 16:50] prahladyeri commented on #526
@HDouss I've refactored the following two of the mentioned methods:

* `reportsErrorWhenParameterObjectIsNotDocumented`
* `acceptsInstanceMethodReferences`

[Here](https://github.com/teamed/qulice/pull/536) is the link to pull request. The other three methods aren't that straight-forward since they follow some different pattern than the generic `validateCheckstyle` (such as a different EOL charact

[2015-12-21 17:10] mkordas commented on #515
@davvd this was closed 3 days ago, please summarize

[2015-12-21 17:20] mkordas commented on #519
@HDouss @krzyk actually the build was failing not due to unit tests, but one integration test - please see fix in #537. Most interesting thing here is that test is not run locally for me when I run `mvn clean install -Pqulice` and that's why I wasn't able to reproduce the issue without detailed logs. I'll investigate why not all tests are executed in my env and I'll submit new issue if needed.

[2015-12-21 17:21] mkordas commented on #519
@davvd please see additional PR #537

[2015-12-21 17:56] mkordas commented on #527
@davvd please see PR #538

[2015-12-21 18:12] HDouss commented on #519
@mkordas The build fails due to unit test fail.
Please see attached log from @krzyk comment. The failing project is `qulice-checkstyle`. There are no integration tests in that project.

[2015-12-21 18:26] mkordas commented on #519
@HDouss I'll explain that soon but can you validate the build on 916520d right now?

[2015-12-21 18:36] HDouss commented on #519
@mkordas [Same results](https://gist.github.com/HDouss/aa53a8195831f51652ca) after integrating your last modifications.

[2015-12-21 18:58] HDouss commented on #526
@prahladyeri PR #536 failed checks. I can agree with you on `catchesCheckstyleViolationsInLicense`, but for the two other tests, the license file is irrelevant to the test and the check could be delegated to `validateCheckstyle`. All you have to do is to create external files with Linux/Windows EOL.

[2015-12-21 22:12] mkordas commented on #519
@HDouss I have some trace. On my computer everything was fine, but then I changed it to another (faster) one and errors started to appear randomly. So it's all related to parallel execution of tests that is enabled by default and static caching of error messages by Checkstyle - please see https://github.com/checkstyle/checkstyle/blob/bf9325be913ce46a1427232c455f4830b574ba44/src/main/java/com/puppy

[2015-12-21 22:47] HDouss commented on #519
@mkordas I am not sure about :

Because I think the parallel execution is forked on separate java processes (so they don't share the cache).
Anyway the build succeded for me and I will close the issue as soon as PR #537 is merged.
Thanks !

[2015-12-21 23:02] mkordas commented on #519
@HDouss indeed, they do not share process with other stuff, but all unit tests share cache between each other and errors in build depend on execution order which is random. We cannot demand from any new test case written to not populate this cache, so that's why I've decided to force English for all unit tests.

[2015-12-21 23:02] mkordas commented on #519
@davvd please see PR #537

[2015-12-22 01:26] prahladyeri commented on #526
@HDouss I've fixed the code issues with #536, its passing now. For `passesWindowsEndsOfLineWithoutException` and `testWindowsEndsOfLineWithLinuxSources`, the license file is irrelevant, I agree. But they check for Windows style EOL (`/r/n`) rather than the one used in `validateCheckstyle`. So, in order to refactor them, I will have to refactor `validateCheckstyle` too, and add an `if` condition to

[2015-12-22 05:40] prahladyeri opened #539 "maven-failsafe-plugin freezes on integration-test goal"
I was looking into Issue [#791](https://github.com/yegor256/netbout/issues/791) on the netbout project when I came across this. There is no issue with the normal build, but integration-test is actually just freezing.  Apart from [@hs3180](https://github.com/hs3180), I can replicate the issue too. Basically, the following plugin declaration is the culprit (`/netbout-client/pom.xml`):

        <plug

[2015-12-22 06:13] mkordas commented on #515
@davvd ping

[2015-12-22 07:58] HDouss commented on #526
@prahladyeri I don't think y

[2015-12-22 09:09] davvd commented on #514
@hdouss no problem

[2015-12-22 09:09] davvd commented on #520
@hdouss thanks

[2015-12-22 09:09] davvd commented on #519
@mkordas will take a look, thanks

[2015-12-22 09:09] davvd commented on #527
@mkordas will check it soon, thanks

[2015-12-22 09:15] davvd commented on #515
@mkordas paid, thanks, added **38 mins** to your account, payment `567914232bc9e96f3400014b`, 71 hours and 49 mins was spent. m=4309, that's why a bonus here for fast delivery. +38 added to your rating, current score is: [+719](http://www.netbout.com/b/36080?open=rating)

[2015-12-22 09:15] davvd commented on #520
@hdouss Thanks a lot, I just topped your account for **38 mins**, transaction ID `72856726`, total time was 71 hours and 49 mins... the bonus for fast delivery (m=4309)... +38 added to your rating, current score is: [+256](http://www.netbout.com/b/36032?open=rating)

[2015-12-22 09:17] davvd commented on #525
@mkordas many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `5679150452d9bc3d430001a7`

[2015-12-22 10:25] androidfred commented on #507
Thanks for the feedback, closing.

[2015-12-22 10:25] #507 closed

[2015-12-22 10:40] prahladyeri commented on #526
@HDouss Sure enough. I've refactored both `passesWindowsEndsOfLineWithoutException` and `testWindowsEndsOfLineWithLinuxSources` as well as part of pull request [536](https://github.com/teamed/qulice/pull/536) - build successful, presently under code review.

[2015-12-22 10:47] HDouss commented on #526
@prahladyeri Looks good ! I will close the issue as soon as PR #536 is accepted and merged.

[2015-12-22 11:18] davvd commented on #515
@mkordas usually it takes a few days to finalize a task, thanks for your patience

[2015-12-22 11:21] davvd commented on #511
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 567932426bfea6278f00025b

[2015-12-22 13:01] davvd commented on #532
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `5679498b2bc9e949f3000295`

[2015-12-22 13:56] #539 closed

[2015-12-22 14:41] krzyk commented on #525
@davvd this is postponed

[2015-12-22 15:10] krzyk commented on #535
@yegor256 do you have propositions which issues you would like to see in `0.15`?

[2015-12-22 15:20] mkordas commented on #527
@yegor256 please verify and close the issue, it was done in #538

[2015-12-22 15:47] HDouss commented on #528
@mkordas PR #534 reviewed and merged. Please close the issue.

[2015-12-22 15:59] mkordas commented on #519
@HDouss please close the issue

[2015-12-22 16:00] #519 closed

[2015-12-22 16:13] mkordas commented on #519
@davvd issue is closed (thanks @HDouss), please summarize

[2015-12-22 16:15] mkordas commented on #528
@HDouss I'm closing it

[2015-12-22 16:15] #528 closed

[2015-12-22 16:16] HDouss commented on #528
@davvd Issue closed. Please proceed.

[2015-12-22 16:24] prahladyeri commented on #526
@HDouss PR #536 is merged. Please close if this resolves the issue.

[2015-12-22 16:27] HDouss commented on #526
@prahladyeri Thanks !

[2015-12-22 16:27] #526 closed

[2015-12-22 18:11] yegor256 commented on #535
@krzyk well, would be great to see these fixed: #527, #503, #498, #478, #461 Maybe that's it from me

[2015-12-22 18:16] yegor256 commented on #527
@mkordas thanks!

[2015-12-22 18:16] #527 closed

[2015-12-22 18:57] krzyk commented on #503
@Happy-Neko can you take this one?

[2015-12-22 19:04] krzyk commented on #461
@Suseika could you update the the description how should the second case look like? (the one with two assignements inside the `try ()`), I assume it is:
[code]

[2015-12-22 19:09] krzyk commented on #478
@HDouss can you take this? I think it can be done using PMD XPath (see bottom of our [ruleset.xml](https://github.com/teamed/qulice/blob/master/qulice-pmd/src/main/resources/com/qulice/pmd/ruleset.xml#L100-L142) and some other rules in PMD sources).

[2015-12-22 19:09] krzyk commented on #533
@davvd this is postponed

[2015-12-22 19:09] krzyk commented on #532
@davvd this is postponed

[2015-12-22 19:12] krzyk commented on #513
@davvd this is postponed

[2015-12-22 19:12] krzyk commented on #512
@davvd this is postponed

[2015-12-22 19:44] mkordas commented on #527
@yegor256 you're welcome

@davvd issue is closed, please summarize

[2015-12-22 20:31] Suseika commented on #461
@krzyk That's correct, I updated the issue.

[2015-12-22 23:04] Happy-Neko commented on #503
@krzyk Looks like bug in checkstyle library.
For your second example `ELIST` token is always reported to be on second line [here] (https://github.com/Happy-Neko/qulice/blob/f466bb541be0d382053ac46f352cda7b89e175c8/qulice/qulice-checkstyle/src/main/java/com/qulice/checkstyle/BracketsStructureCheck.java#L110)

Any suggestion how to proceed with this ticket?

[2015-12-23 05:26] krzyk commented on #503
@davvd not postponed

[2015-12-23 05:26] krzyk commented on #503
@davvd assign @Happy-Neko pls

[2015-12-23 05:30] krzyk commented on #503
@davvd you could report issue in Checkstyle project, maybe we are doing something wrong.

[2015-12-23 06:46] HDouss commented on #478
@krzyk Ok

[2015-12-23 08:17] davvd commented on #503
@krzyk got it, "postponed" tag removed from here

[2015-12-23 08:17] davvd commented on #503
@krzyk done. @happy-neko the task is yours, please go ahead

[2015-12-23 08:18] davvd commented on #513
@krzyk thanks, I added "postponed" label

[2015-12-23 08:18] davvd commented on #512
@krzyk sure, thanks, I added "postponed" label to it

[2015-12-23 08:18] davvd commented on #513
@krzyk OK, I will try to assign someone else

[2015-12-23 08:18] davvd commented on #512
@krzyk no problem, I will try to find somebody else

[2015-12-23 08:18] davvd commented on #519
@mkordas np :)

[2015-12-23 08:18] davvd commented on #533
@krzyk sure, thanks, I added "postponed" label to it

[2015-12-23 08:18] davvd commented on #533
@krzyk I will ask somebody else to pick this up

[2015-12-23 08:18] davvd commented on #525
@krzyk sure, thanks, I added "postponed" label to it

[2015-12-23 08:18] davvd commented on #525
@krzyk OK, I will try to assign someone else

[2015-12-23 08:18] davvd commented on #532
@krzyk got it, "postponed" label here

[2015-12-23 08:18] davvd commented on #532
@krzyk someone else will help in this task, no problem at all

[2015-12-23 08:20] davvd commented on #484
@krzyk Done, thanks all, closing..

[2015-12-23 08:20] #484 closed

[2015-12-23 08:22] prahladyeri commented on #526
@davvd I'm yet to be paid on this issue. Is there any specific procedure?

[2015-12-23 08:22] davvd commented on #484
@krzyk **30 mins** sent to your balance (ID `72936684`), many thanks! It took 1300 hours and 33 mins.; +30 to your rating, your total score is [+2859](http://www.netbout.com/b/35035?open=rating)

[2015-12-23 09:20] HDouss commented on #478
@krzyk I will wait for assignment to start working on this issue

[2015-12-23 10:44] yegor256 commented on #487
@davvd pls add extra 15 mins to @mkordas

[2015-12-23 11:13] krzyk commented on #478
@davvd assign @HDouss please

[2015-12-23 11:13] krzyk commented on #478
@davvd this is not postponed

[2015-12-23 11:14] krzyk commented on #535
@rultor release tag is `0.14.1`

[2015-12-23 11:15] rultor commented on #535
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6048-166865106)

[2015-12-23 11:16] rultor commented on #535
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6048-166865106) (spent 21s)

[code]

[2015-12-23 11:18] krzyk commented on #503
@Happy-Neko Right now the cases I mentioned in the issue description don't cause error, so the problem on which line it will fail is another step.

[2015-12-23 11:18] krzyk commented on #498
@davvd this is not postponed

[2015-12-23 11:19] krzyk commented on #498
@aschworer can you work on this?

[2015-12-23 11:20] krzyk commented on #461
@davvd this is not postponed

[2015-12-23 11:23] krzyk commented on #461
@jrdalpra can you work on this?

[2015-12-23 11:25] jrdalpra commented on #461
@krzyk I have the limit of 2 concurrent tasks. I'm trying to close to get more. For now I can't get it. Sorry.

[2015-12-23 11:25] aschworer commented on #498
@krzyk I'm afraid I can only have 2 concurrent tasks at a time

[2015-12-23 11:28] jrdalpra commented on #461
@krzyk @Suseika Is this too bad to have a extra semicolon at the source code?

[2015-12-23 11:35] krzyk commented on #535
@rultor release tag is `0.14.1`

[2015-12-23 11:36] rultor commented on #535
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6048-166869769)

[2015-12-23 11:55] rultor commented on #535
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6048-166869769) (took me 19min)

[2015-12-23 12:47] krzyk commented on #526
@prahladyeri It usually takes a day or two

[2015-12-23 13:01] davvd commented on #461
@krzyk got it, "postponed" tag removed from here

[2015-12-23 13:01] davvd commented on #478
@krzyk OK @hdouss please proceed, this task is yours

[2015-12-23 13:01] davvd commented on #478
@krzyk got it, "postponed" tag removed from here

[2015-12-23 13:01] davvd commented on #487
@yegor256 I've paid 15 mins to @mkordas in transaction `567a9b2e9609dd4fea00016d`

[2015-12-23 13:01] davvd commented on #498
@krzyk right, I removed "postponed" tag

[2015-12-23 13:01] davvd commented on #528
@hdouss sure, will do soon

[2015-12-23 17:04] HDouss commented on #528
@davvd Thanks!

[2015-12-23 22:03] mkordas opened #540 "Upgrade to PMD 5.4.1"
Qulice currently uses PMD 5.3.4. Let's upgrade to the newest version and we'll get those things:
* https://pmd.github.io/pmd-5.3.5/overview/changelog.html
* https://pmd.github.io/pmd-5.4.0/overview/changelog.html
* https://pmd.github.io/pmd-5.4.1/overview/changelog.html

I'd suggest to make sure that the following new checks are enabled after update:
* Basic: SimplifiedTernary (rulesets/java/basic

[2015-12-23 22:05] Happy-Neko opened #541 "BracketsStructureCheck doesn't report problem when parameters are expressions because of the Checkstyle lib bug"
I have reported Checkstyle bug [here](https://github.com/checkstyle/checkstyle/issues/2766).

We should wait for confirmation and test `BracketsStructureCheck` with fixed checkstyle version.

[2015-12-23 22:10] mkordas opened #542 "NonStaticMethodCheck is commented out in checks.xml"
In `checks.xml` there is comment:
[code]
However, issue #239 is already fixed and check should be re-enabled.

[2015-12-23 22:21] mkordas opened #544 "Qulice does not enforce any of "Empty Code" PMD rules"
There are lots of rules in PMD ['empty' ruleset](https://pmd.github.io/pmd-5.4.1/pmd-java/rules/java/empty.html), but they are not mentioned in Qulice's PMD configuration.

I would excpect all of them being enforced by Qulice.

[2015-12-23 22:23] Happy-Neko commented on #503
@krzyk @davvd
I wrote unit test to confirm that this ticket is caused by checkstyle bug. See PR #543.
I have created new ticker #541 to test `BracketsStructureCheck` behavior with new checkstyle version.

[2015-12-23 22:30] mkordas opened #546 "Website does not mention all custom Checkstyle checks"
On http://www.qulice.com/quality.html I see the following custom rules mentioned:
[code]
while full list should look like
[code]

[2015-12-24 08:28] davvd commented on #526
@prahladyeri just wait a little bit

[2015-12-24 08:28] davvd commented on #528
@hdouss sure, no problem

[2015-12-24 08:32] davvd commented on #519
@mkordas thank you, added **30 mins** to your acc, payment num is `567bad12b750bc75f7000025`, 120 hours and 55 mins spent in total to complete; +30 added to your rating, at the moment it is: [+764](http://www.netbout.com/b/36080?open=rating)

[2015-12-24 08:32] davvd commented on #526
@prahladyeri I just added **45 mins** to your account, many thanks for your contribution (72986616).. 42 hours and 53 mins spent here

m=2573, that's why a bonus here for fast delivery

+45 to your rating, your total score is [+45](http://www.netbout.com/b/36189?open=rating)

[2015-12-24 08:32] davvd commented on #527
@mkordas thank you, added **38 mins** to your acc, payment num is `567bad209a19d83aae0000cd`, 49 hours and 5 mins spent in total to complete

m=2945, that's why a bonus here for fast delivery

+38 to your rating, your total score is [+802](http://www.netbout.com/b/36080?open=rating)

[2015-12-24 08:32] davvd commented on #528
@hdouss **45 mins** sent to your balance (ID `72986607`), many thanks! It took 47 hours and 19 mins.. m=2839, that's why a bonus here for fast delivery. +45 added to your rating, current score is: [+316](http://www.netbout.com/b/36032?open=rating)

[2015-12-24 09:34] prahladyeri commented on #526
@davvd Thanks!

[2015-12-24 10:46] davvd commented on #526
@prahladyeri you are welcome

[2015-12-24 17:08] krzyk commented on #540
@mkordas can you suggest what new rules from those version might be useful?

[2015-12-24 17:12] krzyk commented on #542
@davvd valid bug

[2015-12-24 17:13] krzyk commented on #544
@davvd valid bug

[2015-12-24 17:24] krzyk commented on #546
@mkordas please add that we need also information about our custom PMD rules

[2015-12-24 17:30] krzyk commented on #503
@Happy-Neko I'm wondering why line number reported is a problem? We could check that a bracket is on line number - 1 from the ELIST. I think this would solve majority of the cases, ideally we could just go back more lines and look for the left bracket.

[2015-12-24 17:32] krzyk commented on #461
@davvd assign @HDouss please

[2015-12-24 17:51] Happy-Neko commented on #503
@krzyk ELIST will always report `leftBracketLineNumber + 1` whether it on the same line or on the next. Making `BracketsStructureCheck` impossible.

[2015-12-24 17:59] krzyk commented on #503
@Happy-Neko OK, so I would wait for the checkstyle bug to be fixed, I don't think we need a test for `DetailAST`, this is more checkstyle thing.

[2015-12-24 17:59] krzyk commented on #503
@Happy-Neko I would postpone this issue for now, and we can get back to it when checkstyle bug is fixed

[2015-12-24 17:59] krzyk commented on #503
@davvd this is postponed

[2015-12-24 19:51] krzyk commented on #541
@Happy-Neko Let's wait for fix in checkstyle project and will get back to #503. Please close this issue.

[2015-12-24 19:55] krzyk commented on #502
@Happy-Neko I'm wondering if this is a similar issue as #503, would like to pick it up?

[2015-12-24 20:17] Happy-Neko commented on #503
@krzyk Test will show if checkstyle's bug is fixed.

[2015-12-24 20:21] Happy-Neko commented on #541
@krzyk We need more time for #503 then. 30 min budget was spent to determine the problem is on external library and confirming it with unit test.

[2015-12-24 20:23] Happy-Neko commented on #502
@krzyk Ok, I'll check it.

[2015-12-24 21:45] krzyk commented on #541
@Happy-Neko Unfortunately I don't have a way to control that :(. The only option is to do the ticket fast, and you will get bonus points (+30, +15 or +8 mins if you can get this issue closed in 24,48,72 hours).
I'll assign #503 to you as soon as I'll see that checkstyle bug was fixed, so you will not waste 30mins you already spent on it, if you will work fast on implementing the fix (e.g. by upgra

[2015-12-24 22:58] HDouss opened #547 "Checkstyle Unit Tests are coupled"
Checkstyle unit tests rely on availability of strings inside the logger output. Unit tests run on different threads (whether they are forked or not). It can happen that one test (i.e one thread) logs an error message that will be tested by another one and a false positive happens.
**Example :**
Test 1 checks and expects for error message "Checkstyle Error"

1. Test 1 (thread one) : arrives at poin

[2015-12-24 23:55] krzyk commented on #547
@davvd valid bug

[2015-12-25 07:52] krzyk commented on #503
@Happy-Neko But it tests not our classes. If on the other hand you would create a test that shows recreates the problem mentioned in issue description and add a todo to enable it after checkstyle bug is fixed it would be OK and I would accept such PR.

[2015-12-25 08:21] davvd commented on #461
@krzyk OK @hdouss please proceed, this task is yours

[2015-12-25 08:22] davvd commented on #547
@krzyk tag "bug" added

[2015-12-25 08:22] davvd commented on #542
@krzyk added "bug" tag to this issue

[2015-12-25 08:22] davvd commented on #544
@krzyk I added `bug` tag to this ticket

[2015-12-25 10:25] davvd commented on #503
@krzyk sure, thanks, I added "postponed" label to it

[2015-12-25 10:25] davvd commented on #503
@krzyk got it, someone else will be assigned soon

[2015-12-25 10:28] davvd commented on #547
@hdouss many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `73016327`

[2015-12-25 12:43] davvd commented on #544
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `567d39d6238bc80a06000077`

[2015-12-25 13:54] davvd commented on #542
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 567d4a72a59f9f1ec70003ae

[2015-12-25 15:34] HDouss commented on #461
Using master branch, this code :
[code]
makes qulice complain with "Only one statement per line allowed."
I think that this good behaviour became available since we upgraded Checkstyle version to 6.12.1.
Anyway, I will add a unit test for it.

[2015-12-25 15:44] Happy-Neko commented on #502
@krzyk Same problem as #503.

[2015-12-25 15:47] HDouss commented on #461
@Suseika This is the commit that made Checkstyle complain : b405880b6e79f143c3ba3651fe6c8b68324fca51
It has 6.9 as a milestone. We were on 6.8.1 before upgrading. So, this is why it didn't complain until upgrade.

[2015-12-25 15:57] krzyk commented on #461
@HDouss I see it was fixed in checkstyle https://github.com/checkstyle/checkstyle/issues/2211, but I don't think it was released yet

[2015-12-25 16:03] krzyk commented on #502
@Happy-Neko Thanks, I'll wait for the checkstyle fix before assigning this to you.

[2015-12-25 16:04] HDouss commented on #461
@krzyk The issue you mentioned will cancel our desired behaviour. The author wants that :
[code]
to be accepted. Because since 6.9 it is not accepted (as desired by our issue).

[2015-12-25 16:06] krzyk commented on #461
@HDouss No, it won't cancel that, it will be back to the original that allows multiple statements inside try-with-resources. It won't forbid `;` at the end of the last statement inside try.

[2015-12-25 16:08] krzyk commented on #461
@HDouss author wants following to work:
[code]
and following to fail:
[code]

[2015-12-25 16:10] krzyk commented on #461
@HDouss you can implement it with handling only a simple case of single statement insite `try ()`:
This should work:
[code]
This should fail:
[code]
And add a todo to handle multiple statements inside the `try()` (and mention the checkstyle bug there).

[2015-12-25 16:15] HDouss commented on #461
@krzyk Don't you think that we have just to let it like it is if it is working for all cases right now ?
If someday we'll upgrade Checkstyle to an unedsired behaviour, the added unit test will alert us.

[2015-12-25 16:20] HDouss commented on #461
@krzyk I don't agree with you on your previous comments. Please track the discussion in : checkstyle/checkstyle#64 and checkstyle/checkstyle#2211 and you will find out that on checkstyle/checkstyle#2211 they want to tolerate the optional finl semicolon

[2015-12-25 16:51] HDouss commented on #461
@krzyk I found a strange behaviour of Checkstyle. Let me investigate further...

[2015-12-25 17:38] krzyk commented on #461
@HDouss yes I know, I was thinking about implementing our own check for the semicolon.

[2015-12-25 17:39] HDouss commented on #461
@krzyk Almost finishing implementing our own check

[2015-12-25 17:53] HDouss commented on #461
@krzyk PR #549 created. I tested the implementation with every scenario I could think of.

[2015-12-26 01:39] HDouss commented on #478
@krzyk PR #545 accepted and merged. Please close the issue.

[2015-12-26 02:56] krzyk commented on #478
@HDouss thanks

[2015-12-26 02:56] #478 closed

[2015-12-26 13:17] krzyk commented on #535
@yegor256 unfortunatelly issue #503 depends on a fix in checkstyle (checkstyle/checkstyle#2766)

[2015-12-26 14:01] krzyk commented on #498
@davvd assign @Happy-Neko please

[2015-12-26 18:16] krzyk commented on #524
@davvd it is not postponed

[2015-12-26 18:16] krzyk commented on #524
@davvd assign @jrdalpra please

[2015-12-26 18:20] krzyk commented on #544
@davvd assign @prahladyeri please

[2015-12-27 01:46] prahladyeri commented on #544
@krzyk I'm looking into this.

[2015-12-27 02:57] prahladyeri commented on #544
@mkordas I have one query:

But many of the `empty` ruleset violations are already being by the `checkstyle-validator` plugin. For instance, If I try to place an [empty](https://pmd.github.io/pmd-5.4.1/pmd-java/rules/java/empty.html#EmptyCatchBlock) `catch{}` block, `checkstyle-validator` will fail with this message:

[ERROR] /src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java[92]: M

[2015-12-27 11:45] HDouss commented on #478
@davvd Issue closed

[2015-12-27 14:13] mkordas commented on #546
@krzyk done

[2015-12-27 14:20] mkordas commented on #544
@prahladyeri In general there is overlap, but are you sure that every 'empty' PMD rule is covered by Checkstyle rule? For example is there replacement for `EmptyStatementNotInLoop`?
Moreover Checkstyle is buggy tool because it does manual operations on AST syntax trees and I would be not surprised by false-negatives even in such simple checks.

[2015-12-27 14:27] mkordas commented on #540
@krzyk done in description

[2015-12-27 15:26] krzyk commented on #546
@davvd valid bug

[2015-12-27 15:26] krzyk commented on #546
@davvd this is postponed

[2015-12-27 17:02] krzyk commented on #540
@mkordas `UselessQualifiedThis` seams to touch only reference to classes (`Foo.this` -> `this`), so I think it can be enabled (and tested that it doesn't cause problems with our code).

[2015-12-27 17:02] krzyk commented on #540
@davvd valid bug

[2015-12-27 22:33] mkordas opened #550 "Require '@since' tag in class Javadocs"
Our coding standard require each top-level class to have `@since` tag.

Qulice should complain when this tag is missing. It could be implemented as e.g. custom Checkstyle check.

Sample code that should cause violation:
[code]
Correct Javadoc:
[code]

[2015-12-27 22:41] mkordas opened #551 "Prohibit fields in test classes unless they are really necessary"
According to http://www.yegor256.com/2015/05/25/unit-test-scaffolding.html it is bad idea to have fields in test classes, as they create coupling between tests. One exception could be `@Rule` fields, but all others should be prohibited.

Check could be implemented either by PMD or Checkstyle rule.

Non-compliant code
[code]
Compliant code:
[code]

[2015-12-28 00:25] mkordas opened #552 "Dependencies to google-collections and guava-io should be removed"
In qulice-checkstyle `pom.xml` I can find the following dependencies:
[code]
I don't think Checkstyle uses any of these dependencies, they are very old libraries.

Moreover, Guava could be upgraded to 19.0 if possible, currently it is 18.0:
[code]

[2015-12-28 08:18] davvd commented on #498
@krzyk done. @happy-neko you are assigned to this task. please proceed...

[2015-12-28 08:18] davvd commented on #524
@krzyk done. @jrdalpra the task is yours, please go ahead

[2015-12-28 08:18] davvd commented on #544
@krzyk OK @prahladyeri please go ahead, this task is yours

[2015-12-28 08:19] davvd commented on #546
@krzyk added "bug" tag to this issue

[2015-12-28 08:19] davvd commented on #540
@krzyk tag "bug" added

[2015-12-28 08:22] davvd commented on #535
@krzyk There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

some tasks in the project are "stuck": #461 (99 days), #478 (71 days), #498 (32 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http://at.teamed.io/policy.html#29)), or 3) try

[2015-12-28 09:26] prahladyeri commented on #544
@mkordas @krzyk
The `EmptyStatementNotInLoop` is indeed validated by the checkstyle. For example, If you just leave a single semi-colon (`;`) on a line, it will throw this:

    [ERROR] /src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java[90]: Empty statement. (EmptyStatementCheck)

I'll still go ahead and implement the `pmd` unit test cases, if you are concerned about the `checkstyle

[2015-12-28 12:00] davvd commented on #546
@krzyk OK, I put "postponed" label here

[2015-12-28 12:00] davvd commented on #546
@krzyk I will assign somebody else to this issue

[2015-12-28 12:03] davvd commented on #546
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56812502ded4fa059500004a`

[2015-12-28 13:53] davvd commented on #540
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `56813eb4b5bdf431080001a0`

[2015-12-28 14:19] krzyk commented on #550
@mkordas please remove the extraneous comments (the ones with `//`)

[2015-12-28 14:20] krzyk commented on #551
@mkordas please extend the first (invalid) example with a test method, so it will look more like the second one

[2015-12-28 14:24] HDouss commented on #461
@Suseika PR #549 reviewed and merged. Please close the issue.

[2015-12-28 14:34] Suseika commented on #461
@HDouss Thanks.

[2015-12-28 14:34] #461 closed

[2015-12-28 19:37] jrdalpra commented on #524
@davvd ok
@mkordas just to be clear: just remove the unnecessary code and tests to clean the project, right?

[2015-12-28 19:55] krzyk commented on #423
@davvd assign @aschworer please

[2015-12-28 19:55] krzyk commented on #423
@davvd this is not postponed

[2015-12-28 20:01] krzyk opened #553 "Upgrade dependencies"
There are new versions of following dependencies that we should use:
* jcabi-parent 0.40
* checkstyle 6.14
* xembly 0.21.4

And also remove hardcoded maven-invoker-version in poms (it will be taken from jcabi-parent).

[2015-12-28 20:02] krzyk commented on #553
@davvd valid bug

[2015-12-28 20:05] mkordas commented on #524
@jrdalpra yes, just do project cleanup

[2015-12-28 20:05] krzyk commented on #553
@davvd assign @HDouss please

[2015-12-28 20:18] krzyk commented on #552
@mkordas please add also guava-io to the list (we should get rid of it)

[2015-12-28 20:24] mkordas commented on #552
@krzyk title and description updated, good catch

[2015-12-28 20:27] krzyk commented on #552
@davvd valid bug

[2015-12-28 20:58] mkordas opened #554 "Not meaningful violations when annotation is placed above Javadoc"
When accidentally annotation is placed above the Javadoc, instead of the meaningful violation (according to http://stackoverflow.com/questions/3109950/codestyle-put-javadoc-before-or-after-annotation) or no violation at all console is spammed with `Empty line between javadoc and subject (JavadocLocationCheck)` warnings as many times as the method has lines.

For example for the following code Quli

[2015-12-28 21:14] mkordas opened #555 "Puzzles in Javadoc for methods with '@Override'"
If puzzle needs to be added to method with `@Override` natural solution is to create Javadoc like that:

    /**
     * @todo #XXX:30min Here goes puzzle contents.
     */
    @Override
    public void method() {
        // logic
    }

Qulice complains on the above with `First sentence in a comment should start with a capital letter (RegexpMultilineCheck)`.

I don't see anything incorrect in the

[2015-12-28 21:42] krzyk opened #556 "Strict indentation check is wrong"
We tried to enforce more strict indentation rules in #527 but used `forceStrictCondition` in checkstyles `IndentationCheck` causes problems in following code:
[code]
The above code has correct indentation, but qulice complains, that `Integer` parameter should have same indentation as the `new` keyword, and same for `)` that follows.
Basically it enforces such code:
[code]

Disable `forceStrictCond

[2015-12-28 21:43] krzyk commented on #556
@davvd valid bug

[2015-12-28 21:43] krzyk commented on #556
@mkordas want to continue with this one?

[2015-12-28 21:52] krzyk commented on #510
@davvd assign @HDouss please

[2015-12-28 21:56] mkordas commented on #556
@krzyk I'm busy with 10 other tasks. BTW, can I have more on me especially if I'm not in Qulice team anymore?

[2015-12-28 22:03] mkordas commented on #551
@krzyk code sample is updated

[2015-12-28 22:05] krzyk commented on #556
@mkordas with manual assignment you can have as much as you can handle :), but you won't get automatically assigned task until you get below your current limit.

[2015-12-28 22:08] krzyk commented on #551
@mkordas I forgot about other JUnit annotations, which we sometimes use (e.g. `@Parameters`), so let's generalize it that we should ignore all fields annotated with any JUnit annotation.

[2015-12-28 22:17] mkordas commented on #551
@krzyk `@Parameters` is annotation for methods only: http://junit.org/apidocs/org/junit/runners/Parameterized.Parameters.html
You probably meant annotations connected with Theories, right? https://github.com/junit-team/junit/tree/master/src/main/java/org/junit/experimental/theories

[2015-12-28 22:20] krzyk commented on #551
@mkordas I added `s` :), I meant `@Parameterized.Parameter`, singular

[2015-12-28 22:29] mkordas commented on #551
@krzyk now I see, description updated

[2015-12-28 22:54] HDouss commented on #553
@krzyk seems like hardcoded maven-invoker-version is intended :
[code]

[2015-12-28 22:56] HDouss commented on #553
@krzyk I will work on the issue as soon as assigned.

[2015-12-29 05:47] prahladyeri commented on #544
@mkordas @krzyk
After some digging into code, I think there is something major wrong with the `qulice-pmd` plugin, because all the empty code PMD rules check should already be happening, but they aren't. All empty rules are part of the [basic](http://pmd.sourceforge.net/pmd-4.3.0/rules/basic.html) ruleset which we are already defining in the [ruleset.xml](https://github.com/teamed/qulice/blob/ebf8

[2015-12-29 07:19] krzyk commented on #544
@prahladyeri you have two options to test the new code, use `PMDValidatorTest` (if you want to test single rule, and it works great from IDE) or create new IT test in `qulice-maven-plugin/src/it/` (this one is for larger tests, it basically runs qulice against given source tree).

[2015-12-29 07:20] krzyk commented on #551
@davvd valid bug

[2015-12-29 07:20] krzyk commented on #551
@davvd this is postponed

[2015-12-29 07:23] krzyk commented on #556
@davvd assign @HDouss please

[2015-12-29 07:28] krzyk commented on #544
@prahladyeri why do you say that empty rules are part of basic ones? I don't recall that PMD would load one rule from other xml files. See all the rules in PMD: https://github.com/pmd/pmd/tree/master/pmd-java/src/main/resources/rulesets/java, basic.xml doesn't include empty.xml.

[2015-12-29 07:29] krzyk commented on #544
@prahladyeri also, we have 3 custom rules defined in our ruleset.xml file and all of them have priority set to `3`, and they are not ignored in anyway.

[2015-12-29 08:44] HDouss commented on #556
@krzyk Isn't it a duplicate of #527 ? It seems to me that the two issues are about this behaviour :

1. the same as previous one or less
2. bigger than previous by exactly 4
All other cases must cause a failure.

[2015-12-29 08:46] prahladyeri commented on #544
@mkordas @krzyk
I think I just found out the source of this trouble! The missing `priority` is indeed the culprit here. I don't know why the 3 custom rules defined with priority `3` are working, but the missing priority in `basic.xml` ruleset does play a role in not triggering the "Empty Code" PMD rules. To verify this, just add a priority `7` to `/com/qulice/pmd/ruleset.xml` as follows:

    <rul

[2015-12-29 08:53] davvd commented on #423
@krzyk yep, done. @aschworer it is your task now

[2015-12-29 08:53] davvd commented on #423
@krzyk got it, "postponed" tag removed from here

[2015-12-29 08:53] davvd commented on #510
@krzyk done. @hdouss you are assigned to this task. please proceed...

[2015-12-29 08:53] davvd commented on #556
@krzyk I just added bug tag here

[2015-12-29 08:53] davvd commented on #553
@krzyk I added `bug` tag to this ticket

[2015-12-29 08:53] davvd commented on #551
@krzyk tag bug added to this issue

[2015-12-29 08:53] davvd commented on #552
@krzyk I added `bug` tag to this ticket

[2015-12-29 08:57] davvd commented on #478
@hdouss Thanks for your contribution, **30 mins** was added to your account, payment ID is `73360867`, 115 hours and 16 mins spent total; +30 added to your rating, current score is: [+361](http://www.netbout.com/b/36032?open=rating)

[2015-12-29 10:41] davvd commented on #553
@krzyk done. @hdouss the task is yours, please go ahead

[2015-12-29 10:41] davvd commented on #556
@krzyk done. @hdouss the task is yours, please go ahead

[2015-12-29 10:41] davvd commented on #551
@krzyk thanks, I added "postponed" label

[2015-12-29 10:41] davvd commented on #551
@krzyk someone else will help in this task, no problem at all

[2015-12-29 10:45] davvd commented on #556
@krzyk many thanks for the report, I topped your account for 30 mins, transaction 73363389

[2015-12-29 10:55] krzyk commented on #556
@HDouss yes but #527 was implemented a different closed.  After that it occurred that checkstyle indentation check with forced strict condition is bugged, so we have to do our own (simple one, as in the description) implementation.

[2015-12-29 11:05] krzyk commented on #544
@prahladyeri you linked to old pmd page (for 4.3) release, new one is here https://pmd.github.io/, the separated empty rules from basic ones

[2015-12-29 11:06] HDouss commented on #556
@krzyk I understood. What I meant is that the "specs" are the same. I will go for our own implementation.

[2015-12-29 11:09] krzyk commented on #556
@HDouss yes, specs are the same

[2015-12-29 11:11] prahladyeri commented on #544
@krzyk Indeed, the new version already has an `empty.xml` ruleset file. S, do we just import this file into qulice-pmd project and configure it in `SourceValidator` ?

[2015-12-29 11:47] HDouss commented on #553
@krzyk I will let  hardcoded maven-invoker version.

[code]

[2015-12-29 12:49] davvd commented on #553
@krzyk many thanks for the report, I topped your account for 30 mins, transaction 73366181

[2015-12-29 13:02] aschworer commented on #423
@davvd is it ok to take it if the other 2 tasks I have are still not closed? What's up with the concurrent tasks rules?

[2015-12-29 15:28] krzyk commented on #544
@prahladyeri Yes, add empty.xml to the rulesete.xml and create a integration test that validates that we report all the errors. (previously we didn't have this check so when we upgraded from  PMD 4.x to 5.x we lost those rules). I don't think you need to do anything in `SourceValidator`.

As for the priority, please report a separate bug, with a list of rules that we ignore and their priorities.

[2015-12-29 16:36] HDouss commented on #556
Added PR #559. Exception to the rule : lines inside a comment block.

[2015-12-29 18:36] krzyk commented on #423
@aschworer concurrent tasks limit is applicable for automatic assignment only, but you can get more tasks if architect of a project assigns them to you. Architects don't know how many tasks you have currently assigned.

More over you can look at current issues in any project and ask architect of given project to assign it to you. (look at `TEAM.md` file in the project to know who is who in the pro

[2015-12-29 19:07] jrdalpra commented on #524
@mkordas done
@davvd can u assign someone to review the code?

[2015-12-29 22:06] HDouss commented on #510
@mkordas PR #557 merged. Please close the issue

[2015-12-29 22:07] aschworer commented on #423
@krzyk Thank you for the explanation. It is clear. To be honest I don't know if I can. Until unless I close at least one task in teamed, I don't know what to expect and what it takes. So I would prefer not to commit for one more right now. I could take it a bit later if it's still available. Thank you.

[2015-12-29 22:17] krzyk commented on #423
@aschworer OK, let me know when you'll be available

[2015-12-29 22:17] krzyk commented on #423
@davvd this is postponed

[2015-12-29 23:25] mkordas commented on #510
@HDouss thanks!

[2015-12-29 23:25] #510 closed

[2015-12-30 08:38] davvd commented on #423
@krzyk right, I added "postponed" label

[2015-12-30 08:38] davvd commented on #423
@krzyk right, I'll try to find someone else for this task

[2015-12-30 08:43] davvd commented on #552
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 568399150b9607185a00010c

[2015-12-30 08:50] mkordas commented on #485
@krzyk can you assign me here?

[2015-12-30 08:53] mkordas commented on #376
@krzyk can you assign me to it?

[2015-12-30 08:54] mkordas commented on #411
@krzyk I'd like to take this one too

[2015-12-30 08:56] krzyk commented on #411
@davvd this is not postponed

[2015-12-30 08:56] krzyk commented on #411
@davvd assign @mkordas please

[2015-12-30 09:01] krzyk commented on #376
@davvd this is not postponed

[2015-12-30 09:01] krzyk commented on #376
@mkordas I'm wondering if this is still valid

[2015-12-30 09:08] krzyk commented on #376
@yegor256 Do you have examples where it is not working? I see that we have such rules currently:
[code]
Is this issue about changing the max number of characters to 12 and removing `ex`?

[2015-12-30 09:22] prahladyeri commented on #544
@krzyk I don't know what's happening, but even after I added `empty.xml`, the PMD violations aren't triggered.  For example, I added the following:

    if (1==2) {
        //just a comment!
    }

It triggers a `EmptyBlockCheck` violation which is a `CheckStyle` violation. But there is no PMD violation.

[2015-12-30 09:48] krzyk commented on #544
@prahladyeri checkstyle is called before PMD, so you have to find a rule that exists in PMD but not in checkstyle

[2015-12-30 09:59] prahladyeri commented on #544
@krzyk There isn't any rule in [empty ruleset](https://pmd.github.io/pmd-5.4.1/pmd-java/rules/java/empty.html) that isn't already handled by `checkstyle`. Checkstyle throws the generic exception, `EmptyBlockCheck`, whereas it is termed as `EmptyCatchBlock`, `EmptyIfStmt`, `EmptyWhileStmt`, etc. in case of PMD.

Not only that, but I also tried rearranging the modules in `pom.xml` so that pmd is che

[2015-12-30 11:06] krzyk commented on #544
@prahladyeri Hmm, maybe you would need to find a case where checkstyle check is buggy, maybe there is some that PMD will catch and checkstyle not. Have you tried all of PMD checks?

As for order of PMD/Checkstyle, it is determined not by module order but by `DefaultValidatorsProvider`, you can change order there, but please don't commit changed order.

[2015-12-30 11:06] krzyk commented on #485
@davvd this is not postponed

[2015-12-30 11:06] krzyk commented on #485
@davvd assign @mkordas please

[2015-12-30 11:39] davvd commented on #376
@krzyk sure, thanks, I removed "postponed" tag to it

[2015-12-30 11:39] davvd commented on #411
@krzyk thanks, I removed the "postponed" tag

[2015-12-30 11:39] davvd commented on #411
@krzyk done. @mkordas the task is yours, please go ahead

[2015-12-30 11:41] davvd commented on #461
@hdouss I just added **30 mins** to your account, many thanks for your contribution (73452953).. 96 hours and 30 mins spent here... +30 added to your rating, at the moment it is: [+391](http://www.netbout.com/b/36032?open=rating)

[2015-12-30 11:42] davvd commented on #551
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `5683c3027d0be85794000073`

[2015-12-30 11:58] jrdalpra commented on #524
@mkordas can you close the issue, please?

[2015-12-30 12:01] krzyk commented on #524
@jrdalpra please always provide the PR number in the issue, so the creator can look at it

[2015-12-30 12:03] jrdalpra commented on #524
@mkordas the PR is here https://github.com/teamed/qulice/pull/560

[2015-12-30 13:05] krzyk commented on #554
@mkordas please update the comment that we require annotations after javadoc (remove the *or no violation*, we should stick to one possibility only)

[2015-12-30 13:21] krzyk commented on #555
@mkordas AFAIR such javadoc would require `{@inheritDoc}` at the beginning to actually inherit the documentation from parent

[2015-12-30 13:53] HDouss commented on #510
@davvd Issue closed

[2015-12-30 15:01] krzyk commented on #553
@HDouss thanks

[2015-12-30 15:01] #553 closed

[2015-12-30 15:14] prahladyeri commented on #544
@krzyk I managed to test all the PMD "Empty" violations. After adding `empty.xml` to the ruleset, I've also added an integration test class `PMDEmptyTest` along with a bunch of resources to verify that each one of the rules mentioned in the original link is tested, namely:

- EmptyCatchBlock.java
- EmptyFinallyBlock.java
- EmptyIfStmt.java
- EmptyInitializer.java
- EmptyStatementBlock.java
- Empty

[2015-12-30 15:18] krzyk commented on #544
@prahladyeri please provide PR # here also

[2015-12-30 15:39] prahladyeri commented on #544
@krzyk I've updated PR #561.

[2015-12-30 17:14] mkordas commented on #555
@krzyk
From http://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html:

The Javadoc tool has the ability to copy or "inherit" method comments in classes and interfaces under the following two circumstances. Constructors, fields and nested classes do not inherit doc comments.

More specifically, when a `@param` tag for a particular parameter is missing, then the comment for that par

[2015-12-30 17:35] krzyk commented on #555
@mkordas Yes, I saw that docs, and I was under the impression that unknown tag will be treated as a description. But I checked it on a real code and indeed the description is copied even if there is only single `@todo`.

[2015-12-30 17:37] krzyk commented on #555
@yegor256 are you OK with adding todos in javadoc of overridden methods (instead of adding them using `//`) as it is in the description?

[2015-12-30 18:05] mkordas commented on #524
@jrdalpra thanks!

[2015-12-30 18:05] #524 closed

[2015-12-30 18:08] mkordas commented on #554
@krzyk description updated, thanks

[2015-12-30 18:14] jrdalpra commented on #524
@dmarkov @krzyk closed here. Now can close at netbout. Thanks.

[2015-12-30 18:28] krzyk commented on #554
@davvd valid bug

[2015-12-30 18:28] krzyk commented on #554
@davvd this is postponed

[2015-12-30 21:33] yegor256 commented on #555
@krzyk no, I don't like it. overriden methods must **not** have any javadoc blocks. we should use `//`

[2015-12-30 21:48] mkordas commented on #555
@yegor256 so maybe we should have check like `NoJavadocForOverriddingMethod`?

[2015-12-30 22:26] HDouss commented on #542
@krzyk assign this to me please.

[2015-12-30 22:29] HDouss commented on #552
@krzyk assign this to me please.

[2015-12-31 01:16] prahladyeri commented on #544
@mkordas Please review and close if this resolves the issue.

[2015-12-31 03:47] krzyk commented on #542
@davvd assign @HDouss please

[2015-12-31 03:48] krzyk commented on #552
@davvd assign @HDouss please

[2015-12-31 03:50] krzyk commented on #498
@Happy-Neko how is the task going do you need any help?

[2015-12-31 03:54] prahladyeri opened #562 "setMinimumPriority in SourceValidator is misleading and unnecessary"
All pmd tests are handled by the `SourceValidator` class and ultimately end up in `validateOne` method which has the following misleading statement:

    factory.setMinimumPriority(RulePriority.valueOf(5));

I don't know what the reasons were for setting a minimum priority of `level 5` for all tests, but this is both misleading and confusing. For one, it isn't working at all. For example, there ar

[2015-12-31 08:19] davvd commented on #485
@krzyk thanks, I removed the "postponed" tag

[2015-12-31 08:19] davvd commented on #485
@krzyk OK @mkordas please start, the task is yours

[2015-12-31 08:19] davvd commented on #542
@krzyk OK @hdouss please start, the task is yours

[2015-12-31 08:19] davvd commented on #552
@krzyk done. @hdouss the task is yours, please go ahead

[2015-12-31 08:19] davvd commented on #554
@krzyk I just added bug tag here

[2015-12-31 08:43] mkordas commented on #544
@prahladyeri there is another reviewer, but approach is good, thanks

[2015-12-31 09:03] krzyk opened #563 "BracketStructureCheck doesn't work for try-with-resources"
Following code doesn't make qulice complain but it should:
[code]

Update `BracketStructureCheck` (or find another way) to allow following code (basically it should work just like for function calls):
1.
[code]
2.

[code]
And disallow cases like one mentioned at the top:
1. where starting bracket that is followed by some code is not closed on the same line
[code]
2. if ending bracket that is on di

[2015-12-31 09:43] krzyk commented on #563
@davvd valid bug

[2015-12-31 10:18] mkordas commented on #485
@davvd please see PR #566

[2015-12-31 10:38] davvd commented on #554
@krzyk sure, thanks, I added "postponed" label to it

[2015-12-31 10:38] davvd commented on #554
@krzyk someone else will help in this task, no problem at all

[2015-12-31 10:38] davvd commented on #563
@krzyk tag "bug" added

[2015-12-31 10:42] davvd commented on #510
@hdouss paid, thanks, added **1 hour** to your account, payment `73491744`, 23 hours and 44 mins was spent... there is a bonus for fast delivery (m=1424)... +60 added to your rating, current score is: [+451](http://www.netbout.com/b/36032?open=rating)

[2015-12-31 10:43] davvd commented on #554
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `568506bfbb2ebc153500013b`

[2015-12-31 10:57] HDouss commented on #556
@krzyk  PR #559 reviewed and merged. Please close the issue.

[2015-12-31 11:01] krzyk commented on #556
@HDouss thanks

[2015-12-31 11:01] #556 closed

[2015-12-31 11:02] krzyk commented on #562
@prahladyeri priority in PMD is reversed, rules with priority 1, are the most important, rules with priority 5 are least important (5 is also the lowest level).

[2015-12-31 11:09] prahladyeri commented on #562
@krzyk thanks, I wasn't aware of that.

[2015-12-31 11:09] #562 closed

[2015-12-31 11:56] mkordas commented on #173
@krzyk please assign me here

[2015-12-31 11:59] mkordas commented on #374
@yegor256 isn't [RequireThis](http://checkstyle.sourceforge.net/config_coding.html#RequireThis) enough here? I can add tests to confirm that RequireThis works as expected in Qulice.

[2015-12-31 12:50] mkordas commented on #495
@krzyk can you assign me here?

[2015-12-31 12:51] mkordas commented on #439
@krzyk shouldn't we mark this as invalid?

[2015-12-31 13:15] davvd commented on #485
@mkordas will take a look at it, thanks

[2015-12-31 13:20] davvd commented on #563
@krzyk many thanks for the bug report, I added 30 mins to your acc, transaction `73494708`

[2015-12-31 13:26] krzyk commented on #439
@Suseika please close this issue, it was solved by a PR in issue #514

[2015-12-31 13:28] krzyk commented on #495
@davvd assign @mkordas please

[2015-12-31 13:28] krzyk commented on #495
@davvd this is not postponed

[2015-12-31 13:34] krzyk commented on #173
@davvd assign @mkordas please

[2015-12-31 13:34] krzyk commented on #173
@davvd this is not postponed

[2015-12-31 13:48] #439 closed

[2015-12-31 14:17] Happy-Neko commented on #498
@krzyk missed the original email. Will look into this. Thanks.

[2015-12-31 17:09] HDouss commented on #553
@davvd Issue closed.

[2015-12-31 17:35] HDouss commented on #552
@mkordas PR #565 reviewed and merged. Please close the issue.

[2015-12-31 17:46] mkordas commented on #552
@HDouss looks good, thanks!

[2015-12-31 17:46] #552 closed

[2015-12-31 18:06] krzyk commented on #535
@rultor release tag is `0.14.2`

[2015-12-31 18:07] rultor commented on #535
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6048-168230816)

[2015-12-31 19:13] rultor commented on #535
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/6048-168230816) (took me 1hr)

[2015-12-31 20:12] mkordas commented on #411
@davvd I need more time here, we need to wait for Checkstyle 6.15 being released with the fix

[2015-12-31 21:00] mkordas opened #567 "No violation on interface generic parameter name not meeting the convention."
Currently Qulice complains on the following:
[code]
with error `Name 'wRoNg' must match pattern '^[A-Z]$'.`

But it doesn't say anything on:
[code]
I'd expect similar violation here.

[2015-12-31 21:17] mkordas opened #568 "Qulice code contains too much line length suppressions"
Majority of `// @checkstyle LineLength (x lines)` should be removed from Qulice codebase. They distract code reader forcing to scroll horizontally and give bad example.

Right now there are 21 of them: https://github.com/teamed/qulice/search?utf8=%E2%9C%93&q=%22%40checkstyle+linelength+%28%22
* some are completely obsolete (line is shorter or contains import - long imports should be allowed)
* in

[2015-12-31 21:20] mkordas commented on #550
@krzyk comments removed

[2015-12-31 22:26] mkordas opened #569 "UseConcurrentHashMap, AvoidUsingVolatile and DoNotUseThreads PMD rules should be disabled"
1. UseConcurrentHashMap PMD rule is triggering for every `HashMap` instantiation. `ConcurrentHashMap` has unnecessary memory overhead and it shouldn't be general replacement for `HashMap`. Please see https://ria101.wordpress.com/2011/12/12/concurrenthashmap-avoid-a-common-misuse/

 Especially when `HashMap` is created within a method and isn't returned from it, there's absolutely no point in makin

[2016-01-01 07:43] davvd commented on #173
@krzyk OK @mkordas please start, the task is yours

[2016-01-01 07:43] davvd commented on #173
@krzyk right, I removed "postponed" tag

[2016-01-01 07:43] davvd commented on #411
@mkordas of course, thanks for letting me know, take your time

[2016-01-01 07:43] davvd commented on #495
@krzyk done. @mkordas the task is yours, please go ahead

[2016-01-01 07:43] davvd commented on #495
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-01-01 09:00] krzyk commented on #550
@davvd valid bug

[2016-01-01 09:54] davvd commented on #550
@krzyk tagged this issue with "bug"

[2016-01-01 10:02] davvd commented on #524
@jrdalpra Thanks so much! Your account was topped up for **38 mins** (transaction ID is `AP-44Y88423VW859082H`, the task took 71 hours and 59 mins)... there is a bonus for fast delivery (m=4319)... +38 added to your rating, at the moment it is: [+98](http://www.netbout.com/b/36044?open=rating)

[2016-01-01 10:02] davvd commented on #553
@hdouss **45 mins** was added to your account, many thanks for your contribution (payment 73518088)! The task took 45 hours and 36 mins.; the bonus for fast delivery (m=2736); added +45 to your rating, now it is equal to [+496](http://www.netbout.com/b/36032?open=rating)

[2016-01-01 10:34] mkordas commented on #173
@davvd please see PR #571

[2016-01-01 12:39] HDouss commented on #550
@krzyk Please assign this to me.

[2016-01-01 12:39] krzyk commented on #550
@davvd assign @HDouss please

[2016-01-01 12:41] krzyk commented on #567
@davvd valid bug

[2016-01-01 12:43] davvd commented on #173
@mkordas thanks, will take a look

[2016-01-01 12:44] davvd commented on #553
@hdouss thanks

[2016-01-01 12:44] davvd commented on #567
@krzyk I just added bug tag here

[2016-01-01 12:44] krzyk commented on #569
@yegor256 Could you take a look at this one? I don't know why `ConcurrentHashMap` was enforced in the first place.

[2016-01-01 12:48] davvd commented on #535
@krzyk there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

 * some tasks are stuck: #173 (658 days), #376 (351 days), #495 (43 days), #498 (38 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * these issues are still not dispatched anyhow: #541. Either regis

[2016-01-01 12:48] davvd commented on #550
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 56867598d752f13bfc00010e

[2016-01-01 12:49] krzyk commented on #541
@Happy-Neko please close this issue

[2016-01-01 12:57] mkordas opened #572 "Two 'package-info.java' files for 'com.qulice.findbugs' package"
My javac 1.8.0_66 compiler in IntelliJ is warning me every time that  `package-info.java file has already been seen for package com.qulice.findbugs`. Indeed, we have two of them:
* qulice-findbugs/src/mock/java/com/qulice/findbugs/package-info.java
* qulice-findbugs/src/main/java/com/qulice/findbugs/package-info.java

Whenever I remove any of them to be javac compliant I get `Missing package-info.

[2016-01-01 13:04] mkordas commented on #495
@davvd please see PR #573

[2016-01-01 14:17] mkordas commented on #421
@krzyk please assign me to this task

[2016-01-01 14:35] #541 closed

[2016-01-01 14:36] Happy-Neko commented on #541
@krzyk issue closed.

[2016-01-01 14:39] mkordas opened #574 "Only ArrayList is checked to have initial capacity"
We have the following custom check:
[code]
It checks only `ArrayList` to have proper initial capacity. Checks for at least these classes are missing:
* `java.util.HashMap`
* `java.util.TreeMap`
* `java.util.HashSet`
* `java.util.LinkedHashSet`

[2016-01-01 14:46] mkordas opened #575 "Check to prohibit just '{@inheritDoc}'"
Javadoc comments containing only the `{@inheritDoc}` tag are obsolete. Javadoc tool automatically copies the super class comment if no comment is present, so comment containing only an `{@inheritDoc}`adds nothing and should be prohibited.

We even have 4 such cases in Qulice itself: https://github.com/teamed/qulice/search?utf8=%E2%9C%93&q=inheritDoc&type=Code
[code]

I'd expect violation for the a

[2016-01-01 15:02] krzyk commented on #421
@davvd assign @mkordas please

[2016-01-01 15:02] krzyk commented on #421
@davvd this is not postponed

[2016-01-01 15:18] krzyk commented on #575
@davvd valid bug

[2016-01-01 15:18] krzyk commented on #575
@davvd this is postponed

[2016-01-01 15:22] mkordas opened #576 "No check to ensure empty lines are present where needed"
Right now the following code passes Qulice check:

[code]

I'd expect violation about missing newline between methods, but `EmptyLineSeparator` Checkstyle check that was created for that purpose is missing from the config.

[2016-01-01 15:26] krzyk opened #577 "Let's eat our own dogfood"
Before merging each code we should run newly built qulice against qulice codebase.
This will allow us to catch errors in our checks earlier.

We should have another travis build (only travis) that will do the validations using newly built plugin - it is because sometimes we introduce incompatible changes that could fail on our current codebase, but we can't updated it because it will fail on the p

[2016-01-01 15:26] krzyk commented on #577
@davvd valid bug

[2016-01-01 15:48] mkordas opened #578 "Page 'qulice.com' is currently broken"
Go to http://www.qulice.com/index.html and see how page looks like:
![screenshot from 2016-01-01 16 46 37](https://cloud.githubusercontent.com/assets/5467276/12071340/459f0dba-b0a7-11e5-8aa3-985c57c2ad9d.png)

We need to fix this and root cause should be identified.

[2016-01-01 15:51] krzyk opened #579 "Checkstyle and PMD report errors with incorrect path"
Both Checkstyle and PMD are reporting errors with leading slash, which is not correct.
More over if run on multimodule project they don't include the module directory in the path.

Example:
[code]

In the above example there shouldn't be a leading slash and the above classpath should show the path relative to the current directory (so module names should be included in the path).

[2016-01-01 15:51] krzyk commented on #579
@davvd valid bug

[2016-01-01 15:54] krzyk commented on #370
@davvd this is not postponed

[2016-01-01 15:54] krzyk commented on #370
@davvd assign @krzyk pls

[2016-01-01 16:58] HDouss commented on #542
@mkordas PR #564 reviewed and merged. Please close the issue

[2016-01-01 17:10] krzyk commented on #370
@davvd please see PR #580

[2016-01-01 17:14] mkordas commented on #542
@HDouss thanks!

[2016-01-01 17:14] #542 closed

[2016-01-01 17:20] krzyk opened #581 "Configure pdd and est in travis and rultor"
1. Current travis build don't check if puzzles created are correct (using `pdd` tool), same for estimates (using `est` tool).
2. Moreover rultor build has `pdd` checks, but doesn't have `est` checks, this also has to be fixed (by adding `est --dir=est --file=/dev/null`.

[2016-01-01 17:23] mkordas commented on #577
@krzyk how would you configure exclusions for such run?

[2016-01-01 17:28] krzyk commented on #577
@mkordas if they are required (shouldn't, if we add new check we should fix problems that it causes in qulice using e.g. puzzles) it reads excludes from the pom.xml files (and from the code).

[2016-01-01 17:53] mkordas commented on #581
@krzyk please assign me when it will be valid bug

[2016-01-01 18:12] mkordas opened #582 "Enforce Qulice 0.15 over entire code"
Let's update to the Qulice 0.15 when it will become available. It is not 100% straightforward update, as e.g. new check for indentation was introduced.

I'd expect Qulice's code being checked by Qulice 0.15 without any additional exclusions - all violations should be fixed.

[2016-01-01 19:36] mkordas opened #583 "Bump up year in headers"
We have year 2016 already, so all occurrences of `2015` in licenses and headers should be bumped up.

Also all occurrences of `2014` should be reviewed. E.g. for entire year we had outdated license in [`checks.xml`](https://github.com/teamed/qulice/blob/50b833d4c233ace0936009e4f0c313909f353ce7/qulice-checkstyle/src/main/resources/com/qulice/checkstyle/checks.xml#L7).

There should be test added to

[2016-01-02 07:10] yegor256 commented on #583
@krzyk it looks like a minor/cosmetic issue, unless we create an automated check inside pom.xml, to verify the presence of `2013-2016` in all our files.

[2016-01-02 07:13] yegor256 commented on #569
@krzyk well, it's coming from PMD and they, I believe, have their reasons for that. Let's investigate. If you really think that PMD is wrong, let's remove this rule.

[2016-01-02 07:24] HDouss commented on #556
@davvd Issue closed.

[2016-01-02 07:26] HDouss commented on #552
@davvd Issue closed.

[2016-01-02 07:56] krzyk commented on #582
@mkordas let's wait for 0.15 (which should be here any day now) and we'll do update to that version

[2016-01-02 08:07] krzyk commented on #583
@mkordas please update the description to add a test for such case. We should always check that copyright is in the range 2011-current year. This test should be applied to (at a minimum) `.java`, `.xml`, `.vm`, `.groovy`, `.txt`, `.fml`, `.properties` - we could add more text file types here.

Another problem is that the LICENSE.txt is updated, but checks.xml doesn't use that, but should, I'm not

[2016-01-02 08:11] krzyk commented on #574
@mkordas I'm not convinced that this would be a good idea. In case of `ArrayLists` you have a good alternative that can grow without performance impact (`LinkedList`) - we don't always know how much data we will store inside collection, and adding excludes is not nice.
What structure we could use for such case for `Map` or a `Set` if we don't want to add an exclude?

[2016-01-02 08:57] mkordas commented on #583
@krzyk description updated. I don't think Checkstyle Header check is smart enough to check XML files. I think we need to make new check just for XMLs in Qulice. Would it be in scope of this issue?

[2016-01-02 09:05] mkordas commented on #574
@krzyk we could use e.g. `Maps.newHashMap()`. At least it is the current workaround in Qulice: https://github.com/teamed/qulice/search?q=newarraylist

[2016-01-02 09:45] krzyk commented on #574
@mkordas but it still creates `HashMap`, so we don't gain anything by it, only force ourselves to use guava where it is not needed. We would need Map implementation that doesn't have performance impact while growing, which I don't see in JDK.

[2016-01-02 09:48] krzyk commented on #583
@mkordas no, I think that smart License check would be another task, that could be later on used in projects using qulice

[2016-01-02 09:50] mkordas commented on #574
@krzyk right, I see your point, fully agreed. Should we do anything about `Lists.newArrayList()` or it's fine to leave it as workaround?

[2016-01-02 09:52] mkordas commented on #583
@krzyk sure, I'll submit issue for that. Do you think we need just one custom smart license check for every type of file? Or maybe we should keep using Checkstyle for non-XML files and create our own `XmlLicesneCheck`?

[2016-01-02 09:55] krzyk commented on #574
@mkordas Let's leave it, it is only in 4 places, it could be removed if you had a general clean up issue with more work in it.

[2016-01-02 09:58] mkordas commented on #574
@krzyk what I meant is extending current check to apply also to Guava declaration. I think this is enough work for the dedicated issue, especially if these 4 occurrences will be fixed there too.

[2016-01-02 10:00] krzyk commented on #583
@mkordas We would need a check for files that don't allow header in the beginning (or are just not caught by checkstyle header check), so we have xml (including .fml), vm, and properties. So not only xml check. And I hope that groovy can be checked by standard checkstyle, if we update extensions.

[2016-01-02 10:01] krzyk commented on #574
@mkordas yes, that makes sense

[2016-01-02 10:03] krzyk commented on #576
@davvd valid bug

[2016-01-02 10:03] krzyk commented on #576
@davvd this is postponed

[2016-01-02 10:07] krzyk commented on #568
@mkordas let's join it with #572 (but we should move `src/mock/com/qulice/findbugs/BytecodeMocker.java` to `src/java/com/qulice/findbugs/mock/BytecodeMocker.java`)

[2016-01-02 10:09] mkordas opened #584 "Guava 'Lists.newArrayList' is not checked to have initial capacity"
We have the following custom check that requires `new ArrayList()` declarations to have initial capacity:
[code]

There is no verification for Guava's `Lists.newArrayList()` though. These declarations should be required to have initial capacity too by another custom check configuration.

Moreover, all the occurrences of such violations in Qulice should be fixed in scope of this issue: https://gith

[2016-01-02 10:10] mkordas commented on #574
@krzyk closing this one, let's continue in #584

[2016-01-02 10:10] #574 closed

[2016-01-02 10:23] mkordas commented on #568
@krzyk with solution to remove `src/mock` indeed it becomes much simpler. Merged with #572 and closing this one.

[2016-01-02 10:23] #568 closed

[2016-01-02 10:37] mkordas commented on #569
@yegor256 even in PMD they [exclude this check](https://github.com/pmd/pmd/blob/9d350e6f780569ef660aca43e3935237abb81bd9/pmd-core/src/main/resources/rulesets/internal/dogfood.xml#L56) for their code. Description of the rule:

It was created in commit https://github.com/adangel/pmd/commit/1d7d5e64743d7e3a5640ea632e0163a6518c2c6a just to help migrating from Java 1.4 and older ones to promote `Concur

[2016-01-02 10:45] mkordas commented on #485
@davvd PR #566 is merged, can you close the issue?

[2016-01-02 14:52] krzyk commented on #584
@davvd valid bug

[2016-01-02 14:52] krzyk commented on #584
@davvd this is postponed

[2016-01-02 14:53] krzyk commented on #572
@davvd valid bug

[2016-01-02 14:54] krzyk commented on #572
@davvd this is postponed

[2016-01-02 14:54] krzyk commented on #578
@davvd valid bug

[2016-01-02 14:57] krzyk commented on #523
@davvd this is postponed

[2016-01-02 14:57] krzyk commented on #521
@davvd this is postponed

[2016-01-02 16:45] longtimeago opened #585 "Unable to create directories needed for checkstyle.cache"
Fail running
```  mvn qulice:check -Pqulice ```
twice in a row with exception (on the second run):
[code]

[2016-01-02 16:54] mkordas commented on #585
@longtimeago I've submitted this issue in #510. It's already fixed.

[2016-01-02 16:59] longtimeago commented on #585
@mkordas cool, thanks!

[2016-01-02 16:59] #585 closed

[2016-01-02 16:59] longtimeago commented on #510
@krzyk please, release new version of qulice plugin. This bug is really annoying

[2016-01-02 17:02] krzyk commented on #510
@longtimeago `0.14.2` has the fix

[2016-01-02 17:13] longtimeago commented on #535
@krzyk should we do something with `0.14.2` to be accessible in nexus?
Now it's not accessible for other projects

[2016-01-02 17:33] HDouss commented on #542
@davvd Isuue closed

[2016-01-02 21:18] krzyk commented on #535
@longtimeago it is in maven central http://search.maven.org/#artifactdetails%7Ccom.qulice%7Cqulice-maven-plugin%7C0.14.2%7Cmaven-plugin

[2016-01-02 21:20] longtimeago commented on #535
@krzyk thank you!

[2016-01-03 08:38] yegor256 commented on #583
@krzyk I think, just a `grep` is enough, see how I've done it in a JS project: https://github.com/yegor256/tacit/commit/1618dbdefd417b9be5d9acd6322a442713c10c24

[2016-01-03 09:11] krzyk commented on #583
@davvd valid bug

[2016-01-03 12:21] krzyk commented on #581
@davvd valid bug

[2016-01-03 18:15] mkordas commented on #173
@yegor256 test confirming issue is fixed was done in  #571, please close the issue

[2016-01-04 06:47] mkordas commented on #485
@davvd ping

[2016-01-04 06:49] mkordas commented on #173
@yegor256 ping

[2016-01-04 08:17] davvd commented on #370
@krzyk right, I removed "postponed" tag

[2016-01-04 08:17] davvd commented on #370
@krzyk OK @krzyk please go ahead, this task is yours

[2016-01-04 08:17] davvd commented on #370
@krzyk thank you, I will check it

[2016-01-04 08:17] davvd commented on #421
@krzyk done. @mkordas the task is yours, please go ahead

[2016-01-04 08:17] davvd commented on #421
@krzyk sure, thanks, I removed "postponed" tag to it

[2016-01-04 08:17] davvd commented on #495
@mkordas will take a look, thanks

[2016-01-04 08:17] davvd commented on #523
@krzyk OK, I put "postponed" label here

[2016-01-04 08:17] davvd commented on #521
@krzyk got it, "postponed" label here

[2016-01-04 08:17] davvd commented on #523
@krzyk all right, we'll find someone else for this task

[2016-01-04 08:17] davvd commented on #521
@krzyk got it, someone else will be assigned soon

[2016-01-04 08:17] davvd commented on #584
@krzyk I just added bug tag here

[2016-01-04 08:17] davvd commented on #583
@krzyk tag "bug" added

[2016-01-04 08:17] davvd commented on #579
@krzyk tagged this issue with "bug"

[2016-01-04 08:17] davvd commented on #581
@krzyk I just added bug tag here

[2016-01-04 08:17] davvd commented on #577
@krzyk tagged this issue with "bug"

[2016-01-04 08:17] davvd commented on #578
@krzyk tag "bug" added

[2016-01-04 08:17] davvd commented on #575
@krzyk I just added bug tag here

[2016-01-04 08:17] davvd commented on #576
@krzyk I tagged this as "bug"

[2016-01-04 08:17] davvd commented on #572
@krzyk tag "bug" added

[2016-01-04 08:22] davvd commented on #552
@hdouss I just added **1 hour** to your account, many thanks for your contribution (73592377).. 23 hours and 23 mins spent here. m=1403, that's why a bonus here for fast delivery. +60 added to your rating, at the moment it is: [+594](http://www.netbout.com/b/36032?open=rating)

[2016-01-04 08:22] davvd commented on #556
@hdouss Many thanks! **38 mins** were added to your account in Transaction ID `73592365` (task took 50 hours and 33 mins); the bonus for fast delivery (m=3033); added +38 to your rating, now it is equal to [+534](http://www.netbout.com/b/36032?open=rating)

[2016-01-04 08:24] davvd commented on #567
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `568a2c48209807594d000192`

[2016-01-04 09:48] mkordas commented on #421
@davvd please see PR #586

[2016-01-04 10:04] krzyk commented on #581
@davvd assign @mkordas please

[2016-01-04 10:12] krzyk commented on #547
@HDouss please extend the description to include also PMDValidatorTest, as it uses similar code and it can sometimes fail

[2016-01-04 10:55] davvd commented on #421
@mkordas will check it soon, thanks

[2016-01-04 10:55] davvd commented on #550
@krzyk OK @hdouss please go ahead, this task is yours

[2016-01-04 10:55] davvd commented on #584
@krzyk sure, thanks, I added "postponed" label to it

[2016-01-04 10:55] davvd commented on #584
@krzyk I will ask somebody else to pick this up

[2016-01-04 10:58] davvd commented on #584
@mkordas thanks for this report, I added 15 mins to your account, in transaction `568a5031a53baa656f00020f`

[2016-01-04 12:45] HDouss commented on #547
@krzyk You are right. I updated description.
However, the build should never fail because of the issue described. The described issue is about false positives, so it will never fail the build (but it rather should have failed it). If you have failing builds, it would come from other reasons as not flushing the writer.

[2016-01-04 13:10] davvd commented on #581
@krzyk yep, done. @mkordas it is your task now

[2016-01-04 13:10] davvd commented on #576
@krzyk thanks, I added "postponed" label

[2016-01-04 13:10] davvd commented on #576
@krzyk I will assign somebody else to this issue

[2016-01-04 13:10] davvd commented on #575
@krzyk got it, "postponed" label here

[2016-01-04 13:10] davvd commented on #575
@krzyk got it, someone else will be assigned soon

[2016-01-04 13:10] davvd commented on #572
@krzyk sure, thanks, I added "postponed" label to it

[2016-01-04 13:10] davvd commented on #572
@krzyk OK, I will try to assign someone else

[2016-01-04 13:13] davvd commented on #583
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `568a700ec04ee048f60003c4`

[2016-01-04 13:20] HDouss commented on #550
@mkordas What's the pattern of the since tag value have to be in general ? I think about `^\\d+(\\.\\d+)+[a-z]?$` which means NUMBER.NUMBER(optionally .NUMBER n another times)(optionnally LETTER). What do you think ?

[2016-01-04 15:01] prahladyeri commented on #544
@mkordas PR #561 fixes this, last build succeeded. Please close if this resolves the issue.

[2016-01-04 15:12] prahladyeri commented on #547
@HDouss @krzyk One workaround/resolution to this is the approach I used in PR #561. Make the test `classes` execute in parallel, not the individual `methods` by setting `parallel` to `classes` in surefire configuration. Classes are usually grouped according to their separate functionalities, so string outputs in different classes shouldn't clash with one another.

If that doesn't resolve the issue

[2016-01-04 16:14] yegor256 commented on #173
@mkordas thanks!

[2016-01-04 16:14] #173 closed

[2016-01-04 16:26] mkordas commented on #544
@prahladyeri I will close this just after successful merge

[2016-01-04 16:26] yegor256 commented on #569
@krzyk I'm not against removing of this rule

[2016-01-04 17:02] krzyk commented on #569
@yegor256 thanks

[2016-01-04 17:08] krzyk commented on #547
@prahladyeri but it is strange, as @HDouss wrote higher this can cause errors only in case when we assert that given message didn't appear, and one of the methods is producing it. And in your PR it looks like the message you are looking for didn't appear, which shouldn't happen.

[2016-01-04 17:25] HDouss commented on #547
@prahladyeri I reproduced the issue on my machine, but I don't have enough informations/analysis to open a proper ticket.

[2016-01-04 17:27] HDouss commented on #547
@krzyk We are talking about two different issues here. I suggest to let this issue focused on coupled tests that can induce false positives. The first one who could give enough informations about a scenario or an analysis on PMD failing tests should open a new issue.

[2016-01-04 17:32] prahladyeri commented on #547
@krzyk

That's true, but there are some tests in `PMDValidator` class which depend on not finding a particular string in the log output (similar to @HDouss 's case). For example, in the method `doesNotComplainAboutConstantsInInnerClasses`:

    Matchers.not(Matchers.containsString("UnusedPrivateField")),

I believe this method was working properly until now when the total number of methods wasn't

[2016-01-04 17:52] mkordas commented on #421
@davvd puzzle is done in #586, please close the issue

[2016-01-04 18:40] mkordas commented on #550
@HDouss I'd suggest going through release names of all Teamed app releases (easy to get from Git) and making sure that regexp works on them

[2016-01-04 18:48] HDouss commented on #550
@mkordas Could you please explain to me how to fetch release names from Git ?

[2016-01-04 18:51] HDouss commented on #550
@mkordas Or do you mean Tags ?

[2016-01-04 19:26] mkordas commented on #550
@HDouss every release is tagged and we don't use tags for anything else, so `git tag` should do the work... but it doesn't apparently. We used to have tags like e.g. `qulice-0.1`, while on Maven Central it is just `0.1`. So `maven-metadata.xml` might be bit better source of knowledge about all releases that happened in Teamed:
* http://repo1.maven.org/maven2/com/qulice/qulice/maven-metadata.xml
*

[2016-01-04 19:44] HDouss commented on #550
@mkordas Ok. I will let it like it is. Qulice is not exclusively intended for teamed projects. The pattern implemented is more general and can accept : 1.0.8, 12.1a or 4.2.1b

[2016-01-04 20:00] krzyk commented on #550
@HDouss I would prefer `\d+(\.\d+){1,2}`, or semver (but will allowance of major.minor, with optional patch and labels). This is the most common format in the maven world, I haven't seen much of single letter additions at the end.

[2016-01-04 20:08] yegor256 commented on #374
@mkordas yeah, `RequireThis` should be enough. I wonder why it doesn't work as expected...

[2016-01-04 20:16] yegor256 commented on #376
@krzyk maybe I'm wrong in this issue... let's just change patterns to `^ex|[a-z]{3,12}$` and call it a day

[2016-01-04 20:26] HDouss commented on #550
@krzyk I have seen the single letter addition for some software releases. Anyway, I suggest to retain semver. So it would be `\d+(\.\d+){1,2}(\.[0-9A-Za-z-]+(\.[0-9A-Za-z-]+)*)?`. What do you think ?

[2016-01-04 20:34] mkordas commented on #495
@krzyk this was merged in #573, can you close the issue?

[2016-01-04 20:34] krzyk commented on #495
@mkordas thanks

[2016-01-04 20:34] #495 closed

[2016-01-04 20:47] krzyk commented on #374
@yegor256 do you have examples where it fails?

[2016-01-04 21:10] mkordas commented on #376
@krzyk please assign me here. Actually we have more work to be done around local variables naming. As from [Checkstyle 6.14](http://checkstyle.sourceforge.net/releasenotes.html#Release_6.14) there's new check `CatchParameterName` (I'm the author), and `LocalVariableName` do not check catch parameters anymore, so we have gap right now that needs to be fixed.

@yegor256 do you want the same pattern

[2016-01-04 21:50] mkordas commented on #582
@krzyk OK, changed descripion

[2016-01-04 22:10] mkordas commented on #485
@davvd please close the issue, it was done in #566

[2016-01-04 22:19] krzyk commented on #550
@HDouss OK, let's go with this one

[2016-01-04 23:01] krzyk commented on #376
@davvd assign @mkordas please

[2016-01-05 00:51] carlosmiranda commented on #273
@alex-palevsky waiting for #498

[2016-01-05 00:57] carlosmiranda commented on #273
@davvd see PR #498.

[2016-01-05 00:58] carlosmiranda commented on #273
@davvd waiting for #498.

[2016-01-05 07:31] krzyk commented on #569
@yegor256 what do you think about removing also `DoNotUseThreads` in this issue?
This rule makes sense only in J2EE environment. (according to PMD docs: *The J2EE specification explicitly forbids the use of threads.*)

[2016-01-05 07:58] dmzaytsev opened #589 "incorrect indentation level for a closing bracket"
according http://www.yegor256.com/2014/10/23/paired-brackets-notation.html

qulice reports
``')' have incorrect indentation level 4, expected level should be 8 (IndentationCheck)`
on the valid code
[code]
but the invalid formatting passed Qulice checks
[code]