[2018-12-05 17:05] paulodamaso commented on #884
@krzyk Merged, please close

[2018-12-05 17:47] 0crat commented on #884
Job was finished in 34 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-05 17:48] 0crat commented on #884
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-12-05 17:48] 0crat commented on #884
The job [#884](https://github.com/teamed/qulice/issues/884) is now out of scope

[2018-12-05 19:40] krzyk commented on #956
@0crat in

[2018-12-05 19:42] ypshenychka commented on #884
@0crat quality good

[2018-12-05 19:43] 0crat commented on #956
@krzyk Job [#956](https://github.com/teamed/qulice/issues/956) is now in scope, role is `DEV`

[2018-12-05 19:50] 0crat commented on #884
@ypshenychka The project doesn't have enough funds, can't make a payment

[2018-12-05 19:50] 0crat commented on #956
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-05 19:50] 0crat commented on #884
Order was finished, quality is "good": +40 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-05 19:50] 0crat commented on #884
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-12-05 20:40] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-06 16:49] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-06 22:57] paulodamaso commented on #878
@krzyk At the moment `FindBugs` is displaying this nasty stacktrace, so I think it's better to take on this one after we totally replace `FindBugs` by `SpotBugs` because we can assure that the latter will work with java 11 as well

[2018-12-06 22:58] paulodamaso commented on #878
@0crat wait for end of https://github.com/teamed/qulice/issues/884 thread

[2018-12-06 22:59] 0crat commented on #878
@paulodamaso The impediment for [#878](https://github.com/teamed/qulice/issues/878) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2018-12-07 09:37] dgroup opened #960 "Name 'id' must match pattern '^[a-z]{2,}[a-zA-Z]+$'. (MethodNameCheck)"
Hi Guys,
What is the business purpose of this check for the fields and methods with name equal to `id`?
This name quite self-explaining.

The same is related to PMD
- `Field id has the same name as a method (AvoidFieldNameMatchingMethodName)`
- `Avoid using short method names (ShortMethodName)`

[2018-12-07 09:38] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-07 09:38] 0crat commented on #960
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-07 09:48] krzyk commented on #960
@dgroup makes sense (considering that we already have https://github.com/teamed/qulice/issues/960)

[2018-12-07 09:48] krzyk commented on #960
@0crat in

[2018-12-07 09:57] dgroup commented on #960
@krzyk no response from 0crat more than 7 min. Looks like 0crat went into the infinitive loop due to your `#960` self-link :)

[2018-12-07 10:05] 0crat commented on #960
@krzyk Job [#960](https://github.com/teamed/qulice/issues/960) is now in scope, role is `DEV`

[2018-12-07 10:13] dgroup commented on #945
@llorllale this ticket might be interesting for you as the owner of https://github.com/llorllale/cactoos-matchers.
IMHO I don't like this idea with allowing static import for any libraries.
I do believe that it will bloody mess with imports and I don't want to scroll up each time when some assertions are calling.

[2018-12-08 00:59] llorllale commented on #945
@dgroup I agree with the OP's sentiment - I also statically import `Matcher#assert` in my personal projects.

However, as for `cactoos-matchers`, there is still this pending request: llorllale/cactoos-matchers#18

[2018-12-10 21:44] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-11 17:41] fabriciofx opened #961 "Checkstyle and PMD upgrade"
The latest version of Checkstyle is 8.15 and PMD is 6.10.0. So, let's update them.

[2018-12-11 17:41] 0crat commented on #961
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-11 17:41] 0crat commented on #961
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-11 17:43] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-12 13:50] krzyk commented on #820
@longtimeago ping, please close this one

[2018-12-12 13:51] krzyk commented on #815
@exper0 please close this issue, it has been fixed in https://github.com/teamed/qulice/issues/880

[2018-12-12 13:52] krzyk commented on #961
@fabriciofx please update the description/title to do upgrade of both Checkstyle and PMD.

[2018-12-12 13:55] #815 closed

[2018-12-12 13:57] longtimeago commented on #820
@krzyk yup, thanks!

[2018-12-12 13:57] #820 closed

[2018-12-12 14:14] 0crat commented on #815
Job `gh:teamed/qulice#815` is not assigned, can't get performer

[2018-12-12 14:14] 0crat commented on #820
Job `gh:teamed/qulice#820` is not assigned, can't get performer

[2018-12-12 14:14] 0crat commented on #815
This job is not in scope

[2018-12-12 14:14] 0crat commented on #820
This job is not in scope

[2018-12-12 15:08] fabriciofx commented on #961
@krzyk Done.

[2018-12-12 15:47] krzyk commented on #961
@0crat in

[2018-12-12 15:51] 0crat commented on #961
@krzyk Job [#961](https://github.com/teamed/qulice/issues/961) is now in scope, role is `DEV`

[2018-12-12 15:58] 0crat commented on #961
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2018-12-14 12:48] dgroup opened #962 "qulicecheckstyle: Prohibit the strings which contains `\n` or `\r\n`"
The rule should restrict the strings which contain `\n` or `\r\n`.
These symbols are OS dependent line separators, therefore if we are using them in code - it might be OS dependent code base.

These strings should be rewritten considering `System.lineSeparator` or `String.format("%n")`.

[2018-12-14 12:48] 0crat commented on #962
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-14 12:48] 0crat commented on #962
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-14 13:58] krzyk opened #963 "Remove unnecessary rules from PMD"
We need to remove following rules:
- DefaultPackage
- ExcessiveImports

(This list is still incomplete, work in progress).

[2018-12-15 22:41] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-16 18:43] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-18 03:51] fabriciofx opened #964 "Let's remove all transient keyword"
Although transient keyword was requested to remove still there are some spread around the code. So, let's remove them too.

[2018-12-18 03:51] 0crat commented on #964
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-18 03:51] 0crat commented on #964
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 04:10] fabriciofx opened #965 "Let's use maven-verifier-plugin instead of years.sh script"
Let's use `maven-verifier-plugin` instead of `years.sh` script to verify correct years information in the copyright header (Cactoos already has been doing it).

[2018-12-18 04:10] 0crat commented on #965
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-18 04:10] 0crat commented on #965
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 04:16] fabriciofx opened #966 "Update jcabi parent 0.49.3"
Let's update jcabi parent to `0.49.3` because Qulice still has been using `0.40` version.

[2018-12-18 04:16] 0crat commented on #966
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-18 04:16] 0crat commented on #966
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-18 04:21] fabriciofx opened #967 "Increase or suppress FileLength checking value"
By default Checkstyle's FileLength parameter is set to 2,000 lines of code. Qulice only allow 1,000 lines of code. So, let's update the Qulice value to be equals to Checkstyle or find a way to permit the developer increase this value or suppress this check in your project. Note: I'm not saying to suppress *all* checks in the file code, only suppress this check in a specific file.

[2018-12-18 09:31] krzyk commented on #967
@fabriciofx Is there a reason to have a file > 1000 lines?

[2018-12-20 23:41] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-21 19:42] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-22 07:16] krzyk commented on #961
@0crat assign me

[2018-12-22 07:17] 0crat commented on #961
@krzyk The job [#961](https://github.com/teamed/qulice/issues/961) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/5d260ee2-ec39-4a28-bc50-234b6133f5bd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-12-22 07:17] 0crat commented on #961
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-22 07:50] krzyk commented on #963
@0crat in

[2018-12-22 07:50] 0crat commented on #963
@krzyk Job [#963](https://github.com/teamed/qulice/issues/963) is now in scope, role is `DEV`

[2018-12-22 07:58] 0crat commented on #963
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-22 07:58] krzyk commented on #798
@rultor release tag is `0.18.6`

[2018-12-22 07:59] krzyk commented on #961
@fabriciofx checkstyle and PMD have been upgraded in #968, please close this issue

[2018-12-22 07:59] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-449553564)

[2018-12-22 08:19] krzyk commented on #963
@0crat assign me

[2018-12-22 08:19] 0crat commented on #963
@krzyk The job [#963](https://github.com/teamed/qulice/issues/963) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/008f9531-ea90-4980-a41e-e996b7c192b2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-12-22 08:20] 0crat commented on #963
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-22 08:20] 0crat commented on #963
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-22 08:59] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-449553564) (took me 59min)

[2018-12-22 12:53] krzyk commented on #963
@krzyk done in #969

[2018-12-22 12:53] #963 closed

[2018-12-22 12:54] krzyk commented on #798
@rultor release tag is `0.18.7`

[2018-12-22 12:55] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-449568078)

[2018-12-22 13:09] krzyk commented on #798
@rultor stop

[2018-12-22 13:09] 0crat commented on #963
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-22 13:09] rultor commented on #798
@krzyk OK, I'll try to stop current task.

[2018-12-22 13:10] rultor commented on #798
@davvd @krzyk Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-449568991) (spent 15min)

[code]

[2018-12-22 13:15] fabriciofx commented on #961
Closed by #968.

[2018-12-22 13:15] #961 closed

[2018-12-22 13:33] 0crat commented on #963
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-22 13:39] 0crat commented on #961
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-22 13:45] 0crat commented on #961
The job [#961](https://github.com/teamed/qulice/issues/961) is now out of scope

[2018-12-22 13:45] 0crat commented on #961
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-22 13:46] krzyk commented on #798
@rultor release tag `0.18.7`

[2018-12-22 13:46] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-449571381)

[2018-12-22 13:48] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-449571381) (spent 2min)

[code]

[2018-12-22 15:05] krzyk commented on #798
@rultor release tag is `0.18.7`

[2018-12-22 15:06] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-449576447)

[2018-12-22 16:04] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-449576447) (took me 58min)

[2018-12-22 17:54] krzyk commented on #798
@rultor release tag is `0.18.8`

[2018-12-22 17:55] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-449587440)

[2018-12-22 18:56] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-449587440) (took me 1hr)

[2018-12-23 11:45] victornoel opened #972 "LinguisticNaming should ignore overriden methods coming from super classes/interfaces"
In takes, there is the following [code](https://github.com/yegor256/takes/blob/3e53d1278d8a882343b877c5d7d2c04966491478/src/main/java/org/takes/misc/EntryImpl.java) that raises the following error:
[code]

But the method is coming from a super interface and thud can't be changed.

I believe qulice should ignore it.

[2018-12-23 11:45] 0crat commented on #972
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-23 11:45] 0crat commented on #972
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-23 12:41] krzyk commented on #972
@victornoel which version of qulice?

[2018-12-23 12:42] victornoel commented on #972
@krzyk 0.18.8

[2018-12-23 12:42] krzyk commented on #972
@victornoel I recently upgraded PMD, so please check qulice 0.18.8

[2018-12-23 12:49] krzyk commented on #972
@victornoel do you have a code sample?

[2018-12-23 12:57] victornoel commented on #972
@krzyk yes, see the description, there is a link to a code sample

[2018-12-23 14:14] krzyk commented on #972
@0crat in

[2018-12-23 14:15] 0crat commented on #972
@krzyk Job [#972](https://github.com/teamed/qulice/issues/972) is now in scope, role is `DEV`

[2018-12-24 07:37] krzyk commented on #972
@0crat assign me

[2018-12-24 07:45] 0crat commented on #972
@krzyk The job [#972](https://github.com/teamed/qulice/issues/972) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/9ff57d58-dab1-4699-ba9e-f669ac97e25b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-12-24 07:45] 0crat commented on #972
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-24 08:57] krzyk commented on #972
@victornoel this has been fixed in #973, (to be released in 0.18.9), please close this issue

[2018-12-25 15:05] yegor256 commented on #848
@krzyk thanks!

[2018-12-25 15:05] #848 closed

[2018-12-25 15:30] 0crat commented on #848
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-25 16:03] yegor256 commented on #867
@krzyk do we still check Groovy files in Qulice? We shouldn't. As for the Java, I would suggest to migrate to 100 chars limit. 80 is indeed too narrow.. WDYT?

[2018-12-25 18:09] llorllale commented on #945
@yegor256 agreed

@golszeski86 btw, `Assertion` has been implemented in `cactoos-matchers` and is useable, although with a couple of pending puzzles open. Try it out if you can.

[2018-12-25 20:36] krzyk commented on #942
@yegor256 yeah, but both postfix and prefix increment /decrement in my opinion is equally bad. So why discourage just one? (or at all?). I think we should either prohibit both or none.

[2018-12-25 20:54] krzyk commented on #867
@yegor256 We check only java files for line length. OK so let's go with 100 chars for java. @g4s8 could you update your comment?
Groovy is checked using codenarc and not using qulice and we will increase java limit to 100 chars.

[2018-12-25 20:54] krzyk commented on #867
@0crat in

[2018-12-25 20:55] 0crat commented on #867
@krzyk Job [#867](https://github.com/teamed/qulice/issues/867) is now in scope, role is `DEV`

[2018-12-25 21:03] 0crat commented on #867
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-12-25 22:19] llorllale commented on #942
@krzyk why do you think the preincrement is bad?

[2018-12-26 00:38] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-26 13:09] yegor256 commented on #942
@krzyk I don't think that pre-increment is bad. Post-increment is bad for a very specific reason -- it returns the value before the increment, which makes code less readable. Pre-increment is side-effect free, so to speak. So, I vote for `++i` but against `i++`.

[2018-12-26 20:40] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-27 09:15] krzyk commented on #972
@victornoel ping

[2018-12-27 09:15] victornoel commented on #972
@krzyk sorry, Christmas and all ;)

[2018-12-27 09:15] #972 closed

[2018-12-27 09:17] krzyk commented on #867
@0crat assign me

[2018-12-27 09:30] 0crat commented on #867
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-27 10:03] 0crat commented on #972
The job [#972](https://github.com/teamed/qulice/issues/972) is now out of scope

[2018-12-27 10:16] 0crat commented on #972
Order was finished: +30 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-27 15:31] 0crat commented on #878
@paulodamaso Job [#878](https://github.com/teamed/qulice/issues/878) is already on hold

[2018-12-27 18:01] krzyk commented on #798
@rultor release tag is `0.18.9`

[2018-12-27 18:02] krzyk commented on #867
@g4s8 change has been merged to master and will be released in `0.18.9` in hour or two, please close this issue

[2018-12-27 18:02] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-450201506)

[2018-12-27 18:59] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-450201506) (took me 57min)

[2018-12-28 08:13] g4s8 commented on #867
@krzyk thanks

[2018-12-28 08:13] #867 closed

[2018-12-28 08:30] 0crat commented on #867
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-28 08:34] 0crat commented on #867
The job [#867](https://github.com/teamed/qulice/issues/867) is now out of scope

[2018-12-28 08:39] 0crat commented on #867
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2018-12-30 09:50] korthout commented on #935
I disagree. I think Hamcrest and AssertJ should both be supported, until a better alternative is available. I'd like to see org.assertj.core.api.Assertions.assertThat added to the exceptions to this rule.

[2018-12-31 01:39] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2018-12-31 15:16] korthout opened #975 "RegexpSinglelineCheck is broken for String literals that resemble comments"
Consider the following code:
[code]
Running Qulice on this code results in `This kind of comment is not allowed. (RegexpSinglelineCheck)`. The `RegexpSinglelineCheck` matches the comment inside the String literal, even though it is not a real comment.

I think the regex should be altered to not match on comments inside String literals.

[2018-12-31 15:16] 0crat commented on #975
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2018-12-31 15:16] 0crat commented on #975
@korthout[/z](https://www.0crat.com/u/korthout) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-31 15:24] korthout opened #976 "Exclusion comment for RegexpSinglelineCheck doesn't work"
Consider the following code:
[code]
Running Qulice on it results in the following message:
- `This kind of comment is not allowed. (RegexpSinglelineCheck)`

Line 2 results in a RegexpSinglelineCheck (it shouldn't and is broken, but that is already reported, see #975). Line 1 should exclude the check, but is itself considered conflicting with MethodBodyCommentsCheck and does not exclude the RegexpS

[2018-12-31 21:39] 0crat commented on #937
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#937](https://github.com/teamed/qulice/issues/937); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-01 16:07] fabriciofx opened #977 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:07] 0crat commented on #977
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-01 16:07] 0crat commented on #977
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-02 06:40] golszewski86 commented on #942
That's just an opinion @yegor256, maybe it's less readable for you but not for everyone. I'd expect code quality rules to be based on generally acknowledged rules, not personal opinions about readability.

[2019-01-02 06:40] golszewski86 commented on #945
Any reason for that @yegor256 or it is just "because I say so"?

[2019-01-02 06:42] golszewski86 commented on #945
@llorllale I'm sorry but the static code analysis tool should not force any particular framework I should work with. There are plenty of them and users should be free to select framework that suits them best, not the one supported by code quality tool.

[2019-01-02 07:00] krzyk commented on #945
@golszewski86 qulice is a very specific static analysis tool, preconfigured and opinionated, it is mostly used in projects for teamed and zerocracy

[2019-01-02 08:38] dgroup commented on #945
@golszewski86, the qulice doesn't `force you to choose` the particular framework.
The qulice `force you to use` the particular framework `in accordance to` the particular `rules`. The rules defined as a standard, named as `qulice`.
Why you can't use your static methods with a class name like
 - MatcherAssert.assertThat
 - Assertions.assertThat

?

For example, when I'm looking at the methods impor

[2019-01-02 11:22] krzyk commented on #945
@dgroup no, qulice is not general tool. General tools allow configuration, qulice uses general tools like checkstyle, PMD and configures them according to rules that we want to follow.

[2019-01-02 11:36] dgroup commented on #945
@krzyk, but at the same time the qulice allows to suppress the violations from PMD and checkstyle :).

[2019-01-02 11:41] krzyk commented on #945
@dgroup because sometimes there are places where you have to cut corners and use PDD to fix that later or there is a bug in qulice or you are forced to do something the way qulice prohibits becasue of library that you are using.

[2019-01-02 11:58] dgroup commented on #945
@krzyk, that's true, agree.

[2019-01-02 13:49] golszewski86 commented on #942
@krzyk yep there are two arguments:
- Someone may not know how does post increment work and use it in a wrong way. However, it's not an argument against post increment operator but against literally any language functionality. Should we prohibit usage of TreeSet because some people don't know how it works?
- Yegor's opinion that post increment isn't readable. It's not an argument however but just

[2019-01-02 13:56] golszewski86 commented on #945
@dgroup

I can but I don't want to. I simply don't agree it has anything to do with code quality. I only use AssertJ for my tests and my all _assertThat_ methods come from _org.assertj.core.api.Assertions_ class thus it's redundant to repeat the class name everywhere. My code wouldn't be better if I wrote _Assertions.assertThat_ instead of _assertThat_ in each test case.

Moreover, qulice limits l

[2019-01-04 12:32] paulodamaso commented on #950
@0crat wait for #979

[2019-01-04 12:33] 0crat commented on #950
@paulodamaso The impediment for [#950](https://github.com/teamed/qulice/issues/950) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-05 02:40] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-06 14:26] korthout opened #980 "FindBugs crashes with IllegalArgumentException"
When running Qulice on my project, all checkstyle and pmd tests are passed successfully, but findbugs crashes with a lot of exceptions (IllegalArgumentException, NullPointerException, etc; see log below).

I suspect this may be because the project uses jdk 11. However, it could also be something else.

Please take a look at this and help me finish adding Qulice to my project.

[code]

[2019-01-06 15:37] krzyk commented on #980
@korthout Qulice doesn't work with java version > 8, this is tracked in #878

[2019-01-06 15:50] korthout commented on #980
@krzyk Already had that idea, thanks for confirming. I'll close this issue.

[2019-01-06 15:50] #980 closed

[2019-01-06 16:07] 0crat commented on #980
Job `gh:teamed/qulice#980` is not assigned, can't get performer

[2019-01-06 16:07] 0crat commented on #980
This job is not in scope

[2019-01-07 10:40] golszewski86 opened #981 "PMD ConsecutiveLiteralAppends rule makes no sense"
The following piece of code:
`final StringBuilder sbb = new StringBuilder("A very long text that wouldn't fit one line")`
`.append("Anoher piece of text to append");`

Triggers a PMD warning: _StringBuffer (or StringBuilder).append is called 2 consecutive times with literals. Use a single append with a single combined String. (ConsecutiveLiteralAppends)_

There are some problems with this warning:

[2019-01-07 10:41] 0crat commented on #981
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-07 10:41] 0crat commented on #981
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-09 08:16] golszewski86 opened #982 "PMD rule CallSuperInConstructor makes no sense"
PMD rule CallSuperInConstructor requires an explicit call to superclass constructor, e.g.
[code]

The rule description (https://pmd.github.io/pmd/pmd_rules_java_codestyle.html#callsuperinconstructor) only says that it is a good practice without referencing any source. So I've asked PMD developers and their answer was:

(https://github.com/pmd/pmd/issues/1564)

I believe this rule actually enforces

[2019-01-09 08:16] 0crat commented on #982
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-09 08:16] 0crat commented on #982
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-09 08:43] krzyk commented on #982
@yegor256 Any opinions on that? I agree with @golszewski86 that this rule is pointless.

[2019-01-10 03:41] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-13 00:53] QwerTech commented on #873
+1 for this issue.

[2019-01-15 04:43] 0crat commented on #956
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#956](https://github.com/teamed/qulice/issues/956); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-17 12:58] golszewski86 opened #984 "Non-static access to static fields and methods should be prohibited"
Consider following code:
[code]
Static field `TEXT` and static method `bar` should be accessed in static way, but qulice reports no error when they are accessed using `this` keyword.
Java compiler (OpenJDK 1.8.0_191) reports a warning but the code compiles smoothly.

[2019-01-17 12:58] 0crat commented on #984
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-17 12:58] 0crat commented on #984
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-17 13:23] paulodamaso commented on #887
@0crat wait for #983 review

[2019-01-17 13:30] 0crat commented on #887
@paulodamaso The impediment for [#887](https://github.com/teamed/qulice/issues/887) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-17 20:19] BinaryIgor opened #985 "Checkstyle bug: mutli arguments as lambdas indentation"
As described, checkstyle is saying that identation is not incorrect, when in fact it is.
![ctor](https://user-images.githubusercontent.com/41533396/51346155-38676a80-1a9d-11e9-8abd-9e773f64df78.JPG)
Message:
![lambda](https://user-images.githubusercontent.com/41533396/51346166-40bfa580-1a9d-11e9-8379-7a6f4c095065.JPG)
Super ctor:
![super_ctor](https://user-images.githubusercontent.com/41533396/513

[2019-01-17 20:19] 0crat commented on #985
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-17 20:19] 0crat commented on #985
@iprogrammerr[/z](https://www.0crat.com/u/iprogrammerr) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-18 03:08] paulodamaso commented on #743
@krzyk Author and version tags are prohibited, please correct puzzle.

[2019-01-18 07:46] krzyk commented on #743
@paulodamaso there is no author or version tag here, which puzzle do you mean?

[2019-01-18 10:49] paulodamaso commented on #743
@krzyk Sorry, I mean ticket description: "Nested classes should have author, version and since tags" is wrong because we do not have `version` and `author` tags anymore

[2019-01-18 12:35] krzyk commented on #743
@paulodamaso Oh, thanks, I didn't notice that.

[2019-01-19 10:24] korthout opened #989 "FindBugsValidatorTest.throwsExceptionOnViolation test is broken"
Running `mvn test` on `master` branch (on macOS 10.14.2) fails resulting in:

[code]

This should be fixed and should not disturb development of other things.

[2019-01-22 00:58] llorllale commented on #982
@krzyk it's also triggered for anonymous classes. See [this example](https://github.com/yegor256/cactoos/blob/67632d6cfffbbcbdc77c315c60215294c1dd708b/src/main/java/org/cactoos/iterable/IterableOf.java#L84)

[2019-01-22 20:45] 0crat commented on #913
The job [#913](https://github.com/teamed/qulice/issues/913) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/9b431a28-f3be-4922-85f2-3557e511a904); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-23 07:58] krzyk commented on #977
@0crat in

[2019-01-23 08:07] 0crat commented on #977
@krzyk Job [#977](https://github.com/teamed/qulice/issues/977) is now in scope, role is `DEV`

[2019-01-23 08:08] krzyk commented on #977
@0crat assign me

[2019-01-23 08:33] 0crat commented on #977
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-23 08:49] 0crat commented on #977
@krzyk The job [#977](https://github.com/teamed/qulice/issues/977) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/e1c608eb-35e9-4fe3-b2b2-b4f1017e121a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-23 09:01] 0crat commented on #977
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-01-23 11:50] krzyk commented on #977
@fabriciofx this has been fixed in #997, please close this issue

[2019-01-23 12:30] fabriciofx commented on #977
Closed by #997.

[2019-01-23 12:30] #977 closed

[2019-01-23 12:41] krzyk commented on #798
@rultor release tag is `0.18.10`

[2019-01-23 12:53] 0crat commented on #977
Job was finished in 4 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-23 12:59] 0crat commented on #977
The job [#977](https://github.com/teamed/qulice/issues/977) is now out of scope

[2019-01-23 13:06] #950 closed

[2019-01-23 13:06] 0pdd commented on #950
The puzzle `801-1b19be41` has disappeared from the source code, that's why I closed this issue.

[2019-01-23 13:06] 0pdd opened #999 "UseStringIsEmptyRule.java:53-58: Correct this class so it..."
The puzzle `950-157b8116` from #950 has to be resolved:

https://github.com/teamed/qulice/blob/4a8b5a8a93723ce998fba0284786b9869d74cd4c/qulice-pmd/src/main/java/com/qulice/pmd/rules/UseStringIsEmptyRule.java#L53-L58

The puzzle was created by paulodamaso on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-01-23 13:06] 0pdd opened #1000 "UseStringIsEmptyRuleTest.java:41-43:..."
The puzzle `950-05d88f79` from #950 has to be resolved:

https://github.com/teamed/qulice/blob/4a8b5a8a93723ce998fba0284786b9869d74cd4c/qulice-pmd/src/test/java/com/qulice/pmd/UseStringIsEmptyRuleTest.java#L41-L43

The puzzle was created by paulodamaso on 03-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-01-23 13:06] 0pdd commented on #801
@krzyk 2 puzzles [#1000](https://github.com/teamed/qulice/issues/1000), [#999](https://github.com/teamed/qulice/issues/999) are still not solved; solved: [#950](https://github.com/teamed/qulice/issues/950).

[2019-01-23 13:06] 0pdd commented on #950
@0pdd 2 puzzles [#1000](https://github.com/teamed/qulice/issues/1000), [#999](https://github.com/teamed/qulice/issues/999) are still not solved.

[2019-01-23 13:07] 0crat commented on #1000
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-23 13:07] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-23 13:11] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-456787388)

[2019-01-23 13:13] 0crat commented on #1000
Job [#1000](https://github.com/teamed/qulice/issues/1000) is now in scope, role is `DEV`

[2019-01-23 13:13] 0crat commented on #999
Job [#999](https://github.com/teamed/qulice/issues/999) is now in scope, role is `DEV`

[2019-01-23 13:32] ypshenychka commented on #950
@paulodamaso According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add more details into registered [impediment](https://github.com/teamed/qulice/issues/950#issuecomment-451432052). Not clear what exactly you were waiting for.

[2019-01-23 13:39] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-456787388) (took me 28min)

[2019-01-23 14:12] paulodamaso commented on #950
@ypshenychka Added.

[2019-01-23 14:16] ypshenychka commented on #950
@paulodamaso thanks

[2019-01-23 14:17] ypshenychka commented on #950
@0crat quality acceptable

[2019-01-23 14:24] 0crat commented on #950
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-23 14:24] 0crat commented on #950
Order was finished, quality is "acceptable": +30 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-23 14:24] 0crat commented on #950
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-23 14:33] paulodamaso commented on #949
@krzyk I wasn't able to discover what to do in this ticket, please improve its description

[2019-01-23 14:56] krzyk commented on #949
@0crat out

[2019-01-23 14:56] krzyk commented on #949
@paulodamaso this one was form the time the PDD wasn't working in qulice

[2019-01-23 14:57] 0crat commented on #949
@krzyk GitHub issue is still open, won't close

[2019-01-23 14:58] krzyk commented on #949
@0crat help

[2019-01-23 14:58] 0crat commented on #949
@krzyk Can't understand "help", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issu

[2019-01-23 15:20] 0pdd opened #1001 "JavadocParameterOrderCheck.java:39-42: Enforce right..."
The puzzle `847-6f98df35` from #847 has to be resolved:

https://github.com/teamed/qulice/blob/f839e66b671c9e954d2810730b50e00d6e350572/qulice-checkstyle/src/main/java/com/qulice/checkstyle/JavadocParameterOrderCheck.java#L39-L42

The puzzle was created by Paulo Lobo on 18-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pro

[2019-01-23 15:21] 0pdd commented on #847
@HDouss the puzzle [#1001](https://github.com/teamed/qulice/issues/1001) is still not solved.

[2019-01-23 15:21] 0crat commented on #1001
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-23 16:02] graham-h commented on #782
@krzyk just to add to @victornoel's comment above, this will also apply when only constants are referenced from the jar.  (`static final`s that are of primitive types or `String`s, and are initialized with constants or expressions that can be completely evaluated at compile time.)  Values for these are effectively "inlined", so no reference is apparent in the bytecode.

[2019-01-23 17:03] 0crat commented on #935
The job [#935](https://github.com/teamed/qulice/issues/935) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/f61582dc-a517-42a6-92f2-660e9bddb04a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-23 17:09] 0crat commented on #939
The job [#939](https://github.com/teamed/qulice/issues/939) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/10d075d2-ef6c-4e55-92b1-3c2fddf2678a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-23 19:36] paulodamaso commented on #933
@krzyk Looks like it has already been resolved [here](https://github.com/teamed/qulice/issues/933#issuecomment-427299920)

[2019-01-23 19:38] paulodamaso commented on #949
@krzyk I think that you can resign me from it, IIRC 0crts does not penalize anyone for this.

[2019-01-24 08:02] krzyk commented on #966
@0crat assign @korthout

[2019-01-24 08:03] 0crat commented on #966
@krzyk The job [#966](https://github.com/teamed/qulice/issues/966) assigned to @korthout[/z](https://www.0crat.com/u/korthout), here is [why](https://www.0crat.com/footprint/C3T49A35L/54ca0ed7-0cf3-4648-9cf9-0ad8b67bd5ad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-01-24 08:09] krzyk commented on #949
@0crat resign

[2019-01-24 08:10] krzyk commented on #949
@0crat assign me

[2019-01-24 08:10] 0crat commented on #966
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-01-24 08:10] 0crat commented on #966
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-01-24 08:13] 0crat commented on #949
@krzyk The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#949](https://github.com/teamed/qulice/issues/949), please stop working. Reason for job resignation: Order was cancelled

[2019-01-24 08:14] 0crat commented on #949
@krzyk The job [#949](https://github.com/teamed/qulice/issues/949) assigned to @krzyk[/z](https://www.0crat.com/u/krzyk), here is [why](https://www.0crat.com/footprint/C3T49A35L/7893b336-2d35-42b4-a18f-95ac7bb715c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-01-24 08:15] 0crat commented on #949
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-01-24 08:30] 0pdd opened #1004 "JavadocTagsCheck.java:66-69: Nested classes should have..."
The puzzle `743-bb004e21` from #743 has to be resolved:

https://github.com/teamed/qulice/blob/e8e0388d344ace1cd4ca2f62444c8502fc2278ef/qulice-checkstyle/src/main/java/com/qulice/checkstyle/JavadocTagsCheck.java#L66-L69

The puzzle was created by Paulo Lobo on 23-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-01-24 08:31] 0pdd commented on #743
@krzyk the puzzle [#1004](https://github.com/teamed/qulice/issues/1004) is still not solved.

[2019-01-24 08:31] 0crat commented on #1004
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-24 08:32] krzyk commented on #933
@paulodamaso It is a regression, in 0.17.2 it worked but the bug report is for 0.18.2

[2019-01-24 08:32] krzyk commented on #743
@paulodamaso thanks

[2019-01-24 08:32] #743 closed

[2019-01-24 08:38] 0crat commented on #1004
Job [#1004](https://github.com/teamed/qulice/issues/1004) is now in scope, role is `DEV`

[2019-01-24 08:46] krzyk commented on #798
@rultor release tag is `0.18.11`

[2019-01-24 08:49] 0crat commented on #743
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 08:54] 0pdd commented on #949
The puzzle `123-42c66e69` has disappeared from the source code, that's why I closed this issue.

[2019-01-24 08:54] #949 closed

[2019-01-24 08:54] 0pdd commented on #123
@davvd 4 puzzles [#816](https://github.com/teamed/qulice/issues/816), [#817](https://github.com/teamed/qulice/issues/817), [#818](https://github.com/teamed/qulice/issues/818), [#819](https://github.com/teamed/qulice/issues/819) are still not solved; solved: [#949](https://github.com/teamed/qulice/issues/949), [#unknown]().

[2019-01-24 09:14] 0crat commented on #949
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-01-24 09:15] ypshenychka commented on #743
@0crat quality good

[2019-01-24 09:19] 0crat commented on #949
The job [#949](https://github.com/teamed/qulice/issues/949) is now out of scope

[2019-01-24 09:19] 0crat commented on #949
Order was finished: +35 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-01-24 09:46] 0pdd opened #1005 "CheckstyleValidatorTest.java:682-685: Allow lambdas and..."
The puzzle `897-e70cf262` from #897 has to be resolved:

https://github.com/teamed/qulice/blob/1862b69aec46a82190017a518d58a6deccbbeb4e/qulice-checkstyle/src/test/java/com/qulice/checkstyle/CheckstyleValidatorTest.java#L682-L685

The puzzle was created by Paulo Lobo on 20-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2019-01-24 09:46] 0pdd commented on #897
@victornoel the puzzle [#1005](https://github.com/teamed/qulice/issues/1005) is still not solved.

[2019-01-24 09:47] 0crat commented on #1005
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-24 10:09] 0pdd opened #1006 "ProtectedMethodInFinalClassCheck.java:44-50: Make..."
The puzzle `917-27a2aa28` from #917 has to be resolved:

https://github.com/teamed/qulice/blob/995e28a3c2033ddb09d32f1e9dc7214bf833b741/qulice-checkstyle/src/main/java/com/qulice/checkstyle/ProtectedMethodInFinalClassCheck.java#L44-L50

The puzzle was created by Paulo Lobo on 21-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2019-01-24 10:09] 0pdd commented on #917
@victornoel the puzzle [#1006](https://github.com/teamed/qulice/issues/1006) is still not solved.

[2019-01-24 10:09] 0crat commented on #1006
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-24 10:12] krzyk commented on #798
@rultor release tag is `0.18.11`

[2019-01-24 10:36] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-457114503)

[2019-01-24 10:36] 0crat commented on #960
The job [#960](https://github.com/teamed/qulice/issues/960) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/dd4c660e-362a-493a-bb9d-59591c9f6bc8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-24 10:58] 0crat commented on #1005
Job [#1005](https://github.com/teamed/qulice/issues/1005) is now in scope, role is `DEV`

[2019-01-24 11:02] 0crat commented on #1006
Job [#1006](https://github.com/teamed/qulice/issues/1006) is now in scope, role is `DEV`

[2019-01-24 11:38] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-457114503) (took me 1hr)

[2019-01-24 11:41] rultor commented on #798
@davvd @krzyk Invalid release tag `0.18.11` specified. There is already a release `0.18.11` newer than the given release in this repository.

[2019-01-24 11:41] rultor commented on #798
@krzyk I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-01-24 13:26] 0pdd opened #1007 "ProhibitNonFinalClassesCheck.java:38-42: Qulice should..."
The puzzle `920-5b2cf26e` from #920 has to be resolved:

https://github.com/teamed/qulice/blob/8dfeee4c0f3bb6bbc49704057f511a0ed969b0d5/qulice-checkstyle/src/main/java/com/qulice/checkstyle/ProhibitNonFinalClassesCheck.java#L38-L42

The puzzle was created by Paulo Lobo on 21-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-01-24 13:40] 0crat commented on #1007
Job [#1007](https://github.com/teamed/qulice/issues/1007) is now in scope, role is `DEV`

[2019-01-24 13:51] 0pdd opened #1008 "QualifyInnerClassCheck.java:39-41: Static inner classes..."
The puzzle `738-5bee823d` from #738 has to be resolved:

https://github.com/teamed/qulice/blob/413d46b0632450ec0c30f5c167d28e672e745c78/qulice-checkstyle/src/main/java/com/qulice/checkstyle/QualifyInnerClassCheck.java#L39-L41

The puzzle was created by Paulo Lobo on 18-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-01-24 13:51] 0pdd commented on #738
@krzyk the puzzle [#1008](https://github.com/teamed/qulice/issues/1008) is still not solved.

[2019-01-24 13:52] 0crat commented on #1008
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-24 14:01] 0crat commented on #1008
Job [#1008](https://github.com/teamed/qulice/issues/1008) is now in scope, role is `DEV`

[2019-01-24 14:19] 0pdd opened #1009 "PmdAssert.java:78-79: Add Cactoos dependency to..."
The puzzle `966-537ebfc3` from #966 has to be resolved:

https://github.com/teamed/qulice/blob/48e372b632e8a2f4092c5ad94a1501f4d04e24a1/qulice-pmd/src/test/java/com/qulice/pmd/PmdAssert.java#L78-L79

The puzzle was created by Nico Korthout on 21-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text o

[2019-01-24 14:19] 0pdd commented on #966
@fabriciofx the puzzle [#1009](https://github.com/teamed/qulice/issues/1009) is still not solved.

[2019-01-24 14:20] 0crat commented on #1009
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-24 14:22] krzyk commented on #798
@rultor release tag is `0.18.12`

[2019-01-24 14:30] 0crat commented on #1009
Job [#1009](https://github.com/teamed/qulice/issues/1009) is now in scope, role is `DEV`

[2019-01-24 14:33] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-457213796)

[2019-01-24 15:18] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-457213796) (took me 44min)

[2019-01-24 15:30] paulodamaso commented on #887
@krzyk Merged, please close.

[2019-01-24 15:33] paulodamaso commented on #847
@HDouss Merged in #986, please close.

[2019-01-24 15:34] paulodamaso commented on #738
@krzyk Merged, please close.

[2019-01-24 15:37] paulodamaso commented on #897
@victornoel Done, please close.

[2019-01-24 15:39] paulodamaso commented on #917
@victornoel Merged, please close.

[2019-01-24 15:44] paulodamaso commented on #921
@driver733 Could not trigger the problem, and made a test proving that the problem does not happens anymore, it was merged in #995 , please close the issue.

[2019-01-24 15:46] paulodamaso commented on #920
@driver733 Merged in #994 please close

[2019-01-24 15:54] victornoel commented on #917
@paulodamaso thx

[2019-01-24 15:54] #917 closed

[2019-01-24 15:55] victornoel commented on #917
@paulodamaso if I understand correctly, the bug is not fixed yet, we have to wait for #1006 now?

[2019-01-24 15:56] #897 closed

[2019-01-24 16:15] paulodamaso commented on #917
@victornoel Yes, I've break the task in two 30min tasks each: in #993 I've implemented the tests, and the rest will be made in #1006; PDD in action!

[2019-01-24 16:18] 0crat commented on #999
The job [#999](https://github.com/teamed/qulice/issues/999) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/21057d5b-4809-4d51-b8fd-a192cd88ca2c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-01-24 16:18] 0crat commented on #999
Job `gh:teamed/qulice#999` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-24 16:18] 0crat commented on #917
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 16:18] 0crat commented on #897
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 16:22] 0crat commented on #897
The job [#897](https://github.com/teamed/qulice/issues/897) is now out of scope

[2019-01-24 18:31] krzyk commented on #738
@paulodamaso thanks

[2019-01-24 18:31] #738 closed

[2019-01-24 18:32] krzyk commented on #887
@paulodamaso thanks

[2019-01-24 18:32] #887 closed

[2019-01-24 18:49] 0crat commented on #738
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 18:49] 0crat commented on #887
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 18:53] 0crat commented on #738
The job [#738](https://github.com/teamed/qulice/issues/738) is now out of scope

[2019-01-24 18:53] 0crat commented on #887
The job [#887](https://github.com/teamed/qulice/issues/887) is now out of scope

[2019-01-24 20:35] ypshenychka commented on #897
@0crat quality good

[2019-01-24 20:36] ypshenychka commented on #917
@0crat quality good

[2019-01-24 20:39] ypshenychka commented on #738
@0crat quality good

[2019-01-24 20:39] ypshenychka commented on #887
@0crat quailty good

[2019-01-24 20:39] ypshenychka commented on #887
@0crat quality good

[2019-01-24 20:47] 0crat commented on #887
@ypshenychka Can't understand "quailty", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from

[2019-01-24 20:54] 0crat commented on #897
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 20:54] 0crat commented on #917
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 20:55] 0crat commented on #887
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-24 20:55] 0crat commented on #897
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-24 20:55] 0crat commented on #897
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-24 20:55] 0crat commented on #917
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-24 20:55] 0crat commented on #917
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-24 20:55] 0crat commented on #738
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-24 20:55] 0crat commented on #738
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-24 20:55] 0crat commented on #887
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-24 20:55] 0crat commented on #887
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-24 20:56] 0crat commented on #1001
The job [#1001](https://github.com/teamed/qulice/issues/1001) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/cdf898b5-8d23-45bd-a548-563338f75555); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-24 21:51] HDouss commented on #847
@paulodamaso Thanks.

[2019-01-24 21:51] #847 closed

[2019-01-24 22:09] 0crat commented on #847
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-24 22:09] 0crat commented on #847
The job [#847](https://github.com/teamed/qulice/issues/847) is now out of scope

[2019-01-25 05:41] ypshenychka commented on #847
@0crat quality good

[2019-01-25 05:52] 0crat commented on #847
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-25 05:53] 0crat commented on #847
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-25 05:53] 0crat commented on #847
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-25 05:53] 0crat commented on #1004
The job [#1004](https://github.com/teamed/qulice/issues/1004) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/5d63c113-5bf1-48c3-9425-385c13e183e3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-25 05:53] 0crat commented on #1004
Job `gh:teamed/qulice#1004` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-01-27 03:31] paulodamaso commented on #960
@krzyk I believe that it has already been resolved in the linked PRs, what should I do here?

[2019-01-27 03:39] paulodamaso commented on #921
@driver733 ping

[2019-01-27 03:40] paulodamaso commented on #913
@driver733 ping

[2019-01-27 14:16] korthout commented on #966
I think this can be closed, because #991 has been merged.

[2019-01-28 00:05] paulodamaso commented on #933
@krzyk Could not reproduce the problem

[2019-01-28 00:05] paulodamaso commented on #933
@0crat refuse

[2019-01-28 00:39] 0crat commented on #933
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#933](https://github.com/teamed/qulice/issues/933), please stop working. Reason for job resignation: Order was cancelled

[2019-01-28 01:07] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-28 09:07] krzyk commented on #966
@korthout you need to ask fabriciofx for that

[2019-01-28 11:16] fabriciofx commented on #966
Closed by #991.

[2019-01-28 11:16] #966 closed

[2019-01-28 11:34] paulodamaso commented on #959
@0crat refuse

[2019-01-28 11:35] paulodamaso commented on #878
@0crat refuse

[2019-01-28 11:37] 0crat commented on #959
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.40.11](https://github.com/zerocracy/farm): Issue: teamed/qulice#959, Action: `created`

[2019-01-28 12:05] 0crat commented on #966
Job [#966](https://github.com/teamed/qulice/issues/966) is not in the agenda of @korthout[/z](https://www.0crat.com/u/korthout), can't retrieve data and time of add

[2019-01-28 12:06] 0crat commented on #878
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#878](https://github.com/teamed/qulice/issues/878), please stop working. Reason for job resignation: Order was cancelled

[2019-01-28 12:06] 0crat commented on #959
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#959](https://github.com/teamed/qulice/issues/959), please stop working. Reason for job resignation: Order was cancelled

[2019-01-28 12:08] 0crat commented on #966
The job [#966](https://github.com/teamed/qulice/issues/966) is now out of scope

[2019-01-28 12:09] 0crat commented on #878
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-28 12:09] 0crat commented on #959
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-28 12:09] 0crat commented on #1005
The job [#1005](https://github.com/teamed/qulice/issues/1005) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/b9d1d58d-8c44-4330-9a5f-f61ed618375d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-28 12:42] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-28 12:42] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-01-28 13:50] krzyk commented on #960
@paulodamaso there wasn't any PR here, the linked issue is for slightly different problem

[2019-01-28 14:07] #1000 closed

[2019-01-28 14:07] 0pdd commented on #1000
The puzzle `950-05d88f79` has disappeared from the source code, that's why I closed this issue.

[2019-01-28 14:07] 0pdd opened #1016 "UseStringIsEmptyRuleTest.java:40-48:..."
The puzzle `1000-db538e24` from #1000 has to be resolved:

https://github.com/teamed/qulice/blob/96a516cc7b3f472a9692c4905ec71b011655f6d9/qulice-pmd/src/test/java/com/qulice/pmd/UseStringIsEmptyRuleTest.java#L40-L48

The puzzle was created by Paulo Lobo on 26-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-01-28 14:07] 0pdd commented on #801
@krzyk 2 puzzles [#1016](https://github.com/teamed/qulice/issues/1016), [#999](https://github.com/teamed/qulice/issues/999) are still not solved; solved: [#1000](https://github.com/teamed/qulice/issues/1000), [#950](https://github.com/teamed/qulice/issues/950).

[2019-01-28 14:07] 0pdd commented on #950
@0pdd 2 puzzles [#1016](https://github.com/teamed/qulice/issues/1016), [#999](https://github.com/teamed/qulice/issues/999) are still not solved; solved: [#1000](https://github.com/teamed/qulice/issues/1000).

[2019-01-28 14:07] 0pdd commented on #1000
@0pdd the puzzle [#1016](https://github.com/teamed/qulice/issues/1016) is still not solved.

[2019-01-28 14:09] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-28 14:14] 0crat commented on #1016
Job [#1016](https://github.com/teamed/qulice/issues/1016) is now in scope, role is `DEV`

[2019-01-28 14:35] 0crat commented on #1000
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-28 14:39] 0crat commented on #1000
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-28 14:39] 0crat commented on #1000
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-28 16:20] yegor256 commented on #982
@krzyk I agree, let's get rid of it.

[2019-01-28 16:59] fabriciofx opened #1017 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves `xcop` issue on Windows. Besides, let's:
1. Fix the formatting of the project XML files
2. Add `xcop` to travis and rultor (we can based it on `cactoos` project)

[2019-01-28 16:59] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-28 16:59] 0crat commented on #1017
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 17:32] paulodamaso commented on #1017
@0crat in

[2019-01-28 17:33] 0crat commented on #1017
@paulodamaso You can't do "Add job to WBS", unless you have one of these roles: `ARC`, `PO`; current roles of @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) are: `DEV`, `REV`

[2019-01-29 11:02] ypshenychka commented on #966
@0crat status

[2019-01-29 11:10] 0crat commented on #966
@ypshenychka This is what I know about this job in [C3T49A35L](https://www.0crat.com/p/C3T49A35L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#966](https://github.com/teamed/qulice/issues/966) is not in scope
  * The job is waiting quality review verdict by @ypshenychka[/z](https://www.0crat.com/u/ypshenychka) for 23hr
  * @korthout[/z](https://www.0crat.com/u/korthout) wi

[2019-01-29 11:14] ypshenychka commented on #966
@fabriciofx and @korthout According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your messages by indicating an addressee in the beginning.

[2019-01-29 11:15] ypshenychka commented on #966
@korthout According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please add reference to PR. You can reference it by indicating this issue in PR's description.

[2019-01-29 11:21] fabriciofx commented on #966
@ypshenychka Sorry, but the only message I didn't indicate and addressee was the first (which opens the ticket). Should I indicate it too? If yes, to who?

[2019-01-29 11:24] ypshenychka commented on #966
@fabriciofx I mean this [one](https://github.com/teamed/qulice/issues/966#issuecomment-458090549).

[2019-01-29 11:26] fabriciofx commented on #966
@ypshenychka So, when a close an issue I should address it to who?

[2019-01-29 11:30] fabriciofx commented on #966
@ypshenychka Ok. I'll fix it. Thanks!

[2019-01-29 11:42] ypshenychka commented on #966
@fabriciofx thanks

[2019-01-29 12:37] korthout commented on #966
@ypshenychka done

[2019-01-29 12:46] ypshenychka commented on #966
@korthout thanks

[2019-01-29 12:46] ypshenychka commented on #966
@0crat quality acceptable

[2019-01-29 12:51] 0crat commented on #966
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-29 12:53] 0crat commented on #966
Order was finished, quality is "acceptable": +30 point(s) just awarded to @korthout[/z](https://www.0crat.com/u/korthout)

[2019-01-29 17:51] 0crat commented on #1006
The job [#1006](https://github.com/teamed/qulice/issues/1006) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/aff48104-5a69-49a6-8f29-1730d31fe0ca); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-30 09:20] 0crat commented on #1007
The job [#1007](https://github.com/teamed/qulice/issues/1007) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/e72cb92d-ff89-4eca-aae0-9fb10b84530b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-30 11:56] krzyk commented on #1017
@fabriciofx this doesn't look like a big change, so maybe add also that we should fix all our xml files to match the xcop rules and add xcop to rultor and travis

[2019-01-30 12:00] krzyk commented on #964
@fabriciofx this issue is quite small, maybe you can find some more similar issues (or similarly small ones) in the code and update the description?

[2019-01-30 12:01] krzyk commented on #943
@golszewski86 this is a question to @yegor256

[2019-01-30 12:02] krzyk commented on #934
@piotrkot you should talk about this with @yegor256, I personally don't like checked exceptions so I would forbid them completely :)

[2019-01-30 12:04] 0pdd opened #1019 "pom.xml:138-140: Upgrade to Junit5. Continue to upgrade..."
The puzzle `939-39a57206` from #939 has to be resolved:

https://github.com/teamed/qulice/blob/93cf62a79a6903b6d1bbb3d487982bf4a7f55971/pom.xml#L138-L140

The puzzle was created by @rultor on 30-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code. Her

[2019-01-30 12:04] 0pdd commented on #939
@krzyk the puzzle [#1019](https://github.com/teamed/qulice/issues/1019) is still not solved.

[2019-01-30 12:04] 0crat commented on #1019
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-30 12:05] krzyk commented on #862
@neonailol this has been fixed in https://github.com/teamed/qulice/issues/867 please close this issue

[2019-01-30 12:07] krzyk commented on #1009
@0crat assign @korthout

[2019-01-30 12:08] krzyk commented on #1009
@korthout Let me know if you don't want to work on this, also if you find any issue that you would like to work on let me know I can assign it to you, you'll get some points to leave the sandbox.

[2019-01-30 12:10] 0crat commented on #1019
Job [#1019](https://github.com/teamed/qulice/issues/1019) is now in scope, role is `DEV`

[2019-01-30 12:11] krzyk commented on #982
@0crat in

[2019-01-30 12:14] 0crat commented on #1009
@krzyk The job [#1009](https://github.com/teamed/qulice/issues/1009) assigned to @korthout[/z](https://www.0crat.com/u/korthout), here is [why](https://www.0crat.com/footprint/C3T49A35L/56fb3b5b-1675-460c-a32e-63b3ab44e97a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-01-30 12:17] 0crat commented on #982
@krzyk Job [#982](https://github.com/teamed/qulice/issues/982) is now in scope, role is `DEV`

[2019-01-30 12:19] 0crat commented on #1009
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-01-30 12:19] 0crat commented on #982
@krzyk Thanks for your contribution, @golszewski86[/z](https://www.0crat.com/u/golszewski86)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-01-30 12:34] 0crat commented on #798
@krzyk Can't understand "release", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this i

[2019-01-30 12:37] paulodamaso commented on #939
@krzyk Merged, please close

[2019-01-30 12:37] krzyk commented on #798
@rultor release tag is `0.18.13`

[2019-01-30 12:37] krzyk commented on #939
@paulodamaso thanks

[2019-01-30 12:37] #939 closed

[2019-01-30 12:38] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-458928845)

[2019-01-30 12:55] 0crat commented on #1004
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-30 12:55] 0crat commented on #1004
The job [#1004](https://github.com/teamed/qulice/issues/1004) is now out of scope

[2019-01-30 12:56] 0crat commented on #939
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-30 12:56] 0crat commented on #939
The job [#939](https://github.com/teamed/qulice/issues/939) is now out of scope

[2019-01-30 13:02] ypshenychka commented on #1004
@0crat quality good

[2019-01-30 13:03] ypshenychka commented on #939
@0crat quality good

[2019-01-30 13:14] 0crat commented on #939
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-30 13:16] 0crat commented on #939
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-30 13:16] 0crat commented on #939
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-30 13:21] korthout commented on #1009
@krzyk I can work on this. However, in another project I'm waiting on #878, which in turn is waiting on #959. So it would be good for me to actively work on that too. It might take me some extra time because I don't yet have all the know-how on working with SpotBugs to finish that job.

[Yegor said](https://www.yegor256.com/2015/02/16/it-is-not-a-school.html):

But if you don't mind I just take so

[2019-01-30 13:23] krzyk commented on #1009
@korthout OK, so I'll assign you to #959 first

[2019-01-30 13:23] krzyk commented on #959
@0crat assign @korthout

[2019-01-30 13:31] korthout commented on #1009
@krzyk thanks

[2019-01-30 13:53] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-458928845) (took me 1hr)

[2019-01-30 14:17] 0pdd commented on #1001
The puzzle `847-6f98df35` has disappeared from the source code, that's why I closed this issue.

[2019-01-30 14:17] #1001 closed

[2019-01-30 14:17] 0pdd commented on #847
@HDouss the only puzzle [#1001](https://github.com/teamed/qulice/issues/1001) is solved here.

[2019-01-30 14:44] 0pdd commented on #1005
The puzzle `897-e70cf262` has disappeared from the source code, that's why I closed this issue.

[2019-01-30 14:44] #1005 closed

[2019-01-30 14:44] 0pdd commented on #897
@victornoel the only puzzle [#1005](https://github.com/teamed/qulice/issues/1005) is solved here.

[2019-01-30 14:51] 0crat commented on #1001
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-30 14:55] 0crat commented on #1001
The job [#1001](https://github.com/teamed/qulice/issues/1001) is now out of scope

[2019-01-30 15:01] ypshenychka commented on #1001
@0crat quality good

[2019-01-30 15:01] 0crat commented on #1005
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-01-30 15:01] 0crat commented on #1005
The job [#1005](https://github.com/teamed/qulice/issues/1005) is now out of scope

[2019-01-30 15:07] ypshenychka commented on #1005
@0crat quality good

[2019-01-30 15:09] 0crat commented on #1001
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-30 15:09] 0crat commented on #1001
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-30 15:09] 0crat commented on #1001
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-30 15:15] ypshenychka commented on #1004
@0crat quality good

[2019-01-30 15:17] 0crat commented on #1005
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-30 15:17] 0crat commented on #1008
The job [#1008](https://github.com/teamed/qulice/issues/1008) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/2d9b5148-dad4-44ab-a0ab-521f336ea479); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-30 15:17] 0crat commented on #1005
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-30 15:17] 0crat commented on #1005
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-30 15:17] 0crat commented on #1004
@ypshenychka There is no quality review for [#1004](https://github.com/teamed/qulice/issues/1004), no performer

[2019-01-30 15:21] 0crat commented on #1004
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-01-30 15:26] 0crat commented on #1004
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-01-30 15:27] 0crat commented on #1004
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-01-30 15:28] 0crat commented on #1016
The job [#1016](https://github.com/teamed/qulice/issues/1016) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/605c60fa-2529-4477-a194-555682dafab0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-31 01:32] 0crat commented on #1019
The job [#1019](https://github.com/teamed/qulice/issues/1019) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/045db3d7-d0b2-43d1-a1bd-5f97244c4f8b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-01-31 14:01] ilyakharlamov opened #1020 "Support <exclude>findbugs:org.package.Class:method:RuleName</exclude>"
Currently, findbugs allows excluding the files only on a per-class basis, using the `pom.xml` syntax
`<exclude>findbugs:org.package.Class</exclude>`
However that excludes all the methods and all the rules.

The proposal is to extend the syntax using colon syntax (somewhat similar to [IPv6 multicast addresses](https://en.wikipedia.org/wiki/IPv6_address#Multicast_addresses)):
`<exclude>findbugs:org.

[2019-01-31 14:01] 0crat commented on #1020
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-01-31 14:01] 0crat commented on #1020
@ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-31 14:17] krzyk commented on #1020
@0crat in

[2019-01-31 14:19] 0crat commented on #1020
@krzyk Job [#1020](https://github.com/teamed/qulice/issues/1020) is now in scope, role is `DEV`

[2019-01-31 14:38] 0crat commented on #1020
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-01-31 14:49] krzyk commented on #1020
@0crat assign @ilyakharlamov

[2019-01-31 15:06] 0crat commented on #1020
@krzyk The job [#1020](https://github.com/teamed/qulice/issues/1020) assigned to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov), here is [why](https://www.0crat.com/footprint/C3T49A35L/2d465861-fe90-49b0-a91c-d3049b0241be); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.c

[2019-01-31 15:17] 0crat commented on #1020
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-01-31 15:17] 0crat commented on #1020
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-02-01 03:05] paulodamaso commented on #920
@krzyk looks like @driver733 is absent, please close

[2019-02-01 10:44] krzyk commented on #920
@paulodamaso I don't have any permissions in this repo :(, I can't close, create labels etc.

[2019-02-01 10:49] paulodamaso commented on #920
@krzyk Who could help us then? This task is solved and it is in my agenda preventing from receiving more tasks

[2019-02-01 12:07] krzyk commented on #920
@yegor256 could you close (authors are not responding):
- #920 (finished here)
- #870 (no longer valid)
- #866 (no longer valid)
- #868 (no longer valid)

[2019-02-01 13:34] krzyk commented on #798
@rultor release tag is `0.18.14`

[2019-02-01 13:35] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-459724177)

[2019-02-01 14:57] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-459724177) (took me 1hr)

[2019-02-01 20:58] #921 closed

[2019-02-01 21:01] driver733 commented on #913
@paulodamaso Do you want me to close the issue?

[2019-02-01 21:02] #920 closed

[2019-02-01 21:41] paulodamaso commented on #913
@driver733 Sorry I'll see what happens and then I'll call you again

[2019-02-01 23:21] ilyakharlamov opened #1021 "build fails if XCOP is installed"
Steps to reproduce:

1. Start with a fresh environment, for example docker or [gitpod](https://gitpod.io/#https://github.com/teamed/qulice)
2. Checkout a recent qulice src something like `git checkout 7dc06ee6463b921b98f2de9528c1ea74d7666a02`
3. type `gem install xcop` to the console
4. `mvn install`

What's wrong:
if xcop is not in the PATH, everything is fine
however if xcop is avaliable, then b

[2019-02-01 23:22] 0crat commented on #1021
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-02-01 23:22] 0crat commented on #1021
@ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-02 01:40] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-02 02:31] ypshenychka commented on #921
@0crat quality good

[2019-02-02 02:31] ypshenychka commented on #920
@0crat quality good

[2019-02-02 02:37] 0crat commented on #921
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-02 02:38] 0crat commented on #921
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-02 02:38] 0crat commented on #921
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-02 02:48] 0crat commented on #920
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-02 02:48] 0crat commented on #920
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-02 13:42] krzyk commented on #1021
@ilyakharlamov this should be solved with https://github.com/teamed/qulice/issues/1017, we migrated to new parent but we didn't fix the xml files formatting, so for now xcop shouldn't be used until we finish it

[2019-02-02 13:57] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-03 08:53] 0crat commented on #982
The job [#982](https://github.com/teamed/qulice/issues/982) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/8f7b3a05-3585-4709-88ed-8bd9f6a6c057); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-03 17:04] paulodamaso commented on #960
@0crat refuse

[2019-02-03 17:05] 0crat commented on #960
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#960](https://github.com/teamed/qulice/issues/960), please stop working. Reason for job resignation: Order was cancelled

[2019-02-03 17:06] paulodamaso commented on #999
@0crat refuse

[2019-02-03 17:08] 0crat commented on #960
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-03 17:09] 0crat commented on #999
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#999](https://github.com/teamed/qulice/issues/999), please stop working. Reason for job resignation: Order was cancelled

[2019-02-03 17:10] 0crat commented on #999
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-03 17:40] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-03 17:40] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-04 15:35] krzyk commented on #1017
@fabriciofx ping

[2019-02-04 15:50] fabriciofx commented on #1017
@krzyk IMHO, I think an important change for two reasons:

1. Will force us to assure all XML files are formatted properly;
2. If I've `xcop` installed in my Windows machine and don't update to this change, the maven's install cycle doesn't perform correctly and don't install the artifact locally.

[2019-02-04 16:09] krzyk commented on #1017
@fabriciofx Please see my previous comment, I agree, but it would be good to include in the description to also fix the formatting of the project xml files and add xcop to travis and rultor.

[2019-02-04 16:35] fabriciofx commented on #1017
@krzyk Sorry. I'll do that.

[2019-02-04 16:45] krzyk commented on #1017
@0crat in

[2019-02-04 16:48] 0crat commented on #1017
@krzyk Job [#1017](https://github.com/teamed/qulice/issues/1017) is now in scope, role is `DEV`

[2019-02-04 16:55] 0crat commented on #1017
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-02-05 12:55] 0crat commented on #1017
The job [#1017](https://github.com/teamed/qulice/issues/1017) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/ea8a7ccb-a1c0-4ca4-a37c-7e903b1d5f04); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-02-06 11:42] longtimeago opened #1024 "Maven parallel build reports that qulice-maven-plugin is not thread safe"
[code]

Is it really not thread safe or we just need to mark it? :)

[2019-02-06 11:42] 0crat commented on #1024
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-02-06 11:42] 0crat commented on #1024
@longtimeago[/z](https://www.0crat.com/u/longtimeago) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-07 03:05] paulodamaso commented on #1008
@0crat refuse

[2019-02-07 13:36] paulodamaso commented on #1006
@0crat Wait for #1025 review

[2019-02-07 14:03] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-07 14:03] 0crat commented on #1008
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1008](https://github.com/teamed/qulice/issues/1008), please stop working. Reason for job resignation: Order was cancelled

[2019-02-07 14:31] #1006 closed

[2019-02-07 14:31] 0pdd commented on #1006
The puzzle `917-27a2aa28` has disappeared from the source code, that's why I closed this issue.

[2019-02-07 14:32] 0pdd commented on #917
@victornoel the only puzzle [#1006](https://github.com/teamed/qulice/issues/1006) is solved here.

[2019-02-07 14:42] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-07 14:42] 0crat commented on #1008
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1008](https://github.com/teamed/qulice/issues/1008); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-07 14:42] 0crat commented on #1006
@paulodamaso The impediment for [#1006](https://github.com/teamed/qulice/issues/1006) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-07 15:17] 0crat commented on #1008
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-07 15:17] 0crat commented on #1008
The job [#1008](https://github.com/teamed/qulice/issues/1008) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/53f727ba-2d2b-4772-bb8a-105e7eae7823); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-02-07 15:24] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 15:36] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 15:41] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 15:41] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 15:42] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 15:42] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 15:43] 0crat commented on #1008
Job `gh:teamed/qulice#1008` already assigned to @paulodamaso, can't assign to @paulodamaso

[2019-02-07 16:18] 0crat commented on #1006
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-07 16:18] 0crat commented on #1006
The job [#1006](https://github.com/teamed/qulice/issues/1006) is now out of scope

[2019-02-07 17:21] ypshenychka commented on #1006
@0crat quality good

[2019-02-07 17:29] 0crat commented on #1006
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-07 17:31] 0crat commented on #1006
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-07 17:31] 0crat commented on #1006
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-07 17:53] paulodamaso commented on #1007
@0crat wait for #1026 review and merge

[2019-02-07 17:59] 0crat commented on #1007
@paulodamaso The impediment for [#1007](https://github.com/teamed/qulice/issues/1007) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-07 19:13] paulodamaso commented on #1019
@0crat Wait for #1027 review and merge

[2019-02-07 19:14] 0crat commented on #1019
@paulodamaso The impediment for [#1019](https://github.com/teamed/qulice/issues/1019) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-07 21:15] #1007 closed

[2019-02-07 21:15] 0pdd commented on #1007
The puzzle `920-5b2cf26e` has disappeared from the source code, that's why I closed this issue.

[2019-02-07 21:15] 0pdd commented on #920
@driver733 the only puzzle [#1007](https://github.com/teamed/qulice/issues/1007) is solved here.

[2019-02-07 21:23] krzyk commented on #798
@rultor release tag is `0.18.15`

[2019-02-07 21:24] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-461600806)

[2019-02-07 21:32] 0crat commented on #1007
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-07 21:33] 0crat commented on #1007
The job [#1007](https://github.com/teamed/qulice/issues/1007) is now out of scope

[2019-02-07 22:45] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-461600806) (took me 1hr)

[2019-02-08 06:01] #1019 closed

[2019-02-08 06:01] 0pdd commented on #1019
The puzzle `939-39a57206` has disappeared from the source code, that's why I closed this issue.

[2019-02-08 06:01] 0pdd opened #1030 "pom.xml:46-49: Upgrade to Junit5. Finish JUnit upgrade to..."
The puzzle `1019-4869c92c` from #1019 has to be resolved:

https://github.com/teamed/qulice/blob/d1094351ef4d2b272606cf65333976f9a25e19dd/qulice-maven-plugin/pom.xml#L46-L49

The puzzle was created by Paulo Lobo on 07-Feb-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ fr

[2019-02-08 06:01] 0pdd commented on #939
@krzyk the puzzle [#1030](https://github.com/teamed/qulice/issues/1030) is still not solved; solved: [#1019](https://github.com/teamed/qulice/issues/1019).

[2019-02-08 06:01] 0pdd commented on #1019
@0pdd the puzzle [#1030](https://github.com/teamed/qulice/issues/1030) is still not solved.

[2019-02-08 06:02] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-02-08 06:08] 0crat commented on #1030
Job [#1030](https://github.com/teamed/qulice/issues/1030) is now in scope, role is `DEV`

[2019-02-08 06:14] 0crat commented on #1030
The job [#1030](https://github.com/teamed/qulice/issues/1030) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/C3T49A35L/6e608b7e-60a5-4f86-b75e-3ae38a15ada7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-02-08 06:19] 0crat commented on #1019
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-02-08 06:19] 0crat commented on #1019
The job [#1019](https://github.com/teamed/qulice/issues/1019) is now out of scope

[2019-02-08 07:03] ypshenychka commented on #1007
@0crat quality good

[2019-02-08 07:06] ypshenychka commented on #1019
@0crat quality good

[2019-02-08 07:12] 0crat commented on #1007
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-08 07:12] 0crat commented on #1007
Order was finished, quality is "good": +35 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-08 07:13] 0crat commented on #1007
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 07:19] 0crat commented on #1019
@ypshenychka The project doesn't have enough funds, can't make a payment

[2019-02-08 07:20] 0crat commented on #1019
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2019-02-08 18:41] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-08 18:43] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-10 12:22] paulodamaso commented on #982
@golszewski86 Merged, please close

[2019-02-12 10:05] krzyk commented on #798
@rultor release tag is `0.18.16`

[2019-02-12 10:06] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-462696922)

[2019-02-12 11:22] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-462696922) (took me 1hr)

[2019-02-12 11:41] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-12 14:43] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-13 19:42] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-13 19:43] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-14 20:20] paulodamaso commented on #935
@0crat refuse

[2019-02-14 20:23] paulodamaso commented on #1016
@0crat refuse

[2019-02-14 20:28] paulodamaso commented on #982
@0crat wait for closure

[2019-02-14 20:28] paulodamaso commented on #982
@golszewski86 ping

[2019-02-14 20:28] paulodamaso commented on #982
@krzyk ping

[2019-02-14 20:54] 0crat commented on #935
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#935](https://github.com/teamed/qulice/issues/935), please stop working. Reason for job resignation: Order was cancelled

[2019-02-14 21:00] 0crat commented on #1016
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#1016](https://github.com/teamed/qulice/issues/1016), please stop working. Reason for job resignation: Order was cancelled

[2019-02-14 21:02] 0crat commented on #982
@paulodamaso The impediment for [#982](https://github.com/teamed/qulice/issues/982) was registered successfully by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-14 21:11] 0crat commented on #935
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-14 21:15] 0crat commented on #1016
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-02-14 21:49] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-14 21:51] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-17 12:41] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-17 15:49] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-18 21:47] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-18 21:52] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-19 14:09] paulodamaso commented on #982
@krzyk please take a look

[2019-02-19 14:50] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-19 14:51] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-19 14:52] 0crat commented on #982
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#982](https://github.com/teamed/qulice/issues/982); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-19 14:52] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-19 17:56] krzyk commented on #982
@paulodamaso I can't do much here, I can't close issues

[2019-02-19 22:41] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-19 22:41] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-19 23:04] ilyakharlamov opened #1031 "UseStringIsEmptyRule complains when checking String[].length"
Steps to reproduce:
[code]

run `mvn clean install -Pqulice`

What's wrong:
`PMD: src/main/java/com/mycompany/app/App.java[20-20]: Use String.isEmpty() when checking for empty string (UseStringIsEmptyRule)`

We check an array of Strings but not a String.
There is no string length check at all in this code.
There is no such thing as  `String[].isEmpty()` either.
We check `String[].length` but not `

[2019-02-19 23:04] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-02-19 23:04] 0crat commented on #1031
@ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 07:58] krzyk commented on #1031
@0crat in

[2019-02-20 07:59] 0crat commented on #1031
@krzyk Job [#1031](https://github.com/teamed/qulice/issues/1031) is now in scope, role is `DEV`

[2019-02-20 08:06] 0crat commented on #1031
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ilyakharlamov[/z](https://www.0crat.com/u/ilyakharlamov)

[2019-02-20 08:38] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-20 23:46] stormdb opened #1032 "Add maxAllowedViolations parameter to configuration"
Code quality on legacy projects can't be fixed in one pass.
Configuration parameter like "maxAllowedViolations" would allow gradual quality evolution process in legacy projects. Parameter value could be compared against total sum of all found violations to make a decision on breaking the build.

[2019-02-20 23:46] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-02-20 23:46] 0crat commented on #1032
@stormdb[/z](https://www.0crat.com/u/stormdb) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-21 09:09] krzyk commented on #1032
@stormdb good idea

[2019-02-21 09:09] krzyk commented on #1032
@0crat in

[2019-02-21 09:09] 0crat commented on #1032
@krzyk Job [#1032](https://github.com/teamed/qulice/issues/1032) is now in scope, role is `DEV`

[2019-02-21 09:10] 0crat commented on #1032
@krzyk Thanks for your contribution, @stormdb[/z](https://www.0crat.com/u/stormdb)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-02-21 10:43] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-22 13:39] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-22 16:41] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-23 22:39] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-23 22:39] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-24 15:42] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-24 15:42] 0crat commented on #982
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#982](https://github.com/teamed/qulice/issues/982); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-24 15:42] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-24 15:42] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-24 23:39] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-24 23:42] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-25 10:16] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-26 11:39] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-02-26 13:12] korthout commented on #959
@krzyk I keep having difficulty implementing this. Running Spotbugs in a separate process like in the findbugs module is difficult to debug, let alone use TDD to implement it. It's a bit discouraging. Ideas on how to approach this? Otherwise, perhaps someone else will have to resolve this one.

[2019-02-27 14:45] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-27 17:37] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-28 23:51] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-02-28 23:51] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-01 16:42] 0crat commented on #982
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#982](https://github.com/teamed/qulice/issues/982); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-01 16:42] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-01 16:42] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-01 16:43] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-02 00:44] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-02 00:44] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-02 10:43] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-02 17:17] victornoel opened #1033 "NPE in UseStringIsEmptyRule"
Using qulice 0.17.3 in cactoos raises the following NPE (see also logs here for example: https://travis-ci.org/yegor256/cactoos/builds/500849089)
[code]

[2019-03-02 17:18] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-03-02 17:18] 0crat commented on #1033
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-03 07:37] krzyk commented on #1033
@victornoel could you try with latest qulice version (0.18.16)?

[2019-03-03 07:46] krzyk commented on #959
@korthout no worries, I don't have idea right now, maybe I'll jump into it myself when I'll find some spare time

[2019-03-03 07:46] krzyk commented on #959
@0crat refuse

[2019-03-03 07:48] 0crat commented on #959
@krzyk The user @korthout[/z](https://www.0crat.com/u/korthout) resigned from [#959](https://github.com/teamed/qulice/issues/959), please stop working. Reason for job resignation: Order was cancelled

[2019-03-03 08:49] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-03 11:36] victornoel commented on #1033
@krzyk good point, but unfortunately it still applies:
[code]

[2019-03-03 12:42] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-03 13:57] krzyk commented on #1033
@victornoel thanks, could you also provide the source file where it fails? Just to have a snapshot of it for future.

[2019-03-03 13:59] victornoel commented on #1033
@krzyk here it is https://github.com/yegor256/cactoos/blob/d97ba135b0bbd9c0bd4a9db54dd528c4f000c805/src/test/java/org/cactoos/text/RandomizedTest.java

[2019-03-03 14:11] krzyk commented on #1033
@victornoel thanks

[2019-03-03 14:11] krzyk commented on #1033
@0crat in

[2019-03-03 14:17] 0crat commented on #1033
@krzyk Job [#1033](https://github.com/teamed/qulice/issues/1033) is now in scope, role is `DEV`

[2019-03-03 14:23] 0crat commented on #1033
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-03-03 14:43] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-04 15:50] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-04 18:42] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-05 12:21] grzechol commented on #982
@paulodamaso, @krzyk Sorry guys I can't close the issue too...

[2019-03-05 12:23] golszewski86 commented on #982
Ooops wrong github account :) With this one I can

[2019-03-05 12:23] #982 closed

[2019-03-05 12:27] golszewski86 opened #1034 "IndexOutOfBoundsException in JavadocParameterOrderCheck"
IndexOutOfBoundsException occurs when number of @param tags is less then number of actual parameters - see the example:
[code]
Qulice fails with the following exception:
[code]

Tested on qulicequlice-maven-plugin 0.18.16

Full stack trace:
[code]

[2019-03-05 12:27] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-03-05 12:27] 0crat commented on #1034
@golszewski86[/z](https://www.0crat.com/u/golszewski86) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-05 15:25] 0crat commented on #982
Job `gh:teamed/qulice#982` is not assigned, can't get performer

[2019-03-05 15:30] 0crat commented on #982
The job [#982](https://github.com/teamed/qulice/issues/982) is now out of scope

[2019-03-06 00:40] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-06 00:40] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-06 17:48] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-06 17:48] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-06 17:50] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-07 01:41] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-07 01:41] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-07 11:44] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-08 10:32] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-08 13:47] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-08 15:40] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-09 16:46] 0crat commented on #933
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#933](https://github.com/teamed/qulice/issues/933); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-09 19:39] 0crat commented on #878
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#878](https://github.com/teamed/qulice/issues/878); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-11 01:44] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-11 01:46] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-11 18:57] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-11 19:09] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-11 19:09] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-12 02:46] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-12 12:43] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-13 10:49] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-13 14:46] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-13 16:44] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-16 02:41] 0crat commented on #999
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#999](https://github.com/teamed/qulice/issues/999); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-16 02:41] 0crat commented on #960
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#960](https://github.com/teamed/qulice/issues/960); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-16 20:01] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-16 20:08] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-16 20:08] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-17 03:43] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-17 03:43] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-17 13:39] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-18 11:39] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-18 15:41] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-18 17:45] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-21 20:41] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-21 20:44] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-21 20:44] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-22 04:42] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-22 04:42] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-22 14:41] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-23 12:40] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-23 16:41] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-23 18:46] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-26 21:42] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-26 21:42] 0crat commented on #1017
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1017](https://github.com/teamed/qulice/issues/1017); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-26 21:42] 0crat commented on #1030
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1030](https://github.com/teamed/qulice/issues/1030); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-27 05:45] 0crat commented on #1016
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1016](https://github.com/teamed/qulice/issues/1016); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-27 05:45] 0crat commented on #935
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#935](https://github.com/teamed/qulice/issues/935); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-27 15:43] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-28 13:47] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-03-28 17:43] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-28 19:43] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-03-29 22:50] llorllale commented on #1020
@ilyakharlamov @krzyk where are we on this?

[2019-03-31 14:32] ilyakharlamov commented on #1020
There is a PR #1023 that implements that, what else can I do.

[2019-03-31 16:30] dgroup opened #1035 "CascadeIndentationCheck gives false positive match in case of try-with-resources"
[code]
Full stacktrace
[code]
The artifact
[code]

[2019-03-31 16:31] 0crat commented on #1035
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-03-31 16:31] 0crat commented on #1035
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-31 22:42] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-01 16:52] 0crat commented on #1031
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1031](https://github.com/teamed/qulice/issues/1031); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-01 22:50] dgroup commented on #1035
The W/A is the following
[code]

[2019-04-02 14:41] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-02 18:39] 0crat commented on #1032
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1032](https://github.com/teamed/qulice/issues/1032); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-02 20:41] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-05 23:41] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-05 23:51] ilyakharlamov commented on #1034
The problem appeared first in 0.18.14 (0.18.13 was fine)

[2019-04-06 05:46] krzyk commented on #1034
@0crat in

[2019-04-06 05:47] 0crat commented on #1034
@krzyk Job [#1034](https://github.com/teamed/qulice/issues/1034) is now in scope, role is `DEV`

[2019-04-06 05:47] 0crat commented on #1034
@krzyk Thanks for your contribution, @golszewski86[/z](https://www.0crat.com/u/golszewski86)! If you would be a member of [the project](https://www.0crat.com/p/C3T49A35L), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-04-06 06:38] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-07 15:41] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-07 21:38] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-11 01:08] 0crat commented on #913
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#913](https://github.com/teamed/qulice/issues/913); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-11 07:20] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-12 16:47] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-12 22:41] 0crat commented on #1033
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1033](https://github.com/teamed/qulice/issues/1033); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-15 20:21] victornoel opened #1036 "What is the purpose of enforcing the use of the @since tag?"
The `@since` tag is enforced by qulice to be used on public elements of a Java API.

I wonder what is the need for it? What does it provide?

We removed in the past the need for the `@author` tag because it was already covered by version control. The `@since` tag does not seem to provide anything more than what version control is providing.

But maybe I am missing something. Is there some rational

[2019-04-15 20:21] 0crat commented on #1036
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-04-15 20:21] 0crat commented on #1036
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-16 07:42] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-17 17:39] 0crat commented on #959
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#959](https://github.com/teamed/qulice/issues/959); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14]

[2019-04-21 08:41] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-23 07:04] zCRUSADERz commented on #989
I also ran into this problem. As a result of the research, I found the cause of this error. In my case,  `FindBugs` uses the asm 5.0.3 library, class: `ClassReader`, which works with bytecode version 1.8, not higher. The command line call: `java -version` = 1.8, and `javac -version` = 11.0.2, which led to the error.

[2019-04-23 08:52] zCRUSADERz opened #1037 "ChecksTest in qulice-checkstyle dont run automatically when building with maven."
Qulice 0.18.16.
----
### Instruction
`git checkout 0.18.16`
`cd qulice-checkstyle`
`mvn -Dtest=ChecksTest test`

 #### Result
`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:3.0.0-M3:test (default-test) on project qulice-checkstyle: No tests were executed!  (Set -DfailIfNoTests=false to ignore this error.)`

If you run these tests in IDE then one test out of 36 will

[2019-04-23 08:52] 0crat commented on #1037
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-04-23 08:52] 0crat commented on #1037
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-23 10:39] golszewski86 commented on #853
This issue is still valid:
[code]

[2019-04-23 10:51] golszewski86 commented on #853
@yegor256 @krzyk

[2019-04-24 02:28] fabriciofx opened #1039 "Update maven-compiler-plugin and fix bug on it to allow incremental compilation"
Let's update `maven-compiler-plugin` to 3.8.0 version and fix a bug in this plugin which doesn't allow incremental compilation that increase compile and running time. To fix both we need change `pom.xml` to:
[code]
Please, pay attention to `<version>` and `<useIncrementalCompilation>` tag.

[2019-04-24 02:28] 0crat commented on #1039
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-04-24 02:28] 0crat commented on #1039
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-26 09:49] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-04-30 04:12] zCRUSADERz commented on #989
@korthout Please check your version of Java and try running tests again on version 1.8.

[2019-04-30 12:55] krzyk commented on #999
@0crat assing @zCRUSADERz

[2019-04-30 12:55] 0crat commented on #999
@krzyk Can't understand "assing", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this is

[2019-04-30 12:57] krzyk commented on #999
@0crat assign @zCRUSADERz

[2019-04-30 12:58] 0crat commented on #999
@krzyk The job [#999](https://github.com/teamed/qulice/issues/999) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3T49A35L/d6cbcc80-1981-4295-819a-08c75986179c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2019-04-30 13:02] 0crat commented on #999
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-04-30 13:21] #1009 closed

[2019-04-30 13:21] 0pdd commented on #1009
The puzzle `966-537ebfc3` has disappeared from the source code, that's why I closed this issue.

[2019-04-30 13:21] 0pdd commented on #966
@fabriciofx the only puzzle [#1009](https://github.com/teamed/qulice/issues/1009) is solved here.

[2019-04-30 13:38] krzyk commented on #1009
@0crat help

[2019-04-30 13:39] krzyk commented on #999
@zCRUSADERz let me know that you want to be assigned to given issue, so you will get points for finishing it

[2019-04-30 13:45] 0crat commented on #1009
Job [#1009](https://github.com/teamed/qulice/issues/1009) is not in the agenda of @korthout[/z](https://www.0crat.com/u/korthout), can't retrieve data and time of add

[2019-04-30 13:45] 0crat commented on #1009
@krzyk Can't understand "help", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issu

[2019-04-30 13:47] krzyk commented on #1009
@0crat pay @zCRUSADERz 15min

[2019-04-30 13:48] krzyk commented on #1016
@0crat assign @zCRUSADERz

[2019-04-30 13:50] 0crat commented on #1009
The job [#1009](https://github.com/teamed/qulice/issues/1009) is now out of scope

[2019-04-30 13:50] 0crat commented on #1009
@krzyk Argument "@zCRUSADERz" doesn't match regex `\d+min`

[2019-04-30 13:50] 0crat commented on #1009
Order was finished: +30 point(s) just awarded to @korthout[/z](https://www.0crat.com/u/korthout)

[2019-04-30 13:50] 0crat commented on #1016
@krzyk The job [#1016](https://github.com/teamed/qulice/issues/1016) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3T49A35L/ff1011c4-cc29-451e-8dea-9cbda2e99394); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-30 13:52] 0crat commented on #1016
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-04-30 13:56] zCRUSADERz commented on #999
@krzyk I was not invited to Zerocracy. Yes, I want to be assigned

[2019-04-30 13:57] krzyk commented on #1037
@0crat in

[2019-04-30 13:57] krzyk commented on #1037
@0crat assign @zCRUSADERz

[2019-04-30 13:57] 0crat commented on #1037
@krzyk Job [#1037](https://github.com/teamed/qulice/issues/1037) is now in scope, role is `DEV`

[2019-04-30 14:02] 0crat commented on #1037
@krzyk The job [#1037](https://github.com/teamed/qulice/issues/1037) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3T49A35L/ca4d1b8e-2fc2-4cc1-90db-dd99e81893fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-30 14:03] krzyk commented on #1030
@0crat assing @zCRUSADERz

[2019-04-30 14:03] krzyk commented on #798
@rultor release tag is `0.18.17`

[2019-04-30 14:04] 0crat commented on #1037
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-04-30 14:04] 0crat commented on #1037
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-04-30 14:04] 0crat commented on #1037
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-04-30 14:04] 0crat commented on #1030
@krzyk Can't understand "assing", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this is

[2019-04-30 14:04] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-487964799)

[2019-04-30 14:08] krzyk commented on #1030
@0crat assign @zCRUSADERz

[2019-04-30 14:09] 0crat commented on #1030
@krzyk The job [#1030](https://github.com/teamed/qulice/issues/1030) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3T49A35L/631051c7-0113-4f1c-8b08-7f24e42fd749); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-04-30 14:09] krzyk commented on #999
@zCRUSADERz have you applied on https://www.0crat.com/join ?

[2019-04-30 14:10] 0crat commented on #1030
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-04-30 14:12] zCRUSADERz commented on #999
@krzyk No, but I will submit it today, a little later.

[2019-04-30 15:07] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-487964799) (took me 1hr)

[2019-05-01 10:44] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-05-01 15:57] 0pdd commented on #999
The puzzle `950-157b8116` has disappeared from the source code, that's why I closed this issue.

[2019-05-01 15:57] #999 closed

[2019-05-01 15:57] #1016 closed

[2019-05-01 15:57] 0pdd commented on #1016
The puzzle `1000-db538e24` has disappeared from the source code, that's why I closed this issue.

[2019-05-01 15:57] 0pdd commented on #801
@krzyk all 4 puzzles are solved here: [#1000](https://github.com/teamed/qulice/issues/1000), [#1016](https://github.com/teamed/qulice/issues/1016), [#950](https://github.com/teamed/qulice/issues/950), [#999](https://github.com/teamed/qulice/issues/999).

[2019-05-01 15:57] 0pdd commented on #950
@0pdd all 3 puzzles are solved here: [#1000](https://github.com/teamed/qulice/issues/1000), [#1016](https://github.com/teamed/qulice/issues/1016), [#999](https://github.com/teamed/qulice/issues/999).

[2019-05-01 15:57] 0pdd commented on #1000
@0pdd the only puzzle [#1016](https://github.com/teamed/qulice/issues/1016) is solved here.

[2019-05-01 16:18] 0crat commented on #999
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-01 16:18] 0crat commented on #1016
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-01 16:24] 0crat commented on #1016
The job [#1016](https://github.com/teamed/qulice/issues/1016) is now out of scope

[2019-05-01 16:24] 0crat commented on #999
The job [#999](https://github.com/teamed/qulice/issues/999) is now out of scope

[2019-05-01 16:31] 0crat commented on #999
Order was finished: +35 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-01 16:31] 0crat commented on #1016
Order was finished: +35 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-01 17:14] zCRUSADERz commented on #1031
@krzyk assign me, please.

[2019-05-01 17:51] krzyk commented on #1031
@0crat assign @zCRUSADERz

[2019-05-01 17:52] 0crat commented on #1031
@krzyk The job [#1031](https://github.com/teamed/qulice/issues/1031) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3T49A35L/587e6fec-0828-43a2-8ce0-2edc17afc1c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-01 17:53] 0crat commented on #1031
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-05-02 13:06] zCRUSADERz commented on #1037
In #1041 issue has been fixed.

[2019-05-02 13:06] #1037 closed

[2019-05-02 13:13] zCRUSADERz commented on #1037
@0crat status

[2019-05-02 13:18] 0crat commented on #1037
@zCRUSADERz This is what I know about this job in [C3T49A35L](https://www.0crat.com/p/C3T49A35L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1037](https://github.com/teamed/qulice/issues/1037) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) for [2days](htt

[2019-05-02 13:24] 0crat commented on #1037
Job [#1037](https://github.com/teamed/qulice/issues/1037) is not in the agenda of @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), can't retrieve data and time of add

[2019-05-02 13:24] 0crat commented on #1037
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-02 13:29] 0crat commented on #1037
The job [#1037](https://github.com/teamed/qulice/issues/1037) is now out of scope

[2019-05-02 13:31] 0crat commented on #1037
Order was finished: +35 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-03 02:41] fabriciofx opened #1045 "Checkstyle will fail in HeaderCheck if header contains a a letter with acute sign"
I'm using qulice version `0.18.17` and Checkstyle fails if I'm using a letter with acute sign at header (HeaderCheck):
[code]
The `LICENCE.txt` file has the same string.

[2019-05-03 02:41] 0crat commented on #1045
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-05-03 02:41] 0crat commented on #1045
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-03 03:03] zCRUSADERz commented on #1031
@ilyakharlamov merged, please close

[2019-05-03 03:03] zCRUSADERz commented on #1031
@0crat wait for closure

[2019-05-03 03:04] 0crat commented on #1031
@zCRUSADERz The impediment for [#1031](https://github.com/teamed/qulice/issues/1031) was registered successfully by @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-03 03:04] 0crat commented on #1031
@zCRUSADERz Job [#1031](https://github.com/teamed/qulice/issues/1031) is not in the agenda of @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), can't set impediment

[2019-05-03 03:06] zCRUSADERz commented on #1034
@golszewski86 merged, please close.

[2019-05-03 03:57] zCRUSADERz opened #1046 "JavadocParameterOrderCheck does not work correctly with Generic methods."
#### Qulice 0.18.17
----------
This code:
[code]
failed with: Checkstyle: *.java[86]: Expected @param tag for '\<T\>'. (JavadocMethodCheck).

----------
This code:
[code]
failed with: Checkstyle: *.java[87]: Number of javadoc parameters different than method signature (JavadocParameterOrderCheck)

[2019-05-03 03:57] 0crat commented on #1046
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-05-03 03:57] 0crat commented on #1046
@zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-03 05:23] zCRUSADERz commented on #1046
@krzyk i will fix this problem soon.

[2019-05-03 07:46] krzyk commented on #798
@rultor release tag is `0.18.18`

[2019-05-03 07:46] zCRUSADERz commented on #1033
@victornoel in qulice 0.18.17 UseStringIsEmptyRule works without error. Please check it, and close issue.

[2019-05-03 07:47] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-488990696)

[2019-05-03 08:40] korthout commented on #989
@zCRUSADERz Interesting. This did seem to solve it when running `mvn test`, but the test still fails within IntelliJ. Perhaps somehow my IntelliJ version uses a Java version > 8. I'll close the issue and corresponding PR, because this at least solves the original issue.

[2019-05-03 08:40] #989 closed

[2019-05-03 08:58] 0crat commented on #989
Job `gh:teamed/qulice#989` is not assigned, can't get performer

[2019-05-03 08:58] 0crat commented on #989
This job is not in scope

[2019-05-03 09:10] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-488990696) (took me 1hr)

[2019-05-03 20:43] fabriciofx opened #1048 "Use of deprecated attribute 'FieldDeclaration/@VariableName' in XPath query"
I'm using Qulice version `0.18.17` and it show me the following message:
[code]
But it doesn't show the filename, line or any other information to help find and fix this problem. So, we should improve qulice to show a better message.

[2019-05-03 20:43] 0crat commented on #1048
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-05-03 20:43] 0crat commented on #1048
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-05 15:08] yegor256 commented on #920
@krzyk I made you a collaborator in this repo, you can now manage issues yourself

[2019-05-06 09:52] victornoel commented on #1033
@zCRUSADERz it does, thanks!

[2019-05-06 09:52] #1033 closed

[2019-05-06 10:03] victornoel commented on #1036
@krzyk any opinion on this?

[2019-05-06 10:16] 0crat commented on #1033
Job `gh:teamed/qulice#1033` is not assigned, can't get performer

[2019-05-06 10:17] 0crat commented on #1033
The job [#1033](https://github.com/teamed/qulice/issues/1033) is now out of scope

[2019-05-06 11:06] krzyk commented on #870
@aliceice no longer valid

[2019-05-06 11:06] #870 closed

[2019-05-06 11:06] krzyk commented on #866
@aliceice no longer valid

[2019-05-06 11:06] #866 closed

[2019-05-06 11:23] 0crat commented on #866
Job `gh:teamed/qulice#866` is not assigned, can't get performer

[2019-05-06 11:23] 0crat commented on #870
Job `gh:teamed/qulice#870` is not assigned, can't get performer

[2019-05-06 11:23] 0crat commented on #866
This job is not in scope

[2019-05-06 11:23] 0crat commented on #870
This job is not in scope

[2019-05-06 11:40] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-05-06 21:29] mronus opened #1050 "CLI support for Qulice"
I am not sure if Qulice has CLI. I couldn't find anything except maven support in docs. What I want to do is that I want to run Qulice for a specific folder or set of files by using a specific static analysis tool supported by Qulice. Does Qulice have CLI support?

[2019-05-06 21:29] 0crat commented on #1050
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-05-06 21:29] 0crat commented on #1050
@mronus[/z](https://www.0crat.com/u/mronus) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-08 14:57] ilyakharlamov commented on #1031
@zCRUSADERz Thanks, closed

[2019-05-08 14:57] #1031 closed

[2019-05-08 15:17] 0crat commented on #1031
Job [#1031](https://github.com/teamed/qulice/issues/1031) is not in the agenda of @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), can't retrieve data and time of add

[2019-05-08 15:22] 0crat commented on #1031
The job [#1031](https://github.com/teamed/qulice/issues/1031) is now out of scope

[2019-05-08 15:24] 0crat commented on #1031
Order was finished: +30 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-09 01:59] zCRUSADERz commented on #1030
@0crat wait for review

[2019-05-09 01:59] 0crat commented on #1030
@zCRUSADERz The impediment for [#1030](https://github.com/teamed/qulice/issues/1030) was registered successfully by @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-09 01:59] 0crat commented on #1030
@zCRUSADERz Job [#1030](https://github.com/teamed/qulice/issues/1030) is not in the agenda of @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), can't set impediment

[2019-05-09 03:56] zCRUSADERz commented on #1030
@0crat status

[2019-05-09 03:57] 0crat commented on #1030
@zCRUSADERz This is what I know about this job in [C3T49A35L](https://www.0crat.com/p/C3T49A35L), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#1030](https://github.com/teamed/qulice/issues/1030) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz) for [9days](http

[2019-05-11 12:49] 0crat commented on #1034
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1034](https://github.com/teamed/qulice/issues/1034); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-05-13 08:59] golszewski86 commented on #1034
@zCRUSADERz  Thank you, I'm closing

[2019-05-13 08:59] #1034 closed

[2019-05-13 09:16] 0crat commented on #1034
Job `gh:teamed/qulice#1034` is not assigned, can't get performer

[2019-05-13 09:17] 0crat commented on #1034
The job [#1034](https://github.com/teamed/qulice/issues/1034) is now out of scope

[2019-05-14 11:18] krzyk commented on #798
@rultor release tag is 0.18.19

[2019-05-14 11:18] krzyk commented on #798
@rultor release tag is `0.18.19`

[2019-05-14 11:19] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-492195722)

[2019-05-14 11:20] rultor commented on #798
@davvd @krzyk Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9243-492195722) (spent 32s)

[code]

[2019-05-14 11:23] rultor commented on #798
@krzyk OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/9243-492195768)

[2019-05-14 12:48] rultor commented on #798
@krzyk Done! FYI, the full log is [here](http://www.rultor.com/t/9243-492195768) (took me 1hr)

[2019-05-14 16:08] zCRUSADERz commented on #1046
@krzyk can I get points for this issue. I don't ask assign me.

[2019-05-17 10:29] krzyk commented on #1046
@0crat in

[2019-05-17 10:37] 0crat commented on #1046
@krzyk Job [#1046](https://github.com/teamed/qulice/issues/1046) is now in scope, role is `DEV`

[2019-05-17 10:48] 0crat commented on #1046
@krzyk[/z](https://www.0crat.com/u/krzyk) everybody who has role `DEV` is banned at [#1046](https://github.com/teamed/qulice/issues/1046); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§1

[2019-05-17 10:49] 0crat commented on #1046
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-05-17 11:54] zCRUSADERz commented on #1046
@krzyk thanks!

[2019-05-17 11:55] #1046 closed

[2019-05-17 12:13] 0crat commented on #1046
Job `gh:teamed/qulice#1046` is not assigned, can't get performer

[2019-05-17 12:13] 0crat commented on #1046
The job [#1046](https://github.com/teamed/qulice/issues/1046) is now out of scope

[2019-05-18 00:13] fabriciofx commented on #1039
@krzyk ping

[2019-05-18 00:13] fabriciofx commented on #1045
@krzyk ping

[2019-05-18 00:13] fabriciofx commented on #1048
@krzyk ping

[2019-05-18 00:14] fabriciofx opened #1051 "Circular reference checking"
Let's add a checking for circular references (`A<->B` or `A->B->C->A`).

[2019-05-18 00:15] 0crat commented on #1051
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-05-18 00:15] 0crat commented on #1051
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-22 03:26] zCRUSADERz commented on #1017
@krzyk please assign me.

[2019-05-22 06:34] krzyk commented on #1017
@0crat assign @zCRUSADERz

[2019-05-22 06:35] 0crat commented on #1017
@krzyk The job [#1017](https://github.com/teamed/qulice/issues/1017) assigned to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz), here is [why](https://www.0crat.com/footprint/C3T49A35L/e01f4f87-b109-4fa5-b3f1-9178a70c205b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2019-05-22 06:44] 0crat commented on #1017
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @krzyk[/z](https://www.0crat.com/u/krzyk)

[2019-05-22 10:58] zCRUSADERz commented on #1017
@fabriciofx ping, fixed.

[2019-05-22 12:50] fabriciofx commented on #1017
@zCRUSADERz @krzyk Sounds good to me. I'll close this issue. Thanks!

[2019-05-22 12:50] #1017 closed

[2019-05-22 13:04] fabriciofx commented on #1051
@krzyk ping

[2019-05-22 13:14] 0crat commented on #1017
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-22 13:19] 0crat commented on #1017
The job [#1017](https://github.com/teamed/qulice/issues/1017) is now out of scope

[2019-05-22 13:19] 0crat commented on #1017
Order was finished: +35 point(s) just awarded to @zcrusaderz[/z](https://www.0crat.com/u/zcrusaderz)

[2019-06-01 15:12] dgroup opened #1053 "new ListOf<>(array) violates PMD ArrayIsStoredDirectly"
On qulice `v0.18.19`
[code]
gives PMD `The user-supplied array 'args' is stored directly. (ArrayIsStoredDirectly)`.
What's wrong with it?

[2019-06-01 15:12] 0crat commented on #1053
@krzyk[/z](https://www.0crat.com/u/krzyk) please, pay attention to this issue

[2019-06-01 15:12] 0crat commented on #1053
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T49A35L) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-05 08:57] golszewski86 opened #1054 "Can we disable AvoidInlineConditionals"
The Checkstyle _AvoidInlineConditionalsCheck_ rule forbids usage of ternary operator `?`. There is however very little justification for that, Checkstyle documentation only says:

(http://checkstyle.sourceforge.net/apidocs/com/puppycrawl/tools/checkstyle/checks/coding/AvoidInlineConditionalsCheck.html)

It is not clear to me what does "some developers" mean, however word "some" suggests it is a mi